{
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "mediaconnect",
    "signingName": "mediaconnect",
    "serviceFullName": "AWS MediaConnect",
    "serviceId": "MediaConnect",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mediaconnect-2018-11-14",
    "signatureVersion": "v4"
  },
  "operations": {
    "AddBridgeOutputs": {
      "name": "AddBridgeOutputs",
      "http": {
        "method": "POST",
        "requestUri": "/v1/bridges/{bridgeArn}/outputs",
        "responseCode": 202
      },
      "input": {
        "shape": "AddBridgeOutputsRequest"
      },
      "output": {
        "shape": "AddBridgeOutputsResponse",
        "documentation": "AWS Elemental MediaConnect added the bridge outputs successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Adds outputs to an existing bridge."
    },
    "AddBridgeSources": {
      "name": "AddBridgeSources",
      "http": {
        "method": "POST",
        "requestUri": "/v1/bridges/{bridgeArn}/sources",
        "responseCode": 202
      },
      "input": {
        "shape": "AddBridgeSourcesRequest"
      },
      "output": {
        "shape": "AddBridgeSourcesResponse",
        "documentation": "AWS Elemental MediaConnect added the bridge sources successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Adds sources to an existing bridge."
    },
    "AddFlowMediaStreams": {
      "name": "AddFlowMediaStreams",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowMediaStreamsRequest"
      },
      "output": {
        "shape": "AddFlowMediaStreamsResponse",
        "documentation": "MediaConnect created the new resource successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol."
    },
    "AddFlowOutputs": {
      "name": "AddFlowOutputs",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/outputs",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowOutputsRequest"
      },
      "output": {
        "shape": "AddFlowOutputsResponse",
        "documentation": "AWS Elemental MediaConnect added the outputs successfully."
      },
      "errors": [
        {
          "shape": "AddFlowOutputs420Exception",
          "documentation": "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed outputs (50). For more information, contact AWS Customer Support."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Adds outputs to an existing flow. You can create up to 50 outputs per flow."
    },
    "AddFlowSources": {
      "name": "AddFlowSources",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/source",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowSourcesRequest"
      },
      "output": {
        "shape": "AddFlowSourcesResponse",
        "documentation": "AWS Elemental MediaConnect added sources to the flow successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Adds Sources to flow"
    },
    "AddFlowVpcInterfaces": {
      "name": "AddFlowVpcInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/vpcInterfaces",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowVpcInterfacesRequest"
      },
      "output": {
        "shape": "AddFlowVpcInterfacesResponse",
        "documentation": "The following VPC interface was added to the Flow configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Adds VPC interfaces to flow"
    },
    "CreateBridge": {
      "name": "CreateBridge",
      "http": {
        "method": "POST",
        "requestUri": "/v1/bridges",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBridgeRequest"
      },
      "output": {
        "shape": "CreateBridgeResponse",
        "documentation": "AWS Elemental MediaConnect created the new bridge successfully."
      },
      "errors": [
        {
          "shape": "CreateBridge420Exception",
          "documentation": "Your account already contains the maximum number of bridges per account, per Region. For more information, contact AWS Customer Support."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Creates a new bridge. The request must include one source."
    },
    "CreateFlow": {
      "name": "CreateFlow",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFlowRequest"
      },
      "output": {
        "shape": "CreateFlowResponse",
        "documentation": "AWS Elemental MediaConnect created the new flow successfully."
      },
      "errors": [
        {
          "shape": "CreateFlow420Exception",
          "documentation": "Your account already contains the maximum number of 20 flows per account, per Region. For more information, contact AWS Customer Support."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50)."
    },
    "CreateGateway": {
      "name": "CreateGateway",
      "http": {
        "method": "POST",
        "requestUri": "/v1/gateways",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateGatewayRequest"
      },
      "output": {
        "shape": "CreateGatewayResponse",
        "documentation": "AWS Elemental MediaConnect created the new gateway successfully."
      },
      "errors": [
        {
          "shape": "CreateGateway420Exception",
          "documentation": "Your account already contains the maximum number of gateways per account, per Region. For more information, contact AWS Customer Support."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Creates a new gateway. The request must include at least one network (up to 4)."
    },
    "DeleteBridge": {
      "name": "DeleteBridge",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/bridges/{bridgeArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteBridgeRequest"
      },
      "output": {
        "shape": "DeleteBridgeResponse",
        "documentation": "AWS Elemental MediaConnect deleted the bridge."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Deletes a bridge. Before you can delete a bridge, you must stop the bridge."
    },
    "DeleteFlow": {
      "name": "DeleteFlow",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteFlowRequest"
      },
      "output": {
        "shape": "DeleteFlowResponse",
        "documentation": "AWS Elemental MediaConnect is deleting the flow."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Deletes a flow. Before you can delete a flow, you must stop the flow."
    },
    "DeleteGateway": {
      "name": "DeleteGateway",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/gateways/{gatewayArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteGatewayRequest"
      },
      "output": {
        "shape": "DeleteGatewayResponse",
        "documentation": "AWS Elemental MediaConnect deleted the gateway."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Deletes a gateway. Before you can delete a gateway, you must deregister its instances and delete its bridges."
    },
    "DeregisterGatewayInstance": {
      "name": "DeregisterGatewayInstance",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/gateway-instances/{gatewayInstanceArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeregisterGatewayInstanceRequest"
      },
      "output": {
        "shape": "DeregisterGatewayInstanceResponse",
        "documentation": "AWS Elemental MediaConnect is deleting the instance."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Deregisters an instance. Before you deregister an instance, all bridges running on the instance must be stopped. If you want to deregister an instance without stopping the bridges, you must use the --force option."
    },
    "DescribeBridge": {
      "name": "DescribeBridge",
      "http": {
        "method": "GET",
        "requestUri": "/v1/bridges/{bridgeArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBridgeRequest"
      },
      "output": {
        "shape": "DescribeBridgeResponse",
        "documentation": "AWS Elemental MediaConnect returned the bridge details successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays the details of a bridge."
    },
    "DescribeFlow": {
      "name": "DescribeFlow",
      "http": {
        "method": "GET",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeFlowRequest"
      },
      "output": {
        "shape": "DescribeFlowResponse",
        "documentation": "AWS Elemental MediaConnect returned the flow details successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements."
    },
    "DescribeFlowSourceMetadata": {
      "name": "DescribeFlowSourceMetadata",
      "http": {
        "method": "GET",
        "requestUri": "/v1/flows/{flowArn}/source-metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeFlowSourceMetadataRequest"
      },
      "output": {
        "shape": "DescribeFlowSourceMetadataResponse",
        "documentation": "Flow source metadata successfully described."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Displays details of the flow's source stream. The response contains information about the contents of the stream and its programs."
    },
    "DescribeGateway": {
      "name": "DescribeGateway",
      "http": {
        "method": "GET",
        "requestUri": "/v1/gateways/{gatewayArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeGatewayRequest"
      },
      "output": {
        "shape": "DescribeGatewayResponse",
        "documentation": "AWS Elemental MediaConnect returned the gateway details successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays the details of a gateway. The response includes the gateway ARN, name, and CIDR blocks, as well as details about the networks."
    },
    "DescribeGatewayInstance": {
      "name": "DescribeGatewayInstance",
      "http": {
        "method": "GET",
        "requestUri": "/v1/gateway-instances/{gatewayInstanceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeGatewayInstanceRequest"
      },
      "output": {
        "shape": "DescribeGatewayInstanceResponse",
        "documentation": "AWS Elemental MediaConnect returned the instance details successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays the details of an instance."
    },
    "DescribeOffering": {
      "name": "DescribeOffering",
      "http": {
        "method": "GET",
        "requestUri": "/v1/offerings/{offeringArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "output": {
        "shape": "DescribeOfferingResponse",
        "documentation": "MediaConnect returned the offering details successfully."
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN)."
    },
    "DescribeReservation": {
      "name": "DescribeReservation",
      "http": {
        "method": "GET",
        "requestUri": "/v1/reservations/{reservationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "output": {
        "shape": "DescribeReservationResponse",
        "documentation": "MediaConnect returned the reservation details successfully."
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth)."
    },
    "GrantFlowEntitlements": {
      "name": "GrantFlowEntitlements",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/entitlements",
        "responseCode": 200
      },
      "input": {
        "shape": "GrantFlowEntitlementsRequest"
      },
      "output": {
        "shape": "GrantFlowEntitlementsResponse",
        "documentation": "AWS Elemental MediaConnect granted the entitlements successfully."
      },
      "errors": [
        {
          "shape": "GrantFlowEntitlements420Exception",
          "documentation": "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed entitlements (50). For more information, contact AWS Customer Support."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Grants entitlements to an existing flow."
    },
    "ListBridges": {
      "name": "ListBridges",
      "http": {
        "method": "GET",
        "requestUri": "/v1/bridges",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBridgesRequest"
      },
      "output": {
        "shape": "ListBridgesResponse",
        "documentation": "AWS Elemental MediaConnect returned the list of bridges successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays a list of bridges that are associated with this account and an optionally specified Arn. This request returns a paginated result."
    },
    "ListEntitlements": {
      "name": "ListEntitlements",
      "http": {
        "method": "GET",
        "requestUri": "/v1/entitlements",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEntitlementsRequest"
      },
      "output": {
        "shape": "ListEntitlementsResponse",
        "documentation": "AWS Elemental MediaConnect returned the list of entitlements successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page."
    },
    "ListFlows": {
      "name": "ListFlows",
      "http": {
        "method": "GET",
        "requestUri": "/v1/flows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFlowsRequest"
      },
      "output": {
        "shape": "ListFlowsResponse",
        "documentation": "AWS Elemental MediaConnect returned the list of flows successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays a list of flows that are associated with this account. This request returns a paginated result."
    },
    "ListGatewayInstances": {
      "name": "ListGatewayInstances",
      "http": {
        "method": "GET",
        "requestUri": "/v1/gateway-instances",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGatewayInstancesRequest"
      },
      "output": {
        "shape": "ListGatewayInstancesResponse",
        "documentation": "AWS Elemental MediaConnect returned the list of instances in the gateway successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays a list of instances associated with the AWS account. This request returns a paginated result. You can use the filterArn property to display only the instances associated with the selected Gateway Amazon Resource Name (ARN)."
    },
    "ListGateways": {
      "name": "ListGateways",
      "http": {
        "method": "GET",
        "requestUri": "/v1/gateways",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGatewaysRequest"
      },
      "output": {
        "shape": "ListGatewaysResponse",
        "documentation": "AWS Elemental MediaConnect returned the list of gateways successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Displays a list of gateways that are associated with this account. This request returns a paginated result."
    },
    "ListOfferings": {
      "name": "ListOfferings",
      "http": {
        "method": "GET",
        "requestUri": "/v1/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "output": {
        "shape": "ListOfferingsResponse",
        "documentation": "MediaConnect returned the list of offerings successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays a list of all offerings that are available to this account in the current AWS Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings."
    },
    "ListReservations": {
      "name": "ListReservations",
      "http": {
        "method": "GET",
        "requestUri": "/v1/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "output": {
        "shape": "ListReservationsResponse",
        "documentation": "MediaConnect returned the list of reservations successfully."
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        }
      ],
      "documentation": "Displays a list of all reservations that have been purchased by this account in the current AWS Region. This list includes all reservations in all states (such as active and expired)."
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "The tags for the resource"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The requested resource was not found"
        },
        {
          "shape": "BadRequestException",
          "documentation": "The client performed an invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        }
      ],
      "documentation": "List all tags on an AWS Elemental MediaConnect resource"
    },
    "PurchaseOffering": {
      "name": "PurchaseOffering",
      "http": {
        "method": "POST",
        "requestUri": "/v1/offerings/{offeringArn}",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "output": {
        "shape": "PurchaseOfferingResponse",
        "documentation": "AWS Elemental MediaConnect purchased offering successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Submits a request to purchase an offering. If you already have an active reservation, you can't purchase another offering."
    },
    "RemoveBridgeOutput": {
      "name": "RemoveBridgeOutput",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/bridges/{bridgeArn}/outputs/{outputName}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveBridgeOutputRequest"
      },
      "output": {
        "shape": "RemoveBridgeOutputResponse",
        "documentation": "The output was successfully removed from the bridge."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Removes an output from a bridge."
    },
    "RemoveBridgeSource": {
      "name": "RemoveBridgeSource",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/bridges/{bridgeArn}/sources/{sourceName}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveBridgeSourceRequest"
      },
      "output": {
        "shape": "RemoveBridgeSourceResponse",
        "documentation": "The bridge source was successfully removed from the flow."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Removes a source from a bridge."
    },
    "RemoveFlowMediaStream": {
      "name": "RemoveFlowMediaStream",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams/{mediaStreamName}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveFlowMediaStreamRequest"
      },
      "output": {
        "shape": "RemoveFlowMediaStreamResponse",
        "documentation": "The media stream was successfully removed from the flow."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Removes a media stream from a flow. This action is only available if the media stream is not associated with a source or output."
    },
    "RemoveFlowOutput": {
      "name": "RemoveFlowOutput",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/outputs/{outputArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveFlowOutputRequest"
      },
      "output": {
        "shape": "RemoveFlowOutputResponse",
        "documentation": "output successfully removed from flow configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output."
    },
    "RemoveFlowSource": {
      "name": "RemoveFlowSource",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/source/{sourceArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveFlowSourceRequest"
      },
      "output": {
        "shape": "RemoveFlowSourceResponse",
        "documentation": "source successfully removed from flow configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Removes a source from an existing flow. This request can be made only if there is more than one source on the flow."
    },
    "RemoveFlowVpcInterface": {
      "name": "RemoveFlowVpcInterface",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/vpcInterfaces/{vpcInterfaceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveFlowVpcInterfaceRequest"
      },
      "output": {
        "shape": "RemoveFlowVpcInterfaceResponse",
        "documentation": "VPC interface successfully removed from flow configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Removes a VPC Interface from an existing flow. This request can be made only on a VPC interface that does not have a Source or Output associated with it. If the VPC interface is referenced by a Source or Output, you must first delete or update the Source or Output to no longer reference the VPC interface."
    },
    "RevokeFlowEntitlement": {
      "name": "RevokeFlowEntitlement",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/entitlements/{entitlementArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RevokeFlowEntitlementRequest"
      },
      "output": {
        "shape": "RevokeFlowEntitlementResponse",
        "documentation": "AWS Elemental MediaConnect revoked the entitlement successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed."
    },
    "StartFlow": {
      "name": "StartFlow",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/start/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "StartFlowRequest"
      },
      "output": {
        "shape": "StartFlowResponse",
        "documentation": "AWS Elemental MediaConnect is starting the flow."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Starts a flow."
    },
    "StopFlow": {
      "name": "StopFlow",
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/stop/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "StopFlowRequest"
      },
      "output": {
        "shape": "StopFlowResponse",
        "documentation": "AWS Elemental MediaConnect is stopping the flow."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Stops a flow."
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The requested resource was not found"
        },
        {
          "shape": "BadRequestException",
          "documentation": "The client performed an invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        }
      ],
      "documentation": "Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well."
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The requested resource was not found"
        },
        {
          "shape": "BadRequestException",
          "documentation": "The client performed an invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        }
      ],
      "documentation": "Deletes specified tags from a resource."
    },
    "UpdateBridge": {
      "name": "UpdateBridge",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/bridges/{bridgeArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBridgeRequest"
      },
      "output": {
        "shape": "UpdateBridgeResponse",
        "documentation": "AWS Elemental MediaConnect updated the bridge successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Updates the bridge"
    },
    "UpdateBridgeOutput": {
      "name": "UpdateBridgeOutput",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/bridges/{bridgeArn}/outputs/{outputName}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBridgeOutputRequest"
      },
      "output": {
        "shape": "UpdateBridgeOutputResponse",
        "documentation": "MediaConnect is updating the bridge output."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Updates an existing bridge output."
    },
    "UpdateBridgeSource": {
      "name": "UpdateBridgeSource",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/bridges/{bridgeArn}/sources/{sourceName}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBridgeSourceRequest"
      },
      "output": {
        "shape": "UpdateBridgeSourceResponse",
        "documentation": "MediaConnect is updating the bridge source."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Updates an existing bridge source."
    },
    "UpdateBridgeState": {
      "name": "UpdateBridgeState",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/bridges/{bridgeArn}/state",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBridgeStateRequest"
      },
      "output": {
        "shape": "UpdateBridgeStateResponse",
        "documentation": "AWS Elemental MediaConnect updated the bridge successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Updates the bridge state"
    },
    "UpdateFlow": {
      "name": "UpdateFlow",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowRequest"
      },
      "output": {
        "shape": "UpdateFlowResponse",
        "documentation": "AWS Elemental MediaConnect updated the flow successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Updates flow"
    },
    "UpdateFlowEntitlement": {
      "name": "UpdateFlowEntitlement",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/entitlements/{entitlementArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowEntitlementRequest"
      },
      "output": {
        "shape": "UpdateFlowEntitlementResponse",
        "documentation": "AWS Elemental MediaConnect updated the entitlement successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed."
    },
    "UpdateFlowMediaStream": {
      "name": "UpdateFlowMediaStream",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams/{mediaStreamName}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowMediaStreamRequest"
      },
      "output": {
        "shape": "UpdateFlowMediaStreamResponse",
        "documentation": "MediaConnect is updating the media stream."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Updates an existing media stream."
    },
    "UpdateFlowOutput": {
      "name": "UpdateFlowOutput",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/outputs/{outputArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowOutputRequest"
      },
      "output": {
        "shape": "UpdateFlowOutputResponse",
        "documentation": "AWS Elemental MediaConnect updated the output successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Updates an existing flow output."
    },
    "UpdateFlowSource": {
      "name": "UpdateFlowSource",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/source/{sourceArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowSourceRequest"
      },
      "output": {
        "shape": "UpdateFlowSourceResponse",
        "documentation": "AWS Elemental MediaConnect updated the flow successfully."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        }
      ],
      "documentation": "Updates the source of a flow."
    },
    "UpdateGatewayInstance": {
      "name": "UpdateGatewayInstance",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/gateway-instances/{gatewayInstanceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGatewayInstanceRequest"
      },
      "output": {
        "shape": "UpdateGatewayInstanceResponse",
        "documentation": "AWS Elemental MediaConnect is applying the instance state."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request that you submitted is not valid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the required permissions to perform this operation."
        },
        {
          "shape": "NotFoundException",
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account."
        },
        {
          "shape": "ConflictException",
          "documentation": "The request could not be completed due to a conflict with the current state of the target resource."
        }
      ],
      "documentation": "Updates the configuration of an existing Gateway Instance."
    }
  },
  "shapes": {
    "AddBridgeFlowSourceRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "locationName": "flowArn",
          "documentation": "The Amazon Resource Number (ARN) of the cloud flow to use as a source of this bridge."
        },
        "FlowVpcInterfaceAttachment": {
          "shape": "VpcInterfaceAttachment",
          "locationName": "flowVpcInterfaceAttachment",
          "documentation": "The name of the VPC interface attachment to use for this source."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the flow source. This name is used to reference the source and must be unique among sources in this bridge."
        }
      },
      "documentation": "Add a flow source to an existing bridge.",
      "required": [
        "FlowArn",
        "Name"
      ]
    },
    "AddBridgeNetworkOutputRequest": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "shape": "__string",
          "locationName": "ipAddress",
          "documentation": "The network output IP Address."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The network output name. This name is used to reference the output and must be unique among outputs in this bridge."
        },
        "NetworkName": {
          "shape": "__string",
          "locationName": "networkName",
          "documentation": "The network output's gateway network name."
        },
        "Port": {
          "shape": "__integer",
          "locationName": "port",
          "documentation": "The network output port."
        },
        "Protocol": {
          "shape": "Protocol",
          "locationName": "protocol",
          "documentation": "The network output protocol."
        },
        "Ttl": {
          "shape": "__integer",
          "locationName": "ttl",
          "documentation": "The network output TTL."
        }
      },
      "documentation": "Add a network output to an existing bridge.",
      "required": [
        "NetworkName",
        "Port",
        "IpAddress",
        "Protocol",
        "Ttl",
        "Name"
      ]
    },
    "AddBridgeNetworkSourceRequest": {
      "type": "structure",
      "members": {
        "MulticastIp": {
          "shape": "__string",
          "locationName": "multicastIp",
          "documentation": "The network source multicast IP."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the network source. This name is used to reference the source and must be unique among sources in this bridge."
        },
        "NetworkName": {
          "shape": "__string",
          "locationName": "networkName",
          "documentation": "The network source's gateway network name."
        },
        "Port": {
          "shape": "__integer",
          "locationName": "port",
          "documentation": "The network source port."
        },
        "Protocol": {
          "shape": "Protocol",
          "locationName": "protocol",
          "documentation": "The network source protocol."
        }
      },
      "documentation": "Add a network source to an existing bridge.",
      "required": [
        "NetworkName",
        "MulticastIp",
        "Port",
        "Protocol",
        "Name"
      ]
    },
    "AddBridgeOutputRequest": {
      "type": "structure",
      "members": {
        "NetworkOutput": {
          "shape": "AddBridgeNetworkOutputRequest",
          "locationName": "networkOutput"
        }
      },
      "documentation": "Add an output to a bridge."
    },
    "AddBridgeOutputsRequest": {
      "type": "structure",
      "members": {
        "BridgeArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:bridge:.+$",
          "location": "uri",
          "locationName": "bridgeArn",
          "documentation": "The ARN of the bridge that you want to update."
        },
        "Outputs": {
          "shape": "__listOfAddBridgeOutputRequest",
          "locationName": "outputs",
          "documentation": "The outputs that you want to add to this bridge."
        }
      },
      "documentation": "A request to add outputs to the specified bridge.",
      "required": [
        "BridgeArn",
        "Outputs"
      ]
    },
    "AddBridgeOutputsResponse": {
      "type": "structure",
      "members": {
        "BridgeArn": {
          "shape": "__string",
          "locationName": "bridgeArn",
          "documentation": "The Amazon Resource Number (ARN) of the bridge."
        },
        "Outputs": {
          "shape": "__listOfBridgeOutput",
          "locationName": "outputs",
          "documentation": "The outputs that you added to this bridge."
        }
      }
    },
    "AddBridgeSourceRequest": {
      "type": "structure",
      "members": {
        "FlowSource": {
          "shape": "AddBridgeFlowSourceRequest",
          "locationName": "flowSource"
        },
        "NetworkSource": {
          "shape": "AddBridgeNetworkSourceRequest",
          "locationName": "networkSource"
        }
      },
      "documentation": "Add a source to an existing bridge."
    },
    "AddBridgeSourcesRequest": {
      "type": "structure",
      "members": {
        "BridgeArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:bridge:.+$",
          "location": "uri",
          "locationName": "bridgeArn",
          "documentation": "The ARN of the bridge that you want to update."
        },
        "Sources": {
          "shape": "__listOfAddBridgeSourceRequest",
          "locationName": "sources",
          "documentation": "The sources that you want to add to this bridge."
        }
      },
      "documentation": "A request to add sources to the specified bridge.",
      "required": [
        "BridgeArn",
        "Sources"
      ]
    },
    "AddBridgeSourcesResponse": {
      "type": "structure",
      "members": {
        "BridgeArn": {
          "shape": "__string",
          "locationName": "bridgeArn",
          "documentation": "The Amazon Resource Number (ARN) of the bridge."
        },
        "Sources": {
          "shape": "__listOfBridgeSource",
          "locationName": "sources",
          "documentation": "The sources that you added to this bridge."
        }
      }
    },
    "AddEgressGatewayBridgeRequest": {
      "type": "structure",
      "members": {
        "MaxBitrate": {
          "shape": "__integer",
          "locationName": "maxBitrate",
          "documentation": "The maximum expected bitrate (in bps)."
        }
      },
      "required": [
        "MaxBitrate"
      ]
    },
    "AddFlowMediaStreamsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "location": "uri",
          "locationName": "flowArn",
          "documentation": "The Amazon Resource Name (ARN) of the flow."
        },
        "MediaStreams": {
          "shape": "__listOfAddMediaStreamRequest",
          "locationName": "mediaStreams",
          "documentation": "The media streams that you want to add to the flow."
        }
      },
      "documentation": "A request to add media streams to the flow.",
      "required": [
        "FlowArn",
        "MediaStreams"
      ]
    },
    "AddFlowMediaStreamsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "locationName": "flowArn",
          "documentation": "The ARN of the flow that you added media streams to."
        },
        "MediaStreams": {
          "shape": "__listOfMediaStream",
          "locationName": "mediaStreams",
          "documentation": "The media streams that you added to the flow."
        }
      }
    },
    "AddFlowOutputs420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message",
          "documentation": "The error message returned by AWS Elemental MediaConnect."
        }
      },
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 420
      }
    },
    "AddFlowOutputsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "location": "uri",
          "locationName": "flowArn",
          "documentation": "The flow that you want to add outputs to."
        },
        "Outputs": {
          "shape": "__listOfAddOutputRequest",
          "locationName": "outputs",
          "documentation": "A list of outputs that you want to add."
        }
      },
      "documentation": "A request to add outputs to the specified flow.",
      "required": [
        "FlowArn",
        "Outputs"
      ]
    },
    "AddFlowOutputsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "locationName": "flowArn",
          "documentation": "The ARN of the flow that these outputs were added to."
        },
        "Outputs": {
          "shape": "__listOfOutput",
          "locationName": "outputs",
          "documentation": "The details of the newly added outputs."
        }
      }
    },
    "AddFlowSourcesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "location": "uri",
          "locationName": "flowArn",
          "documentation": "The flow that you want to mutate."
        },
        "Sources": {
          "shape": "__listOfSetSourceRequest",
          "locationName": "sources",
          "documentation": "A list of sources that you want to add."
        }
      },
      "documentation": "A request to add sources to the flow.",
      "required": [
        "FlowArn",
        "Sources"
      ]
    },
    "AddFlowSourcesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "locationName": "flowArn",
          "documentation": "The ARN of the flow that these sources were added to."
        },
        "Sources": {
          "shape": "__listOfSource",
          "locationName": "sources",
          "documentation": "The details of the newly added sources."
        }
      }
    },
    "AddFlowVpcInterfacesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "location": "uri",
          "locationName": "flowArn",
          "documentation": "The flow that you want to mutate."
        },
        "VpcInterfaces": {
          "shape": "__listOfVpcInterfaceRequest",
          "locationName": "vpcInterfaces",
          "documentation": "A list of VPC interfaces that you want to add."
        }
      },
      "documentation": "A request to add VPC interfaces to the flow.",
      "required": [
        "FlowArn",
        "VpcInterfaces"
      ]
    },
    "AddFlowVpcInterfacesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "shape": "__string",
          "locationName": "flowArn",
          "documentation": "The ARN of the flow that these VPC interfaces were added to."
        },
        "VpcInterfaces": {
          "shape": "__listOfVpcInterface",
          "locationName": "vpcInterfaces",
          "documentation": "The details of the newly added VPC interfaces."
        }
      }
    },
    "AddIngressGatewayBridgeRequest": {
      "type": "structure",
      "members": {
        "MaxBitrate": {
          "shape": "__integer",
          "locationName": "maxBitrate",
          "documentation": "The maximum expected bitrate (in bps)."
        },
        "MaxOutputs": {
          "shape": "__integer",
          "locationName": "maxOutputs",
          "documentation": "The maximum number of expected outputs."
        }
      },
      "required": [
        "MaxOutputs",
        "MaxBitrate"
      ]
    },
    "AddMaintenance": {
      "type": "structure",
      "members": {
        "MaintenanceDay": {
          "shape": "MaintenanceDay",
          "locationName": "maintenanceDay",
          "documentation": "A day of a week when the maintenance will happen. Use Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday."
        },
        "MaintenanceStartHour": {
          "shape": "__string",
          "locationName": "maintenanceStartHour",
          "documentation": "UTC time when the maintenance will happen. Use 24-hour HH:MM format. Minutes must be 00. Example: 13:00. The default value is 02:00."
        }
      },
      "documentation": "Create maintenance setting for a flow",
      "required": [
        "MaintenanceDay",
        "MaintenanceStartHour"
      ]
    },
    "AddMediaStreamRequest": {
      "type": "structure",
      "members": {
        "Attributes": {
          "shape": "MediaStreamAttributesRequest",
          "locationName": "attributes",
          "documentation": "The attributes that you want to assign to the new media stream."
        },
        "ClockRate": {
          "shape": "__integer",
          "locationName": "clockRate",
          "documentation": "The sample rate (in Hz) for the stream. If the media stream type is video or ancillary data, set this value to 90000. If the media stream type is audio, set this value to either 48000 or 96000."
        },
        "Description": {
          "shape": "__string",
          "locationName": "description",
          "documentation": "A description that can help you quickly identify what your media stream is used for."
        },
        "MediaStreamId": {
          "shape": "__integer",
          "locationName": "mediaStreamId",
          "documentation": "A unique identifier for the media stream."
        },
        "MediaStreamName": {
          "shape": "__string",
          "locationName": "mediaStreamName",
          "documentation": "A name that helps you distinguish one media stream from another."
        },
        "MediaStreamType": {
          "shape": "MediaStreamType",
          "locationName": "mediaStreamType",
          "documentation": "The type of media stream."
        },
        "VideoFormat": {
          "shape": "__string",
          "locationName": "videoFormat",
          "documentation": "The resolution of the video."
        }
      },
      "documentation": "The media stream that you want to add to the flow.",
      "required": [
        "MediaStreamType",
        "MediaStreamId",
        "MediaStreamName"
      ]
    },
    "AddOutputRequest": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "shape": "__listOf__string",
          "locationName": "cidrAllowList",
          "documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16."
        },
        "Description": {
          "shape": "__string",
          "locationName": "description",
          "documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user."
        },
        "Destination": {
          "shape": "__string",
          "locationName": "destination",
          "documentation": "The IP address from which video will be sent to output destinations."
        },
        "Encryption": {
          "shape": "Encryption",
          "locationName": "encryption",
          "documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key). Allowable encryption types: static-key."
        },
        "MaxLatency": {
          "shape": "__integer",
          "locationName": "maxLatency",
          "documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based, Zixi-based, and Fujitsu-based streams."
        },
        "MediaStreamOutputConfigurations": {
          "shape": "__listOfMediaStreamOutputConfigurationRequest",
          "locationName": "mediaStreamOutputConfigurations",
          "documentation": "The media streams that are associated with the output, and the parameters for those associations."
        },
        "MinLatency": {
          "shape": "__integer",
          "locationName": "minLatency",
          "documentation": "The minimum latency in milliseconds for SRT-based streams. In streams that use the SRT protocol, this value that you set on your MediaConnect source or output represents the minimal potential latency of that connection. The latency of the stream is set to the highest number between the sender\u2019s minimum latency and the receiver\u2019s minimum latency."
        },
        "Name": {
[...]
