{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-11-28",
    "endpointPrefix":"omics",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Omics",
    "serviceId":"Omics",
    "signatureVersion":"v4",
    "signingName":"omics",
    "uid":"omics-2022-11-28"
  },
  "operations":{
    "AbortMultipartReadSetUpload":{
      "name":"AbortMultipartReadSetUpload",
      "http":{
        "method":"DELETE",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort",
        "responseCode":200
      },
      "input":{"shape":"AbortMultipartReadSetUploadRequest"},
      "output":{"shape":"AbortMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> Stops a multipart upload. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "AcceptShare":{
      "name":"AcceptShare",
      "http":{
        "method":"POST",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"AcceptShareRequest"},
      "output":{"shape":"AcceptShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Accepts a share for an analytics store. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "BatchDeleteReadSet":{
      "name":"BatchDeleteReadSet",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/batch/delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteReadSetRequest"},
      "output":{"shape":"BatchDeleteReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes one or more read sets.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "CancelAnnotationImportJob":{
      "name":"CancelAnnotationImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelAnnotationImportRequest"},
      "output":{"shape":"CancelAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CancelRun":{
      "name":"CancelRun",
      "http":{
        "method":"POST",
        "requestUri":"/run/{id}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Cancels a run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CancelVariantImportJob":{
      "name":"CancelVariantImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelVariantImportRequest"},
      "output":{"shape":"CancelVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CompleteMultipartReadSetUpload":{
      "name":"CompleteMultipartReadSetUpload",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete",
        "responseCode":200
      },
      "input":{"shape":"CompleteMultipartReadSetUploadRequest"},
      "output":{"shape":"CompleteMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> Concludes a multipart upload once you have uploaded all the components. </p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "CreateAnnotationStore":{
      "name":"CreateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore",
        "responseCode":200
      },
      "input":{"shape":"CreateAnnotationStoreRequest"},
      "output":{"shape":"CreateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateAnnotationStoreVersion":{
      "name":"CreateAnnotationStoreVersion",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/version",
        "responseCode":200
      },
      "input":{"shape":"CreateAnnotationStoreVersionRequest"},
      "output":{"shape":"CreateAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a new version of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateMultipartReadSetUpload":{
      "name":"CreateMultipartReadSetUpload",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload",
        "responseCode":200
      },
      "input":{"shape":"CreateMultipartReadSetUploadRequest"},
      "output":{"shape":"CreateMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> Begins a multipart read set upload. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateReferenceStore":{
      "name":"CreateReferenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateReferenceStoreRequest"},
      "output":{"shape":"CreateReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateRunGroup":{
      "name":"CreateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup",
        "responseCode":201
      },
      "input":{"shape":"CreateRunGroupRequest"},
      "output":{"shape":"CreateRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CreateSequenceStore":{
      "name":"CreateSequenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateSequenceStoreRequest"},
      "output":{"shape":"CreateSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateShare":{
      "name":"CreateShare",
      "http":{
        "method":"POST",
        "requestUri":"/share",
        "responseCode":200
      },
      "input":{"shape":"CreateShareRequest"},
      "output":{"shape":"CreateShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a share offer that can be accepted outside the account by a subscriber. The share is created by the owner and accepted by the principal subscriber. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateVariantStore":{
      "name":"CreateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore",
        "responseCode":200
      },
      "input":{"shape":"CreateVariantStoreRequest"},
      "output":{"shape":"CreateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow",
        "responseCode":201
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "DeleteAnnotationStore":{
      "name":"DeleteAnnotationStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnnotationStoreRequest"},
      "output":{"shape":"DeleteAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteAnnotationStoreVersions":{
      "name":"DeleteAnnotationStoreVersions",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/versions/delete",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnnotationStoreVersionsRequest"},
      "output":{"shape":"DeleteAnnotationStoreVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes one or multiple versions of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteReference":{
      "name":"DeleteReference",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceRequest"},
      "output":{"shape":"DeleteReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a genome reference.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteReferenceStore":{
      "name":"DeleteReferenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceStoreRequest"},
      "output":{"shape":"DeleteReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a genome reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteRun":{
      "name":"DeleteRun",
      "http":{
        "method":"DELETE",
        "requestUri":"/run/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow run.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteRunGroup":{
      "name":"DeleteRunGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteSequenceStore":{
      "name":"DeleteSequenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSequenceStoreRequest"},
      "output":{"shape":"DeleteSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteShare":{
      "name":"DeleteShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteShareRequest"},
      "output":{"shape":"DeleteShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a share of an analytics store. </p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteVariantStore":{
      "name":"DeleteVariantStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVariantStoreRequest"},
      "output":{"shape":"DeleteVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "GetAnnotationImportJob":{
      "name":"GetAnnotationImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationImportRequest"},
      "output":{"shape":"GetAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetAnnotationStore":{
      "name":"GetAnnotationStore",
      "http":{
        "method":"GET",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationStoreRequest"},
      "output":{"shape":"GetAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetAnnotationStoreVersion":{
      "name":"GetAnnotationStoreVersion",
      "http":{
        "method":"GET",
        "requestUri":"/annotationStore/{name}/version/{versionName}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationStoreVersionRequest"},
      "output":{"shape":"GetAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves the metadata for an annotation store version. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetReadSet":{
      "name":"GetReadSet",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetRequest"},
      "output":{"shape":"GetReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets a file from a read set.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReadSetActivationJob":{
      "name":"GetReadSetActivationJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetActivationJobRequest"},
      "output":{"shape":"GetReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set activation job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetExportJob":{
      "name":"GetReadSetExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetExportJobRequest"},
      "output":{"shape":"GetReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set export job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetImportJob":{
      "name":"GetReadSetImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetImportJobRequest"},
      "output":{"shape":"GetReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetMetadata":{
      "name":"GetReadSetMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetMetadataRequest"},
      "output":{"shape":"GetReadSetMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets details about a read set.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReference":{
      "name":"GetReference",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceRequest"},
      "output":{"shape":"GetReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets a reference file.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReferenceImportJob":{
      "name":"GetReferenceImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceImportJobRequest"},
      "output":{"shape":"GetReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a reference import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceMetadata":{
      "name":"GetReferenceMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceMetadataRequest"},
      "output":{"shape":"GetReferenceMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a genome reference's metadata.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceStore":{
      "name":"GetReferenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceStoreRequest"},
      "output":{"shape":"GetReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetRun":{
      "name":"GetRun",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunRequest"},
      "output":{"shape":"GetRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunGroup":{
      "name":"GetRunGroup",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunGroupRequest"},
      "output":{"shape":"GetRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunTask":{
      "name":"GetRunTask",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetRunTaskRequest"},
      "output":{"shape":"GetRunTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run task.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetSequenceStore":{
      "name":"GetSequenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetSequenceStoreRequest"},
      "output":{"shape":"GetSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetShare":{
      "name":"GetShare",
      "http":{
        "method":"GET",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"GetShareRequest"},
      "output":{"shape":"GetShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves the metadata for a share. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetVariantImportJob":{
      "name":"GetVariantImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantImportRequest"},
      "output":{"shape":"GetVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetVariantStore":{
      "name":"GetVariantStore",
      "http":{
        "method":"GET",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantStoreRequest"},
      "output":{"shape":"GetVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/workflow/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListAnnotationImportJobs":{
      "name":"ListAnnotationImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotations",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationImportJobsRequest"},
      "output":{"shape":"ListAnnotationImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListAnnotationStoreVersions":{
      "name":"ListAnnotationStoreVersions",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationStoreVersionsRequest"},
      "output":{"shape":"ListAnnotationStoreVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists the versions of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListAnnotationStores":{
      "name":"ListAnnotationStores",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStores",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationStoresRequest"},
      "output":{"shape":"ListAnnotationStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListMultipartReadSetUploads":{
      "name":"ListMultipartReadSetUploads",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/uploads",
        "responseCode":200
      },
      "input":{"shape":"ListMultipartReadSetUploadsRequest"},
      "output":{"shape":"ListMultipartReadSetUploadsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> Lists multipart read set uploads and for in progress uploads. Once the upload is completed, a read set is created and the upload will no longer be returned in the respone. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetActivationJobs":{
      "name":"ListReadSetActivationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetActivationJobsRequest"},
      "output":{"shape":"ListReadSetActivationJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set activation jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetExportJobs":{
      "name":"ListReadSetExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetExportJobsRequest"},
      "output":{"shape":"ListReadSetExportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set export jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetImportJobs":{
      "name":"ListReadSetImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetImportJobsRequest"},
      "output":{"shape":"ListReadSetImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set import jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetUploadParts":{
      "name":"ListReadSetUploadParts",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/parts",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetUploadPartsRequest"},
      "output":{"shape":"ListReadSetUploadPartsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> This operation will list all parts in a requested multipart upload for a sequence store. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSets":{
      "name":"ListReadSets",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readsets",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetsRequest"},
      "output":{"shape":"ListReadSetsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read sets.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceImportJobs":{
      "name":"ListReferenceImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceImportJobsRequest"},
      "output":{"shape":"ListReferenceImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of reference import jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceStores":{
      "name":"ListReferenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/referencestores",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceStoresRequest"},
      "output":{"shape":"ListReferenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of reference stores.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferences":{
      "name":"ListReferences",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/references",
        "responseCode":200
      },
      "input":{"shape":"ListReferencesRequest"},
      "output":{"shape":"ListReferencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of references.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListRunGroups":{
      "name":"ListRunGroups",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup",
        "responseCode":200
      },
      "input":{"shape":"ListRunGroupsRequest"},
      "output":{"shape":"ListRunGroupsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of run groups.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRunTasks":{
      "name":"ListRunTasks",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task",
        "responseCode":200
      },
      "input":{"shape":"ListRunTasksRequest"},
      "output":{"shape":"ListRunTasksResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of tasks for a run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRuns":{
      "name":"ListRuns",
      "http":{
        "method":"GET",
        "requestUri":"/run",
        "responseCode":200
      },
      "input":{"shape":"ListRunsRequest"},
      "output":{"shape":"ListRunsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of runs.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListSequenceStores":{
      "name":"ListSequenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestores",
        "responseCode":200
      },
      "input":{"shape":"ListSequenceStoresRequest"},
      "output":{"shape":"ListSequenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of sequence stores.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListShares":{
      "name":"ListShares",
      "http":{
        "method":"POST",
        "requestUri":"/shares",
        "responseCode":200
      },
      "input":{"shape":"ListSharesRequest"},
      "output":{"shape":"ListSharesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists all shares associated with an account. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of tags for a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "ListVariantImportJobs":{
      "name":"ListVariantImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/variants",
        "responseCode":200
      },
      "input":{"shape":"ListVariantImportJobsRequest"},
      "output":{"shape":"ListVariantImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListVariantStores":{
      "name":"ListVariantStores",
      "http":{
        "method":"POST",
        "requestUri":"/variantStores",
        "responseCode":200
      },
      "input":{"shape":"ListVariantStoresRequest"},
      "output":{"shape":"ListVariantStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/workflow",
        "responseCode":200
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of workflows.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "StartAnnotationImportJob":{
      "name":"StartAnnotationImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotation",
        "responseCode":200
      },
      "input":{"shape":"StartAnnotationImportRequest"},
      "output":{"shape":"StartAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "StartReadSetActivationJob":{
      "name":"StartReadSetActivationJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetActivationJobRequest"},
      "output":{"shape":"StartReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Activates an archived read set. To reduce storage charges, Amazon Omics archives unused read sets after 30 days.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetExportJob":{
      "name":"StartReadSetExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetExportJobRequest"},
      "output":{"shape":"StartReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Exports a read set to Amazon S3.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetImportJob":{
      "name":"StartReadSetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetImportJobRequest"},
      "output":{"shape":"StartReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a read set import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReferenceImportJob":{
      "name":"StartReferenceImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReferenceImportJobRequest"},
      "output":{"shape":"StartReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a reference import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartRun":{
      "name":"StartRun",
      "http":{
        "method":"POST",
        "requestUri":"/run",
        "responseCode":201
      },
      "input":{"shape":"StartRunRequest"},
      "output":{"shape":"StartRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a workflow run. To duplicate a run, specify the run's ID and a role ARN. The remaining parameters are copied from the previous run.</p> <p>The total number of runs in your account is subject to a quota per Region. To avoid needing to delete runs manually, you can set the retention mode to <code>REMOVE</code>. Runs with this setting are deleted automatically when the run quoata is exceeded.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "StartVariantImportJob":{
      "name":"StartVariantImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/variant",
        "responseCode":200
      },
      "input":{"shape":"StartVariantImportRequest"},
      "output":{"shape":"StartVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Tags a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"},
      "idempotent":true
    },
    "UpdateAnnotationStore":{
      "name":"UpdateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnnotationStoreRequest"},
      "output":{"shape":"UpdateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateAnnotationStoreVersion":{
      "name":"UpdateAnnotationStoreVersion",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/version/{versionName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnnotationStoreVersionRequest"},
      "output":{"shape":"UpdateAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates the description of an annotation store version. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateRunGroup":{
      "name":"UpdateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates a run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UpdateVariantStore":{
      "name":"UpdateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVariantStoreRequest"},
      "output":{"shape":"UpdateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateWorkflow":{
      "name":"UpdateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UploadReadSetPart":{
      "name":"UploadReadSetPart",
      "http":{
        "method":"PUT",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/part",
        "responseCode":200
      },
      "input":{"shape":"UploadReadSetPartRequest"},
      "output":{"shape":"UploadReadSetPartResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p> This operation uploads a specific part of a read set. If you upload a new part using a previously used part number, the previously uploaded part will be overwritten. </p>",
      "authtype":"v4-unsigned-body",
      "endpoint":{"hostPrefix":"storage-"}
    }
  },
  "shapes":{
    "AbortMultipartReadSetUploadRequest":{
      "type":"structure",
      "required":[
        "sequenceStoreId",
        "uploadId"
      ],
      "members":{
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p> The sequence store ID for the store involved in the multipart upload. </p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p> The ID for the multipart upload. </p>",
          "location":"uri",
          "locationName":"uploadId"
        }
      }
    },
    "AbortMultipartReadSetUploadResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Accelerators":{
      "type":"string",
      "enum":["GPU"],
      "max":64,
      "min":1
    },
    "AcceptShareRequest":{
      "type":"structure",
      "required":["shareId"],
      "members":{
        "shareId":{
          "shape":"String",
          "documentation":"<p> The ID for a share offer for analytics store data. </p>",
          "location":"uri",
          "locationName":"shareId"
        }
      }
    },
    "AcceptShareResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ShareStatus",
          "documentation":"<p> The status of an analytics store share. </p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActivateReadSetFilter":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The filter's status.</p>"
        },
        "createdAfter":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's start date.</p>"
        },
        "createdBefore":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's end date.</p>"
        }
      },
      "documentation":"<p>A read set activation job filter.</p>"
    },
    "ActivateReadSetJobItem":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId",
        "status",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ActivationJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        }
      },
      "documentation":"<p>A read set activation job.</p>"
    },
    "ActivateReadSetJobList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetJobItem"}
    },
    "ActivateReadSetSourceItem":{
      "type":"structure",
      "required":[
        "readSetId",
        "status"
      ],
      "members":{
        "readSetId":{
          "shape":"ReadSetId",
          "documentation":"<p>The source's read set ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobItemStatus",
          "documentation":"<p>The source's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The source's status message.</p>"
        }
      },
      "documentation":"<p>A source for a read set activation job.</p>"
    },
    "ActivateReadSetSourceList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetSourceItem"}
    },
    "ActivationJobId":{
      "type":"string",
      "max":36,
      "min":10,
      "pattern":"[0-9]+"
    },
    "AnnotationFieldMap":{
      "type":"map",
      "key":{"shape":"AnnotationFieldMapKeyString"},
      "value":{"shape":"AnnotationFieldMapValueString"}
    },
    "AnnotationFieldMapKeyString":{
      "type":"string",
      "max":21,
      "min":1
    },
    "AnnotationFieldMapValueString":{
      "type":"string",
      "max":21,
      "min":1
    },
    "AnnotationImportItemDetail":{
      "type":"structure",
      "required":[
        "source",
        "jobStatus"
      ],
      "members":{
        "source":{
          "shape":"S3Uri",
          "documentation":"<p>The source file's location in Amazon S3.</p>"
        },
        "jobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The item's job status.</p>"
        }
      },
      "documentation":"<p>Details about an imported annotation item.</p>"
    },
    "AnnotationImportItemDetails":{
      "type":"list",
      "member":{"shape":"AnnotationImportItemDetail"},
      "max":1,
      "min":1
    },
    "AnnotationImportItemSource":{
      "type":"structure",
      "required":["source"],
      "members":{
        "source":{
          "shape":"S3Uri",
          "documentation":"<p>The source file's location in Amazon S3.</p>"
        }
      },
      "documentation":"<p>A source for an annotation import job.</p>"
    },
    "AnnotationImportItemSources":{
      "type":"list",
      "member":{"shape":"AnnotationImportItemSource"},
      "min":1
    },
    "AnnotationImportJobItem":{
      "type":"structure",
      "required":[
        "id",
        "destinationName",
        "versionName",
        "roleArn",
        "status",
        "creationTime",
        "updateTime"
      ],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The job's ID.</p>"
        },
        "destinationName":{
          "shape":"String",
          "documentation":"<p>The job's destination annotation store.</p>"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name of the annotation store version. </p>"
        },
        "roleArn":{
          "shape":"Arn",
          "documentation":"<p>The job's service role ARN.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the job was created.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the job was updated.</p>"
        },
        "completionTime":{
          "shape":"CompletionTime",
          "documentation":"<p>When the job completed.</p>"
        },
        "runLeftNormalization":{
          "shape":"RunLeftNormalization",
          "documentation":"<p>The job's left normalization setting.</p>"
        },
        "annotationFields":{
          "shape":"AnnotationFieldMap",
          "documentation":"<p> The annotation schema generated by the parsed annotation data. </p>"
        }
      },
      "documentation":"<p>An annotation import job.</p>"
    },
    "AnnotationImportJobItems":{
      "type":"list",
      "member":{"shape":"AnnotationImportJobItem"}
    },
    "AnnotationStoreItem":{
      "type":"structure",
      "required":[
        "id",
        "reference",
        "status",
        "storeArn",
        "name",
        "storeFormat",
        "description",
        "sseConfig",
        "creationTime",
        "updateTime",
        "statusMessage",
        "storeSizeBytes"
      ],
      "members":{
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "storeArn":{
          "shape":"Arn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The store's file format.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The store's description.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's server-side encryption (SSE) settings.</p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The store's creation time.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the store was updated.</p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>The store's status message.</p>"
        },
        "storeSizeBytes":{
          "shape":"Long",
          "documentation":"<p>The store's size in bytes.</p>"
        }
      },
      "documentation":"<p>An annotation store.</p>"
    },
    "AnnotationStoreItems":{
      "type":"list",
      "member":{"shape":"AnnotationStoreItem"}
    },
    "AnnotationStoreVersionItem":{
      "type":"structure",
      "required":[
        "storeId",
        "id",
        "status",
        "versionArn",
        "name",
        "versionName",
        "description",
        "creationTime",
        "updateTime",
        "statusMessage",
        "versionSizeBytes"
      ],
      "members":{
        "storeId":{
          "shape":"ResourceId",
          "documentation":"<p> The store ID for an annotation store version. </p>"
        },
        "id":{
          "shape":"ResourceId",
          "documentation":"<p> The annotation store version ID. </p>"
        },
        "status":{
          "shape":"VersionStatus",
          "documentation":"<p> The status of an annotation store version. </p>"
        },
        "versionArn":{
          "shape":"Arn",
          "documentation":"<p> The Arn for an annotation store version. </p>"
        },
        "name":{
          "shape":"StoreName",
          "documentation":"<p> A name given to an annotation store version to distinguish it from others. </p>"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name of an annotation store version. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> The description of an annotation store version. </p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p> The time stamp for when an annotation store version was created. </p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p> The time stamp for when an annotation store version was updated. </p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p> The status of an annotation store version. </p>"
        },
        "versionSizeBytes":{
          "shape":"Long",
          "documentation":"<p> The size of an annotation store version in Bytes. </p>"
        }
      },
      "documentation":"<p> Annotation store versions. </p>"
    },
    "AnnotationStoreVersionItems":{
      "type":"list",
      "member":{"shape":"AnnotationStoreVersionItem"}
    },
    "AnnotationType":{
      "type":"string",
      "enum":[
        "GENERIC",
        "CHR_POS",
        "CHR_POS_REF_ALT",
        "CHR_START_END_ONE_BASE",
        "CHR_START_END_REF_ALT_ONE_BASE",
        "CHR_START_END_ZERO_BASE",
        "CHR_START_END_REF_ALT_ZERO_BASE"
      ]
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:([^: ]*):([^: ]*):([^: ]*):([0-9]{12}):([^: ]*)"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":10,
      "min":1
    },
    "BatchDeleteReadSetRequest":{
      "type":"structure",
      "required":[
        "ids",
        "sequenceStoreId"
      ],
      "members":{
        "ids":{
          "shape":"ReadSetIdList",
          "documentation":"<p>The read sets' IDs.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The read sets' sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "BatchDeleteReadSetResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"ReadSetBatchErrorList",
          "documentation":"<p>Errors returned by individual delete operations.</p>"
        }
      }
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelAnnotationImportRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "CancelAnnotationImportResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CancelRunRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"RunId",
          "documentation":"<p>The run's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "CancelVariantImportRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "CancelVariantImportResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ClientToken":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+"
    },
    "CommentChar":{
      "type":"string",
      "max":1,
      "min":1
    },
    "CompleteMultipartReadSetUploadRequest":{
      "type":"structure",
      "required":[
        "sequenceStoreId",
        "uploadId",
        "parts"
      ],
      "members":{
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p> The sequence store ID for the store involved in the multipart upload. </p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p> The ID for the multipart upload. </p>",
          "location":"uri",
          "locationName":"uploadId"
        },
        "parts":{
          "shape":"CompleteReadSetUploadPartList",
          "documentation":"<p> The individual uploads or parts of a multipart upload. </p>"
        }
      }
    },
    "CompleteMultipartReadSetUploadResponse":{
      "type":"structure",
      "required":["readSetId"],
      "members":{
        "readSetId":{
          "shape":"ReadSetId",
          "documentation":"<p> The read set ID created for an uploaded read set. </p>"
        }
      }
    },
    "CompleteReadSetUploadPartList":{
      "type":"list",
      "member":{"shape":"CompleteReadSetUploadPartListItem"}
    },
    "CompleteReadSetUploadPartListItem":{
      "type":"structure",
      "required":[
        "partNumber",
        "partSource",
        "checksum"
      ],
      "members":{
        "partNumber":{
          "shape":"CompleteReadSetUploadPartListItemPartNumberInteger",
          "documentation":"<p> A number identifying the part in a read set upload. </p>"
        },
        "partSource":{
          "shape":"ReadSetPartSource",
          "documentation":"<p> The source file of the part being uploaded. </p>"
        },
        "checksum":{
          "shape":"String",
          "documentation":"<p> A unique identifier used to confirm that parts are being added to the correct upload. </p>"
        }
      },
      "documentation":"<p> Part of the response to the CompleteReadSetUpload API, including metadata. </p>"
    },
    "CompleteReadSetUploadPartListItemPartNumberInteger":{
      "type":"integer",
      "box":true,
      "max":10000,
      "min":1
    },
    "CompletionTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request cannot be applied to the target resource in its current state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAnnotationStoreRequest":{
      "type":"structure",
      "required":["storeFormat"],
      "members":{
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The genome reference for the store's annotations.</p>"
        },
        "name":{
          "shape":"StoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name given to an annotation store version to distinguish it from other versions. </p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The annotation file format of the store.</p>"
        },
        "storeOptions":{
          "shape":"StoreOptions",
          "documentation":"<p>File parsing options for the annotation store.</p>"
        }
      }
    },
    "CreateAnnotationStoreResponse":{
      "type":"structure",
      "required":[
        "id",
        "status",
        "name",
        "versionName",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference. Required for all stores except TSV format with generic annotations.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The annotation file format of the store.</p>"
        },
        "storeOptions":{
          "shape":"StoreOptions",
          "documentation":"<p>The store's file parsing options.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name given to an annotation store version to distinguish it from other versions. </p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the store was created.</p>"
        }
      }
    },
    "CreateAnnotationStoreVersionRequest":{
      "type":"structure",
      "required":[
        "name",
        "versionName"
      ],
      "members":{
        "name":{
          "shape":"StoreName",
          "documentation":"<p> The name of an annotation store version from which versions are being created. </p>",
          "location":"uri",
          "locationName":"name"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name given to an annotation store version to distinguish it from other versions. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> The description of an annotation store version. </p>"
        },
        "versionOptions":{
          "shape":"VersionOptions",
          "documentation":"<p> The options for an annotation store version. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> Any tags added to annotation store version. </p>"
        }
      }
    },
    "CreateAnnotationStoreVersionResponse":{
      "type":"structure",
      "required":[
        "id",
        "versionName",
        "storeId",
        "name",
        "status",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ResourceId",
          "documentation":"<p> A generated ID for the annotation store </p>"
        },
        "versionName":{
          "shape":"VersionName",
          "documentation":"<p> The name given to an annotation store version to distinguish it from other versions. </p>"
        },
        "storeId":{
          "shape":"ResourceId",
          "documentation":"<p> The ID for the annotation store from which new versions are being created. </p>"
        },
        "versionOptions":{
          "shape":"VersionOptions",
          "documentation":"<p> The options for an annotation store version. </p>"
        },
        "name":{
          "shape":"StoreName",
          "documentation":"<p> The name given to an annotation store version to distinguish it from other versions. </p>"
        },
        "status":{
          "shape":"VersionStatus",
          "documentation":"<p> The status of a annotation store version. </p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p> The time stamp for the creation of an annotation store version. </p>"
        }
      }
    },
    "CreateMultipartReadSetUploadRequest":{
      "type":"structure",
      "required":[
        "sequenceStoreId",
        "sourceFileType",
        "subjectId",
        "sampleId",
        "name"
      ],
      "members":{
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p> The sequence store ID for the store that is the destination of the multipart uploads. </p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p> An idempotency token that can be used to avoid triggering multiple multipart uploads. </p>"
        },
        "sourceFileType":{
          "shape":"FileType",
          "documentation":"<p> The type of file being uploaded. </p>"
        },
        "subjectId":{
          "shape":"SubjectId",
          "documentation":"<p> The source's subject ID. </p>"
        },
        "sampleId":{
          "shape":"SampleId",
          "documentation":"<p> The source's sample ID. </p>"
        },
        "generatedFrom":{
          "shape":"GeneratedFrom",
          "documentation":"<p> Where the source originated. </p>"
        },
        "referenceArn":{
          "shape":"ReferenceArn",
          "documentation":"<p> The ARN of the reference. </p>"
        },
        "name":{
          "shape":"ReadSetName",
          "documentation":"<p> The name of the read set. </p>"
        },
        "description":{
          "shape":"ReadSetDescription",
          "documentation":"<p> The description of the read set. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> Any tags to add to the read set. </p>"
        }
      }
    },
    "CreateMultipartReadSetUploadResponse":{
      "type":"structure",
      "required":[
        "sequenceStoreId",
        "uploadId",
        "sourceFileType",
        "subjectId",
        "sampleId",
        "referenceArn",
        "creationTime"
      ],
      "members":{
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p> The sequence store ID for the store that the read set will be created in. </p>"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p> he ID for the initiated multipart upload. </p>"
        },
        "sourceFileType":{
          "shape":"FileType",
          "documentation":"<p> The file type of the read set source. </p>"
        },
        "subjectId":{
          "shape":"SubjectId",
          "documentation":"<p> The source's subject ID. </p>"
        },
        "sampleId":{
          "shape":"SampleId",
          "documentation":"<p> The source's sample ID. </p>"
        },
        "generatedFrom":{
          "shape":"GeneratedFrom",
          "documentation":"<p> The source of the read set. </p>"
        },
        "referenceArn":{
          "shape":"ReferenceArn",
          "documentation":"<p> The read set source's reference ARN. </p>"
        },
        "name":{
          "shape":"ReadSetName",
          "documentation":"<p> The name of the read set. </p>"
        },
        "description":{
          "shape":"ReadSetDescription",
          "documentation":"<p> The description of the read set. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags to add to the read set. </p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p> The creation time of the multipart upload. </p>"
        }
      }
    },
    "CreateReferenceStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ReferenceStoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "description":{
          "shape":"ReferenceStoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
        }
      }
    },
    "CreateReferenceStoreResponse":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The store's ID.</p>"
        },
        "arn":{
          "shape":"ReferenceStoreArn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "name":{
          "shape":"ReferenceStoreName",
          "documentation":"<p>The store's name.</p>"
        },
        "description":{
          "shape":"ReferenceStoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's SSE settings.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the store was created.</p>"
        }
      }
    },
    "CreateRunGroupRequest":{
      "type":"structure",
      "required":["requestId"],
      "members":{
        "name":{
          "shape":"RunGroupName",
          "documentation":"<p>A name for the group.</p>"
        },
        "maxCpus":{
          "shape":"CreateRunGroupRequestMaxCpusInteger",
          "documentation":"<p>The maximum number of CPUs to use in the group.</p>"
        },
        "maxRuns":{
          "shape":"CreateRunGroupRequestMaxRunsInteger",
          "documentation":"<p>The maximum number of concurrent runs for the group.</p>"
        },
        "maxDuration":{
          "shape":"CreateRunGroupRequestMaxDurationInteger",
          "documentation":"<p>A maximum run time for the group in minutes.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the group.</p>"
        },
        "requestId":{
          "shape":"RunGroupRequestId",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique ID for each request.</p>",
          "idempotencyToken":true
        },
        "maxGpus":{
          "shape":"CreateRunGroupRequestMaxGpusInteger",
          "documentation":"<p> The maximum GPUs that can be used by a run group. </p>"
        }
      }
    },
    "CreateRunGroupRequestMaxCpusInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupRequestMaxDurationInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupRequestMaxGpusInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupRequestMaxRunsInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"RunGroupArn",
          "documentation":"<p>The group's ARN.</p>"
        },
        "id":{
          "shape":"RunGroupId",
          "documentation":"<p>The group's ID.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the run group.</p>"
        }
      }
    },
    "CreateSequenceStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"SequenceStoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "description":{
          "shape":"SequenceStoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
        },
        "fallbackLocation":{
          "shape":"S3Destination",
          "documentation":"<p> An S3 location that is used to store files that have failed a direct upload. </p>"
        }
      }
    },
    "CreateSequenceStoreResponse":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The store's ID.</p>"
        },
        "arn":{
          "shape":"SequenceStoreArn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "name":{
          "shape":"SequenceStoreName",
          "documentation":"<p>The store's name.</p>"
        },
        "description":{
          "shape":"SequenceStoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's SSE settings.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the store was created.</p>"
        },
        "fallbackLocation":{
          "shape":"S3Destination",
          "documentation":"<p> An S3 location that is used to store files that have failed a direct upload. </p>"
        }
      }
    },
    "CreateShareRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "principalSubscriber"
      ],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p> The resource ARN for the analytics store to be shared. </p>"
        },
        "principalSubscriber":{
          "shape":"String",
          "documentation":"<p> The principal subscriber is the account being given access to the analytics store data through the share offer. </p>"
        },
        "shareName":{
          "shape":"ShareName",
          "documentation":"<p> A name given to the share. </p>"
        }
      }
    },
    "CreateShareResponse":{
      "type":"structure",
      "members":{
        "shareId":{
          "shape":"String",
          "documentation":"<p> An ID generated for the share. </p>"
        },
        "status":{
          "shape":"ShareStatus",
          "documentation":"<p> The status of a share. </p>"
        },
        "shareName":{
          "shape":"ShareName",
          "documentation":"<p> A name given to the share. </p>"
        }
      }
    },
    "CreateVariantStoreRequest":{
      "type":"structure",
      "required":["reference"],
      "members":{
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The genome reference for the store's variants.</p>"
        },
        "name":{
          "shape":"StoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        }
      }
    },
    "CreateVariantStoreResponse":{
      "type":"structure",
      "required":[
        "id",
        "status",
        "name",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the store was created.</p>"
        }
      }
    },
    "CreateWorkflowRequest":{
      "type":"structure",
      "required":["requestId"],
      "members":{
        "name":{
          "shape":"WorkflowName",
          "documentation":"<p>A name for the workflow.</p>"
        },
        "description":{
          "shape":"WorkflowDescription",
          "documentation":"<p>A description for the workflow.</p>"
        },
        "engine":{
          "shape":"WorkflowEngine",
          "documentation":"<p>An engine for the workflow.</p>"
        },
        "definitionZip":{
          "shape":"Blob",
          "documentation":"<p>A ZIP archive for the workflow.</p>"
        },
        "definitionUri":{
          "shape":"WorkflowDefinition",
          "documentation":"<p>The URI of a definition for the workflow.</p>"
        },
        "main":{
          "shape":"WorkflowMain",
          "documentation":"<p>The path of the main definition file for the workflow.</p>"
        },
        "parameterTemplate":{
          "shape":"WorkflowParameterTemplate",
          "documentation":"<p>A parameter template for the workflow.</p>"
        },
        "storageCapacity":{
          "shape":"CreateWorkflowRequestStorageCapacityInteger",
          "documentation":"<p>A storage capacity for the workflow in gibibytes.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the workflow.</p>"
        },
        "requestId":{
          "shape":"WorkflowRequestId",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique ID for each request.</p>",
          "idempotencyToken":true
        },
        "accelerators":{
          "shape":"Accelerators",
          "documentation":"<p> The computational accelerator specified to run the workflow. </p>"
        }
      }
    },
    "CreateWorkflowRequestStorageCapacityInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":0
    },
    "CreateWorkflowResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"WorkflowArn",
          "documentation":"<p>The workflow's ARN.</p>"
        },
        "id":{
          "shape":"WorkflowId",
          "documentation":"<p>The workflow's ID.</p>"
        },
        "status":{
          "shape":"WorkflowStatus",
          "documentation":"<p>The workflow's status.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The workflow's tags.</p>"
        }
      }
    },
    "CreationTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "CreationType":{
      "type":"string",
      "enum":[
        "IMPORT",
        "UPLOAD"
      ]
    },
    "DeleteAnnotationStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "force":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>Whether to force deletion.</p>",
          "location":"querystring",
          "locationName":"force"
        }
      }
    },
    "DeleteAnnotationStoreResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        }
      }
    },
    "DeleteAnnotationStoreVersionsRequest":{
      "type":"structure",
      "required":[
        "name",
        "versions"
      ],
      "members":{
        "name":{
          "shape":"String",
[...]
