{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-09",
    "endpointPrefix":"datasync",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"DataSync",
    "serviceFullName":"AWS DataSync",
    "serviceId":"DataSync",
    "signatureVersion":"v4",
    "signingName":"datasync",
    "targetPrefix":"FmrsService",
    "uid":"datasync-2018-11-09"
  },
  "operations":{
    "AddStorageSystem":{
      "name":"AddStorageSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddStorageSystemRequest"},
      "output":{"shape":"AddStorageSystemResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services resource for an on-premises storage system that you want DataSync Discovery to collect information about.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "CancelTaskExecution":{
      "name":"CancelTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelTaskExecutionRequest"},
      "output":{"shape":"CancelTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Stops an DataSync task execution that's in progress. The transfer of some files are abruptly interrupted. File contents that're transferred to the destination might be incomplete or inconsistent with the source files.</p> <p>However, if you start a new task execution using the same task and allow it to finish, file content on the destination will be complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, DataSync successfully completes the transfer when you start the next task execution.</p>"
    },
    "CreateAgent":{
      "name":"CreateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAgentRequest"},
      "output":{"shape":"CreateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Activates an DataSync agent that you've deployed in your storage environment. The activation process associates the agent with your Amazon Web Services account.</p> <p>If you haven't deployed an agent yet, see the following topics to learn more:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/agent-requirements.html\">Agent requirements</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/configure-agent.html\">Create an agent</a> </p> </li> </ul> <note> <p>If you're transferring between Amazon Web Services storage services, you don't need a DataSync agent. </p> </note>"
    },
    "CreateLocationAzureBlob":{
      "name":"CreateLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationAzureBlobRequest"},
      "output":{"shape":"CreateLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for a Microsoft Azure Blob Storage container that DataSync can use as a transfer source or destination.</p> <p>Before you begin, make sure you know <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access\">how DataSync accesses Azure Blob Storage</a> and works with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">access tiers</a> and <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#blob-types\">blob types</a>. You also need a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-creating-agent\">DataSync agent</a> that can connect to your container.</p>"
    },
    "CreateLocationEfs":{
      "name":"CreateLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationEfsRequest"},
      "output":{"shape":"CreateLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon EFS file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Creating a location for Amazon EFS</a>.</p>"
    },
    "CreateLocationFsxLustre":{
      "name":"CreateLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxLustreRequest"},
      "output":{"shape":"CreateLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for Lustre file system.</p>"
    },
    "CreateLocationFsxOntap":{
      "name":"CreateLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOntapRequest"},
      "output":{"shape":"CreateLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for NetApp ONTAP file system that DataSync can use for a data transfer.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html#create-ontap-location-access\">accesses an FSx for ONTAP file system</a>.</p>"
    },
    "CreateLocationFsxOpenZfs":{
      "name":"CreateLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOpenZfsRequest"},
      "output":{"shape":"CreateLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for OpenZFS file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html\">Creating a location for FSx for OpenZFS</a>.</p> <note> <p>Request parameters related to <code>SMB</code> aren't supported with the <code>CreateLocationFsxOpenZfs</code> operation.</p> </note>"
    },
    "CreateLocationFsxWindows":{
      "name":"CreateLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxWindowsRequest"},
      "output":{"shape":"CreateLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for Windows File Server file system that DataSync can use for a data transfer.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-location-access\">accesses an FSx for Windows File Server</a>.</p>"
    },
    "CreateLocationHdfs":{
      "name":"CreateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationHdfsRequest"},
      "output":{"shape":"CreateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for a Hadoop Distributed File System (HDFS). </p>"
    },
    "CreateLocationNfs":{
      "name":"CreateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationNfsRequest"},
      "output":{"shape":"CreateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for a Network File System (NFS) file server that DataSync can use for a data transfer.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Configuring transfers to or from an NFS file server</a>.</p> <note> <p>If you're copying data to or from an Snowcone device, you can also use <code>CreateLocationNfs</code> to create your transfer location. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/nfs-on-snowcone.html\">Configuring transfers with Snowcone</a>.</p> </note>"
    },
    "CreateLocationObjectStorage":{
      "name":"CreateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationObjectStorageRequest"},
      "output":{"shape":"CreateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an object storage system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
    },
    "CreateLocationS3":{
      "name":"CreateLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationS3Request"},
      "output":{"shape":"CreateLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>A <i>location</i> is an endpoint for an Amazon S3 bucket. DataSync can use the location as a source or destination for copying data.</p> <important> <p>Before you create your location, make sure that you read the following sections:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage class considerations with Amazon S3 locations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">Evaluating S3 request costs when using DataSync</a> </p> </li> </ul> </important> <p> For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Creating an Amazon S3 location</a>.</p>"
    },
    "CreateLocationSmb":{
      "name":"CreateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationSmbRequest"},
      "output":{"shape":"CreateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for a Server Message Block (SMB) file server that DataSync can use for a data transfer.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html\">accesses an SMB file server</a>.</p>"
    },
    "CreateTask":{
      "name":"CreateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTaskRequest"},
      "output":{"shape":"CreateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Configures a transfer task, which defines where and how DataSync moves your data.</p> <p>A task includes a source location, destination location, and the options for how and when you want to transfer your data (such as bandwidth limits, scheduling, among other options).</p> <important> <p>If you're planning to transfer data to or from an Amazon S3 location, review <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before you begin.</p> </important>"
    },
    "DeleteAgent":{
      "name":"DeleteAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAgentRequest"},
      "output":{"shape":"DeleteAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes an DataSync agent resource from your Amazon Web Services account.</p> <p>Keep in mind that this operation (which can't be undone) doesn't remove the agent's virtual machine (VM) or Amazon EC2 instance from your storage environment. For next steps, you can delete the VM or instance from your storage environment or reuse it to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activate a new agent</a>.</p>"
    },
    "DeleteLocation":{
      "name":"DeleteLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLocationRequest"},
      "output":{"shape":"DeleteLocationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes the configuration of a location used by DataSync. </p>"
    },
    "DeleteTask":{
      "name":"DeleteTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTaskRequest"},
      "output":{"shape":"DeleteTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes an DataSync transfer task.</p>"
    },
    "DescribeAgent":{
      "name":"DescribeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAgentRequest"},
      "output":{"shape":"DescribeAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information about an DataSync agent, such as its name, service endpoint type, and status.</p>"
    },
    "DescribeDiscoveryJob":{
      "name":"DescribeDiscoveryJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDiscoveryJobRequest"},
      "output":{"shape":"DescribeDiscoveryJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information about a DataSync discovery job.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "DescribeLocationAzureBlob":{
      "name":"DescribeLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationAzureBlobRequest"},
      "output":{"shape":"DescribeLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for Microsoft Azure Blob Storage is configured.</p>"
    },
    "DescribeLocationEfs":{
      "name":"DescribeLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationEfsRequest"},
      "output":{"shape":"DescribeLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about your DataSync location for an Amazon EFS file system.</p>"
    },
    "DescribeLocationFsxLustre":{
      "name":"DescribeLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxLustreRequest"},
      "output":{"shape":"DescribeLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync location for an Amazon FSx for Lustre file system is configured.</p>"
    },
    "DescribeLocationFsxOntap":{
      "name":"DescribeLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOntapRequest"},
      "output":{"shape":"DescribeLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync location for an Amazon FSx for NetApp ONTAP file system is configured.</p> <note> <p>If your location uses SMB, the <code>DescribeLocationFsxOntap</code> operation doesn't actually return a <code>Password</code>.</p> </note>"
    },
    "DescribeLocationFsxOpenZfs":{
      "name":"DescribeLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOpenZfsRequest"},
      "output":{"shape":"DescribeLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync location for an Amazon FSx for OpenZFS file system is configured.</p> <note> <p>Response elements related to <code>SMB</code> aren't supported with the <code>DescribeLocationFsxOpenZfs</code> operation.</p> </note>"
    },
    "DescribeLocationFsxWindows":{
      "name":"DescribeLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxWindowsRequest"},
      "output":{"shape":"DescribeLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about an Amazon FSx for Windows File Server location, such as information about its path.</p>"
    },
    "DescribeLocationHdfs":{
      "name":"DescribeLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationHdfsRequest"},
      "output":{"shape":"DescribeLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as the authentication information about the Hadoop Distributed File System (HDFS) location. </p>"
    },
    "DescribeLocationNfs":{
      "name":"DescribeLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationNfsRequest"},
      "output":{"shape":"DescribeLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for a Network File System (NFS) file server is configured.</p>"
    },
    "DescribeLocationObjectStorage":{
      "name":"DescribeLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationObjectStorageRequest"},
      "output":{"shape":"DescribeLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about your DataSync location for an object storage system.</p>"
    },
    "DescribeLocationS3":{
      "name":"DescribeLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationS3Request"},
      "output":{"shape":"DescribeLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>"
    },
    "DescribeLocationSmb":{
      "name":"DescribeLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationSmbRequest"},
      "output":{"shape":"DescribeLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as the path and user information about an SMB location.</p>"
    },
    "DescribeStorageSystem":{
      "name":"DescribeStorageSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorageSystemRequest"},
      "output":{"shape":"DescribeStorageSystemResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information about an on-premises storage system that you're using with DataSync Discovery.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "DescribeStorageSystemResourceMetrics":{
      "name":"DescribeStorageSystemResourceMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorageSystemResourceMetricsRequest"},
      "output":{"shape":"DescribeStorageSystemResourceMetricsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information, including performance data and capacity usage, which DataSync Discovery collects about a specific resource in your-premises storage system.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "DescribeStorageSystemResources":{
      "name":"DescribeStorageSystemResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorageSystemResourcesRequest"},
      "output":{"shape":"DescribeStorageSystemResourcesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information that DataSync Discovery collects about resources in your on-premises storage system.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "DescribeTask":{
      "name":"DescribeTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskRequest"},
      "output":{"shape":"DescribeTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides information about an DataSync transfer task.</p>"
    },
    "DescribeTaskExecution":{
      "name":"DescribeTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskExecutionRequest"},
      "output":{"shape":"DescribeTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides information about an execution of your DataSync task. You can use this operation to help monitor the progress of an ongoing transfer or check the results of the transfer.</p>"
    },
    "GenerateRecommendations":{
      "name":"GenerateRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateRecommendationsRequest"},
      "output":{"shape":"GenerateRecommendationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates recommendations about where to migrate your data to in Amazon Web Services. Recommendations are generated based on information that DataSync Discovery collects about your on-premises storage system's resources. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/discovery-understand-recommendations.html\">Recommendations provided by DataSync Discovery</a>.</p> <p>Once generated, you can view your recommendations by using the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_DescribeStorageSystemResources.html\">DescribeStorageSystemResources</a> operation.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of DataSync agents that belong to an Amazon Web Services account in the Amazon Web Services Region specified in the request.</p> <p>With pagination, you can reduce the number of agents returned in a response. If you get a truncated list of agents in a response, the response contains a marker that you can specify in your next request to fetch the next page of agents.</p> <p> <code>ListAgents</code> is eventually consistent. This means the result of running the operation might not reflect that you just created or deleted an agent. For example, if you create an agent with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_CreateAgent.html\">CreateAgent</a> and then immediately run <code>ListAgents</code>, that agent might not show up in the list right away. In situations like this, you can always confirm whether an agent has been created (or deleted) by using <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_DescribeAgent.html\">DescribeAgent</a>.</p>"
    },
    "ListDiscoveryJobs":{
      "name":"ListDiscoveryJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDiscoveryJobsRequest"},
      "output":{"shape":"ListDiscoveryJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides a list of the existing discovery jobs in the Amazon Web Services Region and Amazon Web Services account where you're using DataSync Discovery.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "ListLocations":{
      "name":"ListLocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLocationsRequest"},
      "output":{"shape":"ListLocationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>"
    },
    "ListStorageSystems":{
      "name":"ListStorageSystems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStorageSystemsRequest"},
      "output":{"shape":"ListStorageSystemsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists the on-premises storage systems that you're using with DataSync Discovery.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns all the tags associated with an Amazon Web Services resource.</p>"
    },
    "ListTaskExecutions":{
      "name":"ListTaskExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTaskExecutionsRequest"},
      "output":{"shape":"ListTaskExecutionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of executed tasks.</p>"
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of the DataSync tasks you created.</p>"
    },
    "RemoveStorageSystem":{
      "name":"RemoveStorageSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveStorageSystemRequest"},
      "output":{"shape":"RemoveStorageSystemResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Permanently removes a storage system resource from DataSync Discovery, including the associated discovery jobs, collected data, and recommendations.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "StartDiscoveryJob":{
      "name":"StartDiscoveryJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDiscoveryJobRequest"},
      "output":{"shape":"StartDiscoveryJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Runs a DataSync discovery job on your on-premises storage system. If you haven't added the storage system to DataSync Discovery yet, do this first by using the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_AddStorageSystem.html\">AddStorageSystem</a> operation.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "StartTaskExecution":{
      "name":"StartTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTaskExecutionRequest"},
      "output":{"shape":"StartTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Starts an DataSync transfer task. For each task, you can only run one task execution at a time.</p> <p>There are several phases to a task execution. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/working-with-task-executions.html#understand-task-execution-statuses\">Task execution statuses</a>.</p> <important> <p>If you're planning to transfer data to or from an Amazon S3 location, review <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before you begin.</p> </important>"
    },
    "StopDiscoveryJob":{
      "name":"StopDiscoveryJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDiscoveryJobRequest"},
      "output":{"shape":"StopDiscoveryJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Stops a running DataSync discovery job.</p> <p>You can stop a discovery job anytime. A job that's stopped before it's scheduled to end likely will provide you some information about your on-premises storage system resources. To get recommendations for a stopped job, you must use the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_GenerateRecommendations.html\">GenerateRecommendations</a> operation.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Applies a <i>tag</i> to an Amazon Web Services resource. Tags are key-value pairs that can help you manage, filter, and search for your resources.</p> <p>These include DataSync resources, such as locations, tasks, and task executions.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes tags from an Amazon Web Services resource.</p>"
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAgentRequest"},
      "output":{"shape":"UpdateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the name of an DataSync agent.</p>"
    },
    "UpdateDiscoveryJob":{
      "name":"UpdateDiscoveryJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDiscoveryJobRequest"},
      "output":{"shape":"UpdateDiscoveryJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Edits a DataSync discovery job configuration.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "UpdateLocationAzureBlob":{
      "name":"UpdateLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationAzureBlobRequest"},
      "output":{"shape":"UpdateLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies some configurations of the Microsoft Azure Blob Storage transfer location that you're using with DataSync.</p>"
    },
    "UpdateLocationHdfs":{
      "name":"UpdateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationHdfsRequest"},
      "output":{"shape":"UpdateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some parameters of a previously created location for a Hadoop Distributed File System cluster.</p>"
    },
    "UpdateLocationNfs":{
      "name":"UpdateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationNfsRequest"},
      "output":{"shape":"UpdateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies some configurations of the Network File System (NFS) transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Configuring transfers to or from an NFS file server</a>.</p>"
    },
    "UpdateLocationObjectStorage":{
      "name":"UpdateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationObjectStorageRequest"},
      "output":{"shape":"UpdateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some parameters of an existing object storage location that DataSync accesses for a transfer. For information about creating a self-managed object storage location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
    },
    "UpdateLocationSmb":{
      "name":"UpdateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationSmbRequest"},
      "output":{"shape":"UpdateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some of the parameters of a Server Message Block (SMB) file server location that you can use for DataSync transfers.</p>"
    },
    "UpdateStorageSystem":{
      "name":"UpdateStorageSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStorageSystemRequest"},
      "output":{"shape":"UpdateStorageSystemResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies some configurations of an on-premises storage system resource that you're using with DataSync Discovery.</p>",
      "endpoint":{"hostPrefix":"discovery-"}
    },
    "UpdateTask":{
      "name":"UpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskRequest"},
      "output":{"shape":"UpdateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the configuration of a DataSync transfer task.</p>"
    },
    "UpdateTaskExecution":{
      "name":"UpdateTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskExecutionRequest"},
      "output":{"shape":"UpdateTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the configuration of a running DataSync task execution.</p> <note> <p>Currently, the only <code>Option</code> that you can modify with <code>UpdateTaskExecution</code> is <code> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Options.html#DataSync-Type-Options-BytesPerSecond\">BytesPerSecond</a> </code>, which throttles bandwidth for a running or queued task execution.</p> </note>"
    }
  },
  "shapes":{
    "ActivationKey":{
      "type":"string",
      "max":29,
      "pattern":"[A-Z0-9]{5}(-[A-Z0-9]{5}){4}"
    },
    "AddStorageSystemRequest":{
      "type":"structure",
      "required":[
        "ServerConfiguration",
        "SystemType",
        "AgentArns",
        "ClientToken",
        "Credentials"
      ],
      "members":{
        "ServerConfiguration":{
          "shape":"DiscoveryServerConfiguration",
          "documentation":"<p>Specifies the server name and network port required to connect with the management interface of your on-premises storage system.</p>"
        },
        "SystemType":{
          "shape":"DiscoverySystemType",
          "documentation":"<p>Specifies the type of on-premises storage system that you want DataSync Discovery to collect information about.</p> <note> <p>DataSync Discovery currently supports NetApp Fabric-Attached Storage (FAS) and All Flash FAS (AFF) systems running ONTAP 9.7 or later.</p> </note>"
        },
        "AgentArns":{
          "shape":"DiscoveryAgentArnList",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that connects to and reads from your on-premises storage system's management interface. You can only specify one ARN.</p>"
        },
        "CloudWatchLogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>Specifies the ARN of the Amazon CloudWatch log group for monitoring and logging discovery job events.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your on-premises storage system.</p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>Specifies a familiar name for your on-premises storage system.</p>"
        },
        "ClientToken":{
          "shape":"PtolemyUUID",
          "documentation":"<p>Specifies a client token to make sure requests with this API operation are idempotent. If you don't specify a client token, DataSync generates one for you automatically.</p>",
          "idempotencyToken":true
        },
        "Credentials":{
          "shape":"Credentials",
          "documentation":"<p>Specifies the user name and password for accessing your on-premises storage system's management interface.</p>"
        }
      }
    },
    "AddStorageSystemResponse":{
      "type":"structure",
      "required":["StorageSystemArn"],
      "members":{
        "StorageSystemArn":{
          "shape":"StorageSystemArn",
          "documentation":"<p>The ARN of the on-premises storage system that you can use with DataSync Discovery.</p>"
        }
      }
    },
    "AgentArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
    },
    "AgentArnList":{
      "type":"list",
      "member":{"shape":"AgentArn"},
      "max":4,
      "min":1
    },
    "AgentList":{
      "type":"list",
      "member":{"shape":"AgentListEntry"}
    },
    "AgentListEntry":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a DataSync agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of an agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of an agent.</p> <ul> <li> <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to use.</p> </li> <li> <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with DataSync for five minutes or longer. This can happen for a few reasons. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a> </p> </li> </ul>"
        },
        "Platform":{
          "shape":"Platform",
          "documentation":"<p>The platform-related details about the agent, such as the version number.</p>"
        }
      },
      "documentation":"<p>Represents a single entry in a list (or array) of DataSync agents when you call the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation.</p>"
    },
    "AgentStatus":{
      "type":"string",
      "enum":[
        "ONLINE",
        "OFFLINE"
      ]
    },
    "AgentVersion":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\s+=._:@/-]+$"
    },
    "Atime":{
      "type":"string",
      "enum":[
        "NONE",
        "BEST_EFFORT"
      ]
    },
    "AzureAccessTier":{
      "type":"string",
      "enum":[
        "HOT",
        "COOL",
        "ARCHIVE"
      ]
    },
    "AzureBlobAuthenticationType":{
      "type":"string",
      "enum":["SAS"]
    },
    "AzureBlobContainerUrl":{
      "type":"string",
      "max":325,
      "pattern":"^https:\\/\\/[A-Za-z0-9]((\\.|-+)?[A-Za-z0-9]){0,252}\\/[a-z0-9](-?[a-z0-9]){2,62}$"
    },
    "AzureBlobSasConfiguration":{
      "type":"structure",
      "required":["Token"],
      "members":{
        "Token":{
          "shape":"AzureBlobSasToken",
          "documentation":"<p>Specifies a SAS token that provides permissions to access your Azure Blob Storage.</p> <p>The token is part of the SAS URI string that comes after the storage resource URI and a question mark. A token looks something like this:</p> <p> <code>sp=r&amp;st=2023-12-20T14:54:52Z&amp;se=2023-12-20T22:54:52Z&amp;spr=https&amp;sv=2021-06-08&amp;sr=c&amp;sig=aBBKDWQvyuVcTPH9EBp%2FXTI9E%2F%2Fmq171%2BZU178wcwqU%3D</code> </p>"
        }
      },
      "documentation":"<p>The shared access signature (SAS) configuration that allows DataSync to access your Microsoft Azure Blob Storage.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-sas-tokens\">SAS tokens</a> for accessing your Azure Blob Storage.</p>"
    },
    "AzureBlobSasToken":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$",
      "sensitive":true
    },
    "AzureBlobSubdirectory":{
      "type":"string",
      "max":1024,
      "pattern":"^[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}\\p{C}]*$"
    },
    "AzureBlobType":{
      "type":"string",
      "enum":["BLOCK"]
    },
    "BytesPerSecond":{
      "type":"long",
      "min":-1
    },
    "CancelTaskExecutionRequest":{
      "type":"structure",
      "required":["TaskExecutionArn"],
      "members":{
        "TaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task execution to stop.</p>"
        }
      },
      "documentation":"<p>CancelTaskExecutionRequest</p>"
    },
    "CancelTaskExecutionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Capacity":{
      "type":"structure",
      "members":{
        "Used":{
          "shape":"NonNegativeLong",
          "documentation":"<p>The amount of space that's being used in a storage system resource.</p>"
        },
        "Provisioned":{
          "shape":"NonNegativeLong",
          "documentation":"<p>The total amount of space available in a storage system resource.</p>"
        },
        "LogicalUsed":{
          "shape":"NonNegativeLong",
          "documentation":"<p>The amount of space that's being used in a storage system resource without accounting for compression or deduplication.</p>"
        },
        "ClusterCloudStorageUsed":{
          "shape":"NonNegativeLong",
          "documentation":"<p>The amount of space in the cluster that's in cloud storage (for example, if you're using data tiering).</p>"
        }
      },
      "documentation":"<p>The storage capacity of an on-premises storage system resource (for example, a volume).</p>"
    },
    "CollectionDurationMinutes":{
      "type":"integer",
      "max":44640,
      "min":60
    },
    "CreateAgentRequest":{
      "type":"structure",
      "required":["ActivationKey"],
      "members":{
        "ActivationKey":{
          "shape":"ActivationKey",
          "documentation":"<p>Specifies your DataSync agent's activation key. If you don't have an activation key, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">Activate your agent</a>.</p>"
        },
        "AgentName":{
          "shape":"TagValue",
          "documentation":"<p>Specifies a name for your agent. You can see this name in the DataSync console.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least one tag for your agent.</p>"
        },
        "VpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>Specifies the ID of the VPC endpoint that you want your agent to connect to. For example, a VPC endpoint ID looks like <code>vpce-01234d5aff67890e1</code>.</p> <important> <p>The VPC endpoint you use must include the DataSync service name (for example, <code>com.amazonaws.us-east-2.datasync</code>).</p> </important>"
        },
        "SubnetArns":{
          "shape":"PLSubnetArnList",
          "documentation":"<p>Specifies the ARN of the subnet where you want to run your DataSync task when using a VPC endpoint. This is the subnet where DataSync creates and manages the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network interfaces</a> for your transfer. You can only specify one ARN.</p>"
        },
        "SecurityGroupArns":{
          "shape":"PLSecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the security group that protects your task's <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network interfaces</a> when <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#choose-service-endpoint-vpc\">using a virtual private cloud (VPC) endpoint</a>. You can only specify one ARN.</p>"
        }
      },
      "documentation":"<p>CreateAgentRequest</p>"
    },
    "CreateAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The ARN of the agent that you just activated. Use the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation to return a list of agents in your Amazon Web Services account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>CreateAgentResponse</p>"
    },
    "CreateLocationAzureBlobRequest":{
      "type":"structure",
      "required":[
        "ContainerUrl",
        "AuthenticationType",
        "AgentArns"
      ],
      "members":{
        "ContainerUrl":{
          "shape":"AzureBlobContainerUrl",
          "documentation":"<p>Specifies the URL of the Azure Blob Storage container involved in your transfer.</p>"
        },
        "AuthenticationType":{
          "shape":"AzureBlobAuthenticationType",
          "documentation":"<p>Specifies the authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>"
        },
        "SasConfiguration":{
          "shape":"AzureBlobSasConfiguration",
          "documentation":"<p>Specifies the SAS configuration that allows DataSync to access your Azure Blob Storage.</p>"
        },
        "BlobType":{
          "shape":"AzureBlobType",
          "documentation":"<p>Specifies the type of blob that you want your objects or files to be when transferring them into Azure Blob Storage. Currently, DataSync only supports moving data into Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
        },
        "AccessTier":{
          "shape":"AzureAccessTier",
          "documentation":"<p>Specifies the access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
        },
        "Subdirectory":{
          "shape":"AzureBlobSubdirectory",
          "documentation":"<p>Specifies path segments if you want to limit your transfer to a virtual directory in your container (for example, <code>/my/images</code>).</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that can connect with your Azure Blob Storage container.</p> <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple agents for your transfer</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your transfer location.</p>"
        }
      }
    },
    "CreateLocationAzureBlobResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the Azure Blob Storage transfer location that you created.</p>"
        }
      }
    },
    "CreateLocationEfsRequest":{
      "type":"structure",
      "required":[
        "EfsFilesystemArn",
        "Ec2Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"EfsSubdirectory",
          "documentation":"<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data (depending on if this is a source or destination location). By default, DataSync uses the root directory, but you can also include subdirectories.</p> <note> <p>You must specify a value with forward slashes (for example, <code>/path/to/folder</code>).</p> </note>"
        },
        "EfsFilesystemArn":{
          "shape":"EfsFilesystemArn",
          "documentation":"<p>Specifies the ARN for the Amazon EFS file system.</p>"
        },
        "Ec2Config":{
          "shape":"Ec2Config",
          "documentation":"<p>Specifies the subnet and security groups DataSync uses to access your Amazon EFS file system.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        },
        "AccessPointArn":{
          "shape":"EfsAccessPointArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses to access the Amazon EFS file system.</p>"
        },
        "FileSystemAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>Specifies an Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>"
        },
        "InTransitEncryption":{
          "shape":"EfsInTransitEncryption",
          "documentation":"<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2 encryption when it copies data to or from the Amazon EFS file system.</p> <p>If you specify an access point using <code>AccessPointArn</code> or an IAM role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to <code>TLS1_2</code>.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfsRequest</p>"
    },
    "CreateLocationEfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfs</p>"
    },
    "CreateLocationFsxLustreRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the FSx for Lustre file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the security groups that are used to configure the FSx for Lustre file system.</p>"
        },
        "Subdirectory":{
          "shape":"FsxLustreSubdirectory",
          "documentation":"<p>A subdirectory in the location's path. This subdirectory in the FSx for Lustre file system is used to read data from the FSx for Lustre source location or write data to the FSx for Lustre destination.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxLustreResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that's created. </p>"
        }
      }
    },
    "CreateLocationFsxOntapRequest":{
      "type":"structure",
      "required":[
        "Protocol",
        "SecurityGroupArns",
        "StorageVirtualMachineArn"
      ],
      "members":{
        "Protocol":{"shape":"FsxProtocol"},
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon EC2 security groups that provide access to your file system's preferred subnet.</p> <p>The security groups must allow outbound traffic on the following ports (depending on the protocol you use):</p> <ul> <li> <p> <b>Network File System (NFS)</b>: TCP ports 111, 635, and 2049</p> </li> <li> <p> <b>Server Message Block (SMB)</b>: TCP port 445</p> </li> </ul> <p>Your file system's security groups must also allow inbound traffic on the same ports.</p>"
        },
        "StorageVirtualMachineArn":{
          "shape":"StorageVirtualMachineArn",
          "documentation":"<p>Specifies the ARN of the storage virtual machine (SVM) in your file system where you want to copy data to or from.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOntapSubdirectory",
          "documentation":"<p>Specifies a path to the file share in the SVM where you'll copy your data.</p> <p>You can specify a junction path (also known as a mount point), qtree path (for NFS file shares), or share name (for SMB file shares). For example, your mount path might be <code>/vol1</code>, <code>/vol1/tree1</code>, or <code>/share1</code>.</p> <note> <p>Don't specify a junction path in the SVM's root volume. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOntapResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the FSx for ONTAP file system location that you create.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "Protocol",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>"
        },
        "Protocol":{
          "shape":"FsxProtocol",
          "documentation":"<p>The type of protocol that DataSync uses to access your file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file system.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOpenZfsSubdirectory",
          "documentation":"<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file system is a source or destination location).</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns",
        "User",
        "Password"
      ],
      "members":{
        "Subdirectory":{
          "shape":"FsxWindowsSubdirectory",
          "documentation":"<p>Specifies a mount path for your file system using forward slashes. This is where DataSync reads or writes data (depending on if this is a source or destination location).</p>"
        },
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) for the FSx for Windows File Server file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the ARNs of the security groups that provide access to your file system's preferred subnet.</p> <note> <p>If you choose a security group that doesn't allow connections from within itself, do one of the following:</p> <ul> <li> <p>Configure the security group to allow it to communicate within itself.</p> </li> <li> <p>Choose a different security group that can communicate with the mount target's security group.</p> </li> </ul> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>Specifies the user who has the permissions to access files, folders, and metadata in your file system.</p> <p>For information about choosing a user with the right level of access for your transfer, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">required permissions</a> for FSx for Windows File Server locations.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>Specifies the name of the Windows domain that the FSx for Windows File Server belongs to.</p> <p>If you have multiple domains in your environment, configuring this parameter makes sure that DataSync connects to the right file server.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">required permissions</a> for FSx for Windows File Server locations.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>Specifies the password of the user who has the permissions to access files and folders in the file system.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">required permissions</a> for FSx for Windows File Server locations.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for Windows File Server file system location you created.</p>"
        }
      }
    },
    "CreateLocationHdfsRequest":{
      "type":"structure",
      "required":[
        "NameNodes",
        "AuthenticationType",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"HdfsSubdirectory",
          "documentation":"<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write data to the HDFS cluster. If the subdirectory isn't specified, it will default to <code>/</code>.</p>"
        },
        "NameNodes":{
          "shape":"HdfsNameNodeList",
          "documentation":"<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as opening, closing, and renaming files and directories. The NameNode contains the information to map blocks of data to the DataNodes. You can use only one NameNode.</p>"
        },
        "BlockSize":{
          "shape":"HdfsBlockSize",
          "documentation":"<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
        },
        "ReplicationFactor":{
          "shape":"HdfsReplicationFactor",
          "documentation":"<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By default, data is replicated to three DataNodes.</p>"
        },
        "KmsKeyProviderUri":{
          "shape":"KmsKeyProviderUri",
          "documentation":"<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
        },
        "QopConfiguration":{
          "shape":"QopConfiguration",
          "documentation":"<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter assumes the same value. </p>"
        },
        "AuthenticationType":{
          "shape":"HdfsAuthenticationType",
          "documentation":"<p>The type of authentication used to determine the identity of the user. </p>"
        },
        "SimpleUser":{
          "shape":"HdfsUser",
          "documentation":"<p>The user name used to identify the client on the host operating system. </p> <note> <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosPrincipal":{
          "shape":"KerberosPrincipal",
          "documentation":"<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "KerberosKeytab":{
          "shape":"KerberosKeytabFile",
          "documentation":"<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos principal and the encrypted keys. You can load the keytab from a file by providing the file's address. If you're using the CLI, it performs base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosKrb5Conf":{
          "shape":"KerberosKrb5ConfFile",
          "documentation":"<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You can load the <code>krb5.conf</code> file by providing the file's address. If you're using the CLI, it performs the base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the agents that are used to connect to the HDFS cluster.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources. </p>"
        }
      }
    },
    "CreateLocationHdfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the source HDFS cluster location that's created. </p>"
        }
      }
    },
    "CreateLocationNfsRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "OnPremConfig"
      ],
      "members":{
        "Subdirectory":{
          "shape":"NfsSubdirectory",
          "documentation":"<p>Specifies the export path in your NFS file server that you want DataSync to mount.</p> <p>This path (or a subdirectory of the path) is where DataSync transfers data to or from. For information on configuring an export for DataSync, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">Accessing NFS file servers</a>.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the Domain Name System (DNS) name or IP version 4 address of the NFS file server that your DataSync agent connects to.</p>"
        },
        "OnPremConfig":{
          "shape":"OnPremConfig",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that want to connect to your NFS file server.</p> <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple agents for transfers</a>.</p>"
        },
        "MountOptions":{
          "shape":"NfsMountOptions",
          "documentation":"<p>Specifies the options that DataSync can use to mount your NFS file server.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsRequest</p>"
    },
    "CreateLocationNfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the transfer location that you created for your NFS file server.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsResponse</p>"
    },
    "CreateLocationObjectStorageRequest":{
      "type":"structure",
      "required":[
        "ServerHostname",
        "BucketName",
        "AgentArns"
      ],
      "members":{
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the domain name or IP address of the object storage server. A DataSync agent uses this hostname to mount the object storage server in a network.</p>"
        },
        "ServerPort":{
          "shape":"ObjectStorageServerPort",
          "documentation":"<p>Specifies the port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
        },
        "ServerProtocol":{
          "shape":"ObjectStorageServerProtocol",
          "documentation":"<p>Specifies the protocol that your object storage server uses to communicate.</p>"
        },
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>Specifies the object prefix for your object storage server. If this is a source location, DataSync only copies objects with this prefix. If this is a destination location, DataSync writes all objects with this prefix. </p>"
        },
        "BucketName":{
          "shape":"ObjectStorageBucketName",
          "documentation":"<p>Specifies the name of the object storage bucket involved in the transfer.</p>"
        },
        "AccessKey":{
          "shape":"ObjectStorageAccessKey",
          "documentation":"<p>Specifies the access key (for example, a user name) if credentials are required to authenticate with the object storage server.</p>"
        },
        "SecretKey":{
          "shape":"ObjectStorageSecretKey",
          "documentation":"<p>Specifies the secret key (for example, a password) if credentials are required to authenticate with the object storage server.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>Specifies the Amazon Resource Names (ARNs) of the DataSync agents that can securely connect with your location.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. Tags can help you manage, filter, and search for your resources. We recommend creating a name tag for your location.</p>"
        },
        "ServerCertificate":{
          "shape":"ObjectStorageCertificate",
          "documentation":"<p>Specifies a file with the certificates that are used to sign the object storage server's certificate (for example, <code>file:///home/user/.ssh/storage_sys_certificate.pem</code>). The file you specify must include the following:</p> <ul> <li> <p>The certificate of the signing certificate authority (CA)</p> </li> <li> <p>Any intermediate certificates</p> </li> <li> <p>base64 encoding</p> </li> <li> <p>A <code>.pem</code> extension</p> </li> </ul> <p>The file can be up to 32768 bytes (before base64 encoding).</p> <p>To use this parameter, configure <code>ServerProtocol</code> to <code>HTTPS</code>.</p>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageRequest</p>"
    },
    "CreateLocationObjectStorageResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the object storage system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageResponse</p>"
    },
    "CreateLocationS3Request":{
      "type":"structure",
      "required":[
        "S3BucketArn",
        "S3Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read data from the S3 source location or write data to the S3 destination.</p>"
        },
        "S3BucketArn":{
          "shape":"S3BucketArn",
          "documentation":"<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost, this must be an access point ARN.</p>"
        },
        "S3StorageClass":{
          "shape":"S3StorageClass",
          "documentation":"<p>The Amazon S3 storage class that you want to store your files in when this location is used as a task destination. For buckets in Amazon Web Services Regions, the storage class defaults to Standard. For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p> <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>"
        },
        "S3Config":{"shape":"S3Config"},
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>If you're using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource Names (ARNs) of the DataSync agents deployed on your Outpost. For more information about launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Request</p>"
    },
    "CreateLocationS3Response":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is created.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Response</p>"
    },
    "CreateLocationSmbRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "User",
        "Password",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"SmbSubdirectory",
          "documentation":"<p>Specifies the name of the share exported by your SMB file server where DataSync will read or write data. You can include a subdirectory in the share path (for example, <code>/path/to/subdirectory</code>). Make sure that other SMB clients in your network can also mount this path.</p> <p>To copy all data in the specified subdirectory, DataSync must be able to mount the SMB share and access all of its data. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the Domain Name Service (DNS) name or IP address of the SMB file server that your DataSync agent will mount.</p> <note> <p>You can't specify an IP version 6 (IPv6) address.</p> </note>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>Specifies the user name that can mount your SMB file server and has permission to access the files and folders involved in your transfer.</p> <p>For information about choosing a user with the right level of access for your transfer, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>Specifies the Windows domain name that your SMB file server belongs to. </p> <p>If you have multiple domains in your environment, configuring this parameter makes sure that DataSync connects to the right file server.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>Specifies the password of the user who can mount your SMB file server and has permission to access the files and folders involved in your transfer.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>Specifies the DataSync agent (or agents) which you want to connect to your SMB file server. You specify an agent by using its Amazon Resource Name (ARN).</p>"
        },
        "MountOptions":{
          "shape":"SmbMountOptions",
          "documentation":"<p>Specifies the version of the SMB protocol that DataSync uses to access your SMB file server.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbRequest</p>"
    },
    "CreateLocationSmbResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the SMB location that you created.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbResponse</p>"
    },
    "CreateTaskRequest":{
      "type":"structure",
      "required":[
        "SourceLocationArn",
        "DestinationLocationArn"
      ],
      "members":{
        "SourceLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source location for the task.</p>"
        },
        "DestinationLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location. </p>"
        },
        "CloudWatchLogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to monitor and log events in the task. </p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of a task. This value is a text reference that is used to identify the task in the console. </p>"
        },
        "Options":{
          "shape":"Options",
          "documentation":"<p>Specifies the configuration options for a task. Some options include preserving file or object metadata and verifying data integrity.</p> <p>You can also override these options before starting an individual run of a task (also known as a <i>task execution</i>). For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a>.</p>"
        },
        "Excludes":{
          "shape":"FilterList",
          "documentation":"<p>Specifies a list of filter rules that exclude specific data during your transfer. For more information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
        },
        "Schedule":{
          "shape":"TaskSchedule",
          "documentation":"<p>Specifies a schedule used to periodically transfer files from a source to a destination location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the tags that you want to apply to the Amazon Resource Name (ARN) representing the task.</p> <p> <i>Tags</i> are key-value pairs that help you manage, filter, and search for your DataSync resources.</p>"
        },
        "Includes":{
          "shape":"FilterList",
          "documentation":"<p>Specifies a list of filter rules that include specific data during your transfer. For more information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
        },
        "TaskReportConfig":{
          "shape":"TaskReportConfig",
          "documentation":"<p>Specifies how you want to configure a task report, which provides detailed information about for your DataSync transfer.</p>"
        }
      },
      "documentation":"<p>CreateTaskRequest</p>"
    },
    "CreateTaskResponse":{
      "type":"structure",
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task.</p>"
        }
      },
      "documentation":"<p>CreateTaskResponse</p>"
    },
    "Credentials":{
      "type":"structure",
      "required":[
        "Username",
        "Password"
      ],
      "members":{
        "Username":{
          "shape":"PtolemyUsername",
          "documentation":"<p>Specifies the user name for your storage system's management interface.</p>"
        },
        "Password":{
          "shape":"PtolemyPassword",
          "documentation":"<p>Specifies the password for your storage system's management interface.</p>"
        }
      },
      "documentation":"<p>The credentials that provide DataSync Discovery read access to your on-premises storage system's management interface.</p> <p>DataSync Discovery stores these credentials in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">Secrets Manager</a>. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/discovery-configure-storage.html\">Accessing your on-premises storage system</a>.</p>"
    },
    "DeleteAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>DeleteAgentRequest</p>"
    },
    "DeleteAgentResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteLocationRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the location to delete.</p>"
        }
      },
      "documentation":"<p>DeleteLocation</p>"
    },
    "DeleteLocationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTaskRequest":{
      "type":"structure",
      "required":["TaskArn"],
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the task that you want to delete.</p>"
        }
      },
      "documentation":"<p>DeleteTask</p>"
    },
    "DeleteTaskResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that you want information about.</p>"
        }
      },
      "documentation":"<p>DescribeAgent</p>"
    },
    "DescribeAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The ARN of the agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of the agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent.</p> <ul> <li> <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to use.</p> </li> <li> <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with DataSync for five minutes or longer. This can happen for a few reasons. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a> </p> </li> </ul>"
        },
        "LastConnectionTime":{
          "shape":"Time",
          "documentation":"<p>The last time that the agent was communicating with the DataSync service.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the agent was <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activated</a>.</p>"
        },
        "EndpointType":{
          "shape":"EndpointType",
          "documentation":"<p>The type of <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html\">service endpoint</a> that your agent is connected to.</p>"
        },
        "PrivateLinkConfig":{
          "shape":"PrivateLinkConfig",
          "documentation":"<p>The network configuration that the agent uses when connecting to a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#choose-service-endpoint-vpc\">VPC service endpoint</a>.</p>"
        },
        "Platform":{
          "shape":"Platform",
          "documentation":"<p>The platform-related details about the agent, such as the version number.</p>"
        }
      },
      "documentation":"<p>DescribeAgentResponse</p>"
    },
    "DescribeDiscoveryJobRequest":{
      "type":"structure",
      "required":["DiscoveryJobArn"],
      "members":{
        "DiscoveryJobArn":{
          "shape":"DiscoveryJobArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the discovery job that you want information about.</p>"
        }
      }
    },
    "DescribeDiscoveryJobResponse":{
      "type":"structure",
      "members":{
        "StorageSystemArn":{
          "shape":"StorageSystemArn",
          "documentation":"<p>The ARN of the on-premises storage system you're running the discovery job on.</p>"
        },
        "DiscoveryJobArn":{
          "shape":"DiscoveryJobArn",
          "documentation":"<p>The ARN of the discovery job.</p>"
        },
        "CollectionDurationMinutes":{
          "shape":"CollectionDurationMinutes",
          "documentation":"<p>The number of minutes that the discovery job runs.</p>"
        },
        "Status":{
          "shape":"DiscoveryJobStatus",
          "documentation":"<p>Indicates the status of a discovery job. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/discovery-job-statuses.html#discovery-job-statuses-table\">Discovery job statuses</a>.</p>"
        },
        "JobStartTime":{
          "shape":"DiscoveryTime",
          "documentation":"<p>The time when the discovery job started.</p>"
        },
        "JobEndTime":{
          "shape":"DiscoveryTime",
          "documentation":"<p>The time when the discovery job ended.</p>"
        }
      }
    },
    "DescribeLocationAzureBlobRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of your Azure Blob Storage transfer location.</p>"
        }
      }
    },
    "DescribeLocationAzureBlobResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of your Azure Blob Storage transfer location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the Azure Blob Storage container involved in your transfer.</p>"
        },
        "AuthenticationType":{
          "shape":"AzureBlobAuthenticationType",
          "documentation":"<p>The authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>"
        },
        "BlobType":{
          "shape":"AzureBlobType",
          "documentation":"<p>The type of blob that you want your objects or files to be when transferring them into Azure Blob Storage. Currently, DataSync only supports moving data into Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
        },
        "AccessTier":{
          "shape":"AzureAccessTier",
          "documentation":"<p>The access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The ARNs of the DataSync agents that can connect with your Azure Blob Storage container.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that your Azure Blob Storage transfer location was created.</p>"
        }
      }
    },
    "DescribeLocationEfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you want information about.</p>"
        }
      },
      "documentation":"<p>DescribeLocationEfsRequest</p>"
    },
    "DescribeLocationEfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the Amazon EFS file system location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the Amazon EFS file system location.</p>"
        },
        "Ec2Config":{"shape":"Ec2Config"},
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the location was created.</p>"
        },
        "AccessPointArn":{
          "shape":"EfsAccessPointArn",
          "documentation":"<p>The ARN of the access point that DataSync uses to access the Amazon EFS file system.</p>"
        },
        "FileSystemAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>"
        },
        "InTransitEncryption":{
          "shape":"EfsInTransitEncryption",
          "documentation":"<p>Describes whether DataSync uses Transport Layer Security (TLS) encryption when copying data to or from the Amazon EFS file system.</p>"
        }
      },
      "documentation":"<p>DescribeLocationEfsResponse</p>"
    },
    "DescribeLocationFsxLustreRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre location to describe. </p>"
        }
      }
    },
    "DescribeLocationFsxLustreResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URI of the FSx for Lustre location that was described.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Lustre file system.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the FSx for Lustre location was created.</p>"
        }
      }
    },
    "DescribeLocationFsxOntapRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the FSx for ONTAP file system location that you want information about.</p>"
        }
      }
    },
    "DescribeLocationFsxOntapResponse":{
      "type":"structure",
      "members":{
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the location was created.</p>"
        },
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for ONTAP file system location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The uniform resource identifier (URI) of the FSx for ONTAP file system location.</p>"
        },
        "Protocol":{"shape":"FsxProtocol"},
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The security groups that DataSync uses to access your FSx for ONTAP file system.</p>"
        },
        "StorageVirtualMachineArn":{
          "shape":"StorageVirtualMachineArn",
          "documentation":"<p>The ARN of the storage virtual machine (SVM) on your FSx for ONTAP file system where you're copying data to or from.</p>"
        },
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The ARN of the FSx for ONTAP file system.</p>"
        }
      }
    },
    "DescribeLocationFsxOpenZfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS location to describe.</p>"
        }
      }
    },
    "DescribeLocationFsxOpenZfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for OpenZFS location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The uniform resource identifier (URI) of the FSx for OpenZFS location that was described.</p> <p>Example: <code>fsxz://us-west-2.fs-1234567890abcdef02/fsx/folderA/folder</code> </p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are configured for the FSx for OpenZFS file system.</p>"
        },
        "Protocol":{
          "shape":"FsxProtocol",
          "documentation":"<p>The type of protocol that DataSync uses to access your file system.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the FSx for OpenZFS location was created.</p>"
        }
      }
    },
    "DescribeLocationFsxWindowsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location to describe.</p>"
        }
[...]
