{% extends 'documentation.html' %}

{% block body %}

<p>Embeddings</p>
<a href=https://huggingface.co/models?pipeline_tag=sentence-similarity&sort=downloads>Text Embedding Models</a>

<div class="code">
    <h3>Example</h3>
    <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
  </div> 
{% endblock %}
