{
 "kind": "discovery#restDescription",
 "discoveryVersion": "v1",
 "id": "bigquery:v2",
 "name": "bigquery",
 "version": "v2",
 "revision": "20231213",
 "title": "BigQuery API",
 "description": "A data platform for customers to create, manage, share and query data.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/search-16.gif",
  "x32": "https://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/bigquery/",
 "protocol": "rest",
 "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
 "basePath": "/bigquery/v2/",
 "rootUrl": "https://bigquery.googleapis.com/",
 "servicePath": "bigquery/v2/",
 "batchPath": "batch/bigquery/v2",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/bigquery": {
     "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
    },
    "https://www.googleapis.com/auth/bigquery.insertdata": {
     "description": "Insert data into Google BigQuery"
    },
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
    },
    "https://www.googleapis.com/auth/cloud-platform.read-only": {
     "description": "View your data across Google Cloud services and see the email address of your Google Account"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
    }
   }
  }
 },
 "schemas": {
  "AvroOptions": {
   "id": "AvroOptions",
   "type": "object",
   "properties": {
    "useAvroLogicalTypes": {
     "type": "boolean",
     "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
    }
   }
  },
  "BiEngineReason": {
   "id": "BiEngineReason",
   "type": "object",
   "properties": {
    "code": {
     "type": "string",
     "description": "[Output-only] High-level BI Engine reason for partial or disabled acceleration.",
     "default": ""
    },
    "message": {
     "type": "string",
     "description": "[Output-only] Free form human-readable reason for partial or disabled acceleration.",
     "default": ""
    }
   }
  },
  "BiEngineStatistics": {
   "id": "BiEngineStatistics",
   "type": "object",
   "properties": {
    "accelerationMode": {
     "type": "string",
     "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
     "default": ""
    },
    "biEngineMode": {
     "type": "string",
     "description": "[Output-only] Specifies which mode of BI Engine acceleration was performed (if any).",
     "default": ""
    },
    "biEngineReasons": {
     "type": "array",
     "description": "In case of DISABLED or PARTIAL bi_engine_mode, these contain the explanatory reasons as to why BI Engine could not accelerate. In case the full query was accelerated, this field is not populated.",
     "items": {
      "$ref": "BiEngineReason"
     }
    }
   }
  },
  "BigLakeConfiguration": {
   "id": "BigLakeConfiguration",
   "type": "object",
   "properties": {
    "connectionId": {
     "type": "string",
     "description": "[Required] Required and immutable. Credential reference for accessing external storage system. Normalized as project_id.location_id.connection_id."
    },
    "fileFormat": {
     "type": "string",
     "description": "[Required] Required and immutable. Open source file format that the table data is stored in. Currently only PARQUET is supported."
    },
    "storageUri": {
     "type": "string",
     "description": "[Required] Required and immutable. Fully qualified location prefix of the external folder where data is stored. Normalized to standard format: \"gs:////\". Starts with \"gs://\" rather than \"/bigstore/\". Ends with \"/\". Does not contain \"*\". See also BigLakeStorageMetadata on how it is used."
    },
    "tableFormat": {
     "type": "string",
     "description": "[Required] Required and immutable. Open source file format that the table data is stored in. Currently only PARQUET is supported."
    }
   }
  },
  "BigQueryModelTraining": {
   "id": "BigQueryModelTraining",
   "type": "object",
   "properties": {
    "currentIteration": {
     "type": "integer",
     "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
     "format": "int32"
    },
    "expectedTotalIterations": {
     "type": "string",
     "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
     "format": "int64"
    }
   }
  },
  "BigtableColumn": {
   "id": "BigtableColumn",
   "type": "object",
   "properties": {
    "encoding": {
     "type": "string",
     "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
    },
    "fieldName": {
     "type": "string",
     "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries."
    },
    "onlyReadLatest": {
     "type": "boolean",
     "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
    },
    "qualifierEncoded": {
     "type": "string",
     "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
     "format": "byte"
    },
    "qualifierString": {
     "type": "string"
    },
    "type": {
     "type": "string",
     "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels."
    }
   }
  },
  "BigtableColumnFamily": {
   "id": "BigtableColumnFamily",
   "type": "object",
   "properties": {
    "columns": {
     "type": "array",
     "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
     "items": {
      "$ref": "BigtableColumn"
     }
    },
    "encoding": {
     "type": "string",
     "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it."
    },
    "familyId": {
     "type": "string",
     "description": "Identifier of the column family."
    },
    "onlyReadLatest": {
     "type": "boolean",
     "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column."
    },
    "type": {
     "type": "string",
     "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it."
    }
   }
  },
  "BigtableOptions": {
   "id": "BigtableOptions",
   "type": "object",
   "properties": {
    "columnFamilies": {
     "type": "array",
     "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
     "items": {
      "$ref": "BigtableColumnFamily"
     }
    },
    "ignoreUnspecifiedColumnFamilies": {
     "type": "boolean",
     "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false."
    },
    "readRowkeyAsString": {
     "type": "boolean",
     "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false."
    }
   }
  },
  "BqmlIterationResult": {
   "id": "BqmlIterationResult",
   "type": "object",
   "properties": {
    "durationMs": {
     "type": "string",
     "description": "[Output-only, Beta] Time taken to run the training iteration in milliseconds.",
     "format": "int64"
    },
    "evalLoss": {
     "type": "number",
     "description": "[Output-only, Beta] Eval loss computed on the eval data at the end of the iteration. The eval loss is used for early stopping to avoid overfitting. No eval loss if eval_split_method option is specified as no_split or auto_split with input data size less than 500 rows.",
     "format": "double"
    },
    "index": {
     "type": "integer",
     "description": "[Output-only, Beta] Index of the ML training iteration, starting from zero for each training run.",
     "format": "int32"
    },
    "learnRate": {
     "type": "number",
     "description": "[Output-only, Beta] Learning rate used for this iteration, it varies for different training iterations if learn_rate_strategy option is not constant.",
     "format": "double"
    },
    "trainingLoss": {
     "type": "number",
     "description": "[Output-only, Beta] Training loss computed on the training data at the end of the iteration. The training loss function is defined by model type.",
     "format": "double"
    }
   }
  },
  "BqmlTrainingRun": {
   "id": "BqmlTrainingRun",
   "type": "object",
   "properties": {
    "iterationResults": {
     "type": "array",
     "description": "[Output-only, Beta] List of each iteration results.",
     "items": {
      "$ref": "BqmlIterationResult"
     }
    },
    "startTime": {
     "type": "string",
     "description": "[Output-only, Beta] Training run start time in milliseconds since the epoch.",
     "format": "date-time"
    },
    "state": {
     "type": "string",
     "description": "[Output-only, Beta] Different state applicable for a training run. IN PROGRESS: Training run is in progress. FAILED: Training run ended due to a non-retryable failure. SUCCEEDED: Training run successfully completed. CANCELLED: Training run cancelled by the user."
    },
    "trainingOptions": {
     "type": "object",
     "description": "[Output-only, Beta] Training options used by this training run. These options are mutable for subsequent training runs. Default values are explicitly stored for options not specified in the input query of the first training run. For subsequent training runs, any option not explicitly specified in the input query will be copied from the previous training run.",
     "properties": {
      "earlyStop": {
       "type": "boolean"
      },
      "l1Reg": {
       "type": "number",
       "format": "double"
      },
      "l2Reg": {
       "type": "number",
       "format": "double"
      },
      "learnRate": {
       "type": "number",
       "format": "double"
      },
      "learnRateStrategy": {
       "type": "string"
      },
      "lineSearchInitLearnRate": {
       "type": "number",
       "format": "double"
      },
      "maxIteration": {
       "type": "string",
       "format": "int64"
      },
      "minRelProgress": {
       "type": "number",
       "format": "double"
      },
      "warmStart": {
       "type": "boolean"
      }
     }
    }
   }
  },
  "CloneDefinition": {
   "id": "CloneDefinition",
   "type": "object",
   "properties": {
    "baseTableReference": {
     "$ref": "TableReference",
     "description": "[Required] Reference describing the ID of the table that was cloned."
    },
    "cloneTime": {
     "type": "string",
     "description": "[Required] The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format.",
     "format": "date-time"
    }
   }
  },
  "Clustering": {
   "id": "Clustering",
   "type": "object",
   "properties": {
    "fields": {
     "type": "array",
     "description": "[Repeated] One or more fields on which data should be clustered. Only top-level, non-repeated, simple-type fields are supported. When you cluster a table using multiple columns, the order of columns you specify is important. The order of the specified columns determines the sort order of the data.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ConnectionProperty": {
   "id": "ConnectionProperty",
   "type": "object",
   "properties": {
    "key": {
     "type": "string",
     "description": "[Required] Name of the connection property to set."
    },
    "value": {
     "type": "string",
     "description": "[Required] Value of the connection property."
    }
   }
  },
  "CsvOptions": {
   "id": "CsvOptions",
   "type": "object",
   "properties": {
    "allowJaggedRows": {
     "type": "boolean",
     "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false."
    },
    "allowQuotedNewlines": {
     "type": "boolean",
     "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
    },
    "encoding": {
     "type": "string",
     "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
    },
    "fieldDelimiter": {
     "type": "string",
     "description": "[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
    },
    "nullMarker": {
     "type": "string",
     "description": "[Optional] An custom string that will represent a NULL value in CSV import data."
    },
    "preserveAsciiControlCharacters": {
     "type": "boolean",
     "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
    },
    "quote": {
     "type": "string",
     "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
     "default": "\"",
     "pattern": ".?"
    },
    "skipLeadingRows": {
     "type": "string",
     "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
     "format": "int64"
    }
   }
  },
  "DataMaskingStatistics": {
   "id": "DataMaskingStatistics",
   "type": "object",
   "properties": {
    "dataMaskingApplied": {
     "type": "boolean",
     "description": "[Output-only] [Preview] Whether any accessed data was protected by data masking. The actual evaluation is done by accessStats.masked_field_count > 0. Since this is only used for the discovery_doc generation purpose, as long as the type (boolean) matches, client library can leverage this. The actual evaluation of the variable is done else-where.",
     "default": "false"
    }
   }
  },
  "Dataset": {
   "id": "Dataset",
   "type": "object",
   "properties": {
    "access": {
     "type": "array",
     "description": "[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
     "items": {
      "type": "object",
      "properties": {
       "dataset": {
        "$ref": "DatasetAccessEntry",
        "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation."
       },
       "domain": {
        "type": "string",
        "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\"."
       },
       "groupByEmail": {
        "type": "string",
        "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\"."
       },
       "iamMember": {
        "type": "string",
        "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group."
       },
       "role": {
        "type": "string",
        "description": "[Required] An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER  roles/bigquery.dataOwner WRITER  roles/bigquery.dataEditor READER  roles/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles/bigquery.dataOwner\", it will be returned back as \"OWNER\"."
       },
       "routine": {
        "$ref": "RoutineReference",
        "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views/tables/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation."
       },
       "specialGroup": {
        "type": "string",
        "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members."
       },
       "userByEmail": {
        "type": "string",
        "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\"."
       },
       "view": {
        "$ref": "TableReference",
        "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to tables in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation."
       }
      }
     }
    },
    "creationTime": {
     "type": "string",
     "description": "[Output-only] The time when this dataset was created, in milliseconds since the epoch.",
     "format": "int64"
    },
    "datasetReference": {
     "$ref": "DatasetReference",
     "description": "[Required] A reference that identifies the dataset."
    },
    "defaultCollation": {
     "type": "string",
     "description": "[Output-only] The default collation of the dataset."
    },
    "defaultEncryptionConfiguration": {
     "$ref": "EncryptionConfiguration"
    },
    "defaultPartitionExpirationMs": {
     "type": "string",
     "description": "[Optional] The default partition expiration for all partitioned tables in the dataset, in milliseconds. Once this property is set, all newly-created partitioned tables in the dataset will have an expirationMs property in the timePartitioning settings set to this value, and changing the value will only affect new tables, not existing ones. The storage in a partition will have an expiration time of its partition time plus this value. Setting this property overrides the use of defaultTableExpirationMs for partitioned tables: only one of defaultTableExpirationMs and defaultPartitionExpirationMs will be used for any new partitioned table. If you provide an explicit timePartitioning.expirationMs when creating or updating a partitioned table, that value takes precedence over the default partition expiration time indicated by this property.",
     "format": "int64"
    },
    "defaultRoundingMode": {
     "type": "string",
     "description": "[Output-only] The default rounding mode of the dataset."
    },
    "defaultTableExpirationMs": {
     "type": "string",
     "description": "[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
     "format": "int64"
    },
    "description": {
     "type": "string",
     "description": "[Optional] A user-friendly description of the dataset."
    },
    "etag": {
     "type": "string",
     "description": "[Output-only] A hash of the resource."
    },
    "externalDatasetReference": {
     "$ref": "ExternalDatasetReference",
     "description": "[Optional] Information about the external metadata storage where the dataset is defined. Filled out when the dataset type is EXTERNAL."
    },
    "friendlyName": {
     "type": "string",
     "description": "[Optional] A descriptive name for the dataset."
    },
    "id": {
     "type": "string",
     "description": "[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field."
    },
    "isCaseInsensitive": {
     "type": "boolean",
     "description": "[Optional] Indicates if table names are case insensitive in the dataset."
    },
    "kind": {
     "type": "string",
     "description": "[Output-only] The resource type.",
     "default": "bigquery#dataset"
    },
    "labels": {
     "type": "object",
     "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "lastModifiedTime": {
     "type": "string",
     "description": "[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
     "format": "int64"
    },
    "location": {
     "type": "string",
     "description": "The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations."
    },
    "maxTimeTravelHours": {
     "type": "string",
     "description": "[Optional] Number of hours for the max time travel for all tables in the dataset.",
     "format": "int64"
    },
    "satisfiesPzs": {
     "type": "boolean",
     "description": "[Output-only] Reserved for future use."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource."
    },
    "storageBillingModel": {
     "type": "string",
     "description": "[Optional] Storage billing model to be used for all tables in the dataset. Can be set to PHYSICAL. Default is LOGICAL."
    },
    "tags": {
     "type": "array",
     "description": "[Optional]The tags associated with this dataset. Tag keys are globally unique.",
     "items": {
      "type": "object",
      "properties": {
       "tagKey": {
        "type": "string",
        "description": "[Required] The namespaced friendly name of the tag key, e.g. \"12345/environment\" where 12345 is org id."
       },
       "tagValue": {
        "type": "string",
        "description": "[Required] Friendly short name of the tag value, e.g. \"production\"."
       }
      }
     }
    }
   }
  },
  "DatasetAccessEntry": {
   "id": "DatasetAccessEntry",
   "type": "object",
   "properties": {
    "dataset": {
     "$ref": "DatasetReference",
     "description": "[Required] The dataset this entry applies to."
    },
    "targetTypes": {
     "type": "array",
     "items": {
      "type": "string",
      "enum": [
       "TARGET_TYPE_UNSPECIFIED",
       "VIEWS",
       "ROUTINES"
      ],
      "enumDescriptions": [
       "Do not use. You must set a target type explicitly.",
       "This entry applies to views in the dataset.",
       "This entry applies to routines in the dataset."
      ]
     }
    }
   }
  },
  "DatasetList": {
   "id": "DatasetList",
   "type": "object",
   "properties": {
    "datasets": {
     "type": "array",
     "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
     "items": {
      "type": "object",
      "properties": {
       "datasetReference": {
        "$ref": "DatasetReference",
        "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
       },
       "friendlyName": {
        "type": "string",
        "description": "A descriptive name for the dataset, if one exists."
       },
       "id": {
        "type": "string",
        "description": "The fully-qualified, unique, opaque ID of the dataset."
       },
       "kind": {
        "type": "string",
        "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
        "default": "bigquery#dataset"
       },
       "labels": {
        "type": "object",
        "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
        "additionalProperties": {
         "type": "string"
        }
       },
       "location": {
        "type": "string",
        "description": "The geographic location where the data resides."
       }
      }
     }
    },
    "etag": {
     "type": "string",
     "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request."
    },
    "kind": {
     "type": "string",
     "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
     "default": "bigquery#datasetList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token that can be used to request the next results page. This property is omitted on the final results page."
    }
   }
  },
  "DatasetReference": {
   "id": "DatasetReference",
   "type": "object",
   "properties": {
    "datasetId": {
     "type": "string",
     "description": "[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
     "annotations": {
      "required": [
       "bigquery.datasets.update"
      ]
     }
    },
    "projectId": {
     "type": "string",
     "description": "[Optional] The ID of the project containing this dataset.",
     "annotations": {
      "required": [
       "bigquery.datasets.update"
      ]
     }
    }
   }
  },
  "DestinationTableProperties": {
   "id": "DestinationTableProperties",
   "type": "object",
   "properties": {
    "description": {
     "type": "string",
     "description": "[Optional] The description for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current description is provided, the job will fail."
    },
    "expirationTime": {
     "type": "string",
     "description": "[Internal] This field is for Google internal use only.",
     "format": "date-time"
    },
    "friendlyName": {
     "type": "string",
     "description": "[Optional] The friendly name for the destination table. This will only be used if the destination table is newly created. If the table already exists and a value different than the current friendly name is provided, the job will fail."
    },
    "labels": {
     "type": "object",
     "description": "[Optional] The labels associated with this table. You can use these to organize and group your tables. This will only be used if the destination table is newly created. If the table already exists and labels are different than the current labels are provided, the job will fail.",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "DmlStatistics": {
   "id": "DmlStatistics",
   "type": "object",
   "properties": {
    "deletedRowCount": {
     "type": "string",
     "description": "Number of deleted Rows. populated by DML DELETE, MERGE and TRUNCATE statements.",
     "format": "int64"
    },
    "insertedRowCount": {
     "type": "string",
     "description": "Number of inserted Rows. Populated by DML INSERT and MERGE statements.",
     "format": "int64"
    },
    "updatedRowCount": {
     "type": "string",
     "description": "Number of updated Rows. Populated by DML UPDATE and MERGE statements.",
     "format": "int64"
    }
   }
  },
  "EncryptionConfiguration": {
   "id": "EncryptionConfiguration",
   "type": "object",
   "properties": {
    "kmsKeyName": {
     "type": "string",
     "description": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key."
    }
   }
  },
  "ErrorProto": {
   "id": "ErrorProto",
   "type": "object",
   "properties": {
    "debugInfo": {
     "type": "string",
     "description": "Debugging information. This property is internal to Google and should not be used."
    },
    "location": {
     "type": "string",
     "description": "Specifies where the error occurred, if present."
    },
    "message": {
     "type": "string",
     "description": "A human-readable description of the error."
    },
    "reason": {
     "type": "string",
     "description": "A short error code that summarizes the error."
    }
   }
  },
  "ExplainQueryStage": {
   "id": "ExplainQueryStage",
   "type": "object",
   "properties": {
    "completedParallelInputs": {
     "type": "string",
     "description": "Number of parallel input segments completed.",
     "format": "int64"
    },
    "computeMsAvg": {
     "type": "string",
     "description": "Milliseconds the average shard spent on CPU-bound tasks.",
     "format": "int64"
    },
    "computeMsMax": {
     "type": "string",
     "description": "Milliseconds the slowest shard spent on CPU-bound tasks.",
     "format": "int64"
    },
    "computeRatioAvg": {
     "type": "number",
     "description": "Relative amount of time the average shard spent on CPU-bound tasks.",
     "format": "double"
    },
    "computeRatioMax": {
     "type": "number",
     "description": "Relative amount of time the slowest shard spent on CPU-bound tasks.",
     "format": "double"
    },
    "endMs": {
     "type": "string",
     "description": "Stage end time represented as milliseconds since epoch.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "Unique ID for stage within plan.",
     "format": "int64"
    },
    "inputStages": {
     "type": "array",
     "description": "IDs for stages that are inputs to this stage.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "name": {
     "type": "string",
     "description": "Human-readable name for stage."
    },
    "parallelInputs": {
     "type": "string",
     "description": "Number of parallel input segments to be processed.",
     "format": "int64"
    },
    "readMsAvg": {
     "type": "string",
     "description": "Milliseconds the average shard spent reading input.",
     "format": "int64"
    },
    "readMsMax": {
     "type": "string",
     "description": "Milliseconds the slowest shard spent reading input.",
     "format": "int64"
    },
    "readRatioAvg": {
     "type": "number",
     "description": "Relative amount of time the average shard spent reading input.",
     "format": "double"
    },
    "readRatioMax": {
     "type": "number",
     "description": "Relative amount of time the slowest shard spent reading input.",
     "format": "double"
    },
    "recordsRead": {
     "type": "string",
     "description": "Number of records read into the stage.",
     "format": "int64"
    },
    "recordsWritten": {
     "type": "string",
     "description": "Number of records written by the stage.",
     "format": "int64"
    },
    "shuffleOutputBytes": {
     "type": "string",
     "description": "Total number of bytes written to shuffle.",
     "format": "int64"
    },
    "shuffleOutputBytesSpilled": {
     "type": "string",
     "description": "Total number of bytes written to shuffle and spilled to disk.",
     "format": "int64"
    },
    "slotMs": {
     "type": "string",
     "description": "Slot-milliseconds used by the stage.",
     "format": "int64"
    },
    "startMs": {
     "type": "string",
     "description": "Stage start time represented as milliseconds since epoch.",
     "format": "int64"
    },
    "status": {
     "type": "string",
     "description": "Current status for the stage."
    },
    "steps": {
     "type": "array",
     "description": "List of operations within the stage in dependency order (approximately chronological).",
     "items": {
      "$ref": "ExplainQueryStep"
     }
    },
    "waitMsAvg": {
     "type": "string",
     "description": "Milliseconds the average shard spent waiting to be scheduled.",
     "format": "int64"
    },
    "waitMsMax": {
     "type": "string",
     "description": "Milliseconds the slowest shard spent waiting to be scheduled.",
     "format": "int64"
    },
    "waitRatioAvg": {
     "type": "number",
     "description": "Relative amount of time the average shard spent waiting to be scheduled.",
     "format": "double"
    },
    "waitRatioMax": {
     "type": "number",
     "description": "Relative amount of time the slowest shard spent waiting to be scheduled.",
     "format": "double"
    },
    "writeMsAvg": {
     "type": "string",
     "description": "Milliseconds the average shard spent on writing output.",
     "format": "int64"
    },
    "writeMsMax": {
     "type": "string",
     "description": "Milliseconds the slowest shard spent on writing output.",
     "format": "int64"
    },
    "writeRatioAvg": {
     "type": "number",
     "description": "Relative amount of time the average shard spent on writing output.",
     "format": "double"
    },
    "writeRatioMax": {
     "type": "number",
     "description": "Relative amount of time the slowest shard spent on writing output.",
     "format": "double"
    }
   }
  },
  "ExplainQueryStep": {
   "id": "ExplainQueryStep",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Machine-readable operation type."
    },
    "substeps": {
     "type": "array",
     "description": "Human-readable stage descriptions.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ExternalDataConfiguration": {
   "id": "ExternalDataConfiguration",
   "type": "object",
   "properties": {
    "autodetect": {
     "type": "boolean",
     "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored."
    },
    "avroOptions": {
     "$ref": "AvroOptions",
     "description": "Additional properties to set if sourceFormat is set to Avro."
    },
    "bigtableOptions": {
     "$ref": "BigtableOptions",
     "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE."
    },
    "compression": {
     "type": "string",
     "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats."
    },
    "connectionId": {
     "type": "string",
     "description": "[Optional, Trusted Tester] Connection for external data source."
    },
    "csvOptions": {
     "$ref": "CsvOptions",
     "description": "Additional properties to set if sourceFormat is set to CSV."
    },
    "decimalTargetTypes": {
     "type": "array",
     "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -> NUMERIC; (39,9) -> BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -> BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -> BIGNUMERIC; (77,38) -> BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats.",
     "items": {
      "type": "string"
     }
    },
    "fileSetSpecType": {
     "type": "string",
     "description": "[Optional] Specifies how source URIs are interpreted for constructing the file set to load. By default source URIs are expanded against the underlying storage. Other options include specifying manifest files. Only applicable to object storage systems."
    },
    "googleSheetsOptions": {
     "$ref": "GoogleSheetsOptions",
     "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS."
    },
    "hivePartitioningOptions": {
     "$ref": "HivePartitioningOptions",
     "description": "[Optional] Options to configure hive partitioning support."
    },
    "ignoreUnknownValues": {
     "type": "boolean",
     "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored."
    },
    "jsonOptions": {
     "$ref": "JsonOptions",
     "description": "Additional properties to set if `sourceFormat` is set to `NEWLINE_DELIMITED_JSON`."
    },
    "maxBadRecords": {
     "type": "integer",
     "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV, JSON, and Google Sheets. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.",
     "format": "int32"
    },
    "metadataCacheMode": {
     "type": "string",
     "description": "[Optional] Metadata Cache Mode for the table. Set this to enable caching of metadata from external data source."
    },
    "objectMetadata": {
     "type": "string",
     "description": "ObjectMetadata is used to create Object Tables. Object Tables contain a listing of objects (with their metadata) found at the source_uris. If ObjectMetadata is set, source_format should be omitted. Currently SIMPLE is the only supported Object Metadata type."
    },
    "parquetOptions": {
     "$ref": "ParquetOptions",
     "description": "Additional properties to set if sourceFormat is set to Parquet."
    },
    "referenceFileSchemaUri": {
     "type": "string",
     "description": "[Optional] Provide a referencing file with the expected table schema. Enabled for the format: AVRO, PARQUET, ORC."
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats."
    },
    "sourceFormat": {
     "type": "string",
     "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\"."
    },
    "sourceUris": {
     "type": "array",
     "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ExternalDatasetReference": {
   "id": "ExternalDatasetReference",
   "type": "object",
   "properties": {
    "connection": {
     "type": "string",
     "description": "[Required] The connection id that is used to access the external_source. Format: projects/{project_id}/locations/{location_id}/connections/{connection_id}"
    },
    "externalSource": {
     "type": "string",
     "description": "[Required] External source that backs this dataset."
    }
   }
  },
  "GetQueryResultsResponse": {
   "id": "GetQueryResultsResponse",
   "type": "object",
   "properties": {
    "cacheHit": {
     "type": "boolean",
     "description": "Whether the query result was fetched from the query cache."
    },
    "errors": {
     "type": "array",
     "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
     "items": {
      "$ref": "ErrorProto"
     }
    },
    "etag": {
     "type": "string",
     "description": "A hash of this response."
    },
    "jobComplete": {
     "type": "boolean",
     "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
    },
    "jobReference": {
     "$ref": "JobReference",
     "description": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
    },
    "kind": {
     "type": "string",
     "description": "The resource type of the response.",
     "default": "bigquery#getQueryResultsResponse"
    },
    "numDmlAffectedRows": {
     "type": "string",
     "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
     "format": "int64"
    },
    "pageToken": {
     "type": "string",
     "description": "A token used for paging results."
    },
    "rows": {
     "type": "array",
     "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.",
     "items": {
      "$ref": "TableRow"
     }
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "The schema of the results. Present only when the query completes successfully."
    },
    "totalBytesProcessed": {
     "type": "string",
     "description": "The total number of bytes processed for this query.",
     "format": "int64"
    },
    "totalRows": {
     "type": "string",
     "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.",
     "format": "uint64"
    }
   }
  },
  "GetServiceAccountResponse": {
   "id": "GetServiceAccountResponse",
   "type": "object",
   "properties": {
    "email": {
     "type": "string",
     "description": "The service account email address."
    },
    "kind": {
     "type": "string",
     "description": "The resource type of the response.",
     "default": "bigquery#getServiceAccountResponse"
    }
   }
  },
  "GoogleSheetsOptions": {
   "id": "GoogleSheetsOptions",
   "type": "object",
   "properties": {
    "range": {
     "type": "string",
     "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20"
    },
    "skipLeadingRows": {
     "type": "string",
     "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
     "format": "int64"
    }
   }
  },
  "HivePartitioningOptions": {
   "id": "HivePartitioningOptions",
   "type": "object",
   "properties": {
    "fields": {
     "type": "array",
     "description": "[Output-only] For permanent external tables, this field is populated with the hive partition keys in the order they were inferred. The types of the partition keys can be deduced by checking the table schema (which will include the partition keys). Not every API will populate this field in the output. For example, Tables.Get will populate it, but Tables.List will not contain this field.",
     "items": {
      "type": "string"
     }
    },
    "mode": {
     "type": "string",
     "description": "[Optional] When set, what mode of hive partitioning to use when reading data. The following modes are supported. (1) AUTO: automatically infer partition key name(s) and type(s). (2) STRINGS: automatically infer partition key name(s). All types are interpreted as strings. (3) CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported types include: AVRO, CSV, JSON, ORC and Parquet."
    },
    "requirePartitionFilter": {
     "type": "boolean",
     "description": "[Optional] If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with requirePartitionFilter explicitly set to true will fail."
    },
    "sourceUriPrefix": {
     "type": "string",
     "description": "[Optional] When hive partition detection is requested, a common prefix for all source uris should be supplied. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout. gs://bucket/path_to_table/dt=2019-01-01/country=BR/id=7/file.avro gs://bucket/path_to_table/dt=2018-12-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/ (trailing slash does not matter)."
    }
   }
  },
  "IndexUnusedReason": {
   "id": "IndexUnusedReason",
   "type": "object",
   "properties": {
    "baseTable": {
     "$ref": "TableReference",
     "description": "[Output-only] Specifies the base table involved in the reason that no search index was used."
    },
    "code": {
     "type": "string",
     "description": "[Output-only] Specifies the high-level reason for the scenario when no search index was used.",
     "default": "$(reason.code)"
    },
    "indexName": {
     "type": "string",
     "description": "[Output-only] Specifies the name of the unused search index, if available.",
     "default": "$(reason.index_name)"
    },
    "message": {
     "type": "string",
     "description": "[Output-only] Free form human-readable reason for the scenario when no search index was used.",
     "default": "$(reason.message)"
    }
   }
  },
  "IterationResult": {
   "id": "IterationResult",
   "type": "object",
   "properties": {
    "durationMs": {
     "type": "string",
     "description": "Time taken to run the iteration in milliseconds.",
     "format": "int64"
    },
    "evalLoss": {
     "type": "number",
     "description": "Loss computed on the eval data at the end of iteration.",
     "format": "double"
    },
    "index": {
     "type": "integer",
     "description": "Index of the iteration, 0 based.",
     "format": "int32"
    },
    "learnRate": {
     "type": "number",
     "description": "Learn rate used for this iteration.",
     "format": "double"
    },
    "trainingLoss": {
     "type": "number",
     "description": "Loss computed on the training data at the end of iteration.",
     "format": "double"
    }
   }
  },
  "Job": {
   "id": "Job",
   "type": "object",
   "properties": {
    "configuration": {
     "$ref": "JobConfiguration",
     "description": "[Required] Describes the job configuration."
    },
    "etag": {
     "type": "string",
     "description": "[Output-only] A hash of this resource."
    },
    "id": {
     "type": "string",
     "description": "[Output-only] Opaque ID field of the job"
    },
    "jobCreationReason": {
     "type": "any",
     "description": "[Output-only] If set, it provides the reason why a Job was created. If not set, it should be treated as the default: REQUESTED. This feature is not yet available. Jobs will always be created."
    },
    "jobReference": {
     "$ref": "JobReference",
     "description": "[Optional] Reference describing the unique-per-user name of the job."
    },
    "kind": {
     "type": "string",
     "description": "[Output-only] The type of the resource.",
     "default": "bigquery#job"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output-only] A URL that can be used to access this resource again."
    },
    "statistics": {
     "$ref": "JobStatistics",
     "description": "[Output-only] Information about the job, including starting time and ending time of the job."
    },
    "status": {
     "$ref": "JobStatus",
     "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete."
    },
    "user_email": {
     "type": "string",
     "description": "[Output-only] Email address of the user who ran the job."
    }
   }
  },
  "JobCancelResponse": {
   "id": "JobCancelResponse",
   "type": "object",
   "properties": {
    "job": {
     "$ref": "Job",
     "description": "The final state of the job."
    },
    "kind": {
     "type": "string",
     "description": "The resource type of the response.",
     "default": "bigquery#jobCancelResponse"
    }
   }
  },
  "JobConfiguration": {
   "id": "JobConfiguration",
   "type": "object",
   "properties": {
    "copy": {
     "$ref": "JobConfigurationTableCopy",
     "description": "[Pick one] Copies a table."
    },
    "dryRun": {
     "type": "boolean",
     "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined."
    },
    "extract": {
     "$ref": "JobConfigurationExtract",
     "description": "[Pick one] Configures an extract job."
    },
    "jobTimeoutMs": {
     "type": "string",
     "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
     "format": "int64"
    },
    "jobType": {
     "type": "string",
     "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN."
    },
    "labels": {
     "type": "object",
     "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "load": {
     "$ref": "JobConfigurationLoad",
     "description": "[Pick one] Configures a load job."
    },
    "query": {
     "$ref": "JobConfigurationQuery",
     "description": "[Pick one] Configures a query job."
    }
   }
  },
  "JobConfigurationExtract": {
   "id": "JobConfigurationExtract",
   "type": "object",
   "properties": {
    "compression": {
     "type": "string",
     "description": "[Optional] The compression type to use for exported files. Possible values include GZIP, DEFLATE, SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported for Avro. Not applicable when extracting models."
    },
    "destinationFormat": {
     "type": "string",
     "description": "[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON, PARQUET or AVRO for tables and ML_TF_SAVED_MODEL or ML_XGBOOST_BOOSTER for models. The default value for tables is CSV. Tables with nested or repeated fields cannot be exported as CSV. The default value for models is ML_TF_SAVED_MODEL."
    },
    "destinationUri": {
     "type": "string",
     "description": "[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written."
    },
    "destinationUris": {
     "type": "array",
     "description": "[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.",
     "items": {
      "type": "string"
     }
    },
    "fieldDelimiter": {
     "type": "string",
     "description": "[Optional] Delimiter to use between fields in the exported data. Default is ','. Not applicable when extracting models."
    },
    "printHeader": {
     "type": "boolean",
     "description": "[Optional] Whether to print out a header row in the results. Default is true. Not applicable when extracting models.",
     "default": "true"
    },
    "sourceModel": {
     "$ref": "ModelReference",
     "description": "A reference to the model being exported."
    },
    "sourceTable": {
     "$ref": "TableReference",
     "description": "A reference to the table being exported."
    },
    "useAvroLogicalTypes": {
     "type": "boolean",
     "description": "[Optional] If destinationFormat is set to \"AVRO\", this flag indicates whether to enable extracting applicable column types (such as TIMESTAMP) to their corresponding AVRO logical types (timestamp-micros), instead of only using their raw types (avro-long). Not applicable when extracting models."
    }
   }
  },
  "JobConfigurationLoad": {
   "id": "JobConfigurationLoad",
   "type": "object",
   "properties": {
    "allowJaggedRows": {
     "type": "boolean",
     "description": "[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats."
    },
    "allowQuotedNewlines": {
     "type": "boolean",
     "description": "Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
    },
    "autodetect": {
     "type": "boolean",
     "description": "[Optional] Indicates if we should automatically infer the options and schema for CSV and JSON sources."
    },
    "clustering": {
     "$ref": "Clustering",
     "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
    },
    "connectionProperties": {
     "type": "array",
     "description": "Connection properties.",
     "items": {
      "$ref": "ConnectionProperty"
     }
    },
    "createDisposition": {
     "type": "string",
     "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
    },
    "createSession": {
     "type": "boolean",
     "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs the load job in non-session mode."
    },
    "decimalTargetTypes": {
     "type": "array",
     "description": "[Optional] Defines the list of possible SQL data types to which the source decimal values are converted. This list and the precision and the scale parameters of the decimal field determine the target type. In the order of NUMERIC, BIGNUMERIC, and STRING, a type is picked if it is in the specified list and if it supports the precision and the scale. STRING supports all precision and scale values. If none of the listed types supports the precision and the scale, the type supporting the widest range in the specified list is picked, and if a value exceeds the supported range when reading the data, an error will be thrown. Example: Suppose the value of this field is [\"NUMERIC\", \"BIGNUMERIC\"]. If (precision,scale) is: (38,9) -> NUMERIC; (39,9) -> BIGNUMERIC (NUMERIC cannot hold 30 integer digits); (38,10) -> BIGNUMERIC (NUMERIC cannot hold 10 fractional digits); (76,38) -> BIGNUMERIC; (77,38) -> BIGNUMERIC (error if value exeeds supported range). This field cannot contain duplicate types. The order of the types in this field is ignored. For example, [\"BIGNUMERIC\", \"NUMERIC\"] is the same as [\"NUMERIC\", \"BIGNUMERIC\"] and NUMERIC always takes precedence over BIGNUMERIC. Defaults to [\"NUMERIC\", \"STRING\"] for ORC and [\"NUMERIC\"] for the other file formats.",
     "items": {
      "type": "string"
     }
    },
    "destinationEncryptionConfiguration": {
     "$ref": "EncryptionConfiguration",
     "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
    },
    "destinationTable": {
     "$ref": "TableReference",
     "description": "[Required] The destination table to load the data into."
    },
    "destinationTableProperties": {
     "$ref": "DestinationTableProperties",
     "description": "[Beta] [Optional] Properties with which to create the destination table if it is new."
    },
    "encoding": {
     "type": "string",
     "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
    },
    "fieldDelimiter": {
     "type": "string",
     "description": "[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify a tab separator. The default value is a comma (',')."
    },
    "fileSetSpecType": {
     "type": "string",
     "description": "[Optional] Specifies how source URIs are interpreted for constructing the file set to load. By default source URIs are expanded against the underlying storage. Other options include specifying manifest files. Only applicable to object storage systems."
    },
    "hivePartitioningOptions": {
     "$ref": "HivePartitioningOptions",
     "description": "[Optional] Options to configure hive partitioning support."
    },
    "ignoreUnknownValues": {
     "type": "boolean",
     "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names"
    },
    "jsonExtension": {
     "type": "string",
     "description": "[Optional] If sourceFormat is set to newline-delimited JSON, indicates whether it should be processed as a JSON variant such as GeoJSON. For a sourceFormat other than JSON, omit this field. If the sourceFormat is newline-delimited JSON: - for newline-delimited GeoJSON: set to GEOJSON."
    },
    "maxBadRecords": {
     "type": "integer",
     "description": "[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. This is only valid for CSV and JSON. The default value is 0, which requires that all records are valid.",
     "format": "int32"
    },
    "nullMarker": {
     "type": "string",
     "description": "[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value."
    },
    "parquetOptions": {
     "$ref": "ParquetOptions",
     "description": "[Optional] Options to configure parquet support."
    },
    "preserveAsciiControlCharacters": {
     "type": "boolean",
     "description": "[Optional] Preserves the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') when loading from CSV. Only applicable to CSV, ignored for other formats."
    },
    "projectionFields": {
     "type": "array",
     "description": "If sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn't found in the Cloud Datastore backup, an invalid error is returned in the job result.",
     "items": {
      "type": "string"
     }
    },
    "quote": {
     "type": "string",
     "description": "[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote ('\"'). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.",
     "default": "\"",
     "pattern": ".?"
    },
    "rangePartitioning": {
     "$ref": "RangePartitioning",
     "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
    },
    "referenceFileSchemaUri": {
     "type": "string",
     "description": "User provided referencing file with the expected reader schema, Available for the format: AVRO, PARQUET, ORC."
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "[Optional] The schema for the destination table. The schema can be omitted if the destination table already exists, or if you're loading data from Google Cloud Datastore."
    },
    "schemaInline": {
     "type": "string",
     "description": "[Deprecated] The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\". For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\"."
    },
    "schemaInlineFormat": {
     "type": "string",
     "description": "[Deprecated] The format of the schemaInline property."
    },
    "schemaUpdateOptions": {
     "type": "array",
     "description": "Allows the schema of the destination table to be updated as a side effect of the load job if a schema is autodetected or supplied in the job configuration. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
     "items": {
      "type": "string"
     }
    },
    "skipLeadingRows": {
     "type": "integer",
     "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.",
     "format": "int32"
    },
    "sourceFormat": {
     "type": "string",
     "description": "[Optional] The format of the data files. For CSV files, specify \"CSV\". For datastore backups, specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\". The default value is CSV."
    },
    "sourceUris": {
     "type": "array",
     "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
     "items": {
      "type": "string"
     }
    },
    "timePartitioning": {
     "$ref": "TimePartitioning",
     "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
    },
    "useAvroLogicalTypes": {
     "type": "boolean",
     "description": "[Optional] If sourceFormat is set to \"AVRO\", indicates whether to interpret logical types as the corresponding BigQuery data type (for example, TIMESTAMP), instead of using the raw type (for example, INTEGER)."
    },
    "writeDisposition": {
     "type": "string",
     "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
    }
   }
  },
  "JobConfigurationQuery": {
   "id": "JobConfigurationQuery",
   "type": "object",
   "properties": {
    "allowLargeResults": {
     "type": "boolean",
     "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
     "default": "false"
    },
    "clustering": {
     "$ref": "Clustering",
     "description": "[Beta] Clustering specification for the destination table. Must be specified with time-based partitioning, data in the table will be first partitioned and subsequently clustered."
    },
    "connectionProperties": {
     "type": "array",
     "description": "Connection properties.",
     "items": {
      "$ref": "ConnectionProperty"
     }
    },
    "continuous": {
     "type": "boolean",
     "description": "[Optional] Specifies whether the query should be executed as a continuous query. The default value is false."
    },
    "createDisposition": {
     "type": "string",
     "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
    },
    "createSession": {
     "type": "boolean",
     "description": "If true, creates a new session, where session id will be a server generated random id. If false, runs query with an existing session_id passed in ConnectionProperty, otherwise runs query in non-session mode."
    },
    "defaultDataset": {
     "$ref": "DatasetReference",
     "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names."
    },
    "destinationEncryptionConfiguration": {
     "$ref": "EncryptionConfiguration",
     "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
    },
    "destinationTable": {
     "$ref": "TableReference",
     "description": "[Optional] Describes the table where the query results should be stored. If not present, a new table will be created to store the results. This property must be set for large results that exceed the maximum response size."
    },
    "flattenResults": {
     "type": "boolean",
     "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
     "default": "true"
    },
    "maximumBillingTier": {
     "type": "integer",
     "description": "[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.",
     "default": "1",
     "format": "int32"
    },
    "maximumBytesBilled": {
     "type": "string",
     "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
     "format": "int64"
    },
    "parameterMode": {
     "type": "string",
     "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query."
    },
    "preserveNulls": {
     "type": "boolean",
     "description": "[Deprecated] This property is deprecated."
    },
    "priority": {
     "type": "string",
     "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE."
    },
    "query": {
     "type": "string",
     "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL."
    },
    "queryParameters": {
     "type": "array",
     "description": "Query parameters for standard SQL queries.",
     "items": {
      "$ref": "QueryParameter"
     }
    },
    "rangePartitioning": {
     "$ref": "RangePartitioning",
     "description": "[TrustedTester] Range partitioning specification for this table. Only one of timePartitioning and rangePartitioning should be specified."
    },
    "schemaUpdateOptions": {
     "type": "array",
     "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
     "items": {
      "type": "string"
     }
    },
    "tableDefinitions": {
     "type": "object",
     "description": "[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.",
     "additionalProperties": {
      "$ref": "ExternalDataConfiguration"
     }
    },
    "timePartitioning": {
     "$ref": "TimePartitioning",
     "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified."
    },
    "useLegacySql": {
     "type": "boolean",
     "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
     "default": "true"
    },
    "useQueryCache": {
     "type": "boolean",
     "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
     "default": "true"
    },
    "userDefinedFunctionResources": {
     "type": "array",
     "description": "Describes user-defined function resources used in the query.",
     "items": {
      "$ref": "UserDefinedFunctionResource"
     }
    },
    "writeDisposition": {
     "type": "string",
     "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
    }
   }
  },
  "JobConfigurationTableCopy": {
   "id": "JobConfigurationTableCopy",
   "type": "object",
   "properties": {
    "createDisposition": {
     "type": "string",
     "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
    },
    "destinationEncryptionConfiguration": {
     "$ref": "EncryptionConfiguration",
     "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
    },
    "destinationExpirationTime": {
     "type": "any",
     "description": "[Optional] The time when the destination table expires. Expired tables will be deleted and their storage reclaimed."
    },
    "destinationTable": {
     "$ref": "TableReference",
     "description": "[Required] The destination table"
    },
    "operationType": {
     "type": "string",
     "description": "[Optional] Supported operation types in table copy job."
    },
    "sourceTable": {
     "$ref": "TableReference",
     "description": "[Pick one] Source table to copy."
    },
    "sourceTables": {
     "type": "array",
     "description": "[Pick one] Source tables to copy.",
     "items": {
      "$ref": "TableReference"
     }
    },
    "writeDisposition": {
     "type": "string",
     "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
    }
   }
  },
  "JobList": {
   "id": "JobList",
   "type": "object",
   "properties": {
    "etag": {
     "type": "string",
     "description": "A hash of this page of results."
    },
    "jobs": {
     "type": "array",
     "description": "List of jobs that were requested.",
     "items": {
      "type": "object",
      "properties": {
       "configuration": {
        "$ref": "JobConfiguration",
        "description": "[Full-projection-only] Specifies the job configuration."
       },
       "errorResult": {
        "$ref": "ErrorProto",
        "description": "A result object that will be present only if the job has failed."
       },
       "id": {
        "type": "string",
        "description": "Unique opaque ID of the job."
       },
       "jobReference": {
        "$ref": "JobReference",
        "description": "Job reference uniquely identifying the job."
       },
       "kind": {
        "type": "string",
        "description": "The resource type.",
        "default": "bigquery#job"
       },
       "state": {
        "type": "string",
        "description": "Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed."
       },
       "statistics": {
        "$ref": "JobStatistics",
        "description": "[Output-only] Information about the job, including starting time and ending time of the job."
       },
       "status": {
        "$ref": "JobStatus",
        "description": "[Full-projection-only] Describes the state of the job."
       },
       "user_email": {
        "type": "string",
        "description": "[Full-projection-only] Email address of the user who ran the job."
       }
      }
     }
    },
    "kind": {
     "type": "string",
     "description": "The resource type of the response.",
     "default": "bigquery#jobList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "A token to request the next page of results."
    }
   }
  },
  "JobReference": {
   "id": "JobReference",
   "type": "object",
   "properties": {
    "jobId": {
     "type": "string",
     "description": "[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.",
     "annotations": {
      "required": [
       "bigquery.jobs.getQueryResults"
      ]
     }
    },
    "location": {
     "type": "string",
     "description": "The geographic location of the job. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
    },
    "projectId": {
     "type": "string",
     "description": "[Required] The ID of the project containing this job.",
     "annotations": {
      "required": [
       "bigquery.jobs.getQueryResults"
      ]
     }
    }
   }
  },
  "JobStatistics": {
   "id": "JobStatistics",
   "type": "object",
   "properties": {
    "completionRatio": {
     "type": "number",
     "description": "[TrustedTester] [Output-only] Job progress (0.0 -> 1.0) for LOAD and EXTRACT jobs.",
     "format": "double"
    },
    "copy": {
     "$ref": "JobStatistics5",
     "description": "[Output-only] Statistics for a copy job."
    },
    "creationTime": {
     "type": "string",
     "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.",
     "format": "int64"
    },
    "dataMaskingStatistics": {
     "$ref": "DataMaskingStatistics",
     "description": "[Output-only] Statistics for data masking. Present only for query and extract jobs."
    },
    "endTime": {
     "type": "string",
     "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
     "format": "int64"
    },
    "extract": {
     "$ref": "JobStatistics4",
     "description": "[Output-only] Statistics for an extract job."
    },
    "load": {
     "$ref": "JobStatistics3",
     "description": "[Output-only] Statistics for a load job."
    },
    "numChildJobs": {
     "type": "string",
     "description": "[Output-only] Number of child jobs executed.",
     "format": "int64"
    },
    "parentJobId": {
     "type": "string",
     "description": "[Output-only] If this is a child job, the id of the parent."
    },
    "query": {
     "$ref": "JobStatistics2",
     "description": "[Output-only] Statistics for a query job."
    },
    "quotaDeferments": {
     "type": "array",
     "description": "[Output-only] Quotas which delayed this job's start time.",
     "items": {
      "type": "string"
     }
    },
    "reservationUsage": {
     "type": "array",
     "description": "[Output-only] Job resource usage breakdown by reservation.",
     "items": {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage."
       },
       "slotMs": {
        "type": "string",
        "description": "[Output-only] Slot-milliseconds the job spent in the given reservation.",
        "format": "int64"
       }
      }
     }
    },
    "reservation_id": {
     "type": "string",
     "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
    },
    "rowLevelSecurityStatistics": {
     "$ref": "RowLevelSecurityStatistics",
     "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
    },
    "scriptStatistics": {
     "$ref": "ScriptStatistics",
     "description": "[Output-only] Statistics for a child job of a script."
    },
    "sessionInfo": {
     "$ref": "SessionInfo",
     "description": "[Output-only] [Preview] Information of the session if this job is part of one."
    },
    "startTime": {
     "type": "string",
     "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.",
     "format": "int64"
    },
    "totalBytesProcessed": {
     "type": "string",
     "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
     "format": "int64"
    },
    "totalSlotMs": {
     "type": "string",
     "description": "[Output-only] Slot-milliseconds for the job.",
     "format": "int64"
    },
    "transactionInfo": {
     "$ref": "TransactionInfo",
     "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one."
    }
   }
  },
  "JobStatistics2": {
   "id": "JobStatistics2",
   "type": "object",
   "properties": {
    "biEngineStatistics": {
     "$ref": "BiEngineStatistics",
     "description": "BI Engine specific Statistics. [Output only] BI Engine specific Statistics."
    },
    "billingTier": {
     "type": "integer",
     "description": "[Output only] Billing tier for the job.",
     "format": "int32"
    },
    "cacheHit": {
     "type": "boolean",
     "description": "[Output only] Whether the query result was fetched from the query cache."
    },
    "ddlAffectedRowAccessPolicyCount": {
     "type": "string",
     "description": "[Output only] [Preview] The number of row access policies affected by a DDL statement. Present only for DROP ALL ROW ACCESS POLICIES queries.",
     "format": "int64"
    },
    "ddlDestinationTable": {
     "$ref": "TableReference",
     "description": "[Output only] The DDL destination table. Present only for ALTER TABLE RENAME TO queries. Note that ddl_target_table is used just for its type information."
    },
    "ddlOperationPerformed": {
     "type": "string",
     "description": "The DDL operation performed, possibly dependent on the pre-existence of the DDL target. Possible values (new values might be added in the future): \"CREATE\": The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target. Example case: the query is CREATE OR REPLACE TABLE, and the table already exists. \"DROP\": The query deleted the DDL target."
    },
    "ddlTargetDataset": {
     "$ref": "DatasetReference",
     "description": "[Output only] The DDL target dataset. Present only for CREATE/ALTER/DROP/UNDROP SCHEMA queries."
    },
    "ddlTargetRoutine": {
     "$ref": "RoutineReference",
     "description": "The DDL target routine. Present only for CREATE/DROP FUNCTION/PROCEDURE queries."
    },
    "ddlTargetRowAccessPolicy": {
     "$ref": "RowAccessPolicyReference",
     "description": "[Output only] [Preview] The DDL target row access policy. Present only for CREATE/DROP ROW ACCESS POLICY queries."
    },
    "ddlTargetTable": {
     "$ref": "TableReference",
     "description": "[Output only] The DDL target table. Present only for CREATE/DROP TABLE/VIEW and DROP ALL ROW ACCESS POLICIES queries."
    },
    "dmlStats": {
     "$ref": "DmlStatistics",
     "description": "[Output only] Detailed statistics for DML statements Present only for DML statements INSERT, UPDATE, DELETE or TRUNCATE."
    },
    "estimatedBytesProcessed": {
     "type": "string",
     "description": "[Output only] The original estimate of bytes processed for the job.",
     "format": "int64"
    },
    "mlStatistics": {
     "$ref": "MlStatistics",
     "description": "[Output only] Statistics of a BigQuery ML training job."
    },
    "modelTraining": {
     "$ref": "BigQueryModelTraining",
     "description": "[Output only, Beta] Information about create model query job progress."
    },
    "modelTrainingCurrentIteration": {
     "type": "integer",
     "description": "[Output only, Beta] Deprecated; do not use.",
     "format": "int32"
    },
    "modelTrainingExpectedTotalIteration": {
     "type": "string",
     "description": "[Output only, Beta] Deprecated; do not use.",
     "format": "int64"
    },
    "numDmlAffectedRows": {
     "type": "string",
     "description": "[Output only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.",
     "format": "int64"
    },
    "queryPlan": {
     "type": "array",
     "description": "[Output only] Describes execution plan for the query.",
     "items": {
      "$ref": "ExplainQueryStage"
     }
    },
    "referencedRoutines": {
     "type": "array",
     "description": "[Output only] Referenced routines (persistent user-defined functions and stored procedures) for the job.",
     "items": {
      "$ref": "RoutineReference"
     }
    },
    "referencedTables": {
     "type": "array",
     "description": "[Output only] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.",
     "items": {
      "$ref": "TableReference"
     }
    },
    "reservationUsage": {
     "type": "array",
     "description": "[Output only] Job resource usage breakdown by reservation.",
     "items": {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "description": "[Output only] Reservation name or \"unreserved\" for on-demand resources usage."
       },
       "slotMs": {
        "type": "string",
        "description": "[Output only] Slot-milliseconds the job spent in the given reservation.",
        "format": "int64"
       }
      }
     }
    },
    "schema": {
     "$ref": "TableSchema",
     "description": "[Output only] The schema of the results. Present only for successful dry run of non-legacy SQL queries."
    },
    "searchStatistics": {
     "$ref": "SearchStatistics",
     "description": "[Output only] Search query specific statistics."
    },
    "sparkStatistics": {
     "$ref": "SparkStatistics",
     "description": "[Output only] Statistics of a Spark procedure job."
    },
    "statementType": {
     "type": "string",
     "description": "The type of query statement, if valid. Possible values (new values might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"MERGE\": MERGE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language. \"ALTER_TABLE\": ALTER TABLE query. \"ALTER_VIEW\": ALTER VIEW query. \"ASSERT\": ASSERT condition AS 'description'. \"CREATE_FUNCTION\": CREATE FUNCTION query. \"CREATE_MODEL\": CREATE [OR REPLACE] MODEL ... AS SELECT ... . \"CREATE_PROCEDURE\": CREATE PROCEDURE query. \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\": CREATE [OR REPLACE] TABLE ... AS SELECT ... . \"CREATE_VIEW\": CREATE [OR REPLACE] VIEW ... AS SELECT ... . \"DROP_FUNCTION\" : DROP FUNCTION query. \"DROP_PROCEDURE\": DROP PROCEDURE query. \"DROP_TABLE\": DROP TABLE query. \"DROP_VIEW\": DROP VIEW query."
    },
    "timeline": {
     "type": "array",
     "description": "[Output only] [Beta] Describes a timeline of job execution.",
     "items": {
      "$ref": "QueryTimelineSample"
     }
[...]
