{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "bigquery:v2",
  "name": "bigquery",
  "canonicalName": "Bigquery",
  "version": "v2",
  "revision": "20231213",
  "title": "BigQuery API",
  "description": "A data platform for customers to create, manage, share and query data.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/bigquery/",
  "protocol": "rest",
  "rootUrl": "https://bigquery.googleapis.com/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://bigquery.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type.",
          "default": "bigquery#dataset",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "readOnly": true,
          "type": "string"
        },
        "datasetReference": {
          "description": "Required. A reference that identifies the dataset.",
          "$ref": "DatasetReference"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for the dataset.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A user-friendly description of the dataset.",
          "type": "string"
        },
        "defaultTableExpirationMs": {
          "description": "Optional. The default lifetime of all tables in the dataset, in milliseconds. The minimum lifetime value is 3600000 milliseconds (one hour). To clear an existing default expiration with a PATCH request, set to 0. Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "type": "string",
          "format": "int64"
        },
        "defaultPartitionExpirationMs": {
          "description": "This default partition expiration, expressed in milliseconds. When new time-partitioned tables are created in a dataset where this property is set, the table will inherit this value, propagated as the `TimePartitioning.expirationMs` property on the new table. If you set `TimePartitioning.expirationMs` explicitly when creating a table, the `defaultPartitionExpirationMs` of the containing dataset is ignored. When creating a partitioned table, if `defaultPartitionExpirationMs` is set, the `defaultTableExpirationMs` value is ignored and the table will not be inherit a table expiration deadline.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "access": {
          "description": "Optional. An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array",
          "items": {
            "description": "An object that defines dataset access for an entity.",
            "type": "object",
            "properties": {
              "role": {
                "description": "An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER <=> roles\/bigquery.dataOwner WRITER <=> roles\/bigquery.dataEditor READER <=> roles\/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles\/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\".",
                "type": "string"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members.",
                "type": "string"
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to views\/tables\/routines in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "routine": {
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views\/tables\/routines in this dataset. Only UDF is supported for now. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation.",
                "$ref": "RoutineReference"
              },
              "dataset": {
                "description": "[Pick one] A grant authorizing all resources of a particular type in a particular dataset access to this dataset. Only views are supported for now. The role field is not required when this field is set. If that dataset is deleted and re-created, its access needs to be granted again via an update operation.",
                "$ref": "DatasetAccessEntry"
              }
            }
          }
        },
        "creationTime": {
          "description": "Output only. The time when this dataset was created, in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The date when this dataset was last modified, in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. See https:\/\/cloud.google.com\/bigquery\/docs\/locations for supported locations.",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "description": "The default encryption key for all tables in the dataset. Once this property is set, all newly-created partitioned tables in the dataset will have encryption key set to this value, unless table creation request (or query) overrides the key.",
          "$ref": "EncryptionConfiguration"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "type": {
          "description": "Output only. Same as `type` in `ListFormatDataset`. The type of the dataset, one of: * DEFAULT - only accessible by owner and authorized accounts, * PUBLIC - accessible by everyone, * LINKED - linked dataset, * EXTERNAL - dataset with definition in external metadata catalog. -- *BIGLAKE_METASTORE - dataset that references a database created in BigLakeMetastore service. --",
          "readOnly": true,
          "type": "string"
        },
        "linkedDatasetSource": {
          "description": "Optional. The source dataset reference when the dataset is of type LINKED. For all other dataset types it is not set. This field cannot be updated once it is set. Any attempt to update this field using Update and Patch API Operations will be ignored.",
          "$ref": "LinkedDatasetSource"
        },
        "externalDatasetReference": {
          "description": "Optional. Information about the external metadata storage where the dataset is defined. Filled out when the dataset type is EXTERNAL.",
          "$ref": "ExternalDatasetReference"
        },
        "isCaseInsensitive": {
          "description": "Optional. TRUE if the dataset and its table names are case-insensitive, otherwise FALSE. By default, this is FALSE, which means the dataset and its table names are case-sensitive. This field does not affect routine references.",
          "type": "boolean"
        },
        "defaultCollation": {
          "description": "Optional. Defines the default collation specification of future tables created in the dataset. If a table is created in this dataset without table-level default collation, then the table inherits the dataset default collation, which is applied to the string fields that do not have explicit collation specified. A change to this field affects only tables created afterwards, and does not alter the existing tables. The following values are supported: * 'und:ci': undetermined locale, case insensitive. * '': empty string. Default to case-sensitive behavior.",
          "type": "string"
        },
        "defaultRoundingMode": {
          "description": "Optional. Defines the default rounding mode specification of new tables created within this dataset. During table creation, if this field is specified, the table within this dataset will inherit the default rounding mode of the dataset. Setting the default rounding mode on a table overrides this option. Existing tables in the dataset are unaffected. If columns are defined during that table creation, they will immediately inherit the table's default rounding mode, unless otherwise specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified will default to using ROUND_HALF_AWAY_FROM_ZERO.",
            "ROUND_HALF_AWAY_FROM_ZERO rounds half values away from zero when applying precision and scale upon writing of NUMERIC and BIGNUMERIC values. For Scale: 0 1.1, 1.2, 1.3, 1.4 => 1 1.5, 1.6, 1.7, 1.8, 1.9 => 2",
            "ROUND_HALF_EVEN rounds half values to the nearest even value when applying precision and scale upon writing of NUMERIC and BIGNUMERIC values. For Scale: 0 1.1, 1.2, 1.3, 1.4 => 1 1.5 => 2 1.6, 1.7, 1.8, 1.9 => 2 2.5 => 2"
          ],
          "enum": [
            "ROUNDING_MODE_UNSPECIFIED",
            "ROUND_HALF_AWAY_FROM_ZERO",
            "ROUND_HALF_EVEN"
          ]
        },
        "maxTimeTravelHours": {
          "description": "Optional. Defines the time travel window in hours. The value can be from 48 to 168 hours (2 to 7 days). The default value is 168 hours if this is not set.",
          "type": "string",
          "format": "int64"
        },
        "tags": {
          "description": "Output only. Tags for the Dataset.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GcpTag"
          }
        },
        "storageBillingModel": {
          "description": "Optional. Updates storage_billing_model for the dataset.",
          "type": "string",
          "enumDescriptions": [
            "Value not set.",
            "Billing for logical bytes.",
            "Billing for physical bytes."
          ],
          "enum": [
            "STORAGE_BILLING_MODEL_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ]
        }
      }
    },
    "DatasetReference": {
      "id": "DatasetReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. The ID of the project containing this dataset.",
          "type": "string"
        }
      }
    },
    "TableReference": {
      "id": "TableReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this table.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this table.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The ID of the table. The ID can contain Unicode characters in category L (letter), M (mark), N (number), Pc (connector, including underscore), Pd (dash), and Zs (space). For more information, see [General Category](https:\/\/wikipedia.org\/wiki\/Unicode_character_property#General_Category). The maximum length is 1,024 characters. Certain operations allow suffixing of the table ID with a partition decorator, such as `sample_table$20190123`.",
          "type": "string"
        }
      }
    },
    "RoutineReference": {
      "id": "RoutineReference",
      "description": "Id path of a routine.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this routine.",
          "type": "string"
        },
        "routineId": {
          "description": "Required. The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        }
      }
    },
    "DatasetAccessEntry": {
      "id": "DatasetAccessEntry",
      "description": "Grants all resources of particular types in a particular dataset read access to the current dataset. Similar to how individually authorized views work, updates to any resource granted through its dataset (including creation of new resources) requires read permission to referenced resources, plus write permission to the authorizing dataset.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "The dataset this entry applies to",
          "$ref": "DatasetReference"
        },
        "targetTypes": {
          "description": "Which resources in the dataset this entry applies to. Currently, only views are supported, but additional target types may be added in the future.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Do not use. You must set a target type explicitly.",
              "This entry applies to views in the dataset.",
              "This entry applies to routines in the dataset."
            ],
            "enum": [
              "TARGET_TYPE_UNSPECIFIED",
              "VIEWS",
              "ROUTINES"
            ]
          }
        }
      }
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      }
    },
    "LinkedDatasetSource": {
      "id": "LinkedDatasetSource",
      "description": "A dataset source type which refers to another BigQuery dataset.",
      "type": "object",
      "properties": {
        "sourceDataset": {
          "description": "The source dataset reference contains project numbers and not project ids.",
          "$ref": "DatasetReference"
        }
      }
    },
    "ExternalDatasetReference": {
      "id": "ExternalDatasetReference",
      "description": "Configures the access a dataset defined in an external metadata storage.",
      "type": "object",
      "properties": {
        "externalSource": {
          "description": "Required. External source that backs this dataset.",
          "type": "string"
        },
        "connection": {
          "description": "Required. The connection id that is used to access the external_source. Format: projects\/{project_id}\/locations\/{location_id}\/connections\/{connection_id}",
          "type": "string"
        }
      }
    },
    "GcpTag": {
      "id": "GcpTag",
      "description": "A global tag managed by Resource Manager. https:\/\/cloud.google.com\/iam\/docs\/tags-access-control#definitions",
      "type": "object",
      "properties": {
        "tagKey": {
          "description": "Required. The namespaced friendly name of the tag key, e.g. \"12345\/environment\" where 12345 is org id.",
          "type": "string"
        },
        "tagValue": {
          "description": "Required. The friendly short name of the tag value, e.g. \"production\".",
          "type": "string"
        }
      }
    },
    "DatasetList": {
      "id": "DatasetList",
      "description": "Response format for a page of results when listing datasets.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type. This property always returns the value \"bigquery#datasetList\"",
          "default": "bigquery#datasetList",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
          "readOnly": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        },
        "datasets": {
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "type": "array",
          "items": {
            "description": "A dataset resource with only a subset of fields, to be returned in a list of datasets.",
            "type": "object",
            "properties": {
              "kind": {
                "description": "The resource type. This property always returns the value \"bigquery#dataset\"",
                "type": "string"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "datasetReference": {
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID.",
                "$ref": "DatasetReference"
              },
              "labels": {
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "friendlyName": {
                "description": "An alternate name for the dataset. The friendly name is purely decorative in nature.",
                "type": "string"
              },
              "location": {
                "description": "The geographic location where the dataset resides.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Model": {
      "id": "Model",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "modelReference": {
          "description": "Required. Unique identifier for this model.",
          "$ref": "ModelReference"
        },
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A user-friendly description of this model.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for this model.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this model. You can use these to organize and group your models. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expirationTime": {
          "description": "Optional. The time when this model expires, in milliseconds since the epoch. If not present, the model will persist indefinitely. Expired models will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created models.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value is inherited from the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the encryption configuration of the model data while stored in BigQuery storage. This field can be used with PatchModel to update encryption key for an already encrypted model.",
          "$ref": "EncryptionConfiguration"
        },
        "modelType": {
          "description": "Output only. Type of the model resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "DNN classifier model.",
            "An imported TensorFlow model.",
            "DNN regressor model.",
            "An imported XGBoost model.",
            "Boosted tree regressor model.",
            "Boosted tree classifier model.",
            "ARIMA model.",
            "AutoML Tables regression model.",
            "AutoML Tables classification model.",
            "Prinpical Component Analysis model.",
            "Wide-and-deep classifier model.",
            "Wide-and-deep regressor model.",
            "Autoencoder model.",
            "New name for the ARIMA model.",
            "ARIMA with external regressors.",
            "Random forest regressor model.",
            "Random forest classifier model.",
            "An imported TensorFlow Lite model.",
            "An imported ONNX model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "MATRIX_FACTORIZATION",
            "DNN_CLASSIFIER",
            "TENSORFLOW",
            "DNN_REGRESSOR",
            "XGBOOST",
            "BOOSTED_TREE_REGRESSOR",
            "BOOSTED_TREE_CLASSIFIER",
            "ARIMA",
            "AUTOML_REGRESSOR",
            "AUTOML_CLASSIFIER",
            "PCA",
            "DNN_LINEAR_COMBINED_CLASSIFIER",
            "DNN_LINEAR_COMBINED_REGRESSOR",
            "AUTOENCODER",
            "ARIMA_PLUS",
            "ARIMA_PLUS_XREG",
            "RANDOM_FOREST_REGRESSOR",
            "RANDOM_FOREST_CLASSIFIER",
            "TENSORFLOW_LITE",
            "ONNX"
          ]
        },
        "trainingRuns": {
          "description": "Information for all training runs in increasing order of start_time.",
          "type": "array",
          "items": {
            "$ref": "TrainingRun"
          }
        },
        "featureColumns": {
          "description": "Output only. Input feature columns for the model inference. If the model is trained with TRANSFORM clause, these are the input of the TRANSFORM clause.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "labelColumns": {
          "description": "Output only. Label columns that were used to train this model. The output of the model will have a \"predicted_\" prefix to these columns.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "transformColumns": {
          "description": "Output only. This field will be populated if a TRANSFORM clause was used to train a model. TRANSFORM clause (if used) takes feature_columns as input and outputs transform_columns. transform_columns then are used to train the model.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TransformColumn"
          }
        },
        "hparamSearchSpaces": {
          "description": "Output only. All hyperparameter search spaces in this model.",
          "readOnly": true,
          "$ref": "HparamSearchSpaces"
        },
        "bestTrialId": {
          "description": "The best trial_id across all training runs.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "defaultTrialId": {
          "description": "Output only. The default trial_id to use in TVFs when the trial_id is not passed in. For single-objective [hyperparameter tuning](\/bigquery-ml\/docs\/reference\/standard-sql\/bigqueryml-syntax-hp-tuning-overview) models, this is the best trial ID. For multi-objective [hyperparameter tuning](\/bigquery-ml\/docs\/reference\/standard-sql\/bigqueryml-syntax-hp-tuning-overview) models, this is the smallest trial ID among all Pareto optimal trials.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "hparamTrials": {
          "description": "Output only. Trials of a [hyperparameter tuning](\/bigquery-ml\/docs\/reference\/standard-sql\/bigqueryml-syntax-hp-tuning-overview) model sorted by trial_id.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "HparamTuningTrial"
          }
        },
        "optimalTrialIds": {
          "description": "Output only. For single-objective [hyperparameter tuning](\/bigquery-ml\/docs\/reference\/standard-sql\/bigqueryml-syntax-hp-tuning-overview) models, it only contains the best trial. For multi-objective [hyperparameter tuning](\/bigquery-ml\/docs\/reference\/standard-sql\/bigqueryml-syntax-hp-tuning-overview) models, it contains all Pareto optimal trials sorted by trial_id.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "remoteModelInfo": {
          "description": "Output only. Remote model info",
          "readOnly": true,
          "$ref": "RemoteModelInfo"
        }
      }
    },
    "ModelReference": {
      "id": "ModelReference",
      "description": "Id path of a model.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this model.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "description": "Required. The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        }
      }
    },
    "TrainingRun": {
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "type": "object",
      "properties": {
        "trainingOptions": {
          "description": "Output only. Options that were used for this training run, includes user specified and default options that were used.",
          "readOnly": true,
          "$ref": "TrainingOptions"
        },
        "trainingStartTime": {
          "description": "Output only. The start time of this training run, in milliseconds since epoch.",
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "description": "Output only. The start time of this training run.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "results": {
          "description": "Output only. Output of each iteration run, results.size() <= max_iterations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "evaluationMetrics": {
          "description": "Output only. The evaluation metrics over training\/eval data that were computed at the end of training.",
          "readOnly": true,
          "$ref": "EvaluationMetrics"
        },
        "dataSplitResult": {
          "description": "Output only. Data split result of the training run. Only set when the input data is actually split.",
          "readOnly": true,
          "$ref": "DataSplitResult"
        },
        "modelLevelGlobalExplanation": {
          "description": "Output only. Global explanation contains the explanation of top features on the model level. Applies to both regression and classification models.",
          "readOnly": true,
          "$ref": "GlobalExplanation"
        },
        "classLevelGlobalExplanations": {
          "description": "Output only. Global explanation contains the explanation of top features on the class level. Applies to classification models only.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GlobalExplanation"
          }
        },
        "vertexAiModelId": {
          "description": "The model id in the [Vertex AI Model Registry](https:\/\/cloud.google.com\/vertex-ai\/docs\/model-registry\/introduction) for this training run.",
          "type": "string"
        },
        "vertexAiModelVersion": {
          "description": "Output only. The model version in the [Vertex AI Model Registry](https:\/\/cloud.google.com\/vertex-ai\/docs\/model-registry\/introduction) for this training run.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "description": "Options used in model training.",
      "type": "object",
      "properties": {
        "maxIterations": {
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string",
          "format": "int64"
        },
        "lossType": {
          "description": "Type of loss function used during training run.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "l2Regularization": {
          "description": "L2 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSplitMethod": {
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "type": "number",
          "format": "double"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https:\/\/cloud.google.com\/bigquery\/docs\/reference\/standard-sql\/data-types#data-type-properties",
          "type": "string"
        },
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "type": "number",
          "format": "double"
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "itemColumn": {
          "description": "Item column specified for matrix factorization models.",
          "type": "string"
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ]
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "type": "string",
          "format": "int64"
        },
        "modelUri": {
          "description": "Google Cloud Storage URI from which the model was imported. Only applicable for imported models.",
          "type": "string"
        },
        "optimizationStrategy": {
          "description": "Optimization strategy for training linear regression models.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ]
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "type": "string",
          "format": "int64"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "type": "number",
          "format": "double"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "boosterType": {
          "description": "Booster type for boosted tree models.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified booster type.",
            "Gbtree booster.",
            "Dart booster."
          ],
          "enum": [
            "BOOSTER_TYPE_UNSPECIFIED",
            "GBTREE",
            "DART"
          ]
        },
        "numParallelTree": {
          "description": "Number of parallel trees constructed during each iteration for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "dartNormalizeType": {
          "description": "Type of normalization algorithm for boosted tree models using dart booster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified dart normalize type.",
            "New trees have the same weight of each of dropped trees.",
            "New trees have the same weight of sum of dropped trees."
          ],
          "enum": [
            "DART_NORMALIZE_TYPE_UNSPECIFIED",
            "TREE",
            "FOREST"
          ]
        },
        "treeMethod": {
          "description": "Tree construction algorithm for boosted tree models.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tree method.",
            "Use heuristic to choose the fastest method.",
            "Exact greedy algorithm.",
            "Approximate greedy algorithm using quantile sketch and gradient histogram.",
            "Fast histogram optimized approximate greedy algorithm."
          ],
          "enum": [
            "TREE_METHOD_UNSPECIFIED",
            "AUTO",
            "EXACT",
            "APPROX",
            "HIST"
          ]
        },
        "minTreeChildWeight": {
          "description": "Minimum sum of instance weight needed in a child for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "colsampleBytree": {
          "description": "Subsample ratio of columns when constructing each tree for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "colsampleBylevel": {
          "description": "Subsample ratio of columns for each level for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "colsampleBynode": {
          "description": "Subsample ratio of columns for each node(split) for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "numFactors": {
          "description": "Num factors specified for matrix factorization models.",
          "type": "string",
          "format": "int64"
        },
        "feedbackType": {
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number",
          "format": "double"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified initialization method.",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ]
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "timeSeriesTimestampColumn": {
          "description": "Column to be designated as time series timestamp for ARIMA model.",
          "type": "string"
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "autoArima": {
          "description": "Whether to enable auto ARIMA or not.",
          "type": "boolean"
        },
        "nonSeasonalOrder": {
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order.",
          "$ref": "ArimaOrder"
        },
        "dataFrequency": {
          "description": "The data frequency of a time series.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data.",
            "Per-minute data."
          ],
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY",
            "PER_MINUTE"
          ]
        },
        "calculatePValues": {
          "description": "Whether or not p-value test should be computed for this model. Only available for linear and logistic regression models.",
          "type": "boolean"
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "holidayRegion": {
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ]
        },
        "holidayRegions": {
          "description": "A list of geographical regions that are used for time series modeling.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Holiday region unspecified.",
              "Global.",
              "North America.",
              "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
              "Europe, the Middle East and Africa.",
              "Latin America and the Caribbean.",
              "United Arab Emirates",
              "Argentina",
              "Austria",
              "Australia",
              "Belgium",
              "Brazil",
              "Canada",
              "Switzerland",
              "Chile",
              "China",
              "Colombia",
              "Czechoslovakia",
              "Czech Republic",
              "Germany",
              "Denmark",
              "Algeria",
              "Ecuador",
              "Estonia",
              "Egypt",
              "Spain",
              "Finland",
              "France",
              "Great Britain (United Kingdom)",
              "Greece",
              "Hong Kong",
              "Hungary",
              "Indonesia",
              "Ireland",
              "Israel",
              "India",
              "Iran",
              "Italy",
              "Japan",
              "Korea (South)",
              "Latvia",
              "Morocco",
              "Mexico",
              "Malaysia",
              "Nigeria",
              "Netherlands",
              "Norway",
              "New Zealand",
              "Peru",
              "Philippines",
              "Pakistan",
              "Poland",
              "Portugal",
              "Romania",
              "Serbia",
              "Russian Federation",
              "Saudi Arabia",
              "Sweden",
              "Singapore",
              "Slovenia",
              "Slovakia",
              "Thailand",
              "Turkey",
              "Taiwan",
              "Ukraine",
              "United States",
              "Venezuela",
              "Viet Nam",
              "South Africa"
            ],
            "enum": [
              "HOLIDAY_REGION_UNSPECIFIED",
              "GLOBAL",
              "NA",
              "JAPAC",
              "EMEA",
              "LAC",
              "AE",
              "AR",
              "AT",
              "AU",
              "BE",
              "BR",
              "CA",
              "CH",
              "CL",
              "CN",
              "CO",
              "CS",
              "CZ",
              "DE",
              "DK",
              "DZ",
              "EC",
              "EE",
              "EG",
              "ES",
              "FI",
              "FR",
              "GB",
              "GR",
              "HK",
              "HU",
              "ID",
              "IE",
              "IL",
              "IN",
              "IR",
              "IT",
              "JP",
              "KR",
              "LV",
              "MA",
              "MX",
              "MY",
              "NG",
              "NL",
              "NO",
              "NZ",
              "PE",
              "PH",
              "PK",
              "PL",
              "PT",
              "RO",
              "RS",
              "RU",
              "SA",
              "SE",
              "SG",
              "SI",
              "SK",
              "TH",
              "TR",
              "TW",
              "UA",
              "US",
              "VE",
              "VN",
              "ZA"
            ]
          }
        },
        "timeSeriesIdColumn": {
          "description": "The time series id column that was used during ARIMA model training.",
          "type": "string"
        },
        "timeSeriesIdColumns": {
          "description": "The time series id columns that were used during ARIMA model training.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "horizon": {
          "description": "The number of periods ahead that need to be forecasted.",
          "type": "string",
          "format": "int64"
        },
        "autoArimaMaxOrder": {
          "description": "The max value of the sum of non-seasonal p and q.",
          "type": "string",
          "format": "int64"
        },
        "autoArimaMinOrder": {
          "description": "The min value of the sum of non-seasonal p and q.",
          "type": "string",
          "format": "int64"
        },
        "numTrials": {
          "description": "Number of trials to run this hyperparameter tuning job.",
          "type": "string",
          "format": "int64"
        },
        "maxParallelTrials": {
          "description": "Maximum number of trials to run in parallel.",
          "type": "string",
          "format": "int64"
        },
        "hparamTuningObjectives": {
          "description": "The target evaluation metrics to optimize the hyperparameters for.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified evaluation metric.",
              "Mean absolute error. mean_absolute_error = AVG(ABS(label - predicted))",
              "Mean squared error. mean_squared_error = AVG(POW(label - predicted, 2))",
              "Mean squared log error. mean_squared_log_error = AVG(POW(LN(1 + label) - LN(1 + predicted), 2))",
              "Mean absolute error. median_absolute_error = APPROX_QUANTILES(absolute_error, 2)[OFFSET(1)]",
              "R^2 score. This corresponds to r2_score in ML.EVALUATE. r_squared = 1 - SUM(squared_error)\/(COUNT(label)*VAR_POP(label))",
              "Explained variance. explained_variance = 1 - VAR_POP(label_error)\/VAR_POP(label)",
              "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
              "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
              "Accuracy is the fraction of predictions given the correct label. For multiclass this is a globally micro-averaged metric.",
              "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
              "Logorithmic Loss. For multiclass this is a macro-averaged metric.",
              "Area Under an ROC Curve. For multiclass this is a macro-averaged metric.",
              "Davies-Bouldin Index.",
              "Mean Average Precision.",
              "Normalized Discounted Cumulative Gain.",
              "Average Rank."
            ],
            "enum": [
              "HPARAM_TUNING_OBJECTIVE_UNSPECIFIED",
              "MEAN_ABSOLUTE_ERROR",
              "MEAN_SQUARED_ERROR",
              "MEAN_SQUARED_LOG_ERROR",
              "MEDIAN_ABSOLUTE_ERROR",
              "R_SQUARED",
              "EXPLAINED_VARIANCE",
              "PRECISION",
              "RECALL",
              "ACCURACY",
              "F1_SCORE",
              "LOG_LOSS",
              "ROC_AUC",
              "DAVIES_BOULDIN_INDEX",
              "MEAN_AVERAGE_PRECISION",
              "NORMALIZED_DISCOUNTED_CUMULATIVE_GAIN",
              "AVERAGE_RANK"
            ]
          }
        },
        "decomposeTimeSeries": {
          "description": "If true, perform decompose time series and save the results.",
          "type": "boolean"
        },
        "cleanSpikesAndDips": {
          "description": "If true, clean spikes and dips in the input time series.",
          "type": "boolean"
        },
        "adjustStepChanges": {
          "description": "If true, detect step changes and make data adjustment in the input time series.",
          "type": "boolean"
        },
        "enableGlobalExplain": {
          "description": "If true, enable global explanation during training.",
          "type": "boolean"
        },
        "sampledShapleyNumPaths": {
          "description": "Number of paths for the sampled Shapley explain method.",
          "type": "string",
          "format": "int64"
        },
        "integratedGradientsNumSteps": {
          "description": "Number of integral steps for the integrated gradients explain method.",
          "type": "string",
          "format": "int64"
        },
        "categoryEncodingMethod": {
          "description": "Categorical feature encoding method.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified encoding method.",
            "Applies one-hot encoding.",
            "Applies label encoding.",
            "Applies dummy encoding."
          ],
          "enum": [
            "ENCODING_METHOD_UNSPECIFIED",
            "ONE_HOT_ENCODING",
            "LABEL_ENCODING",
            "DUMMY_ENCODING"
          ]
        },
        "tfVersion": {
          "description": "Based on the selected TF version, the corresponding docker image is used to train external models.",
          "type": "string"
        },
        "colorSpace": {
          "description": "Enums for color space, used for processing images in Object Table. See more details at https:\/\/www.tensorflow.org\/io\/tutorials\/colorspace.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified color space",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ],
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "HSV",
            "YIQ",
            "YUV",
            "GRAYSCALE"
          ]
        },
        "instanceWeightColumn": {
          "description": "Name of the instance weight column for training data. This column isn't be used as a feature.",
          "type": "string"
        },
        "trendSmoothingWindowSize": {
          "description": "Smoothing window size for the trend component. When a positive value is specified, a center moving average smoothing is applied on the history trend. When the smoothing window is out of the boundary at the beginning or the end of the trend, the first element or the last element is padded to fill the smoothing window before the average is applied.",
          "type": "string",
          "format": "int64"
        },
        "timeSeriesLengthFraction": {
          "description": "The fraction of the interpolated length of the time series that's used to model the time series trend component. All of the time points of the time series are used to model the non-trend component. This training option accelerates modeling training without sacrificing much forecasting accuracy. You can use this option with `minTimeSeriesLength` but not with `maxTimeSeriesLength`.",
          "type": "number",
          "format": "double"
        },
        "minTimeSeriesLength": {
          "description": "The minimum number of time points in a time series that are used in modeling the trend component of the time series. If you use this option you must also set the `timeSeriesLengthFraction` option. This training option ensures that enough time points are available when you use `timeSeriesLengthFraction` in trend modeling. This is particularly important when forecasting multiple time series in a single query using `timeSeriesIdColumn`. If the total number of time points is less than the `minTimeSeriesLength` value, then the query uses all available time points.",
          "type": "string",
          "format": "int64"
        },
        "maxTimeSeriesLength": {
          "description": "The maximum number of time points in a time series that can be used in modeling the trend component of the time series. Don't use this option with the `timeSeriesLengthFraction` or `minTimeSeriesLength` options.",
          "type": "string",
          "format": "int64"
        },
        "xgboostVersion": {
          "description": "User-selected XGBoost versions for training of XGBoost models.",
          "type": "string"
        },
        "approxGlobalFeatureContrib": {
          "description": "Whether to use approximate feature contribution method in XGBoost model explanation for global explain.",
          "type": "boolean"
        },
        "fitIntercept": {
          "description": "Whether the model should include intercept during model training.",
          "type": "boolean"
        },
        "numPrincipalComponents": {
          "description": "Number of principal components to keep in the PCA model. Must be <= the number of features.",
          "type": "string",
          "format": "int64"
        },
        "pcaExplainedVarianceRatio": {
          "description": "The minimum ratio of cumulative explained variance that needs to be given by the PCA model.",
          "type": "number",
          "format": "double"
        },
        "scaleFeatures": {
          "description": "If true, scale the feature values by dividing the feature standard deviation. Currently only apply to PCA.",
          "type": "boolean"
        },
        "pcaSolver": {
          "description": "The solver for PCA.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Full eigen-decoposition.",
            "Randomized SVD.",
            "Auto."
          ],
          "enum": [
            "UNSPECIFIED",
            "FULL",
            "RANDOMIZED",
            "AUTO"
          ]
        },
        "autoClassWeights": {
          "description": "Whether to calculate class weights automatically based on the popularity of each label.",
          "type": "boolean"
        },
        "activationFn": {
          "description": "Activation function of the neural nets.",
          "type": "string"
        },
        "optimizer": {
          "description": "Optimizer used for training the neural nets.",
          "type": "string"
        },
        "budgetHours": {
          "description": "Budget in hours for AutoML training.",
          "type": "number",
          "format": "double"
        },
        "standardizeFeatures": {
          "description": "Whether to standardize numerical features. Default to true.",
          "type": "boolean"
        },
        "l1RegActivation": {
          "description": "L1 regularization coefficient to activations.",
          "type": "number",
          "format": "double"
        },
        "modelRegistry": {
          "description": "The model registry.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Vertex AI."
          ],
          "enum": [
            "MODEL_REGISTRY_UNSPECIFIED",
            "VERTEX_AI"
          ]
        },
        "vertexAiModelVersionAliases": {
          "description": "The version aliases to apply in Vertex AI model registry. Always overwrite if the version aliases exists in a existing model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArimaOrder": {
      "id": "ArimaOrder",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "type": "object",
      "properties": {
        "p": {
          "description": "Order of the autoregressive part.",
          "type": "string",
          "format": "int64"
        },
        "d": {
          "description": "Order of the differencing part.",
          "type": "string",
          "format": "int64"
        },
        "q": {
          "description": "Order of the moving-average part.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "IterationResult": {
      "id": "IterationResult",
      "description": "Information about a single iteration of the training run.",
      "type": "object",
      "properties": {
        "index": {
          "description": "Index of the iteration, 0 based.",
          "type": "integer",
          "format": "int32"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "type": "number",
          "format": "double"
        },
        "clusterInfos": {
          "description": "Information about top clusters for clustering models.",
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          }
        },
        "arimaResult": {
          "description": "Arima result.",
          "$ref": "ArimaResult"
        },
        "principalComponentInfos": {
          "description": "The information of the principal components.",
          "type": "array",
          "items": {
            "$ref": "PrincipalComponentInfo"
          }
        }
      }
    },
    "ClusterInfo": {
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster.",
          "type": "number",
          "format": "double"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ArimaResult": {
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object",
      "properties": {
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        }
      }
    },
    "ArimaModelInfo": {
      "id": "ArimaModelInfo",
      "description": "Arima model information.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "timeSeriesId": {
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used.",
          "type": "string"
        },
        "timeSeriesIds": {
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasHolidayEffect": {
          "description": "If true, holiday_effect is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasStepChanges": {
          "description": "If true, step_changes is a part of time series decomposition result.",
          "type": "boolean"
        }
      }
    },
    "ArimaCoefficients": {
      "id": "ArimaCoefficients",
      "description": "Arima coefficients.",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "description": "Auto-regressive coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "movingAverageCoefficients": {
          "description": "Moving-average coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "interceptCoefficient": {
          "description": "Intercept coefficient, just a double not an array.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "description": "ARIMA model fitting metrics.",
      "type": "object",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        },
        "aic": {
          "description": "AIC.",
          "type": "number",
          "format": "double"
        },
        "variance": {
          "description": "Variance.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "PrincipalComponentInfo": {
      "id": "PrincipalComponentInfo",
      "description": "Principal component infos, used only for eigen decomposition based models, e.g., PCA. Ordered by explained_variance in the descending order.",
      "type": "object",
      "properties": {
        "principalComponentId": {
          "description": "Id of the principal component.",
          "type": "string",
          "format": "int64"
        },
        "explainedVariance": {
          "description": "Explained variance by this principal component, which is simply the eigenvalue.",
          "type": "number",
          "format": "double"
        },
        "explainedVarianceRatio": {
          "description": "Explained_variance over the total explained variance.",
          "type": "number",
          "format": "double"
        },
        "cumulativeExplainedVarianceRatio": {
          "description": "The explained_variance is pre-ordered in the descending order to compute the cumulative explained variance ratio.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "EvaluationMetrics": {
      "id": "EvaluationMetrics",
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "type": "object",
      "properties": {
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix factorization models.",
          "$ref": "RegressionMetrics"
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification\/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification\/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "clusteringMetrics": {
          "description": "Populated for clustering models.",
          "$ref": "ClusteringMetrics"
        },
        "rankingMetrics": {
          "description": "Populated for implicit feedback type matrix factorization models.",
          "$ref": "RankingMetrics"
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        },
        "dimensionalityReductionMetrics": {
          "description": "Evaluation metrics when the model is a dimensionality reduction model, which currently includes PCA.",
          "$ref": "DimensionalityReductionMetrics"
        }
      }
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "type": "number",
          "format": "double"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "type": "number",
          "format": "double"
        },
        "rSquared": {
          "description": "R^2 score. This corresponds to r2_score in ML.EVALUATE.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "id": "BinaryClassificationMetrics",
      "description": "Evaluation metrics for binary classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          }
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        }
      }
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "description": "Aggregate metrics for classification\/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "type": "object",
      "properties": {
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "rocAuc": {
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object",
      "properties": {
        "positiveClassThreshold": {
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number",
          "format": "double"
        },
        "truePositives": {
          "description": "Number of true samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "falsePositives": {
          "description": "Number of false samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "trueNegatives": {
          "description": "Number of true samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "The fraction of actual positive labels that were given a positive prediction.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The equally weighted average of recall and precision.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "id": "MultiClassClassificationMetrics",
      "description": "Evaluation metrics for multi-class classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "confusionMatrixList": {
          "description": "Confusion matrix at different thresholds.",
          "type": "array",
          "items": {
            "$ref": "ConfusionMatrix"
          }
        }
      }
    },
    "ConfusionMatrix": {
      "id": "ConfusionMatrix",
      "description": "Confusion matrix for multi-class classification models.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "Confidence threshold used when computing the entries of the confusion matrix.",
          "type": "number",
          "format": "double"
        },
        "rows": {
          "description": "One row per actual label.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "description": "Info describing predicted label distribution.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        }
      }
    },
    "Entry": {
      "id": "Entry",
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold > 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ClusteringMetrics": {
      "id": "ClusteringMetrics",
      "description": "Evaluation metrics for clustering models.",
      "type": "object",
      "properties": {
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredDistance": {
          "description": "Mean of squared distances between each sample to its cluster centroid.",
          "type": "number",
          "format": "double"
        },
        "clusters": {
          "description": "Information for all clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "Message containing the information about one cluster.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "featureValues": {
          "description": "Values of highly variant features for this cluster.",
          "type": "array",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "count": {
          "description": "Count of training data rows that were assigned to this cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FeatureValue": {
      "id": "FeatureValue",
      "description": "Representative value of a single feature within the cluster.",
      "type": "object",
      "properties": {
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "type": "number",
          "format": "double"
        },
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        }
      }
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "description": "Representative value of a categorical feature.",
      "type": "object",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are more than ten categories, we return top ten (by count) and return one more CategoryCount with category \"_OTHER_\" and count as aggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      }
    },
    "CategoryCount": {
      "id": "CategoryCount",
      "description": "Represents the count of a single category within the cluster.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The name of category.",
          "type": "string"
        },
        "count": {
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RankingMetrics": {
      "id": "RankingMetrics",
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "type": "number",
          "format": "double"
        },
        "normalizedDiscountedCumulativeGain": {
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings.",
          "type": "number",
          "format": "double"
        },
        "averageRank": {
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArimaForecastingMetrics": {
      "id": "ArimaForecastingMetrics",
      "description": "Model evaluation metrics for ARIMA forecasting models.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "ArimaOrder"
          }
        },
        "arimaFittingMetrics": {
          "description": "Arima model fitting metrics.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "ArimaFittingMetrics"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "boolean"
          }
        },
        "timeSeriesId": {
          "description": "Id to differentiate different time series for the large-scale case.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "arimaSingleModelForecastingMetrics": {
          "description": "Repeated as there can be many metric sets (one for each model) in auto-arima and the large-scale case.",
          "type": "array",
          "items": {
            "$ref": "ArimaSingleModelForecastingMetrics"
          }
        }
      }
    },
    "ArimaSingleModelForecastingMetrics": {
      "id": "ArimaSingleModelForecastingMetrics",
      "description": "Model evaluation metrics for a single ARIMA forecasting model.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "description": "Is arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "timeSeriesId": {
          "description": "The time_series_id value for this time series. It will be one of the unique values from the time_series_id_column specified during ARIMA model training. Only present when time_series_id_column training option was used.",
          "type": "string"
        },
        "timeSeriesIds": {
          "description": "The tuple of time_series_ids identifying this time series. It will be one of the unique tuples of values present in the time_series_id_columns specified during ARIMA model training. Only present when time_series_id_columns training option was used and the order of values here are same as the order of time_series_id_columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified seasonal period.",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasHolidayEffect": {
          "description": "If true, holiday_effect is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasSpikesAndDips": {
          "description": "If true, spikes_and_dips is a part of time series decomposition result.",
          "type": "boolean"
        },
        "hasStepChanges": {
          "description": "If true, step_changes is a part of time series decomposition result.",
          "type": "boolean"
        }
      }
    },
    "DimensionalityReductionMetrics": {
      "id": "DimensionalityReductionMetrics",
      "description": "Model evaluation metrics for dimensionality reduction models.",
      "type": "object",
      "properties": {
        "totalExplainedVarianceRatio": {
          "description": "Total percentage of variance explained by the selected principal components.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DataSplitResult": {
      "id": "DataSplitResult",
      "description": "Data split result. This contains references to the training and evaluation data tables that were used to train the model.",
      "type": "object",
      "properties": {
        "trainingTable": {
          "description": "Table reference of the training data after split.",
          "$ref": "TableReference"
        },
        "evaluationTable": {
[...]
