<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to localhost" stopProcessing="true">
                    <conditions>
                        <add input="{UrlDecode:{QUERY_STRING}}" pattern="state=([0-9]+)(,[^,&amp;]*,([^,&amp;]*))?" />
                    </conditions>
                    <action type="Redirect" url="http://127.0.0.1:{C:1}/callback?{UrlDecode:{C:3}}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
