openapi: 3.1.0
info:
  title: 'Azure Key Vault [Sample]'
  description: 'A sample connector for the Azure Key Vault service.  This connector is built for the Azure Key Vault REST API.  You can see the details of the API here: https://docs.microsoft.com/rest/api/keyvault/.'
  version: '1.0'
servers:
  - url: https://my-key-vault.vault.azure.net
paths:
  '/secrets/{secret-name}':
    get:
      summary: Get secret
      description: 'Get a specified secret from a given key vault. For details, see: https://docs.microsoft.com/rest/api/keyvault/getsecret/getsecret.'
      operationId: GetSecret
      parameters:
        - name: secret-name
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '7.0'
          x-ms-visibility: internal
      responses:
        '200':
          description: default
    put:
      summary: Create or update secret value
      description: Sets a secret in a specified key vault.
      operationId: SetSecret
      parameters:
        - name: secret-name
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '7.0'
          x-ms-visibility: internal
        - name: Accept
          in: header
          description: 'Indicates which content types, expressed as MIME types, the client is able to understand.'
          schema:
            type: string
            default: application/json
          x-ms-visibility: internal
        - name: X-API-Version
          in: header
          description: Requested API version.
          required: true
          schema:
            type: integer
            default: 10
          x-ms-visibility: internal
          x-ms-summary: X-API-Version
        - name: X-Operation-Csv-Ids
          in: header
          description: The comma separated list of operation ids.
          style: simple
          schema:
            type: array
            items:
              type: string
          x-ms-summary: Ids
          x-ms-visibility: advanced
      requestBody:
        content:
          application/json:
            schema:
              required:
                - value
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Determines whether the object is enabled.
                  description: attributes
                value:
                  type: string
                  description: The value of the secret.
        required: true
        x-bodyName: body
      responses:
        '200':
          description: default
  /FunPlugin/Excuses:
    post:
      description: Turn a scenario into a creative or humorous excuse to send your boss
      operationId: Excuses
      requestBody:
        description: excuse event
        content:
          text/plain:
            schema:
              type: string
        x-bodyName: body
      responses:
        '200':
          description: The OK response
          content:
            text/plain:
              schema:
                type: string
components:
  securitySchemes:
    oauth2_auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.windows.net/common/oauth2/authorize
          tokenUrl: https://login.windows.net/common/oauth2/authorize
          scopes: { }
security:
  - oauth2_auth: [ ]
