{
  "openapi": "3.0.1",
  "info": {
    "title": "Azure Key Vault [Sample]",
    "description": "This document does not follow the OpenAPI 3.0 specification and sets the 'required' attribute on the property level instead of the object level, as specified in the OpenAPI specification. For more details, please refer to the following link: https://swagger.io/docs/specification/data-models/data-types/",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://my-key-vault.vault.azure.net"
    }
  ],
  "paths": {
    "/secrets/{secret-name}": {
      "put": {
        "summary": "Create or update secret value",
        "description": "Sets a secret in a specified key vault.",
        "operationId": "SetSecret",
        "parameters": [
          {
            "name": "secret-name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "7.0"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates which content types, expressed as MIME types, the client is able to understand.",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested API version.",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          },
          {
            "name": "X-Operation-Csv-Ids",
            "in": "header",
            "description": "The comma separated list of operation ids.",
            "style": "simple",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ms-summary": "Ids",
            "x-ms-visibility": "advanced"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Determines whether the object is enabled."
                      }
                    },
                    "description": "attributes"
                  },
                  "value": {
                    "required":  true,
                    "type": "string",
                    "description": "The value of the secret."
                  }
                }
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "default"
          }
        }
      }
    }
  }
}