{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-08-08",
    "endpointPrefix":"connect",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon Connect",
    "serviceFullName":"Amazon Connect Service",
    "serviceId":"Connect",
    "signatureVersion":"v4",
    "signingName":"connect",
    "uid":"connect-2017-08-08"
  },
  "operations":{
    "ActivateEvaluationForm":{
      "name":"ActivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/activate"
      },
      "input":{"shape":"ActivateEvaluationFormRequest"},
      "output":{"shape":"ActivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Activates an evaluation form in the specified Amazon Connect instance. After the evaluation form is activated, it is available to start new evaluations based on the form. </p>"
    },
    "AssociateAnalyticsDataSet":{
      "name":"AssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"AssociateAnalyticsDataSetRequest"},
      "output":{"shape":"AssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates the specified dataset for a Amazon Connect instance with the target account. You can associate only one dataset in a single call.</p>"
    },
    "AssociateApprovedOrigin":{
      "name":"AssociateApprovedOrigin",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"AssociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates an approved origin to an Amazon Connect instance.</p>"
    },
    "AssociateBot":{
      "name":"AssociateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"AssociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex or Amazon Lex V2 bot.</p>"
    },
    "AssociateDefaultVocabulary":{
      "name":"AssociateDefaultVocabulary",
      "http":{
        "method":"PUT",
        "requestUri":"/default-vocabulary/{InstanceId}/{LanguageCode}"
      },
      "input":{"shape":"AssociateDefaultVocabularyRequest"},
      "output":{"shape":"AssociateDefaultVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates an existing vocabulary as the default. Contact Lens for Amazon Connect uses the vocabulary in post-call and real-time analysis sessions for the given language.</p>"
    },
    "AssociateFlow":{
      "name":"AssociateFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/flow-associations/{InstanceId}"
      },
      "input":{"shape":"AssociateFlowRequest"},
      "output":{"shape":"AssociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates a connect resource to a flow.</p>"
    },
    "AssociateInstanceStorageConfig":{
      "name":"AssociateInstanceStorageConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/storage-config"
      },
      "input":{"shape":"AssociateInstanceStorageConfigRequest"},
      "output":{"shape":"AssociateInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a storage resource type for the first time. You can only associate one type of storage configuration in a single call. This means, for example, that you can't define an instance with multiple S3 buckets for storing chat transcripts.</p> <p>This API does not create a resource that doesn't exist. It only associates it to the instance. Ensure that the resource being specified in the storage configuration, like an S3 bucket, exists when being used for association.</p>"
    },
    "AssociateLambdaFunction":{
      "name":"AssociateLambdaFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"AssociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Lambda function.</p>"
    },
    "AssociateLexBot":{
      "name":"AssociateLexBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"AssociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex V1 bot. This API only supports the association of Amazon Lex V1 bots.</p>"
    },
    "AssociatePhoneNumberContactFlow":{
      "name":"AssociatePhoneNumberContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/phone-number/{PhoneNumberId}/contact-flow"
      },
      "input":{"shape":"AssociatePhoneNumberContactFlowRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates a flow with a phone number claimed to your Amazon Connect instance.</p> <important> <p>If the number is claimed to a traffic distribution group, and you are calling this API using an instance in the Amazon Web Services Region where the traffic distribution group was created, you can use either a full phone number ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the number is claimed to a traffic distribution group and you are calling this API using an instance in the alternate Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </important>"
    },
    "AssociateQueueQuickConnects":{
      "name":"AssociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/associate-quick-connects"
      },
      "input":{"shape":"AssociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a set of quick connects with a queue.</p>"
    },
    "AssociateRoutingProfileQueues":{
      "name":"AssociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues"
      },
      "input":{"shape":"AssociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a set of queues with a routing profile.</p>"
    },
    "AssociateSecurityKey":{
      "name":"AssociateSecurityKey",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/security-key"
      },
      "input":{"shape":"AssociateSecurityKeyRequest"},
      "output":{"shape":"AssociateSecurityKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a security key to the instance.</p>"
    },
    "AssociateTrafficDistributionGroupUser":{
      "name":"AssociateTrafficDistributionGroupUser",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"AssociateTrafficDistributionGroupUserRequest"},
      "output":{"shape":"AssociateTrafficDistributionGroupUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates an agent with a traffic distribution group.</p>",
      "idempotent":true
    },
    "AssociateUserProficiencies":{
      "name":"AssociateUserProficiencies",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/associate-proficiencies"
      },
      "input":{"shape":"AssociateUserProficienciesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>&gt;Associates a set of proficiencies with a user.</p>"
    },
    "BatchAssociateAnalyticsDataSet":{
      "name":"BatchAssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchAssociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchAssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a list of analytics datasets for a given Amazon Connect instance to a target account. You can associate multiple datasets in a single call.</p>"
    },
    "BatchDisassociateAnalyticsDataSet":{
      "name":"BatchDisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchDisassociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchDisassociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Removes a list of analytics datasets associated with a given Amazon Connect instance. You can disassociate multiple datasets in a single call.</p>"
    },
    "BatchGetFlowAssociation":{
      "name":"BatchGetFlowAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/flow-associations-batch/{InstanceId}"
      },
      "input":{"shape":"BatchGetFlowAssociationRequest"},
      "output":{"shape":"BatchGetFlowAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieve the flow associations for the given resources.</p>"
    },
    "BatchPutContact":{
      "name":"BatchPutContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/batch/{InstanceId}"
      },
      "input":{"shape":"BatchPutContactRequest"},
      "output":{"shape":"BatchPutContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotencyException"}
      ],
      "documentation":"<note> <p>Only the Amazon Connect outbound campaigns service principal is allowed to assume a role in your account and call this API.</p> </note> <p>Allows you to create a batch of contacts in Amazon Connect. The outbound campaigns capability ingests dial requests via the <a href=\"https://docs.aws.amazon.com/connect-outbound/latest/APIReference/API_PutDialRequestBatch.html\">PutDialRequestBatch</a> API. It then uses BatchPutContact to create contacts corresponding to those dial requests. If agents are available, the dial requests are dialed out, which results in a voice call. The resulting voice call uses the same contactId that was created by BatchPutContact. </p>",
      "idempotent":true
    },
    "ClaimPhoneNumber":{
      "name":"ClaimPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/claim"
      },
      "input":{"shape":"ClaimPhoneNumberRequest"},
      "output":{"shape":"ClaimPhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Claims an available phone number to your Amazon Connect instance or traffic distribution group. You can call this API only in the same Amazon Web Services Region where the Amazon Connect instance or traffic distribution group was created.</p> <p>For more information about how to use this operation, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-number.html\">Claim a phone number in your country</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-numbers-traffic-distribution-groups.html\">Claim phone numbers to traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>. </p> <important> <p>You can call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_SearchAvailablePhoneNumbers.html\">SearchAvailablePhoneNumbers</a> API for available phone numbers that you can claim. Call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribePhoneNumber.html\">DescribePhoneNumber</a> API to verify the status of a previous <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_ClaimPhoneNumber.html\">ClaimPhoneNumber</a> operation.</p> </important> <p>If you plan to claim and release numbers frequently during a 30 day period, contact us for a service quota exception. Otherwise, it is possible you will be blocked from claiming and releasing any more numbers until 30 days past the oldest number released has expired.</p> <p>By default you can claim and release up to 200% of your maximum number of active phone numbers during any 30 day period. If you claim and release phone numbers using the UI or API during a rolling 30 day cycle that exceeds 200% of your phone number service level quota, you will be blocked from claiming any more numbers until 30 days past the oldest number released has expired. </p> <p>For example, if you already have 99 claimed numbers and a service level quota of 99 phone numbers, and in any 30 day period you release 99, claim 99, and then release 99, you will have exceeded the 200% limit. At that point you are blocked from claiming any more numbers until you open an Amazon Web Services support ticket.</p>"
    },
    "CreateAgentStatus":{
      "name":"CreateAgentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"CreateAgentStatusRequest"},
      "output":{"shape":"CreateAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates an agent status for the specified Amazon Connect instance.</p>"
    },
    "CreateContactFlow":{
      "name":"CreateContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flows/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowRequest"},
      "output":{"shape":"CreateContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a flow for the specified Amazon Connect instance.</p> <p>You can also create and update flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "CreateContactFlowModule":{
      "name":"CreateContactFlowModule",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flow-modules/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowModuleRequest"},
      "output":{"shape":"CreateContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowModuleException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotencyException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a flow module for the specified Amazon Connect instance. </p>"
    },
    "CreateEvaluationForm":{
      "name":"CreateEvaluationForm",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluation-forms/{InstanceId}"
      },
      "input":{"shape":"CreateEvaluationFormRequest"},
      "output":{"shape":"CreateEvaluationFormResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates an evaluation form in the specified Amazon Connect instance. The form can be used to define questions related to agent performance, and create sections to organize such questions. Question and section identifiers cannot be duplicated within the same evaluation form.</p>",
      "idempotent":true
    },
    "CreateHoursOfOperation":{
      "name":"CreateHoursOfOperation",
      "http":{
        "method":"PUT",
        "requestUri":"/hours-of-operations/{InstanceId}"
      },
      "input":{"shape":"CreateHoursOfOperationRequest"},
      "output":{"shape":"CreateHoursOfOperationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates hours of operation. </p>"
    },
    "CreateInstance":{
      "name":"CreateInstance",
      "http":{
        "method":"PUT",
        "requestUri":"/instance"
      },
      "input":{"shape":"CreateInstanceRequest"},
      "output":{"shape":"CreateInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Initiates an Amazon Connect instance with all the supported channels enabled. It does not attach any storage, such as Amazon Simple Storage Service (Amazon S3) or Amazon Kinesis. It also does not allow for any configurations on features, such as Contact Lens for Amazon Connect. </p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "CreateIntegrationAssociation":{
      "name":"CreateIntegrationAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"CreateIntegrationAssociationRequest"},
      "output":{"shape":"CreateIntegrationAssociationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services resource association with an Amazon Connect instance.</p>"
    },
    "CreateParticipant":{
      "name":"CreateParticipant",
      "http":{
        "method":"POST",
        "requestUri":"/contact/create-participant"
      },
      "input":{"shape":"CreateParticipantRequest"},
      "output":{"shape":"CreateParticipantResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds a new participant into an on-going chat contact. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-customize-flow.html\">Customize chat flow experiences by integrating custom participants</a>.</p>"
    },
    "CreatePersistentContactAssociation":{
      "name":"CreatePersistentContactAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/contact/persistent-contact-association/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"CreatePersistentContactAssociationRequest"},
      "output":{"shape":"CreatePersistentContactAssociationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Enables rehydration of chats for the lifespan of a contact. For more information about chat rehydration, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-persistence.html\">Enable persistent chat</a> in the <i>Amazon Connect Administrator Guide</i>. </p>"
    },
    "CreatePredefinedAttribute":{
      "name":"CreatePredefinedAttribute",
      "http":{
        "method":"PUT",
        "requestUri":"/predefined-attributes/{InstanceId}"
      },
      "input":{"shape":"CreatePredefinedAttributeRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new predefined attribute for the specified Amazon Connect instance.</p>"
    },
    "CreatePrompt":{
      "name":"CreatePrompt",
      "http":{
        "method":"PUT",
        "requestUri":"/prompts/{InstanceId}"
      },
      "input":{"shape":"CreatePromptRequest"},
      "output":{"shape":"CreatePromptResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a prompt. For more information about prompts, such as supported file types and maximum length, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/prompts.html\">Create prompts</a> in the <i>Amazon Connect Administrator's Guide</i>.</p>"
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/queues/{InstanceId}"
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates a new queue for the specified Amazon Connect instance.</p> <important> <ul> <li> <p>If the phone number is claimed to a traffic distribution group that was created in the same Region as the Amazon Connect instance where you are calling this API, then you can use a full phone number ARN or a UUID for <code>OutboundCallerIdNumberId</code>. However, if the phone number is claimed to a traffic distribution group that is in one Region, and you are calling this API from an instance in another Amazon Web Services Region that is associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </li> <li> <p>Only use the phone number ARN format that doesn't contain <code>instance</code> in the path, for example, <code>arn:aws:connect:us-east-1:1234567890:phone-number/uuid</code>. This is the same ARN format that is returned when you call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_ListPhoneNumbersV2.html\">ListPhoneNumbersV2</a> API.</p> </li> <li> <p>If you plan to use IAM policies to allow/deny access to this API for phone number resources claimed to a traffic distribution group, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_resource-level-policy-examples.html#allow-deny-queue-actions-replica-region\">Allow or Deny queue API actions for phone numbers in a replica Region</a>.</p> </li> </ul> </important>"
    },
    "CreateQuickConnect":{
      "name":"CreateQuickConnect",
      "http":{
        "method":"PUT",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"CreateQuickConnectRequest"},
      "output":{"shape":"CreateQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a quick connect for the specified Amazon Connect instance.</p>"
    },
    "CreateRoutingProfile":{
      "name":"CreateRoutingProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/routing-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateRoutingProfileRequest"},
      "output":{"shape":"CreateRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new routing profile.</p>"
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/rules/{InstanceId}"
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a rule for the specified Amazon Connect instance.</p> <p>Use the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/connect-rules-language.html\">Rules Function language</a> to code conditions for the rule. </p>"
    },
    "CreateSecurityProfile":{
      "name":"CreateSecurityProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/security-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateSecurityProfileRequest"},
      "output":{"shape":"CreateSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a security profile.</p>"
    },
    "CreateTaskTemplate":{
      "name":"CreateTaskTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/task/template"
      },
      "input":{"shape":"CreateTaskTemplateRequest"},
      "output":{"shape":"CreateTaskTemplateResponse"},
      "errors":[
        {"shape":"PropertyValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new task template in the specified Amazon Connect instance.</p>"
    },
    "CreateTrafficDistributionGroup":{
      "name":"CreateTrafficDistributionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group"
      },
      "input":{"shape":"CreateTrafficDistributionGroupRequest"},
      "output":{"shape":"CreateTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceNotReadyException"}
      ],
      "documentation":"<p>Creates a traffic distribution group given an Amazon Connect instance that has been replicated. </p> <note> <p>The <code>SignInConfig</code> distribution is available only on a default <code>TrafficDistributionGroup</code> (see the <code>IsDefault</code> parameter in the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_TrafficDistributionGroup.html\">TrafficDistributionGroup</a> data type). If you call <code>UpdateTrafficDistribution</code> with a modified <code>SignInConfig</code> and a non-default <code>TrafficDistributionGroup</code>, an <code>InvalidRequestException</code> is returned.</p> </note> <p>For more information about creating traffic distribution groups, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/setup-traffic-distribution-groups.html\">Set up traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>. </p>"
    },
    "CreateUseCase":{
      "name":"CreateUseCase",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"CreateUseCaseRequest"},
      "output":{"shape":"CreateUseCaseResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a use case for an integration association.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/users/{InstanceId}"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a user account for the specified Amazon Connect instance.</p> <important> <p>Certain <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_UserIdentityInfo.html\">UserIdentityInfo</a> parameters are required in some situations. For example, <code>Email</code> is required if you are using SAML for identity management. <code>FirstName</code> and <code>LastName</code> are required if you are using Amazon Connect or SAML for identity management.</p> </important> <p>For information about how to create users using the Amazon Connect admin website, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/user-management.html\">Add Users</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "CreateUserHierarchyGroup":{
      "name":"CreateUserHierarchyGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/user-hierarchy-groups/{InstanceId}"
      },
      "input":{"shape":"CreateUserHierarchyGroupRequest"},
      "output":{"shape":"CreateUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new user hierarchy group.</p>"
    },
    "CreateView":{
      "name":"CreateView",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}"
      },
      "input":{"shape":"CreateViewRequest"},
      "output":{"shape":"CreateViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Creates a new view with the possible status of <code>SAVED</code> or <code>PUBLISHED</code>.</p> <p>The views will have a unique name for each connect instance.</p> <p>It performs basic content validation if the status is <code>SAVED</code> or full content validation if the status is set to <code>PUBLISHED</code>. An error is returned if validation fails. It associates either the <code>$SAVED</code> qualifier or both of the <code>$SAVED</code> and <code>$LATEST</code> qualifiers with the provided view content based on the status. The view is idempotent if ClientToken is provided.</p>",
      "idempotent":true
    },
    "CreateViewVersion":{
      "name":"CreateViewVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions"
      },
      "input":{"shape":"CreateViewVersionRequest"},
      "output":{"shape":"CreateViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Publishes a new version of the view identifier.</p> <p>Versions are immutable and monotonically increasing.</p> <p>It returns the highest version if there is no change in content compared to that version. An error is displayed if the supplied ViewContentSha256 is different from the ViewContentSha256 of the <code>$LATEST</code> alias.</p>",
      "idempotent":true
    },
    "CreateVocabulary":{
      "name":"CreateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary/{InstanceId}"
      },
      "input":{"shape":"CreateVocabularyRequest"},
      "output":{"shape":"CreateVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a custom vocabulary associated with your Amazon Connect instance. You can set a custom vocabulary to be your default vocabulary for a given language. Contact Lens for Amazon Connect uses the default vocabulary in post-call and real-time contact analysis sessions for that language.</p>"
    },
    "DeactivateEvaluationForm":{
      "name":"DeactivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/deactivate"
      },
      "input":{"shape":"DeactivateEvaluationFormRequest"},
      "output":{"shape":"DeactivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deactivates an evaluation form in the specified Amazon Connect instance. After a form is deactivated, it is no longer available for users to start new evaluations based on the form. </p>"
    },
    "DeleteContactEvaluation":{
      "name":"DeleteContactEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DeleteContactEvaluationRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes a contact evaluation in the specified Amazon Connect instance.</p>",
      "idempotent":true
    },
    "DeleteContactFlow":{
      "name":"DeleteContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DeleteContactFlowRequest"},
      "output":{"shape":"DeleteContactFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a flow for the specified Amazon Connect instance.</p>"
    },
    "DeleteContactFlowModule":{
      "name":"DeleteContactFlowModule",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DeleteContactFlowModuleRequest"},
      "output":{"shape":"DeleteContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes the specified flow module.</p>"
    },
    "DeleteEvaluationForm":{
      "name":"DeleteEvaluationForm",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DeleteEvaluationFormRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes an evaluation form in the specified Amazon Connect instance. </p> <ul> <li> <p>If the version property is provided, only the specified version of the evaluation form is deleted.</p> </li> <li> <p>If no version is provided, then the full form (all versions) is deleted.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteHoursOfOperation":{
      "name":"DeleteHoursOfOperation",
      "http":{
        "method":"DELETE",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DeleteHoursOfOperationRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes an hours of operation.</p>"
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes the Amazon Connect instance.</p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "DeleteIntegrationAssociation":{
      "name":"DeleteIntegrationAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}"
      },
      "input":{"shape":"DeleteIntegrationAssociationRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Web Services resource association from an Amazon Connect instance. The association must not have any use cases associated with it.</p>"
    },
    "DeletePredefinedAttribute":{
      "name":"DeletePredefinedAttribute",
      "http":{
        "method":"DELETE",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DeletePredefinedAttributeRequest"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a predefined attribute from the specified Amazon Connect instance.</p>",
      "idempotent":true
    },
    "DeletePrompt":{
      "name":"DeletePrompt",
      "http":{
        "method":"DELETE",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DeletePromptRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a prompt.</p>"
    },
    "DeleteQueue":{
      "name":"DeleteQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DeleteQueueRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a queue.</p>"
    },
    "DeleteQuickConnect":{
      "name":"DeleteQuickConnect",
      "http":{
        "method":"DELETE",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DeleteQuickConnectRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a quick connect.</p>"
    },
    "DeleteRoutingProfile":{
      "name":"DeleteRoutingProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DeleteRoutingProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a routing profile.</p>"
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DeleteRuleRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a rule for the specified Amazon Connect instance.</p>"
    },
    "DeleteSecurityProfile":{
      "name":"DeleteSecurityProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DeleteSecurityProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes a security profile.</p>"
    },
    "DeleteTaskTemplate":{
      "name":"DeleteTaskTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/task/template/{TaskTemplateId}"
      },
      "input":{"shape":"DeleteTaskTemplateRequest"},
      "output":{"shape":"DeleteTaskTemplateResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes the task template.</p>"
    },
    "DeleteTrafficDistributionGroup":{
      "name":"DeleteTrafficDistributionGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DeleteTrafficDistributionGroupRequest"},
      "output":{"shape":"DeleteTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a traffic distribution group. This API can be called only in the Region where the traffic distribution group is created.</p> <p>For more information about deleting traffic distribution groups, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-traffic-distribution-groups.html\">Delete traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "DeleteUseCase":{
      "name":"DeleteUseCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases/{UseCaseId}"
      },
      "input":{"shape":"DeleteUseCaseRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a use case from an integration association.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a user account from the specified Amazon Connect instance.</p> <p>For information about what happens to a user's data when their account is deleted, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-users.html\">Delete Users from Your Amazon Connect Instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "DeleteUserHierarchyGroup":{
      "name":"DeleteUserHierarchyGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DeleteUserHierarchyGroupRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes an existing user hierarchy group. It must not be associated with any agents or have any active child groups.</p>"
    },
    "DeleteView":{
      "name":"DeleteView",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DeleteViewRequest"},
      "output":{"shape":"DeleteViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the view entirely. It deletes the view and all associated qualifiers (versions and aliases).</p>"
    },
    "DeleteViewVersion":{
      "name":"DeleteViewVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions/{ViewVersion}"
      },
      "input":{"shape":"DeleteViewVersionRequest"},
      "output":{"shape":"DeleteViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the particular version specified in <code>ViewVersion</code> identifier.</p>"
    },
    "DeleteVocabulary":{
      "name":"DeleteVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary-remove/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DeleteVocabularyRequest"},
      "output":{"shape":"DeleteVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the vocabulary that has the given identifier.</p>"
    },
    "DescribeAgentStatus":{
      "name":"DescribeAgentStatus",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}/{AgentStatusId}"
      },
      "input":{"shape":"DescribeAgentStatusRequest"},
      "output":{"shape":"DescribeAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes an agent status.</p>"
    },
    "DescribeContact":{
      "name":"DescribeContact",
      "http":{
        "method":"GET",
        "requestUri":"/contacts/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"DescribeContactRequest"},
      "output":{"shape":"DescribeContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified contact. </p> <important> <p>Contact information remains available in Amazon Connect for 24 months, and then it is deleted.</p> <p>Only data from November 12, 2021, and later is returned by this API.</p> </important>"
    },
    "DescribeContactEvaluation":{
      "name":"DescribeContactEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DescribeContactEvaluationRequest"},
      "output":{"shape":"DescribeContactEvaluationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes a contact evaluation in the specified Amazon Connect instance.</p>"
    },
    "DescribeContactFlow":{
      "name":"DescribeContactFlow",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DescribeContactFlowRequest"},
      "output":{"shape":"DescribeContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ContactFlowNotPublishedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified flow.</p> <p>You can also create and update flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "DescribeContactFlowModule":{
      "name":"DescribeContactFlowModule",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DescribeContactFlowModuleRequest"},
      "output":{"shape":"DescribeContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified flow module.</p>"
    },
    "DescribeEvaluationForm":{
      "name":"DescribeEvaluationForm",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DescribeEvaluationFormRequest"},
      "output":{"shape":"DescribeEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes an evaluation form in the specified Amazon Connect instance. If the version property is not provided, the latest version of the evaluation form is described.</p>"
    },
    "DescribeHoursOfOperation":{
      "name":"DescribeHoursOfOperation",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DescribeHoursOfOperationRequest"},
      "output":{"shape":"DescribeHoursOfOperationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the hours of operation.</p>"
    },
    "DescribeInstance":{
      "name":"DescribeInstance",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DescribeInstanceRequest"},
      "output":{"shape":"DescribeInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns the current state of the specified instance identifier. It tracks the instance while it is being created and returns an error status, if applicable. </p> <p>If an instance is not created successfully, the instance status reason field returns details relevant to the reason. The instance in a failed state is returned only for 24 hours after the CreateInstance API was invoked.</p>"
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attribute/{AttributeType}"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"DescribeInstanceAttributeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified instance attribute.</p>"
    },
    "DescribeInstanceStorageConfig":{
      "name":"DescribeInstanceStorageConfig",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DescribeInstanceStorageConfigRequest"},
      "output":{"shape":"DescribeInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Retrieves the current storage configurations for the specified resource type, association ID, and instance ID.</p>"
    },
    "DescribePhoneNumber":{
      "name":"DescribePhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number/{PhoneNumberId}"
      },
      "input":{"shape":"DescribePhoneNumberRequest"},
      "output":{"shape":"DescribePhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets details and status of a phone number that’s claimed to your Amazon Connect instance or traffic distribution group.</p> <important> <p>If the number is claimed to a traffic distribution group, and you are calling in the Amazon Web Services Region where the traffic distribution group was created, you can use either a phone number ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the number is claimed to a traffic distribution group and you are calling this API in the alternate Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </important>"
    },
    "DescribePredefinedAttribute":{
      "name":"DescribePredefinedAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DescribePredefinedAttributeRequest"},
      "output":{"shape":"DescribePredefinedAttributeResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes a predefined attribute for the specified Amazon Connect instance.</p>"
    },
    "DescribePrompt":{
      "name":"DescribePrompt",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DescribePromptRequest"},
      "output":{"shape":"DescribePromptResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the prompt.</p>"
    },
    "DescribeQueue":{
      "name":"DescribeQueue",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DescribeQueueRequest"},
      "output":{"shape":"DescribeQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified queue.</p>"
    },
    "DescribeQuickConnect":{
      "name":"DescribeQuickConnect",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DescribeQuickConnectRequest"},
      "output":{"shape":"DescribeQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the quick connect.</p>"
    },
    "DescribeRoutingProfile":{
      "name":"DescribeRoutingProfile",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DescribeRoutingProfileRequest"},
      "output":{"shape":"DescribeRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified routing profile.</p>"
    },
    "DescribeRule":{
      "name":"DescribeRule",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DescribeRuleRequest"},
      "output":{"shape":"DescribeRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a rule for the specified Amazon Connect instance.</p>"
    },
    "DescribeSecurityProfile":{
      "name":"DescribeSecurityProfile",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DescribeSecurityProfileRequest"},
      "output":{"shape":"DescribeSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Gets basic information about the security profle.</p>"
    },
    "DescribeTrafficDistributionGroup":{
      "name":"DescribeTrafficDistributionGroup",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DescribeTrafficDistributionGroupRequest"},
      "output":{"shape":"DescribeTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets details and status of a traffic distribution group.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified user. You can <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/find-instance-arn.html\">find the instance ID in the Amazon Connect console</a> (it’s the final part of the ARN). The console does not display the user IDs. Instead, list the users and note the IDs provided in the output.</p>"
    },
    "DescribeUserHierarchyGroup":{
      "name":"DescribeUserHierarchyGroup",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DescribeUserHierarchyGroupRequest"},
      "output":{"shape":"DescribeUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified hierarchy group.</p>"
    },
    "DescribeUserHierarchyStructure":{
      "name":"DescribeUserHierarchyStructure",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-structure/{InstanceId}"
      },
      "input":{"shape":"DescribeUserHierarchyStructureRequest"},
      "output":{"shape":"DescribeUserHierarchyStructureResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>"
    },
    "DescribeView":{
      "name":"DescribeView",
      "http":{
        "method":"GET",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DescribeViewRequest"},
      "output":{"shape":"DescribeViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves the view for the specified Amazon Connect instance and view identifier.</p> <p>The view identifier can be supplied as a ViewId or ARN.</p> <p> <code>$SAVED</code> needs to be supplied if a view is unpublished.</p> <p>The view identifier can contain an optional qualifier, for example, <code>&lt;view-id&gt;:$SAVED</code>, which is either an actual version number or an Amazon Connect managed qualifier <code>$SAVED | $LATEST</code>. If it is not supplied, then <code>$LATEST</code> is assumed for customer managed views and an error is returned if there is no published content available. Version 1 is assumed for Amazon Web Services managed views.</p>"
    },
    "DescribeVocabulary":{
      "name":"DescribeVocabulary",
      "http":{
        "method":"GET",
        "requestUri":"/vocabulary/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DescribeVocabularyRequest"},
      "output":{"shape":"DescribeVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the specified vocabulary.</p>"
    },
    "DisassociateAnalyticsDataSet":{
      "name":"DisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"DisassociateAnalyticsDataSetRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Removes the dataset ID associated with a given Amazon Connect instance.</p>"
    },
    "DisassociateApprovedOrigin":{
      "name":"DisassociateApprovedOrigin",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"DisassociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes access to integrated applications from Amazon Connect.</p>"
    },
    "DisassociateBot":{
      "name":"DisassociateBot",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"DisassociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes authorization from the specified instance to access the specified Amazon Lex or Amazon Lex V2 bot. </p>"
    },
    "DisassociateFlow":{
      "name":"DisassociateFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/flow-associations/{InstanceId}/{ResourceId}/{ResourceType}"
      },
      "input":{"shape":"DisassociateFlowRequest"},
      "output":{"shape":"DisassociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a connect resource from a flow.</p>"
    },
    "DisassociateInstanceStorageConfig":{
      "name":"DisassociateInstanceStorageConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DisassociateInstanceStorageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Removes the storage type configurations for the specified resource type and association ID.</p>"
    },
    "DisassociateLambdaFunction":{
      "name":"DisassociateLambdaFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"DisassociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Remove the Lambda function from the dropdown options available in the relevant flow blocks.</p>"
    },
    "DisassociateLexBot":{
      "name":"DisassociateLexBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"DisassociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes authorization from the specified instance to access the specified Amazon Lex bot.</p>"
    },
    "DisassociatePhoneNumberContactFlow":{
      "name":"DisassociatePhoneNumberContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-number/{PhoneNumberId}/contact-flow"
      },
      "input":{"shape":"DisassociatePhoneNumberContactFlowRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes the flow association from a phone number claimed to your Amazon Connect instance.</p> <important> <p>If the number is claimed to a traffic distribution group, and you are calling this API using an instance in the Amazon Web Services Region where the traffic distribution group was created, you can use either a full phone number ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the number is claimed to a traffic distribution group and you are calling this API using an instance in the alternate Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </important>"
    },
    "DisassociateQueueQuickConnects":{
      "name":"DisassociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/disassociate-quick-connects"
      },
      "input":{"shape":"DisassociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Disassociates a set of quick connects from a queue.</p>"
    },
    "DisassociateRoutingProfileQueues":{
      "name":"DisassociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/disassociate-queues"
      },
      "input":{"shape":"DisassociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Disassociates a set of queues from a routing profile.</p>"
    },
    "DisassociateSecurityKey":{
      "name":"DisassociateSecurityKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/security-key/{AssociationId}"
      },
      "input":{"shape":"DisassociateSecurityKeyRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes the specified security key.</p>"
    },
    "DisassociateTrafficDistributionGroupUser":{
      "name":"DisassociateTrafficDistributionGroupUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"DisassociateTrafficDistributionGroupUserRequest"},
      "output":{"shape":"DisassociateTrafficDistributionGroupUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Disassociates an agent from a traffic distribution group.</p>",
      "idempotent":true
    },
    "DisassociateUserProficiencies":{
      "name":"DisassociateUserProficiencies",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/disassociate-proficiencies"
      },
      "input":{"shape":"DisassociateUserProficienciesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Disassociates a set of proficiencies from a user.</p>"
    },
    "DismissUserContact":{
      "name":"DismissUserContact",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/contact"
      },
      "input":{"shape":"DismissUserContactRequest"},
      "output":{"shape":"DismissUserContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Dismisses contacts from an agent’s CCP and returns the agent to an available state, which allows the agent to receive a new routed contact. Contacts can only be dismissed if they are in a <code>MISSED</code>, <code>ERROR</code>, <code>ENDED</code>, or <code>REJECTED</code> state in the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/about-contact-states.html\">Agent Event Stream</a>.</p>"
    },
    "GetContactAttributes":{
      "name":"GetContactAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/contact/attributes/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"GetContactAttributesRequest"},
      "output":{"shape":"GetContactAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Retrieves the contact attributes for the specified contact.</p>"
    },
    "GetCurrentMetricData":{
      "name":"GetCurrentMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/current/{InstanceId}"
      },
      "input":{"shape":"GetCurrentMetricDataRequest"},
      "output":{"shape":"GetCurrentMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the real-time metric data from the specified Amazon Connect instance.</p> <p>For a description of each metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-definitions.html\">Real-time Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "GetCurrentUserData":{
      "name":"GetCurrentUserData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/userdata/{InstanceId}"
      },
      "input":{"shape":"GetCurrentUserDataRequest"},
      "output":{"shape":"GetCurrentUserDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the real-time active user data from the specified Amazon Connect instance. </p>"
    },
    "GetFederationToken":{
      "name":"GetFederationToken",
      "http":{
        "method":"GET",
        "requestUri":"/user/federate/{InstanceId}"
      },
      "input":{"shape":"GetFederationTokenRequest"},
      "output":{"shape":"GetFederationTokenResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"}
      ],
      "documentation":"<p>Supports SAML sign-in for Amazon Connect. Retrieves a token for federation. The token is for the Amazon Connect user which corresponds to the IAM credentials that were used to invoke this action. </p> <p>For more information about how SAML sign-in works in Amazon Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/configure-saml.html \">Configure SAML with IAM for Amazon Connect in the <i>Amazon Connect Administrator Guide</i>.</a> </p> <note> <p>This API doesn't support root users. If you try to invoke GetFederationToken with root credentials, an error message similar to the following one appears: </p> <p> <code>Provided identity: Principal: .... User: .... cannot be used for federation with Amazon Connect</code> </p> </note>"
    },
    "GetFlowAssociation":{
      "name":"GetFlowAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/flow-associations/{InstanceId}/{ResourceId}/{ResourceType}"
      },
      "input":{"shape":"GetFlowAssociationRequest"},
      "output":{"shape":"GetFlowAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the flow associated for a given resource.</p>"
    },
    "GetMetricData":{
      "name":"GetMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/historical/{InstanceId}"
      },
      "input":{"shape":"GetMetricDataRequest"},
      "output":{"shape":"GetMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets historical metric data from the specified Amazon Connect instance.</p> <p>For a description of each historical metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics-definitions.html\">Historical Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p> <note> <p>We recommend using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_GetMetricDataV2.html\">GetMetricDataV2</a> API. It provides more flexibility, features, and the ability to query longer time ranges than <code>GetMetricData</code>. Use it to retrieve historical agent and contact metrics for the last 3 months, at varying intervals. You can also use it to build custom dashboards to measure historical queue and agent performance. For example, you can track the number of incoming contacts for the last 7 days, with data split by day, to see how contact volume changed per day of the week.</p> </note>"
    },
    "GetMetricDataV2":{
      "name":"GetMetricDataV2",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/data"
      },
      "input":{"shape":"GetMetricDataV2Request"},
      "output":{"shape":"GetMetricDataV2Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets metric data from the specified Amazon Connect instance. </p> <p> <code>GetMetricDataV2</code> offers more features than <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_GetMetricData.html\">GetMetricData</a>, the previous version of this API. It has new metrics, offers filtering at a metric level, and offers the ability to filter and group data by channels, queues, routing profiles, agents, and agent hierarchy levels. It can retrieve historical data for the last 3 months, at varying intervals. </p> <p>For a description of the historical metrics that are supported by <code>GetMetricDataV2</code> and <code>GetMetricData</code>, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics-definitions.html\">Historical metrics definitions</a> in the <i>Amazon Connect Administrator's Guide</i>.</p>"
    },
    "GetPromptFile":{
      "name":"GetPromptFile",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{InstanceId}/{PromptId}/file"
      },
      "input":{"shape":"GetPromptFileRequest"},
      "output":{"shape":"GetPromptFileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Gets the prompt file.</p>"
    },
    "GetTaskTemplate":{
      "name":"GetTaskTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/task/template/{TaskTemplateId}"
      },
      "input":{"shape":"GetTaskTemplateRequest"},
      "output":{"shape":"GetTaskTemplateResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Gets details about a specific task template in the specified Amazon Connect instance.</p>"
    },
    "GetTrafficDistribution":{
      "name":"GetTrafficDistribution",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution/{Id}"
      },
      "input":{"shape":"GetTrafficDistributionRequest"},
      "output":{"shape":"GetTrafficDistributionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the current traffic distribution for a given traffic distribution group.</p>"
    },
    "ImportPhoneNumber":{
      "name":"ImportPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/import"
      },
      "input":{"shape":"ImportPhoneNumberRequest"},
      "output":{"shape":"ImportPhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Imports a claimed phone number from an external service, such as Amazon Pinpoint, into an Amazon Connect instance. You can call this API only in the same Amazon Web Services Region where the Amazon Connect instance was created.</p>"
    },
    "ListAgentStatuses":{
      "name":"ListAgentStatuses",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"ListAgentStatusRequest"},
      "output":{"shape":"ListAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Lists agent statuses.</p>"
    },
    "ListAnalyticsDataAssociations":{
      "name":"ListAnalyticsDataAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"ListAnalyticsDataAssociationsRequest"},
      "output":{"shape":"ListAnalyticsDataAssociationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Lists the association status of requested dataset ID for a given Amazon Connect instance.</p>"
    },
    "ListApprovedOrigins":{
      "name":"ListApprovedOrigins",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/approved-origins"
      },
      "input":{"shape":"ListApprovedOriginsRequest"},
      "output":{"shape":"ListApprovedOriginsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all approved origins associated with the instance.</p>"
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/bots"
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>For the specified version of Amazon Lex, returns a paginated list of all the Amazon Lex bots currently associated with the instance. Use this API to returns both Amazon Lex V1 and V2 bots.</p>"
    },
    "ListContactEvaluations":{
      "name":"ListContactEvaluations",
      "http":{
        "method":"GET",
        "requestUri":"/contact-evaluations/{InstanceId}"
      },
      "input":{"shape":"ListContactEvaluationsRequest"},
      "output":{"shape":"ListContactEvaluationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
[...]
