{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"datazone",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon DataZone",
    "serviceId":"DataZone",
    "signatureVersion":"v4",
    "signingName":"datazone",
    "uid":"datazone-2018-05-10"
  },
  "operations":{
    "AcceptPredictions":{
      "name":"AcceptPredictions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
        "responseCode":200
      },
      "input":{"shape":"AcceptPredictionsInput"},
      "output":{"shape":"AcceptPredictionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Accepts automatically generated business-friendly metadata for your Amazon DataZone assets.</p>",
      "idempotent":true
    },
    "AcceptSubscriptionRequest":{
      "name":"AcceptSubscriptionRequest",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
        "responseCode":200
      },
      "input":{"shape":"AcceptSubscriptionRequestInput"},
      "output":{"shape":"AcceptSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Accepts a subscription request to a specific asset. </p>",
      "idempotent":true
    },
    "CancelSubscription":{
      "name":"CancelSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelSubscriptionInput"},
      "output":{"shape":"CancelSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Cancels the subscription to the specified asset.</p>",
      "idempotent":true
    },
    "CreateAsset":{
      "name":"CreateAsset",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetInput"},
      "output":{"shape":"CreateAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an asset in Amazon DataZone catalog.</p>",
      "idempotent":true
    },
    "CreateAssetRevision":{
      "name":"CreateAssetRevision",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"CreateAssetRevisionInput"},
      "output":{"shape":"CreateAssetRevisionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a revision of the asset.</p>",
      "idempotent":true
    },
    "CreateAssetType":{
      "name":"CreateAssetType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetTypeInput"},
      "output":{"shape":"CreateAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a custom asset type.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":201
      },
      "input":{"shape":"CreateDataSourceInput"},
      "output":{"shape":"CreateDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone data source.</p>",
      "idempotent":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains",
        "responseCode":201
      },
      "input":{"shape":"CreateDomainInput"},
      "output":{"shape":"CreateDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone domain.</p>",
      "idempotent":true
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentInput"},
      "output":{"shape":"CreateEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Create an Amazon DataZone environment.</p>"
    },
    "CreateEnvironmentProfile":{
      "name":"CreateEnvironmentProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentProfileInput"},
      "output":{"shape":"CreateEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone environment profile.</p>"
    },
    "CreateFormType":{
      "name":"CreateFormType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types",
        "responseCode":201
      },
      "input":{"shape":"CreateFormTypeInput"},
      "output":{"shape":"CreateFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a metadata form type.</p>"
    },
    "CreateGlossary":{
      "name":"CreateGlossary",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryInput"},
      "output":{"shape":"CreateGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone business glossary.</p>",
      "idempotent":true
    },
    "CreateGlossaryTerm":{
      "name":"CreateGlossaryTerm",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryTermInput"},
      "output":{"shape":"CreateGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a business glossary term.</p>",
      "idempotent":true
    },
    "CreateGroupProfile":{
      "name":"CreateGroupProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateGroupProfileInput"},
      "output":{"shape":"CreateGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a group profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "CreateListingChangeSet":{
      "name":"CreateListingChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/change-set",
        "responseCode":200
      },
      "input":{"shape":"CreateListingChangeSetInput"},
      "output":{"shape":"CreateListingChangeSetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p/>"
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone project.</p>"
    },
    "CreateProjectMembership":{
      "name":"CreateProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectMembershipInput"},
      "output":{"shape":"CreateProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a project membership in Amazon DataZone.</p>"
    },
    "CreateSubscriptionGrant":{
      "name":"CreateSubscriptionGrant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionGrantInput"},
      "output":{"shape":"CreateSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subsscription grant in Amazon DataZone.</p>"
    },
    "CreateSubscriptionRequest":{
      "name":"CreateSubscriptionRequest",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionRequestInput"},
      "output":{"shape":"CreateSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subscription request in Amazon DataZone.</p>"
    },
    "CreateSubscriptionTarget":{
      "name":"CreateSubscriptionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionTargetInput"},
      "output":{"shape":"CreateSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subscription target in Amazon DataZone.</p>"
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateUserProfileInput"},
      "output":{"shape":"CreateUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a user profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteAsset":{
      "name":"DeleteAsset",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetInput"},
      "output":{"shape":"DeleteAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Delets an asset in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteAssetType":{
      "name":"DeleteAssetType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetTypeInput"},
      "output":{"shape":"DeleteAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an asset type in Amazon DataZone.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataSourceInput"},
      "output":{"shape":"DeleteDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a data source in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDomainInput"},
      "output":{"shape":"DeleteDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a Amazon DataZone domain.</p>",
      "idempotent":true
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an environment in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentBlueprintConfiguration":{
      "name":"DeleteEnvironmentBlueprintConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"DeleteEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes the blueprint configuration in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentProfile":{
      "name":"DeleteEnvironmentProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentProfileInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an environment profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteFormType":{
      "name":"DeleteFormType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFormTypeInput"},
      "output":{"shape":"DeleteFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Delets and metadata form type in Amazon DataZone.</p>"
    },
    "DeleteGlossary":{
      "name":"DeleteGlossary",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryInput"},
      "output":{"shape":"DeleteGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a business glossary in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteGlossaryTerm":{
      "name":"DeleteGlossaryTerm",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryTermInput"},
      "output":{"shape":"DeleteGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a business glossary term in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteListing":{
      "name":"DeleteListing",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteListingInput"},
      "output":{"shape":"DeleteListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p/>",
      "idempotent":true
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectInput"},
      "output":{"shape":"DeleteProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a project in Amazon DataZone. </p>",
      "idempotent":true
    },
    "DeleteProjectMembership":{
      "name":"DeleteProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/deleteMembership",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectMembershipInput"},
      "output":{"shape":"DeleteProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes project membership in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteSubscriptionGrant":{
      "name":"DeleteSubscriptionGrant",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSubscriptionGrantInput"},
      "output":{"shape":"DeleteSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes and subscription grant in Amazon DataZone.</p>"
    },
    "DeleteSubscriptionRequest":{
      "name":"DeleteSubscriptionRequest",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionRequestInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a subscription request in Amazon DataZone.</p>"
    },
    "DeleteSubscriptionTarget":{
      "name":"DeleteSubscriptionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionTargetInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a subscription target in Amazon DataZone.</p>"
    },
    "GetAsset":{
      "name":"GetAsset",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetInput"},
      "output":{"shape":"GetAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone asset.</p>"
    },
    "GetAssetType":{
      "name":"GetAssetType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetTypeInput"},
      "output":{"shape":"GetAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone asset type.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceInput"},
      "output":{"shape":"GetDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone data source.</p>"
    },
    "GetDataSourceRun":{
      "name":"GetDataSourceRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRunInput"},
      "output":{"shape":"GetDataSourceRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone data source run.</p>"
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDomainInput"},
      "output":{"shape":"GetDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone domain.</p>"
    },
    "GetEnvironment":{
      "name":"GetEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentInput"},
      "output":{"shape":"GetEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone environment.</p>"
    },
    "GetEnvironmentBlueprint":{
      "name":"GetEnvironmentBlueprint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintInput"},
      "output":{"shape":"GetEnvironmentBlueprintOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone blueprint.</p>"
    },
    "GetEnvironmentBlueprintConfiguration":{
      "name":"GetEnvironmentBlueprintConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"GetEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the blueprint configuration in Amazon DataZone.</p>"
    },
    "GetEnvironmentProfile":{
      "name":"GetEnvironmentProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentProfileInput"},
      "output":{"shape":"GetEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an evinronment profile in Amazon DataZone.</p>"
    },
    "GetFormType":{
      "name":"GetFormType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFormTypeInput"},
      "output":{"shape":"GetFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a metadata form type in Amazon DataZone.</p>"
    },
    "GetGlossary":{
      "name":"GetGlossary",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryInput"},
      "output":{"shape":"GetGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a business glossary in Amazon DataZone.</p>"
    },
    "GetGlossaryTerm":{
      "name":"GetGlossaryTerm",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryTermInput"},
      "output":{"shape":"GetGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a business glossary term in Amazon DataZone.</p>"
    },
    "GetGroupProfile":{
      "name":"GetGroupProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGroupProfileInput"},
      "output":{"shape":"GetGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a group profile in Amazon DataZone.</p>"
    },
    "GetIamPortalLoginUrl":{
      "name":"GetIamPortalLoginUrl",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/get-portal-login-url",
        "responseCode":200
      },
      "input":{"shape":"GetIamPortalLoginUrlInput"},
      "output":{"shape":"GetIamPortalLoginUrlOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the data portal URL for the specified Amazon DataZone domain.</p>"
    },
    "GetListing":{
      "name":"GetListing",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetListingInput"},
      "output":{"shape":"GetListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p/>"
    },
    "GetProject":{
      "name":"GetProject",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProjectInput"},
      "output":{"shape":"GetProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a project in Amazon DataZone.</p>"
    },
    "GetSubscription":{
      "name":"GetSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionInput"},
      "output":{"shape":"GetSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a subscription in Amazon DataZone.</p>"
    },
    "GetSubscriptionGrant":{
      "name":"GetSubscriptionGrant",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionGrantInput"},
      "output":{"shape":"GetSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the subscription grant in Amazon DataZone.</p>"
    },
    "GetSubscriptionRequestDetails":{
      "name":"GetSubscriptionRequestDetails",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionRequestDetailsInput"},
      "output":{"shape":"GetSubscriptionRequestDetailsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the details of the specified subscription request.</p>"
    },
    "GetSubscriptionTarget":{
      "name":"GetSubscriptionTarget",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionTargetInput"},
      "output":{"shape":"GetSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the subscription target in Amazon DataZone.</p>"
    },
    "GetUserProfile":{
      "name":"GetUserProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetUserProfileInput"},
      "output":{"shape":"GetUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a user profile in Amazon DataZone.</p>"
    },
    "ListAssetRevisions":{
      "name":"ListAssetRevisions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"ListAssetRevisionsInput"},
      "output":{"shape":"ListAssetRevisionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists the revisions for the asset.</p>"
    },
    "ListDataSourceRunActivities":{
      "name":"ListDataSourceRunActivities",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}/activities",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunActivitiesInput"},
      "output":{"shape":"ListDataSourceRunActivitiesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data source run activities.</p>"
    },
    "ListDataSourceRuns":{
      "name":"ListDataSourceRuns",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunsInput"},
      "output":{"shape":"ListDataSourceRunsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data source runs in Amazon DataZone.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesInput"},
      "output":{"shape":"ListDataSourcesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data sources in Amazon DataZone.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains",
        "responseCode":200
      },
      "input":{"shape":"ListDomainsInput"},
      "output":{"shape":"ListDomainsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone domains.</p>"
    },
    "ListEnvironmentBlueprintConfigurations":{
      "name":"ListEnvironmentBlueprintConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintConfigurationsInput"},
      "output":{"shape":"ListEnvironmentBlueprintConfigurationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists blueprint configurations for a Amazon DataZone environment.</p>"
    },
    "ListEnvironmentBlueprints":{
      "name":"ListEnvironmentBlueprints",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintsInput"},
      "output":{"shape":"ListEnvironmentBlueprintsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists blueprints in an Amazon DataZone environment.</p>"
    },
    "ListEnvironmentProfiles":{
      "name":"ListEnvironmentProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentProfilesInput"},
      "output":{"shape":"ListEnvironmentProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone environment profiles.</p>"
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentsInput"},
      "output":{"shape":"ListEnvironmentsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone environments.</p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/notifications",
        "responseCode":200
      },
      "input":{"shape":"ListNotificationsInput"},
      "output":{"shape":"ListNotificationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists all Amazon DataZone notifications.</p>"
    },
    "ListProjectMemberships":{
      "name":"ListProjectMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListProjectMembershipsInput"},
      "output":{"shape":"ListProjectMembershipsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists all members of the specified project.</p>"
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects",
        "responseCode":200
      },
      "input":{"shape":"ListProjectsInput"},
      "output":{"shape":"ListProjectsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone projects.</p>"
    },
    "ListSubscriptionGrants":{
      "name":"ListSubscriptionGrants",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionGrantsInput"},
      "output":{"shape":"ListSubscriptionGrantsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists subscription grants.</p>"
    },
    "ListSubscriptionRequests":{
      "name":"ListSubscriptionRequests",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionRequestsInput"},
      "output":{"shape":"ListSubscriptionRequestsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone subscription requests.</p>"
    },
    "ListSubscriptionTargets":{
      "name":"ListSubscriptionTargets",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionTargetsInput"},
      "output":{"shape":"ListSubscriptionTargetsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists subscription targets in Amazon DataZone.</p>"
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionsInput"},
      "output":{"shape":"ListSubscriptionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists subscriptions in Amazon DataZone.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists tags for the specified resource in Amazon DataZone.</p>"
    },
    "PutEnvironmentBlueprintConfiguration":{
      "name":"PutEnvironmentBlueprintConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"PutEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"PutEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Writes the configuration for the specified environment blueprint in Amazon DataZone.</p>",
      "idempotent":true
    },
    "RejectPredictions":{
      "name":"RejectPredictions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/reject-predictions",
        "responseCode":200
      },
      "input":{"shape":"RejectPredictionsInput"},
      "output":{"shape":"RejectPredictionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Rejects automatically generated business-friendly metadata for your Amazon DataZone assets.</p>",
      "idempotent":true
    },
    "RejectSubscriptionRequest":{
      "name":"RejectSubscriptionRequest",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/reject",
        "responseCode":200
      },
      "input":{"shape":"RejectSubscriptionRequestInput"},
      "output":{"shape":"RejectSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Rejects the specified subscription request.</p>",
      "idempotent":true
    },
    "RevokeSubscription":{
      "name":"RevokeSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}/revoke",
        "responseCode":200
      },
      "input":{"shape":"RevokeSubscriptionInput"},
      "output":{"shape":"RevokeSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Revokes a specified subscription in Amazon DataZone.</p>",
      "idempotent":true
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search",
        "responseCode":200
      },
      "input":{"shape":"SearchInput"},
      "output":{"shape":"SearchOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Searches for assets in Amazon DataZone.</p>"
    },
    "SearchGroupProfiles":{
      "name":"SearchGroupProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search-group-profiles",
        "responseCode":200
      },
      "input":{"shape":"SearchGroupProfilesInput"},
      "output":{"shape":"SearchGroupProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Searches group profiles in Amazon DataZone.</p>"
    },
    "SearchListings":{
      "name":"SearchListings",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/search",
        "responseCode":200
      },
      "input":{"shape":"SearchListingsInput"},
      "output":{"shape":"SearchListingsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Searches listings in Amazon DataZone.</p>"
    },
    "SearchTypes":{
      "name":"SearchTypes",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/types-search",
        "responseCode":200
      },
      "input":{"shape":"SearchTypesInput"},
      "output":{"shape":"SearchTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Searches for types in Amazon DataZone.</p>"
    },
    "SearchUserProfiles":{
      "name":"SearchUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search-user-profiles",
        "responseCode":200
      },
      "input":{"shape":"SearchUserProfilesInput"},
      "output":{"shape":"SearchUserProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Searches user profiles in Amazon DataZone.</p>"
    },
    "StartDataSourceRun":{
      "name":"StartDataSourceRun",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode":200
      },
      "input":{"shape":"StartDataSourceRunInput"},
      "output":{"shape":"StartDataSourceRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Start the run of the specified data source in Amazon DataZone.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Tags a resource in Amazon DataZone.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Untags a resource in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceInput"},
      "output":{"shape":"UpdateDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified data source in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDomainInput"},
      "output":{"shape":"UpdateDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates a Amazon DataZone domain.</p>",
      "idempotent":true
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateEnvironmentInput"},
      "output":{"shape":"UpdateEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified environment in Amazon DataZone.</p>"
    },
    "UpdateEnvironmentProfile":{
      "name":"UpdateEnvironmentProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateEnvironmentProfileInput"},
      "output":{"shape":"UpdateEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified environment profile in Amazon DataZone.</p>"
    },
    "UpdateGlossary":{
      "name":"UpdateGlossary",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGlossaryInput"},
      "output":{"shape":"UpdateGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the business glossary in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateGlossaryTerm":{
      "name":"UpdateGlossaryTerm",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGlossaryTermInput"},
      "output":{"shape":"UpdateGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates a business glossary term in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateGroupProfile":{
      "name":"UpdateGroupProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGroupProfileInput"},
      "output":{"shape":"UpdateGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified group profile in Amazon DataZone.</p>"
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProjectInput"},
      "output":{"shape":"UpdateProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified project in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateSubscriptionGrantStatus":{
      "name":"UpdateSubscriptionGrantStatus",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}/status/{assetIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionGrantStatusInput"},
      "output":{"shape":"UpdateSubscriptionGrantStatusOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the status of the specified subscription grant status in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateSubscriptionRequest":{
      "name":"UpdateSubscriptionRequest",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionRequestInput"},
      "output":{"shape":"UpdateSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates a specified subscription request in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateSubscriptionTarget":{
      "name":"UpdateSubscriptionTarget",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionTargetInput"},
      "output":{"shape":"UpdateSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified subscription target in Amazon DataZone.</p>",
      "idempotent":true
    },
    "UpdateUserProfile":{
      "name":"UpdateUserProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserProfileInput"},
      "output":{"shape":"UpdateUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates the specified user profile in Amazon DataZone.</p>"
    }
  },
  "shapes":{
    "AcceptChoice":{
      "type":"structure",
      "members":{
        "predictionChoice":{
          "shape":"Integer",
          "documentation":"<p>Specifies the prediction (aka, the automatically generated piece of metadata) that can be accepted.</p>"
        },
        "predictionTarget":{
          "shape":"String",
          "documentation":"<p>Specifies the target (for example, a column name) where a prediction can be accepted.</p>"
        }
      },
      "documentation":"<p>Specifies the prediction (aka, the automatically generated piece of metadata) and the target (for example, a column name) that can be accepted.</p>"
    },
    "AcceptChoices":{
      "type":"list",
      "member":{"shape":"AcceptChoice"}
    },
    "AcceptPredictionsInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "acceptChoices":{
          "shape":"AcceptChoices",
          "documentation":"<p/>"
        },
        "acceptRule":{
          "shape":"AcceptRule",
          "documentation":"<p>Specifies the rule (or the conditions) under which a prediction can be accepted.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure idempotency of the request. This field is automatically populated if not provided.</p>",
          "idempotencyToken":true
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "documentation":"<p>The identifier of the Amazon DataZone domain.</p>",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"AssetIdentifier",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"identifier"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p/>",
          "location":"querystring",
          "locationName":"revision"
        }
      }
    },
    "AcceptPredictionsOutput":{
      "type":"structure",
      "required":[
        "assetId",
        "domainId",
        "revision"
      ],
      "members":{
        "assetId":{
          "shape":"AssetId",
          "documentation":"<p/>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p/>"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p/>"
        }
      }
    },
    "AcceptRule":{
      "type":"structure",
      "members":{
        "rule":{
          "shape":"AcceptRuleBehavior",
          "documentation":"<p>Specifies whether you want to accept the top prediction for all targets or none.</p>"
        },
        "threshold":{
          "shape":"Float",
          "documentation":"<p>The confidence score that specifies the condition at which a prediction can be accepted.</p>"
        }
      },
      "documentation":"<p>Specifies the rule and the threshold under which a prediction can be accepted.</p>"
    },
    "AcceptRuleBehavior":{
      "type":"string",
      "enum":[
        "ALL",
        "NONE"
      ]
    },
    "AcceptSubscriptionRequestInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "decisionComment":{
          "shape":"DecisionComment",
          "documentation":"<p>A description that specifies the reason for accepting the specified subscription request.</p>"
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "documentation":"<p>The Amazon DataZone domain where the specified subscription request is being accepted.</p>",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"SubscriptionRequestId",
          "documentation":"<p>The unique identifier of the subscription request that is to be accepted.</p>",
          "location":"uri",
          "locationName":"identifier"
        }
      }
    },
    "AcceptSubscriptionRequestOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "createdBy",
        "domainId",
        "id",
        "requestReason",
        "status",
        "subscribedListings",
        "subscribedPrincipals",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp that specifies when the subscription request was accepted.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>Specifies the Amazon DataZone user that accepted the specified subscription request.</p>"
        },
        "decisionComment":{
          "shape":"DecisionComment",
          "documentation":"<p>Specifies the reason for accepting the subscription request.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Amazon DataZone domain where the specified subscription request was accepted.</p>"
        },
        "id":{
          "shape":"SubscriptionRequestId",
          "documentation":"<p>The identifier of the subscription request.</p>"
        },
        "requestReason":{
          "shape":"RequestReason",
          "documentation":"<p>Specifies the reason for requesting a subscription to the asset.</p>"
        },
        "reviewerId":{
          "shape":"String",
          "documentation":"<p>Specifes the ID of the Amazon DataZone user who reviewed the subscription request.</p>"
        },
        "status":{
          "shape":"SubscriptionRequestStatus",
          "documentation":"<p>Specifies the status of the subscription request.</p>"
        },
        "subscribedListings":{
          "shape":"AcceptSubscriptionRequestOutputSubscribedListingsList",
          "documentation":"<p>Specifies the asset for which the subscription request was created.</p>"
        },
        "subscribedPrincipals":{
          "shape":"AcceptSubscriptionRequestOutputSubscribedPrincipalsList",
          "documentation":"<p>Specifies the Amazon DataZone users who are subscribed to the asset specified in the subscription request.</p>"
        },
        "updatedAt":{
          "shape":"UpdatedAt",
          "documentation":"<p>Specifies the timestamp when subscription request was updated.</p>"
        },
        "updatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p>Specifies the Amazon DataZone user who updated the subscription request.</p>"
        }
      }
    },
    "AcceptSubscriptionRequestOutputSubscribedListingsList":{
      "type":"list",
      "member":{"shape":"SubscribedListing"},
      "max":1,
      "min":1
    },
    "AcceptSubscriptionRequestOutputSubscribedPrincipalsList":{
      "type":"list",
      "member":{"shape":"SubscribedPrincipal"},
      "max":1,
      "min":1
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionLink":{
      "type":"string",
      "sensitive":true
    },
    "ApplicableAssetTypes":{
      "type":"list",
      "member":{"shape":"TypeName"}
    },
    "AssetId":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_-]{1,36}$"
    },
    "AssetIdentifier":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_-]{1,36}$"
    },
    "AssetItem":{
      "type":"structure",
      "required":[
        "domainId",
        "identifier",
        "name",
        "owningProjectId",
        "typeIdentifier",
        "typeRevision"
      ],
      "members":{
        "additionalAttributes":{
          "shape":"AssetItemAdditionalAttributes",
          "documentation":"<p>The additional attributes of a Amazon DataZone inventory asset. </p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when the Amazon DataZone inventory asset was created.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The Amazon DataZone user who created the inventory asset.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of an Amazon DataZone inventory asset.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The identifier of the Amazon DataZone domain in which the inventory asset exists.</p>"
        },
        "externalIdentifier":{
          "shape":"ExternalIdentifier",
          "documentation":"<p>The external identifier of the Amazon DataZone inventory asset.</p>"
        },
        "firstRevisionCreatedAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when the first revision of the inventory asset was created.</p>"
        },
        "firstRevisionCreatedBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The Amazon DataZone user who created the first revision of the inventory asset.</p>"
        },
        "glossaryTerms":{
          "shape":"GlossaryTerms",
          "documentation":"<p>The glossary terms attached to the Amazon DataZone inventory asset.</p>"
        },
        "identifier":{
          "shape":"AssetIdentifier",
          "documentation":"<p>the identifier of the Amazon DataZone inventory asset.</p>"
        },
        "name":{
          "shape":"AssetName",
          "documentation":"<p>The name of the Amazon DataZone inventory asset.</p>"
        },
        "owningProjectId":{
          "shape":"ProjectId",
          "documentation":"<p>The identifier of the Amazon DataZone project that owns the inventory asset.</p>"
        },
        "typeIdentifier":{
          "shape":"AssetTypeIdentifier",
          "documentation":"<p>The identifier of the asset type of the specified Amazon DataZone inventory asset.</p>"
        },
        "typeRevision":{
          "shape":"Revision",
          "documentation":"<p>The revision of the inventory asset type.</p>"
        }
      },
      "documentation":"<p>A Amazon DataZone inventory asset.</p>"
    },
    "AssetItemAdditionalAttributes":{
      "type":"structure",
      "members":{
        "formsOutput":{
          "shape":"FormOutputList",
          "documentation":"<p>The forms included in the additional attributes of an inventory asset.</p>"
        },
        "readOnlyFormsOutput":{
          "shape":"FormOutputList",
          "documentation":"<p>The read-only forms included in the additional attributes of an inventory asset.</p>"
        }
      },
      "documentation":"<p>The additional attributes of an inventory asset.</p>"
    },
    "AssetListing":{
      "type":"structure",
      "members":{
        "assetId":{
          "shape":"AssetId",
          "documentation":"<p>The identifier of an asset published in an Amazon DataZone catalog. </p>"
        },
        "assetRevision":{
          "shape":"Revision",
          "documentation":"<p>The revision of an asset published in an Amazon DataZone catalog. </p>"
        },
        "assetType":{
          "shape":"TypeName",
          "documentation":"<p>The type of an asset published in an Amazon DataZone catalog. </p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when an asset published in an Amazon DataZone catalog was created. </p>"
        },
        "forms":{
          "shape":"Forms",
          "documentation":"<p>The metadata forms attached to an asset published in an Amazon DataZone catalog. </p>"
        },
        "glossaryTerms":{
          "shape":"DetailedGlossaryTerms",
          "documentation":"<p>The glossary terms attached to an asset published in an Amazon DataZone catalog. </p>"
        },
        "owningProjectId":{
          "shape":"ProjectId",
          "documentation":"<p>The identifier of the project where an asset published in an Amazon DataZone catalog exists. </p>"
        }
      },
      "documentation":"<p>An asset published in an Amazon DataZone catalog.</p>"
    },
    "AssetListingDetails":{
      "type":"structure",
      "required":[
        "listingId",
        "listingStatus"
      ],
      "members":{
        "listingId":{
          "shape":"ListingId",
          "documentation":"<p>The identifier of an asset published in an Amazon DataZone catalog. </p>"
        },
        "listingStatus":{
          "shape":"ListingStatus",
          "documentation":"<p>The status of an asset published in an Amazon DataZone catalog. </p>"
        }
      },
      "documentation":"<p>The details of an asset published in an Amazon DataZone catalog. </p>"
    },
    "AssetListingItem":{
      "type":"structure",
      "members":{
        "additionalAttributes":{
          "shape":"AssetListingItemAdditionalAttributes",
          "documentation":"<p>The additional attributes of an asset published in an Amazon DataZone catalog.</p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when an asset published in an Amazon DataZone catalog was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of an asset published in an Amazon DataZone catalog.</p>"
        },
        "entityId":{
          "shape":"AssetId",
          "documentation":"<p>The identifier of the inventory asset.</p>"
        },
        "entityRevision":{
          "shape":"Revision",
          "documentation":"<p>The revision of the inventory asset.</p>"
        },
        "entityType":{
          "shape":"TypeName",
          "documentation":"<p>The type of the inventory asset.</p>"
        },
        "glossaryTerms":{
          "shape":"DetailedGlossaryTerms",
          "documentation":"<p>Glossary terms attached to the inventory asset.</p>"
        },
        "listingCreatedBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The Amazon DataZone user who created the listing.</p>"
        },
        "listingId":{
          "shape":"ListingId",
          "documentation":"<p>The identifier of the listing (asset published in Amazon DataZone catalog).</p>"
        },
        "listingRevision":{
          "shape":"Revision",
          "documentation":"<p>The revision of the listing (asset published in Amazon DataZone catalog).</p>"
        },
        "listingUpdatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p>The Amazon DataZone user who updated the listing.</p>"
        },
        "name":{
          "shape":"AssetName",
          "documentation":"<p>The name of the inventory asset.</p>"
        },
        "owningProjectId":{
          "shape":"ProjectId",
          "documentation":"<p>The identifier of the project that owns the inventory asset.</p>"
        }
      },
      "documentation":"<p>The details of an asset published in an Amazon DataZone catalog.</p>"
    },
    "AssetListingItemAdditionalAttributes":{
      "type":"structure",
      "members":{
        "forms":{
          "shape":"Forms",
          "documentation":"<p>The metadata forms that form additional attributes of the metadata asset.</p>"
        }
      },
      "documentation":"<p>Additional attributes of an inventory asset.</p>"
    },
    "AssetName":{
      "type":"string",
      "max":256,
      "min":1,
      "sensitive":true
    },
    "AssetRevision":{
      "type":"structure",
      "members":{
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when an inventory asset revison was created.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The Amazon DataZone user who created the asset revision.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The Amazon DataZone user who created the inventory asset.</p>"
        },
        "id":{
          "shape":"AssetId",
          "documentation":"<p>The identifier of the inventory asset revision.</p>"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The revision details of the inventory asset.</p>"
        }
      },
      "documentation":"<p>The revision of an inventory asset.</p>"
    },
    "AssetRevisions":{
      "type":"list",
      "member":{"shape":"AssetRevision"}
    },
    "AssetTargetNameMap":{
      "type":"structure",
      "required":[
        "assetId",
        "targetName"
      ],
      "members":{
        "assetId":{
          "shape":"AssetId",
          "documentation":"<p>The identifier of the inventory asset.</p>"
        },
        "targetName":{
          "shape":"String",
          "documentation":"<p>The target name in the asset target name map.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "AssetTargetNames":{
      "type":"list",
      "member":{"shape":"AssetTargetNameMap"}
    },
    "AssetTypeIdentifier":{
      "type":"string",
      "max":385,
      "min":1,
      "pattern":"^(?!\\.)[\\w\\.]*\\w$"
    },
    "AssetTypeItem":{
      "type":"structure",
      "required":[
        "domainId",
        "formsOutput",
        "name",
        "owningProjectId",
        "revision"
      ],
      "members":{
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp of when the asset type was created.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The Amazon DataZone user who created the asset type.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the asset type.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The identifier of the Amazon DataZone domain where the asset type exists.</p>"
        },
        "formsOutput":{
          "shape":"FormsOutputMap",
          "documentation":"<p>The forms included in the details of the asset type.</p>"
        },
        "name":{
          "shape":"TypeName",
          "documentation":"<p>The name of the asset type.</p>"
        },
        "originDomainId":{
          "shape":"DomainId",
          "documentation":"<p>The identifier of the Amazon DataZone domain where the asset type was originally created.</p>"
        },
        "originProjectId":{
          "shape":"ProjectId",
          "documentation":"<p>The identifier of the Amazon DataZone project where the asset type exists.</p>"
        },
        "owningProjectId":{
          "shape":"ProjectId",
          "documentation":"<p>The identifier of the Amazon DataZone project that owns the asset type.</p>"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The revision of the asset type.</p>"
        },
        "updatedAt":{
          "shape":"UpdatedAt",
          "documentation":"<p>The timestamp of when the asset type was updated.</p>"
        },
        "updatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p>The Amazon DataZone user who updated the asset type.</p>"
        }
      },
      "documentation":"<p>The details of the asset type.</p>"
    },
    "Attribute":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AuthType":{
      "type":"string",
      "enum":[
        "IAM_IDC",
        "DISABLED"
      ]
    },
    "AuthorizedPrincipalIdentifier":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9:/_-]*$"
    },
    "AuthorizedPrincipalIdentifiers":{
      "type":"list",
      "member":{"shape":"AuthorizedPrincipalIdentifier"},
      "max":10,
      "min":1
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"^\\d{12}$"
    },
    "AwsRegion":{
      "type":"string",
      "pattern":"^[a-z]{2}-[a-z]{4,10}-\\d$"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BusinessNameGenerationConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the business name generation is enabled.</p>"
        }
      },
      "documentation":"<p>The configuration of the business name generation.</p>"
    },
    "CancelSubscriptionInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Amazon DataZone domain where the subscription request is being cancelled.</p>",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"SubscriptionId",
          "documentation":"<p>The unique identifier of the subscription that is being cancelled.</p>",
          "location":"uri",
          "locationName":"identifier"
        }
      }
    },
    "CancelSubscriptionOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "createdBy",
        "domainId",
        "id",
        "status",
        "subscribedListing",
        "subscribedPrincipal",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp that specifies when the request to cancel the subscription was created.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>Specifies the Amazon DataZone user who is cancelling the subscription.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Amazon DataZone domain where the subscription is being cancelled.</p>"
        },
        "id":{
          "shape":"SubscriptionId",
          "documentation":"<p>The identifier of the subscription.</p>"
        },
        "retainPermissions":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the permissions to the asset are retained after the subscription is cancelled.</p>"
        },
        "status":{
          "shape":"SubscriptionStatus",
          "documentation":"<p>The status of the request to cancel the subscription.</p>"
        },
        "subscribedListing":{
          "shape":"SubscribedListing",
          "documentation":"<p>The asset to which a subscription is being cancelled.</p>"
        },
        "subscribedPrincipal":{
          "shape":"SubscribedPrincipal",
          "documentation":"<p>The Amazon DataZone user who is made a subscriber to the specified asset by the subscription that is being cancelled.</p>"
        },
        "subscriptionRequestId":{
          "shape":"SubscriptionRequestId",
          "documentation":"<p>The unique ID of the subscripton request for the subscription that is being cancelled.</p>"
        },
        "updatedAt":{
          "shape":"UpdatedAt",
          "documentation":"<p>The timestamp that specifies when the subscription was cancelled.</p>"
        },
        "updatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p>The Amazon DataZone user that cancelled the subscription.</p>"
        }
      }
    },
    "ChangeAction":{
      "type":"string",
      "enum":[
        "PUBLISH",
        "UNPUBLISH"
      ]
    },
    "ClientToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[\\x21-\\x7E]+$"
    },
    "CloudFormationProperties":{
      "type":"structure",
      "required":["templateUrl"],
      "members":{
        "templateUrl":{
          "shape":"String",
          "documentation":"<p>The template URL of the cloud formation provisioning properties of the environment blueprint.</p>"
        }
      },
      "documentation":"<p>Part of the provisioning properties of the environment blueprint.</p>"
    },
    "ConfigurableActionParameter":{
      "type":"structure",
      "members":{
        "key":{
          "shape":"String",
          "documentation":"<p>The key of the configurable action parameter.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the configurable action parameter.</p>"
        }
      },
      "documentation":"<p>The details of the parameters for the configurable environment action.</p>"
    },
    "ConfigurableActionParameterList":{
      "type":"list",
      "member":{"shape":"ConfigurableActionParameter"}
    },
    "ConfigurableActionTypeAuthorization":{
      "type":"string",
      "enum":[
        "IAM",
        "HTTPS"
      ]
    },
    "ConfigurableEnvironmentAction":{
      "type":"structure",
      "required":[
        "parameters",
        "type"
      ],
      "members":{
        "auth":{
          "shape":"ConfigurableActionTypeAuthorization",
          "documentation":"<p>The authentication type of a configurable action of a Amazon DataZone environment. </p>"
        },
        "parameters":{
          "shape":"ConfigurableActionParameterList",
          "documentation":"<p>The parameters of a configurable action in a Amazon DataZone environment.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of a configurable action in a Amazon DataZone environment.</p>"
        }
      },
      "documentation":"<p>The configurable action of a Amazon DataZone environment.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There is a conflict while performing this action.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAssetInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "name",
        "owningProjectIdentifier",
        "typeIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>Asset description.</p>"
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "documentation":"<p>Amazon DataZone domain where the asset is created.</p>",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "externalIdentifier":{
          "shape":"ExternalIdentifier",
          "documentation":"<p/>"
        },
        "formsInput":{
          "shape":"FormInputList",
          "documentation":"<p>Metadata forms attached to the asset.</p>"
        },
        "glossaryTerms":{
          "shape":"GlossaryTerms",
          "documentation":"<p>Glossary terms attached to the asset.</p>"
        },
        "name":{
          "shape":"AssetName",
          "documentation":"<p>Asset name.</p>"
        },
        "owningProjectIdentifier":{
          "shape":"ProjectId",
          "documentation":"<p>The unique identifier of the project that owns this asset.</p>"
        },
        "predictionConfiguration":{
          "shape":"PredictionConfiguration",
          "documentation":"<p>The configuration of the automatically generated business-friendly metadata for the asset.</p>"
        },
        "typeIdentifier":{
          "shape":"AssetTypeIdentifier",
          "documentation":"<p>The unique identifier of this asset's type.</p>"
[...]
