{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-06-08",
    "endpointPrefix":"inspector2",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Inspector2",
    "serviceFullName":"Inspector2",
    "serviceId":"Inspector2",
    "signatureVersion":"v4",
    "signingName":"inspector2",
    "uid":"inspector2-2020-06-08"
  },
  "operations":{
    "AssociateMember":{
      "name":"AssociateMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/associate",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberRequest"},
      "output":{"shape":"AssociateMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates an Amazon Web Services account with an Amazon Inspector delegated administrator. An HTTP 200 response indicates the association was successfully started, but doesn’t indicate whether it was completed. You can check if the association completed by using <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_ListMembers.html\">ListMembers</a> for multiple accounts or <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_GetMember.html\">GetMembers</a> for a single account.</p>"
    },
    "BatchGetAccountStatus":{
      "name":"BatchGetAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/status/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetAccountStatusRequest"},
      "output":{"shape":"BatchGetAccountStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the Amazon Inspector status of multiple Amazon Web Services accounts within your environment.</p>"
    },
    "BatchGetCodeSnippet":{
      "name":"BatchGetCodeSnippet",
      "http":{
        "method":"POST",
        "requestUri":"/codesnippet/batchget",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCodeSnippetRequest"},
      "output":{"shape":"BatchGetCodeSnippetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves code snippets from findings that Amazon Inspector detected code vulnerabilities in.</p>"
    },
    "BatchGetFindingDetails":{
      "name":"BatchGetFindingDetails",
      "http":{
        "method":"POST",
        "requestUri":"/findings/details/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFindingDetailsRequest"},
      "output":{"shape":"BatchGetFindingDetailsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets vulnerability details for findings.</p>"
    },
    "BatchGetFreeTrialInfo":{
      "name":"BatchGetFreeTrialInfo",
      "http":{
        "method":"POST",
        "requestUri":"/freetrialinfo/batchget",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFreeTrialInfoRequest"},
      "output":{"shape":"BatchGetFreeTrialInfoResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets free trial status for multiple Amazon Web Services accounts.</p>"
    },
    "BatchGetMemberEc2DeepInspectionStatus":{
      "name":"BatchGetMemberEc2DeepInspectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionstatus/member/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetMemberEc2DeepInspectionStatusRequest"},
      "output":{"shape":"BatchGetMemberEc2DeepInspectionStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves Amazon Inspector deep inspection activation status of multiple member accounts within your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>"
    },
    "BatchUpdateMemberEc2DeepInspectionStatus":{
      "name":"BatchUpdateMemberEc2DeepInspectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionstatus/member/batch/update",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateMemberEc2DeepInspectionStatusRequest"},
      "output":{"shape":"BatchUpdateMemberEc2DeepInspectionStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Activates or deactivates Amazon Inspector deep inspection for the provided member accounts in your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>"
    },
    "CancelFindingsReport":{
      "name":"CancelFindingsReport",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelFindingsReportRequest"},
      "output":{"shape":"CancelFindingsReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels the given findings report.</p>"
    },
    "CancelSbomExport":{
      "name":"CancelSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelSbomExportRequest"},
      "output":{"shape":"CancelSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "CreateFilter":{
      "name":"CreateFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/create",
        "responseCode":200
      },
      "input":{"shape":"CreateFilterRequest"},
      "output":{"shape":"CreateFilterResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a filter resource using specified filter criteria. When the filter action is set to <code>SUPPRESS</code> this action creates a suppression rule.</p>"
    },
    "CreateFindingsReport":{
      "name":"CreateFindingsReport",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/create",
        "responseCode":200
      },
      "input":{"shape":"CreateFindingsReportRequest"},
      "output":{"shape":"CreateFindingsReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a finding report. By default only <code>ACTIVE</code> findings are returned in the report. To see <code>SUPRESSED</code> or <code>CLOSED</code> findings you must specify a value for the <code>findingStatus</code> filter criteria. </p>"
    },
    "CreateSbomExport":{
      "name":"CreateSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/create",
        "responseCode":200
      },
      "input":{"shape":"CreateSbomExportRequest"},
      "output":{"shape":"CreateSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "DeleteFilter":{
      "name":"DeleteFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/delete",
        "responseCode":200
      },
      "input":{"shape":"DeleteFilterRequest"},
      "output":{"shape":"DeleteFilterResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a filter resource.</p>"
    },
    "DescribeOrganizationConfiguration":{
      "name":"DescribeOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organizationconfiguration/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeOrganizationConfigurationRequest"},
      "output":{"shape":"DescribeOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describe Amazon Inspector configuration settings for an Amazon Web Services organization.</p>"
    },
    "Disable":{
      "name":"Disable",
      "http":{
        "method":"POST",
        "requestUri":"/disable",
        "responseCode":200
      },
      "input":{"shape":"DisableRequest"},
      "output":{"shape":"DisableResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disables Amazon Inspector scans for one or more Amazon Web Services accounts. Disabling all scan types in an account disables the Amazon Inspector service.</p>"
    },
    "DisableDelegatedAdminAccount":{
      "name":"DisableDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/disable",
        "responseCode":200
      },
      "input":{"shape":"DisableDelegatedAdminAccountRequest"},
      "output":{"shape":"DisableDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disables the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "DisassociateMember":{
      "name":"DisassociateMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/disassociate",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberRequest"},
      "output":{"shape":"DisassociateMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a member account from an Amazon Inspector delegated administrator.</p>"
    },
    "Enable":{
      "name":"Enable",
      "http":{
        "method":"POST",
        "requestUri":"/enable",
        "responseCode":200
      },
      "input":{"shape":"EnableRequest"},
      "output":{"shape":"EnableResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables Amazon Inspector scans for one or more Amazon Web Services accounts.</p>"
    },
    "EnableDelegatedAdminAccount":{
      "name":"EnableDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/enable",
        "responseCode":200
      },
      "input":{"shape":"EnableDelegatedAdminAccountRequest"},
      "output":{"shape":"EnableDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables the Amazon Inspector delegated administrator for your Organizations organization.</p>"
    },
    "GetConfiguration":{
      "name":"GetConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/get",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationRequest"},
      "output":{"shape":"GetConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves setting configurations for Inspector scans.</p>"
    },
    "GetDelegatedAdminAccount":{
      "name":"GetDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/get",
        "responseCode":200
      },
      "input":{"shape":"GetDelegatedAdminAccountRequest"},
      "output":{"shape":"GetDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves information about the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "GetEc2DeepInspectionConfiguration":{
      "name":"GetEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/get",
        "responseCode":200
      },
      "input":{"shape":"GetEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"GetEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the activation status of Amazon Inspector deep inspection and custom paths associated with your account. </p>"
    },
    "GetEncryptionKey":{
      "name":"GetEncryptionKey",
      "http":{
        "method":"GET",
        "requestUri":"/encryptionkey/get",
        "responseCode":200
      },
      "input":{"shape":"GetEncryptionKeyRequest"},
      "output":{"shape":"GetEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets an encryption key.</p>"
    },
    "GetFindingsReportStatus":{
      "name":"GetFindingsReportStatus",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/status/get",
        "responseCode":200
      },
      "input":{"shape":"GetFindingsReportStatusRequest"},
      "output":{"shape":"GetFindingsReportStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the status of a findings report.</p>"
    },
    "GetMember":{
      "name":"GetMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/get",
        "responseCode":200
      },
      "input":{"shape":"GetMemberRequest"},
      "output":{"shape":"GetMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets member information for your organization.</p>"
    },
    "GetSbomExport":{
      "name":"GetSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/get",
        "responseCode":200
      },
      "input":{"shape":"GetSbomExportRequest"},
      "output":{"shape":"GetSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets details of a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "ListAccountPermissions":{
      "name":"ListAccountPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accountpermissions/list",
        "responseCode":200
      },
      "input":{"shape":"ListAccountPermissionsRequest"},
      "output":{"shape":"ListAccountPermissionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the permissions an account has to configure Amazon Inspector.</p>"
    },
    "ListCoverage":{
      "name":"ListCoverage",
      "http":{
        "method":"POST",
        "requestUri":"/coverage/list",
        "responseCode":200
      },
      "input":{"shape":"ListCoverageRequest"},
      "output":{"shape":"ListCoverageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists coverage details for you environment.</p>"
    },
    "ListCoverageStatistics":{
      "name":"ListCoverageStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/coverage/statistics/list",
        "responseCode":200
      },
      "input":{"shape":"ListCoverageStatisticsRequest"},
      "output":{"shape":"ListCoverageStatisticsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists Amazon Inspector coverage statistics for your environment.</p>"
    },
    "ListDelegatedAdminAccounts":{
      "name":"ListDelegatedAdminAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/list",
        "responseCode":200
      },
      "input":{"shape":"ListDelegatedAdminAccountsRequest"},
      "output":{"shape":"ListDelegatedAdminAccountsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists information about the Amazon Inspector delegated administrator of your organization.</p>"
    },
    "ListFilters":{
      "name":"ListFilters",
      "http":{
        "method":"POST",
        "requestUri":"/filters/list",
        "responseCode":200
      },
      "input":{"shape":"ListFiltersRequest"},
      "output":{"shape":"ListFiltersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the filters associated with your account.</p>"
    },
    "ListFindingAggregations":{
      "name":"ListFindingAggregations",
      "http":{
        "method":"POST",
        "requestUri":"/findings/aggregation/list",
        "responseCode":200
      },
      "input":{"shape":"ListFindingAggregationsRequest"},
      "output":{"shape":"ListFindingAggregationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists aggregated finding data for your environment based on specific criteria.</p>"
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/list",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsRequest"},
      "output":{"shape":"ListFindingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists findings for your environment.</p>"
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/list",
        "responseCode":200
      },
      "input":{"shape":"ListMembersRequest"},
      "output":{"shape":"ListMembersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List members associated with the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all tags attached to a given resource.</p>"
    },
    "ListUsageTotals":{
      "name":"ListUsageTotals",
      "http":{
        "method":"POST",
        "requestUri":"/usage/list",
        "responseCode":200
      },
      "input":{"shape":"ListUsageTotalsRequest"},
      "output":{"shape":"ListUsageTotalsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the Amazon Inspector usage totals over the last 30 days.</p>"
    },
    "ResetEncryptionKey":{
      "name":"ResetEncryptionKey",
      "http":{
        "method":"PUT",
        "requestUri":"/encryptionkey/reset",
        "responseCode":200
      },
      "input":{"shape":"ResetEncryptionKeyRequest"},
      "output":{"shape":"ResetEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Resets an encryption key. After the key is reset your resources will be encrypted by an Amazon Web Services owned key.</p>",
      "idempotent":true
    },
    "SearchVulnerabilities":{
      "name":"SearchVulnerabilities",
      "http":{
        "method":"POST",
        "requestUri":"/vulnerabilities/search",
        "responseCode":200
      },
      "input":{"shape":"SearchVulnerabilitiesRequest"},
      "output":{"shape":"SearchVulnerabilitiesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists Amazon Inspector coverage details for a specific vulnerability.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds tags to a resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>"
    },
    "UpdateConfiguration":{
      "name":"UpdateConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfigurationRequest"},
      "output":{"shape":"UpdateConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates setting configurations for your Amazon Inspector account. When you use this API as an Amazon Inspector delegated administrator this updates the setting for all accounts you manage. Member accounts in an organization cannot update this setting.</p>"
    },
    "UpdateEc2DeepInspectionConfiguration":{
      "name":"UpdateEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"UpdateEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Activates, deactivates Amazon Inspector deep inspection, or updates custom paths for your account. </p>"
    },
    "UpdateEncryptionKey":{
      "name":"UpdateEncryptionKey",
      "http":{
        "method":"PUT",
        "requestUri":"/encryptionkey/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateEncryptionKeyRequest"},
      "output":{"shape":"UpdateEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an encryption key. A <code>ResourceNotFoundException</code> means that an AWS owned key is being used for encryption.</p>",
      "idempotent":true
    },
    "UpdateFilter":{
      "name":"UpdateFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateFilterRequest"},
      "output":{"shape":"UpdateFilterResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Specifies the action that is to be applied to the findings that match the filter.</p>"
    },
    "UpdateOrgEc2DeepInspectionConfiguration":{
      "name":"UpdateOrgEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/org/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateOrgEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"UpdateOrgEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the Amazon Inspector deep inspection custom paths for your organization. You must be an Amazon Inspector delegated administrator to use this API.</p>"
    },
    "UpdateOrganizationConfiguration":{
      "name":"UpdateOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organizationconfiguration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateOrganizationConfigurationRequest"},
      "output":{"shape":"UpdateOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configurations for your Amazon Inspector organization.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Account":{
      "type":"structure",
      "required":[
        "accountId",
        "resourceStatus",
        "status"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of the Amazon Web Services account.</p>"
        },
        "resourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Details of the status of Amazon Inspector scans by resource type.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of Amazon Inspector for the account.</p>"
        }
      },
      "documentation":"<p>An Amazon Web Services account within your environment that Amazon Inspector has been enabled for.</p>"
    },
    "AccountAggregation":{
      "type":"structure",
      "members":{
        "findingType":{
          "shape":"AggregationFindingType",
          "documentation":"<p>The type of finding.</p>"
        },
        "resourceType":{
          "shape":"AggregationResourceType",
          "documentation":"<p>The type of resource.</p>"
        },
        "sortBy":{
          "shape":"AccountSortBy",
          "documentation":"<p>The value to sort by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The sort order (ascending or descending).</p>"
        }
      },
      "documentation":"<p>An object that contains details about an aggregation response based on Amazon Web Services accounts.</p>"
    },
    "AccountAggregationResponse":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>The number of findings by severity.</p>"
        }
      },
      "documentation":"<p>An aggregation of findings by Amazon Web Services account ID.</p>"
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "AccountIdSet":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":100,
      "min":0
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AccountSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL"
      ]
    },
    "AccountState":{
      "type":"structure",
      "required":[
        "accountId",
        "resourceState",
        "state"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID.</p>"
        },
        "resourceState":{
          "shape":"ResourceState",
          "documentation":"<p>An object detailing which resources Amazon Inspector is enabled to scan for the account.</p>"
        },
        "state":{
          "shape":"State",
          "documentation":"<p>An object detailing the status of Amazon Inspector for the account.</p>"
        }
      },
      "documentation":"<p>An object with details the status of an Amazon Web Services account within your Amazon Inspector environment.</p>"
    },
    "AccountStateList":{
      "type":"list",
      "member":{"shape":"AccountState"},
      "max":100,
      "min":0
    },
    "AggCounts":{"type":"long"},
    "AggregationFindingType":{
      "type":"string",
      "enum":[
        "NETWORK_REACHABILITY",
        "PACKAGE_VULNERABILITY",
        "CODE_VULNERABILITY"
      ]
    },
    "AggregationRequest":{
      "type":"structure",
      "members":{
        "accountAggregation":{
          "shape":"AccountAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon Web Services account IDs.</p>"
        },
        "amiAggregation":{
          "shape":"AmiAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon Machine Images (AMIs).</p>"
        },
        "awsEcrContainerAggregation":{
          "shape":"AwsEcrContainerAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon ECR container images.</p>"
        },
        "ec2InstanceAggregation":{
          "shape":"Ec2InstanceAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon EC2 instances.</p>"
        },
        "findingTypeAggregation":{
          "shape":"FindingTypeAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on finding types.</p>"
        },
        "imageLayerAggregation":{
          "shape":"ImageLayerAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on container image layers.</p>"
        },
        "lambdaFunctionAggregation":{
          "shape":"LambdaFunctionAggregation",
          "documentation":"<p>Returns an object with findings aggregated by AWS Lambda function.</p>"
        },
        "lambdaLayerAggregation":{
          "shape":"LambdaLayerAggregation",
          "documentation":"<p>Returns an object with findings aggregated by AWS Lambda layer.</p>"
        },
        "packageAggregation":{
          "shape":"PackageAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on operating system package type.</p>"
        },
        "repositoryAggregation":{
          "shape":"RepositoryAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon ECR repositories.</p>"
        },
        "titleAggregation":{
          "shape":"TitleAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on finding title.</p>"
        }
      },
      "documentation":"<p>Contains details about an aggregation request.</p>",
      "union":true
    },
    "AggregationResourceType":{
      "type":"string",
      "enum":[
        "AWS_EC2_INSTANCE",
        "AWS_ECR_CONTAINER_IMAGE",
        "AWS_LAMBDA_FUNCTION"
      ]
    },
    "AggregationResponse":{
      "type":"structure",
      "members":{
        "accountAggregation":{
          "shape":"AccountAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon Web Services account IDs.</p>"
        },
        "amiAggregation":{
          "shape":"AmiAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon Machine Images (AMIs).</p>"
        },
        "awsEcrContainerAggregation":{
          "shape":"AwsEcrContainerAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon ECR container images.</p>"
        },
        "ec2InstanceAggregation":{
          "shape":"Ec2InstanceAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon EC2 instances.</p>"
        },
        "findingTypeAggregation":{
          "shape":"FindingTypeAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on finding types.</p>"
        },
        "imageLayerAggregation":{
          "shape":"ImageLayerAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on container image layers.</p>"
        },
        "lambdaFunctionAggregation":{
          "shape":"LambdaFunctionAggregationResponse",
          "documentation":"<p>An aggregation of findings by AWS Lambda function.</p>"
        },
        "lambdaLayerAggregation":{
          "shape":"LambdaLayerAggregationResponse",
          "documentation":"<p>An aggregation of findings by AWS Lambda layer.</p>"
        },
        "packageAggregation":{
          "shape":"PackageAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on operating system package type.</p>"
        },
        "repositoryAggregation":{
          "shape":"RepositoryAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon ECR repositories.</p>"
        },
        "titleAggregation":{
          "shape":"TitleAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on finding title.</p>"
        }
      },
      "documentation":"<p>A structure that contains details about the results of an aggregation type.</p>",
      "union":true
    },
    "AggregationResponseList":{
      "type":"list",
      "member":{"shape":"AggregationResponse"}
    },
    "AggregationType":{
      "type":"string",
      "enum":[
        "FINDING_TYPE",
        "PACKAGE",
        "TITLE",
        "REPOSITORY",
        "AMI",
        "AWS_EC2_INSTANCE",
        "AWS_ECR_CONTAINER",
        "IMAGE_LAYER",
        "ACCOUNT",
        "AWS_LAMBDA_FUNCTION",
        "LAMBDA_LAYER"
      ]
    },
    "AmiAggregation":{
      "type":"structure",
      "members":{
        "amis":{
          "shape":"StringFilterList",
          "documentation":"<p>The IDs of AMIs to aggregate findings for.</p>"
        },
        "sortBy":{
          "shape":"AmiSortBy",
          "documentation":"<p>The value to sort results by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The order to sort results by.</p>"
        }
      },
      "documentation":"<p>The details that define an aggregation based on Amazon machine images (AMIs).</p>"
    },
    "AmiAggregationResponse":{
      "type":"structure",
      "required":["ami"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID for the AMI.</p>"
        },
        "affectedInstances":{
          "shape":"Long",
          "documentation":"<p>The IDs of Amazon EC2 instances using this AMI.</p>"
        },
        "ami":{
          "shape":"AmiId",
          "documentation":"<p>The ID of the AMI that findings were aggregated for.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>An object that contains the count of matched findings per severity.</p>"
        }
      },
      "documentation":"<p>A response that contains the results of a finding aggregation by AMI.</p>"
    },
    "AmiId":{
      "type":"string",
      "pattern":"^ami-([a-z0-9]{8}|[a-z0-9]{17}|\\*)$"
    },
    "AmiSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL",
        "AFFECTED_INSTANCES"
      ]
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "X86_64",
        "ARM64"
      ]
    },
    "ArchitectureList":{
      "type":"list",
      "member":{"shape":"Architecture"},
      "max":1,
      "min":1
    },
    "Arn":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AssociateMemberRequest":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the member account to be associated.</p>"
        }
      }
    },
    "AssociateMemberResponse":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the successfully associated member account.</p>"
        }
      }
    },
    "AtigData":{
      "type":"structure",
      "members":{
        "firstSeen":{
          "shape":"FirstSeen",
          "documentation":"<p>The date and time this vulnerability was first observed.</p>"
        },
        "lastSeen":{
          "shape":"LastSeen",
          "documentation":"<p>The date and time this vulnerability was last observed.</p>"
        },
        "targets":{
          "shape":"Targets",
          "documentation":"<p>The commercial sectors this vulnerability targets.</p>"
        },
        "ttps":{
          "shape":"Ttps",
          "documentation":"<p>The <a href=\"https://attack.mitre.org/\">MITRE ATT&amp;CK</a> tactics, techniques, and procedures (TTPs) associated with vulnerability.</p>"
        }
      },
      "documentation":"<p>The Amazon Web Services Threat Intel Group (ATIG) details for a specific vulnerability.</p>"
    },
    "AutoEnable":{
      "type":"structure",
      "required":[
        "ec2",
        "ecr"
      ],
      "members":{
        "ec2":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Amazon EC2 scans are automatically enabled for new members of your Amazon Inspector organization.</p>"
        },
        "ecr":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Amazon ECR scans are automatically enabled for new members of your Amazon Inspector organization.</p>"
        },
        "lambda":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether AWS Lambda standard scans are automatically enabled for new members of your Amazon Inspector organization. </p>"
        },
        "lambdaCode":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether AWS Lambda code scans are automatically enabled for new members of your Amazon Inspector organization. <pre><code> &lt;/p&gt; </code></pre>"
        }
      },
      "documentation":"<p>Represents which scan types are automatically enabled for new members of your Amazon Inspector organization.</p>"
    },
    "AwsEc2InstanceDetails":{
      "type":"structure",
      "members":{
        "iamInstanceProfileArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IAM instance profile ARN of the Amazon EC2 instance.</p>"
        },
        "imageId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The image ID of the Amazon EC2 instance.</p>"
        },
        "ipV4Addresses":{
          "shape":"IpV4AddressList",
          "documentation":"<p>The IPv4 addresses of the Amazon EC2 instance.</p>"
        },
        "ipV6Addresses":{
          "shape":"IpV6AddressList",
          "documentation":"<p>The IPv6 addresses of the Amazon EC2 instance.</p>"
        },
        "keyName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the key pair used to launch the Amazon EC2 instance.</p>"
        },
        "launchedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>The date and time the Amazon EC2 instance was launched at.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the Amazon EC2 instance.</p>"
        },
        "subnetId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The subnet ID of the Amazon EC2 instance.</p>"
        },
        "type":{
          "shape":"NonEmptyString",
          "documentation":"<p>The type of the Amazon EC2 instance.</p>"
        },
        "vpcId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The VPC ID of the Amazon EC2 instance.</p>"
        }
      },
      "documentation":"<p>Details of the Amazon EC2 instance involved in a finding.</p>"
    },
    "AwsEcrContainerAggregation":{
      "type":"structure",
      "members":{
        "architectures":{
          "shape":"StringFilterList",
          "documentation":"<p>The architecture of the containers.</p>"
        },
        "imageShas":{
          "shape":"StringFilterList",
          "documentation":"<p>The image SHA values.</p>"
        },
        "imageTags":{
          "shape":"StringFilterList",
          "documentation":"<p>The image tags.</p>"
        },
        "repositories":{
          "shape":"StringFilterList",
          "documentation":"<p>The container repositories.</p>"
        },
        "resourceIds":{
          "shape":"StringFilterList",
          "documentation":"<p>The container resource IDs.</p>"
        },
        "sortBy":{
          "shape":"AwsEcrContainerSortBy",
          "documentation":"<p>The value to sort by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The sort order (ascending or descending).</p>"
        }
      },
      "documentation":"<p>An aggregation of information about Amazon ECR containers.</p>"
    },
    "AwsEcrContainerAggregationResponse":{
      "type":"structure",
      "required":["resourceId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the account that owns the container.</p>"
        },
        "architecture":{
          "shape":"String",
          "documentation":"<p>The architecture of the container.</p>"
        },
        "imageSha":{
          "shape":"String",
          "documentation":"<p>The SHA value of the container image.</p>"
        },
        "imageTags":{
          "shape":"StringList",
          "documentation":"<p>The container image stags.</p>"
        },
        "repository":{
          "shape":"String",
          "documentation":"<p>The container repository.</p>"
        },
        "resourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The resource ID of the container.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>The number of finding by severity.</p>"
        }
      },
      "documentation":"<p>An aggregation of information about Amazon ECR containers.</p>"
    },
    "AwsEcrContainerImageDetails":{
      "type":"structure",
      "required":[
        "imageHash",
        "registry",
        "repositoryName"
      ],
      "members":{
        "architecture":{
          "shape":"NonEmptyString",
          "documentation":"<p>The architecture of the Amazon ECR container image.</p>"
        },
        "author":{
          "shape":"String",
          "documentation":"<p>The image author of the Amazon ECR container image.</p>"
        },
        "imageHash":{
          "shape":"ImageHash",
          "documentation":"<p>The image hash of the Amazon ECR container image.</p>"
        },
        "imageTags":{
          "shape":"ImageTagList",
          "documentation":"<p>The image tags attached to the Amazon ECR container image.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the Amazon ECR container image.</p>"
        },
        "pushedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>The date and time the Amazon ECR container image was pushed.</p>"
        },
        "registry":{
          "shape":"NonEmptyString",
          "documentation":"<p>The registry for the Amazon ECR container image.</p>"
        },
        "repositoryName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the repository the Amazon ECR container image resides in.</p>"
        }
      },
      "documentation":"<p>The image details of the Amazon ECR container image.</p>"
    },
    "AwsEcrContainerSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL"
      ]
    },
    "AwsLambdaFunctionDetails":{
      "type":"structure",
      "required":[
        "codeSha256",
        "executionRoleArn",
        "functionName",
        "runtime",
        "version"
      ],
      "members":{
        "architectures":{
          "shape":"ArchitectureList",
          "documentation":"<p>The instruction set architecture that the AWS Lambda function supports. Architecture is a string array with one of the valid values. The default architecture value is <code>x86_64</code>.</p>"
        },
        "codeSha256":{
          "shape":"NonEmptyString",
          "documentation":"<p>The SHA256 hash of the AWS Lambda function's deployment package.</p>"
        },
        "executionRoleArn":{
          "shape":"ExecutionRoleArn",
          "documentation":"<p>The AWS Lambda function's execution role.</p>"
        },
        "functionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the AWS Lambda function.</p>"
        },
        "lastModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that a user last updated the configuration, in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601 format</a> </p>"
        },
        "layers":{
          "shape":"LayerList",
          "documentation":"<p>The AWS Lambda function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\"> layers</a>. A Lambda function can have up to five layers.</p>"
        },
        "packageType":{
          "shape":"PackageType",
          "documentation":"<p>The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for .zip file archive.</p>"
        },
        "runtime":{
          "shape":"Runtime",
          "documentation":"<p>The runtime environment for the AWS Lambda function.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the AWS Lambda function.</p>"
        },
        "vpcConfig":{
          "shape":"LambdaVpcConfig",
          "documentation":"<p>The AWS Lambda function's networking configuration.</p>"
        }
      },
      "documentation":"<p> A summary of information about the AWS Lambda function.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>One or more tags submitted as part of the request is not valid.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchGetAccountStatusRequest":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>The 12-digit Amazon Web Services account IDs of the accounts to retrieve Amazon Inspector status for.</p>"
        }
      }
    },
    "BatchGetAccountStatusResponse":{
      "type":"structure",
      "required":["accounts"],
      "members":{
        "accounts":{
          "shape":"AccountStateList",
          "documentation":"<p>An array of objects that provide details on the status of Amazon Inspector for each of the requested accounts.</p>"
        },
        "failedAccounts":{
          "shape":"FailedAccountList",
          "documentation":"<p>An array of objects detailing any accounts that failed to enable Amazon Inspector and why.</p>"
        }
      }
    },
    "BatchGetCodeSnippetRequest":{
      "type":"structure",
      "required":["findingArns"],
      "members":{
        "findingArns":{
          "shape":"BatchGetCodeSnippetRequestFindingArnsList",
          "documentation":"<p>An array of finding ARNs for the findings you want to retrieve code snippets from.</p>"
        }
      }
    },
    "BatchGetCodeSnippetRequestFindingArnsList":{
      "type":"list",
      "member":{"shape":"FindingArn"},
      "max":10,
      "min":1
    },
    "BatchGetCodeSnippetResponse":{
      "type":"structure",
      "members":{
        "codeSnippetResults":{
          "shape":"CodeSnippetResultList",
          "documentation":"<p>The retrieved code snippets associated with the provided finding ARNs.</p>"
        },
        "errors":{
          "shape":"CodeSnippetErrorList",
          "documentation":"<p>Any errors Amazon Inspector encountered while trying to retrieve the requested code snippets.</p>"
        }
      }
    },
    "BatchGetFindingDetailsRequest":{
      "type":"structure",
      "required":["findingArns"],
      "members":{
        "findingArns":{
          "shape":"FindingArnList",
          "documentation":"<p>A list of finding ARNs.</p>"
        }
      }
    },
    "BatchGetFindingDetailsResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"FindingDetailsErrorList",
          "documentation":"<p>Error information for findings that details could not be returned for.</p>"
        },
        "findingDetails":{
          "shape":"FindingDetails",
          "documentation":"<p>A finding's vulnerability details.</p>"
        }
      }
    },
    "BatchGetFreeTrialInfoRequest":{
      "type":"structure",
      "required":["accountIds"],
      "members":{
        "accountIds":{
          "shape":"BatchGetFreeTrialInfoRequestAccountIdsList",
          "documentation":"<p>The account IDs to get free trial status for.</p>"
        }
      }
    },
    "BatchGetFreeTrialInfoRequestAccountIdsList":{
      "type":"list",
      "member":{"shape":"MeteringAccountId"},
      "max":100,
      "min":1
    },
    "BatchGetFreeTrialInfoResponse":{
      "type":"structure",
      "required":[
        "accounts",
        "failedAccounts"
      ],
      "members":{
        "accounts":{
          "shape":"FreeTrialAccountInfoList",
          "documentation":"<p>An array of objects that provide Amazon Inspector free trial details for each of the requested accounts. </p>"
        },
        "failedAccounts":{
          "shape":"FreeTrialInfoErrorList",
          "documentation":"<p>An array of objects detailing any accounts that free trial data could not be returned for.</p>"
        }
      }
    },
    "BatchGetMemberEc2DeepInspectionStatusRequest":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>The unique identifiers for the Amazon Web Services accounts to retrieve Amazon Inspector deep inspection activation status for. <pre><code> &lt;/p&gt; </code></pre>"
        }
      }
    },
    "BatchGetMemberEc2DeepInspectionStatusResponse":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details on the activation status of Amazon Inspector deep inspection for each of the requested accounts. <pre><code> &lt;/p&gt; </code></pre>"
        },
        "failedAccountIds":{
          "shape":"FailedMemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details on any accounts that failed to activate Amazon Inspector deep inspection and why. <pre><code> &lt;/p&gt; </code></pre>"
        }
      }
    },
    "BatchUpdateMemberEc2DeepInspectionStatusRequest":{
      "type":"structure",
      "required":["accountIds"],
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusList",
          "documentation":"<p>The unique identifiers for the Amazon Web Services accounts to change Amazon Inspector deep inspection status for.</p>"
        }
      }
    },
    "BatchUpdateMemberEc2DeepInspectionStatusResponse":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status was successfully changed for. </p>"
        },
        "failedAccountIds":{
          "shape":"FailedMemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status could not be successfully changed for. </p>"
        }
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelFindingsReportRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The ID of the report to be canceled.</p>"
        }
      }
    },
    "CancelFindingsReportResponse":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The ID of the canceled report.</p>"
        }
      }
    },
    "CancelSbomExportRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The report ID of the SBOM export to cancel.</p>"
        }
      }
    },
    "CancelSbomExportResponse":{
      "type":"structure",
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The report ID of the canceled SBOM export.</p>"
        }
      }
    },
    "CisaAction":{
      "type":"string",
      "min":0
    },
    "CisaData":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"CisaAction",
          "documentation":"<p>The remediation action recommended by CISA for this vulnerability.</p>"
        },
        "dateAdded":{
          "shape":"CisaDateAdded",
          "documentation":"<p>The date and time CISA added this vulnerability to their catalogue.</p>"
        },
        "dateDue":{
          "shape":"CisaDateDue",
          "documentation":"<p>The date and time CISA expects a fix to have been provided vulnerability.</p>"
        }
      },
      "documentation":"<p>The Cybersecurity and Infrastructure Security Agency (CISA) details for a specific vulnerability.</p>"
    },
    "CisaDateAdded":{"type":"timestamp"},
    "CisaDateDue":{"type":"timestamp"},
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CodeFilePath":{
      "type":"structure",
      "required":[
        "endLine",
        "fileName",
        "filePath",
        "startLine"
      ],
      "members":{
        "endLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the last line of code that a vulnerability was found in.</p>"
        },
        "fileName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the file the code vulnerability was found in.</p>"
        },
        "filePath":{
          "shape":"NonEmptyString",
          "documentation":"<p>The file path to the code that a vulnerability was found in.</p>"
        },
        "startLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the first line of code that a vulnerability was found in.</p>"
        }
      },
      "documentation":"<p>Contains information on where a code vulnerability is located in your Lambda function.</p>"
    },
    "CodeLine":{
      "type":"structure",
      "required":[
        "content",
        "lineNumber"
      ],
      "members":{
        "content":{
          "shape":"CodeLineContentString",
          "documentation":"<p>The content of a line of code</p>"
        },
        "lineNumber":{
          "shape":"Integer",
          "documentation":"<p>The line number that a section of code is located at.</p>"
        }
      },
      "documentation":"<p>Contains information on the lines of code associated with a code snippet.</p>"
    },
    "CodeLineContentString":{
      "type":"string",
      "max":240,
      "min":0
    },
    "CodeLineList":{
      "type":"list",
      "member":{"shape":"CodeLine"},
      "max":20,
      "min":1
    },
    "CodeSnippetError":{
      "type":"structure",
      "required":[
        "errorCode",
        "errorMessage",
        "findingArn"
      ],
      "members":{
        "errorCode":{
          "shape":"CodeSnippetErrorCode",
          "documentation":"<p>The error code for the error that prevented a code snippet from being retrieved.</p>"
        },
        "errorMessage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The error message received when Amazon Inspector failed to retrieve a code snippet.</p>"
        },
        "findingArn":{
          "shape":"FindingArn",
          "documentation":"<p>The ARN of the finding that a code snippet couldn't be retrieved for.</p>"
        }
      },
      "documentation":"<p>Contains information about any errors encountered while trying to retrieve a code snippet.</p>"
    },
    "CodeSnippetErrorCode":{
      "type":"string",
      "enum":[
        "INTERNAL_ERROR",
        "ACCESS_DENIED",
        "CODE_SNIPPET_NOT_FOUND",
        "INVALID_INPUT"
      ]
    },
    "CodeSnippetErrorList":{
      "type":"list",
      "member":{"shape":"CodeSnippetError"}
    },
    "CodeSnippetResult":{
      "type":"structure",
      "members":{
        "codeSnippet":{
          "shape":"CodeLineList",
          "documentation":"<p>Contains information on the retrieved code snippet.</p>"
        },
        "endLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the last line of a code snippet.</p>"
        },
        "findingArn":{
          "shape":"FindingArn",
          "documentation":"<p>The ARN of a finding that the code snippet is associated with.</p>"
        },
        "startLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the first line of a code snippet.</p>"
        },
        "suggestedFixes":{
          "shape":"SuggestedFixes",
          "documentation":"<p>Details of a suggested code fix.</p>"
        }
      },
      "documentation":"<p>Contains information on a code snippet retrieved by Amazon Inspector from a code vulnerability finding.</p>"
    },
    "CodeSnippetResultList":{
      "type":"list",
      "member":{"shape":"CodeSnippetResult"}
    },
    "CodeVulnerabilityDetails":{
      "type":"structure",
      "required":[
        "cwes",
        "detectorId",
        "detectorName",
        "filePath"
      ],
      "members":{
        "cwes":{
          "shape":"CweList",
          "documentation":"<p>The Common Weakness Enumeration (CWE) item associated with the detected vulnerability.</p>"
        },
        "detectorId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID for the Amazon CodeGuru detector associated with the finding. For more information on detectors see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library\">Amazon CodeGuru Detector Library</a>.</p>"
        },
        "detectorName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the detector used to identify the code vulnerability. For more information on detectors see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library\">CodeGuru Detector Library</a>.</p>"
        },
        "detectorTags":{
          "shape":"DetectorTagList",
          "documentation":"<p>The detector tag associated with the vulnerability. Detector tags group related vulnerabilities by common themes or tactics. For a list of available tags by programming language, see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library/java/tags/\">Java tags</a>, or <a href=\"https://docs.aws.amazon.com/codeguru/detector-library/python/tags/\">Python tags</a>. </p>"
        },
        "filePath":{
          "shape":"CodeFilePath",
          "documentation":"<p>Contains information on where the code vulnerability is located in your code.</p>"
        },
        "referenceUrls":{
          "shape":"ReferenceUrls",
          "documentation":"<p>A URL containing supporting documentation about the code vulnerability detected.</p>"
        },
        "ruleId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier for a rule that was used to detect the code vulnerability.</p>"
        },
        "sourceLambdaLayerArn":{
          "shape":"LambdaLayerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lambda layer that the code vulnerability was detected in.</p>"
        }
      },
      "documentation":"<p>Contains information on the code vulnerability identified in your Lambda function.</p>"
    },
    "Component":{"type":"string"},
    "ComponentType":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The ID of the conflicting resource.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of the conflicting resource.</p>"
        }
      },
      "documentation":"<p>A conflict occurred.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Counts":{
      "type":"structure",
      "members":{
        "count":{
          "shape":"AggCounts",
          "documentation":"<p>The number of resources.</p>"
        },
        "groupKey":{
          "shape":"GroupKey",
          "documentation":"<p>The key associated with this group</p>"
        }
      },
      "documentation":"<p>a structure that contains information on the count of resources within a group.</p>"
    },
    "CountsList":{
      "type":"list",
      "member":{"shape":"Counts"},
      "max":5,
      "min":1
    },
    "CoverageDateFilter":{
      "type":"structure",
      "members":{
        "endInclusive":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>A timestamp representing the end of the time period to filter results by.</p>"
        },
        "startInclusive":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>A timestamp representing the start of the time period to filter results by.</p>"
        }
      },
      "documentation":"<p>Contains details of a coverage date filter.</p>"
    },
    "CoverageDateFilterList":{
      "type":"list",
      "member":{"shape":"CoverageDateFilter"},
      "max":10,
      "min":1
    },
    "CoverageFilterCriteria":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>An array of Amazon Web Services account IDs to return coverage statistics for.</p>"
        },
        "ec2InstanceTags":{
          "shape":"CoverageMapFilterList",
          "documentation":"<p>The Amazon EC2 instance tags to filter on.</p>"
        },
        "ecrImageTags":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>The Amazon ECR image tags to filter on.</p>"
        },
        "ecrRepositoryName":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>The Amazon ECR repository name to filter on.</p>"
        },
        "lambdaFunctionName":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>Returns coverage statistics for AWS Lambda functions filtered by function names.</p>"
        },
        "lambdaFunctionRuntime":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>Returns coverage statistics for AWS Lambda functions filtered by runtime.</p>"
        },
        "lambdaFunctionTags":{
          "shape":"CoverageMapFilterList",
          "documentation":"<p>Returns coverage statistics for AWS Lambda functions filtered by tag.</p>"
        },
        "lastScannedAt":{
          "shape":"CoverageDateFilterList",
          "documentation":"<p>Filters Amazon Web Services resources based on whether Amazon Inspector has checked them for vulnerabilities within the specified time range.</p>"
        },
        "resourceId":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>An array of Amazon Web Services resource IDs to return coverage statistics for.</p>"
        },
        "resourceType":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>An array of Amazon Web Services resource types to return coverage statistics for. The values can be <code>AWS_EC2_INSTANCE</code>, <code>AWS_LAMBDA_FUNCTION</code> or <code>AWS_ECR_REPOSITORY</code>.</p>"
        },
        "scanStatusCode":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>The scan status code to filter on. Valid values are: <code>ValidationException</code>, <code>InternalServerException</code>, <code>ResourceNotFoundException</code>, <code>BadRequestException</code>, and <code>ThrottlingException</code>.</p>"
        },
        "scanStatusReason":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>The scan status reason to filter on.</p>"
        },
        "scanType":{
          "shape":"CoverageStringFilterList",
          "documentation":"<p>An array of Amazon Inspector scan types to return coverage statistics for.</p>"
        }
      },
      "documentation":"<p>A structure that identifies filter criteria for <code>GetCoverageStatistics</code>.</p>"
    },
    "CoverageMapComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CoverageMapFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "key"
      ],
      "members":{
        "comparison":{
          "shape":"CoverageMapComparison",
          "documentation":"<p>The operator to compare coverage on.</p>"
        },
        "key":{
          "shape":"NonEmptyString",
          "documentation":"<p>The tag key associated with the coverage map filter.</p>"
        },
        "value":{
          "shape":"NonEmptyString",
          "documentation":"<p>The tag value associated with the coverage map filter.</p>"
        }
      },
      "documentation":"<p>Contains details of a coverage map filter.</p>"
    },
    "CoverageMapFilterList":{
      "type":"list",
      "member":{"shape":"CoverageMapFilter"},
      "max":10,
      "min":1
    },
    "CoverageResourceType":{
      "type":"string",
      "enum":[
        "AWS_EC2_INSTANCE",
        "AWS_ECR_CONTAINER_IMAGE",
        "AWS_ECR_REPOSITORY",
        "AWS_LAMBDA_FUNCTION"
      ]
    },
    "CoverageStringComparison":{
      "type":"string",
      "enum":[
        "EQUALS",
        "NOT_EQUALS"
      ]
    },
    "CoverageStringFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CoverageStringComparison",
          "documentation":"<p>The operator to compare strings on.</p>"
        },
        "value":{
          "shape":"CoverageStringInput",
          "documentation":"<p>The value to compare strings on.</p>"
        }
      },
      "documentation":"<p>Contains details of a coverage string filter.</p>"
    },
    "CoverageStringFilterList":{
      "type":"list",
      "member":{"shape":"CoverageStringFilter"},
      "max":10,
      "min":1
    },
    "CoverageStringInput":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CoveredResource":{
      "type":"structure",
      "required":[
        "accountId",
        "resourceId",
        "resourceType",
        "scanType"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the covered resource.</p>"
        },
        "lastScannedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>The date and time the resource was last checked for vulnerabilities.</p>"
        },
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the covered resource.</p>"
        },
        "resourceMetadata":{
          "shape":"ResourceScanMetadata",
          "documentation":"<p>An object that contains details about the metadata.</p>"
        },
        "resourceType":{
          "shape":"CoverageResourceType",
          "documentation":"<p>The type of the covered resource.</p>"
        },
        "scanStatus":{
          "shape":"ScanStatus",
          "documentation":"<p>The status of the scan covering the resource.</p>"
        },
        "scanType":{
          "shape":"ScanType",
          "documentation":"<p>The Amazon Inspector scan type covering the resource.</p>"
        }
      },
      "documentation":"<p>An object that contains details about a resource covered by Amazon Inspector.</p>"
    },
    "CoveredResources":{
      "type":"list",
      "member":{"shape":"CoveredResource"}
    },
    "CreateFilterRequest":{
      "type":"structure",
      "required":[
        "action",
        "filterCriteria",
        "name"
      ],
      "members":{
        "action":{
          "shape":"FilterAction",
          "documentation":"<p>Defines the action that is to be applied to the findings that match the filter.</p>"
        },
        "description":{
          "shape":"FilterDescription",
          "documentation":"<p>A description of the filter.</p>"
        },
        "filterCriteria":{
          "shape":"FilterCriteria",
          "documentation":"<p>Defines the criteria to be used in the filter for querying findings.</p>"
        },
        "name":{
          "shape":"FilterName",
          "documentation":"<p>The name of the filter. Minimum length of 3. Maximum length of 64. Valid characters include alphanumeric characters, dot (.), underscore (_), and dash (-). Spaces are not allowed.</p>"
        },
        "reason":{
          "shape":"FilterReason",
          "documentation":"<p>The reason for creating the filter.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of tags for the filter.</p>"
        }
      }
    },
    "CreateFilterResponse":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"FilterArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the successfully created filter.</p>"
        }
      }
    },
    "CreateFindingsReportRequest":{
      "type":"structure",
      "required":[
        "reportFormat",
        "s3Destination"
      ],
      "members":{
        "filterCriteria":{
          "shape":"FilterCriteria",
          "documentation":"<p>The filter criteria to apply to the results of the finding report.</p>"
        },
        "reportFormat":{
          "shape":"ReportFormat",
          "documentation":"<p>The format to generate the report in.</p>"
        },
        "s3Destination":{
          "shape":"Destination",
          "documentation":"<p>The Amazon S3 export destination for the report.</p>"
        }
      }
    },
    "CreateFindingsReportResponse":{
      "type":"structure",
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The ID of the report.</p>"
        }
      }
    },
    "CreateSbomExportRequest":{
      "type":"structure",
      "required":[
        "reportFormat",
        "s3Destination"
      ],
      "members":{
        "reportFormat":{
          "shape":"SbomReportFormat",
          "documentation":"<p>The output format for the software bill of materials (SBOM) report.</p>"
        },
        "resourceFilterCriteria":{
          "shape":"ResourceFilterCriteria",
          "documentation":"<p>The resource filter criteria for the software bill of materials (SBOM) report.</p>"
        },
        "s3Destination":{"shape":"Destination"}
      }
    },
    "CreateSbomExportResponse":{
      "type":"structure",
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The report ID for the software bill of materials (SBOM) report.</p>"
        }
      }
    },
    "Currency":{
      "type":"string",
      "enum":["USD"]
    },
    "Cvss2":{
      "type":"structure",
      "members":{
        "baseScore":{
          "shape":"Cvss2BaseScore",
          "documentation":"<p>The CVSS v2 base score for the vulnerability.</p>"
        },
        "scoringVector":{
          "shape":"Cvss2ScoringVector",
          "documentation":"<p>The scoring vector associated with the CVSS v2 score.</p>"
        }
      },
      "documentation":"<p>The Common Vulnerability Scoring System (CVSS) version 2 details for the vulnerability.</p>"
    },
    "Cvss2BaseScore":{"type":"double"},
    "Cvss2ScoringVector":{
      "type":"string",
      "min":0
    },
    "Cvss3":{
      "type":"structure",
      "members":{
        "baseScore":{
          "shape":"Cvss3BaseScore",
          "documentation":"<p>The CVSS v3 base score for the vulnerability.</p>"
        },
        "scoringVector":{
          "shape":"Cvss3ScoringVector",
          "documentation":"<p>The scoring vector associated with the CVSS v3 score.</p>"
        }
      },
      "documentation":"<p>The Common Vulnerability Scoring System (CVSS) version 3 details for the vulnerability.</p>"
    },
    "Cvss3BaseScore":{"type":"double"},
    "Cvss3ScoringVector":{
      "type":"string",
      "min":0
    },
    "CvssScore":{
      "type":"structure",
      "required":[
        "baseScore",
        "scoringVector",
        "source",
        "version"
      ],
      "members":{
        "baseScore":{
          "shape":"Double",
          "documentation":"<p>The base CVSS score used for the finding.</p>"
        },
        "scoringVector":{
          "shape":"NonEmptyString",
          "documentation":"<p>The vector string of the CVSS score.</p>"
        },
        "source":{
          "shape":"NonEmptyString",
          "documentation":"<p>The source of the CVSS score.</p>"
        },
        "version":{
          "shape":"NonEmptyString",
          "documentation":"<p>The version of CVSS used for the score.</p>"
        }
      },
      "documentation":"<p>The CVSS score for a finding.</p>"
    },
    "CvssScoreAdjustment":{
      "type":"structure",
      "required":[
        "metric",
        "reason"
      ],
      "members":{
        "metric":{
          "shape":"NonEmptyString",
          "documentation":"<p>The metric used to adjust the CVSS score.</p>"
        },
        "reason":{
          "shape":"NonEmptyString",
          "documentation":"<p>The reason the CVSS score has been adjustment.</p>"
        }
      },
      "documentation":"<p>Details on adjustments Amazon Inspector made to the CVSS score for a finding.</p>"
    },
    "CvssScoreAdjustmentList":{
      "type":"list",
      "member":{"shape":"CvssScoreAdjustment"}
    },
    "CvssScoreDetails":{
      "type":"structure",
      "required":[
        "score",
        "scoreSource",
        "scoringVector",
        "version"
      ],
      "members":{
        "adjustments":{
          "shape":"CvssScoreAdjustmentList",
          "documentation":"<p>An object that contains details about adjustment Amazon Inspector made to the CVSS score.</p>"
        },
        "cvssSource":{
          "shape":"NonEmptyString",
          "documentation":"<p>The source of the CVSS data.</p>"
        },
        "score":{
          "shape":"Double",
          "documentation":"<p>The CVSS score.</p>"
        },
        "scoreSource":{
          "shape":"NonEmptyString",
          "documentation":"<p>The source for the CVSS score.</p>"
        },
        "scoringVector":{
          "shape":"NonEmptyString",
          "documentation":"<p>The vector for the CVSS score.</p>"
        },
        "version":{
          "shape":"NonEmptyString",
          "documentation":"<p>The CVSS version used in scoring.</p>"
        }
      },
      "documentation":"<p>Information about the CVSS score.</p>"
    },
    "CvssScoreList":{
      "type":"list",
      "member":{"shape":"CvssScore"}
    },
    "Cwe":{
      "type":"string",
      "min":0
    },
    "CweList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":10,
      "min":1
    },
    "Cwes":{
      "type":"list",
      "member":{"shape":"Cwe"},
      "min":0
    },
    "DateFilter":{
      "type":"structure",
      "members":{
        "endInclusive":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp representing the end of the time period filtered on.</p>"
        },
        "startInclusive":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp representing the start of the time period filtered on.</p>"
        }
      },
      "documentation":"<p>Contains details on the time range used to filter findings.</p>"
    },
    "DateFilterList":{
      "type":"list",
      "member":{"shape":"DateFilter"},
      "max":10,
      "min":1
    },
    "DateTimeTimestamp":{"type":"timestamp"},
    "DelegatedAdmin":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator for your organization.</p>"
        },
        "relationshipStatus":{
          "shape":"RelationshipStatus",
          "documentation":"<p>The status of the Amazon Inspector delegated administrator.</p>"
        }
      },
      "documentation":"<p>Details of the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "DelegatedAdminAccount":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator for your organization.</p>"
        },
        "status":{
          "shape":"DelegatedAdminStatus",
          "documentation":"<p>The status of the Amazon Inspector delegated administrator.</p>"
        }
      },
      "documentation":"<p>Details of the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "DelegatedAdminAccountList":{
      "type":"list",
      "member":{"shape":"DelegatedAdminAccount"},
      "max":5,
      "min":0
    },
    "DelegatedAdminStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLE_IN_PROGRESS"
      ]
    },
    "DeleteFilterRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"FilterArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the filter to be deleted.</p>"
        }
      }
    },
    "DeleteFilterResponse":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"FilterArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the filter that has been deleted.</p>"
        }
      }
    },
    "DescribeOrganizationConfigurationRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeOrganizationConfigurationResponse":{
      "type":"structure",
      "members":{
        "autoEnable":{
          "shape":"AutoEnable",
          "documentation":"<p>The scan types are automatically enabled for new members of your organization.</p>"
        },
        "maxAccountLimitReached":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether your organization has reached the maximum Amazon Web Services account limit for Amazon Inspector.</p>"
        }
      }
    },
    "Destination":{
      "type":"structure",
      "required":[
        "bucketName",
        "kmsKeyArn"
      ],
      "members":{
        "bucketName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon S3 bucket to export findings to.</p>"
        },
        "keyPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that the findings will be written under.</p>"
        },
        "kmsKeyArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the KMS key used to encrypt data when exporting findings.</p>"
        }
      },
      "documentation":"<p>Contains details of the Amazon S3 bucket and KMS key used to export findings.</p>"
    },
    "DetectionPlatforms":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":100,
      "min":0
    },
    "DetectorTagList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":10,
      "min":1
    },
    "DisableDelegatedAdminAccountRequest":{
      "type":"structure",
      "required":["delegatedAdminAccountId"],
      "members":{
        "delegatedAdminAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the current Amazon Inspector delegated administrator.</p>"
        }
      }
    },
    "DisableDelegatedAdminAccountResponse":{
      "type":"structure",
      "required":["delegatedAdminAccountId"],
      "members":{
        "delegatedAdminAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the successfully disabled delegated administrator.</p>"
        }
      }
    },
    "DisableRequest":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>An array of account IDs you want to disable Amazon Inspector scans for.</p>"
        },
        "resourceTypes":{
          "shape":"DisableResourceTypeList",
          "documentation":"<p>The resource scan types you want to disable.</p>"
        }
      }
    },
    "DisableResourceTypeList":{
      "type":"list",
      "member":{"shape":"ResourceScanType"},
      "max":3,
      "min":0
    },
    "DisableResponse":{
      "type":"structure",
      "required":["accounts"],
      "members":{
        "accounts":{
          "shape":"AccountList",
          "documentation":"<p>Information on the accounts that have had Amazon Inspector scans successfully disabled. Details are provided for each account.</p>"
        },
        "failedAccounts":{
          "shape":"FailedAccountList",
          "documentation":"<p>Information on any accounts for which Amazon Inspector scans could not be disabled. Details are provided for each account.</p>"
        }
      }
    },
    "DisassociateMemberRequest":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the member account to disassociate.</p>"
        }
      }
    },
    "DisassociateMemberResponse":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the successfully disassociated member.</p>"
        }
      }
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "Ec2DeepInspectionStatus":{
      "type":"string",
      "enum":[
        "ACTIVATED",
        "DEACTIVATED",
        "PENDING",
        "FAILED"
      ]
    },
    "Ec2InstanceAggregation":{
      "type":"structure",
      "members":{
        "amis":{
          "shape":"StringFilterList",
          "documentation":"<p>The AMI IDs associated with the Amazon EC2 instances to aggregate findings for.</p>"
        },
        "instanceIds":{
          "shape":"StringFilterList",
          "documentation":"<p>The Amazon EC2 instance IDs to aggregate findings for.</p>"
        },
        "instanceTags":{
          "shape":"MapFilterList",
          "documentation":"<p>The Amazon EC2 instance tags to aggregate findings for.</p>"
        },
        "operatingSystems":{
          "shape":"StringFilterList",
          "documentation":"<p>The operating system types to aggregate findings for. Valid values must be uppercase and underscore separated, examples are <code>ORACLE_LINUX_7</code> and <code>ALPINE_LINUX_3_8</code>.</p>"
        },
        "sortBy":{
          "shape":"Ec2InstanceSortBy",
          "documentation":"<p>The value to sort results by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The order to sort results by.</p>"
        }
      },
      "documentation":"<p>The details that define an aggregation based on Amazon EC2 instances.</p>"
    },
    "Ec2InstanceAggregationResponse":{
      "type":"structure",
      "required":["instanceId"],
      "members":{
        "accountId":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account for the Amazon EC2 instance.</p>"
        },
        "ami":{
          "shape":"AmiId",
          "documentation":"<p>The Amazon Machine Image (AMI) of the Amazon EC2 instance.</p>"
        },
        "instanceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon EC2 instance ID.</p>"
        },
        "instanceTags":{
          "shape":"TagMap",
          "documentation":"<p>The tags attached to the instance.</p>"
        },
        "networkFindings":{
          "shape":"Long",
          "documentation":"<p>The number of network findings for the Amazon EC2 instance.</p>"
        },
        "operatingSystem":{
          "shape":"String",
          "documentation":"<p>The operating system of the Amazon EC2 instance.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>An object that contains the count of matched findings per severity.</p>"
        }
      },
      "documentation":"<p>A response that contains the results of a finding aggregation by Amazon EC2 instance.</p>"
    },
    "Ec2InstanceSortBy":{
      "type":"string",
      "enum":[
        "NETWORK_FINDINGS",
        "CRITICAL",
        "HIGH",
        "ALL"
      ]
    },
    "Ec2Metadata":{
      "type":"structure",
      "members":{
        "amiId":{
          "shape":"AmiId",
          "documentation":"<p>The ID of the Amazon Machine Image (AMI) used to launch the instance.</p>"
        },
        "platform":{
          "shape":"Ec2Platform",
          "documentation":"<p>The platform of the instance.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags attached to the instance.</p>"
        }
      },
      "documentation":"<p>Meta data details of an Amazon EC2 instance.</p>"
    },
    "Ec2Platform":{
      "type":"string",
      "enum":[
        "WINDOWS",
        "LINUX",
        "UNKNOWN",
        "MACOS"
      ]
    },
    "EcrConfiguration":{
      "type":"structure",
      "required":["rescanDuration"],
      "members":{
        "rescanDuration":{
          "shape":"EcrRescanDuration",
          "documentation":"<p>The ECR automated re-scan duration defines how long an ECR image will be actively scanned by Amazon Inspector. When the number of days since an image was last pushed exceeds the automated re-scan duration the monitoring state of that image becomes <code>inactive</code> and all associated findings are scheduled for closure.</p>"
        }
      },
      "documentation":"<p>Details about the ECR automated re-scan duration setting for your environment.</p>"
    },
    "EcrConfigurationState":{
      "type":"structure",
      "members":{
        "rescanDurationState":{
          "shape":"EcrRescanDurationState",
          "documentation":"<p>An object that contains details about the state of the ECR automated re-scan setting.</p>"
        }
      },
      "documentation":"<p>Details about the state of the ECR scans for your environment.</p>"
    },
    "EcrContainerImageMetadata":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Tags associated with the Amazon ECR image metadata.</p>"
        }
      },
      "documentation":"<p>Information on the Amazon ECR image metadata associated with a finding.</p>"
    },
    "EcrRepositoryMetadata":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon ECR repository.</p>"
        },
        "scanFrequency":{
          "shape":"EcrScanFrequency",
          "documentation":"<p>The frequency of scans.</p>"
        }
      },
      "documentation":"<p>Information on the Amazon ECR repository metadata associated with a finding.</p>"
    },
    "EcrRescanDuration":{
      "type":"string",
      "enum":[
        "LIFETIME",
        "DAYS_30",
        "DAYS_180"
      ]
    },
    "EcrRescanDurationState":{
      "type":"structure",
      "members":{
        "rescanDuration":{
          "shape":"EcrRescanDuration",
          "documentation":"<p>The ECR automated re-scan duration defines how long an ECR image will be actively scanned by Amazon Inspector. When the number of days since an image was last pushed exceeds the automated re-scan duration the monitoring state of that image becomes <code>inactive</code> and all associated findings are scheduled for closure.</p>"
        },
        "status":{
          "shape":"EcrRescanDurationStatus",
          "documentation":"<p>The status of changes to the ECR automated re-scan duration.</p>"
        },
        "updatedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>A timestamp representing when the last time the ECR scan duration setting was changed.</p>"
        }
      },
      "documentation":"<p>Details about the state of any changes to the ECR automated re-scan duration setting.</p>"
    },
    "EcrRescanDurationStatus":{
      "type":"string",
      "enum":[
        "SUCCESS",
        "PENDING",
        "FAILED"
      ]
    },
    "EcrScanFrequency":{
      "type":"string",
      "enum":[
        "MANUAL",
        "SCAN_ON_PUSH",
        "CONTINUOUS_SCAN"
      ]
    },
    "EnableDelegatedAdminAccountRequest":{
      "type":"structure",
      "required":["delegatedAdminAccountId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The idempotency token for the request.</p>",
          "idempotencyToken":true
        },
        "delegatedAdminAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator.</p>"
        }
      }
    },
    "EnableDelegatedAdminAccountResponse":{
      "type":"structure",
      "required":["delegatedAdminAccountId"],
      "members":{
        "delegatedAdminAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the successfully Amazon Inspector delegated administrator.</p>"
        }
      }
    },
    "EnableRequest":{
      "type":"structure",
      "required":["resourceTypes"],
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>A list of account IDs you want to enable Amazon Inspector scans for.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The idempotency token for the request.</p>",
          "idempotencyToken":true
        },
        "resourceTypes":{
          "shape":"EnableResourceTypeList",
          "documentation":"<p>The resource scan types you want to enable.</p>"
        }
      }
    },
    "EnableResourceTypeList":{
      "type":"list",
      "member":{"shape":"ResourceScanType"},
      "max":3,
      "min":1
    },
    "EnableResponse":{
      "type":"structure",
      "required":["accounts"],
      "members":{
        "accounts":{
          "shape":"AccountList",
          "documentation":"<p>Information on the accounts that have had Amazon Inspector scans successfully enabled. Details are provided for each account.</p>"
        },
        "failedAccounts":{
          "shape":"FailedAccountList",
          "documentation":"<p>Information on any accounts for which Amazon Inspector scans could not be enabled. Details are provided for each account.</p>"
        }
      }
    },
    "Epss":{
      "type":"structure",
      "members":{
        "score":{
          "shape":"EpssScore",
          "documentation":"<p>The Exploit Prediction Scoring System (EPSS) score.</p>"
        }
      },
      "documentation":"<p>Details about the Exploit Prediction Scoring System (EPSS) score.</p>"
    },
    "EpssDetails":{
      "type":"structure",
      "members":{
        "score":{
          "shape":"EpssScoreValue",
          "documentation":"<p>The EPSS score.</p>"
        }
      },
      "documentation":"<p>Details about the Exploit Prediction Scoring System (EPSS) score for a finding.</p>"
    },
    "EpssScore":{"type":"double"},
    "EpssScoreValue":{
      "type":"double",
      "max":1.0,
      "min":0.0
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "ALREADY_ENABLED",
        "ENABLE_IN_PROGRESS",
        "DISABLE_IN_PROGRESS",
        "SUSPEND_IN_PROGRESS",
        "RESOURCE_NOT_FOUND",
        "ACCESS_DENIED",
        "INTERNAL_ERROR",
        "SSM_UNAVAILABLE",
        "SSM_THROTTLED",
        "EVENTBRIDGE_UNAVAILABLE",
        "EVENTBRIDGE_THROTTLED",
        "RESOURCE_SCAN_NOT_DISABLED",
        "DISASSOCIATE_ALL_MEMBERS",
        "ACCOUNT_IS_ISOLATED"
      ]
    },
    "ErrorMessage":{"type":"string"},
    "Evidence":{
      "type":"structure",
      "members":{
        "evidenceDetail":{
[...]
