{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-11-01",
    "endpointPrefix":"cloudtrail",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"CloudTrail",
    "serviceFullName":"AWS CloudTrail",
    "serviceId":"CloudTrail",
    "signatureVersion":"v4",
    "targetPrefix":"com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
    "uid":"cloudtrail-2013-11-01"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsRequest"},
      "output":{"shape":"AddTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"TagsLimitExceededException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"ChannelNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Adds one or more tags to a trail, event data store, or channel, up to a limit of 50. Overwrites an existing tag's value when a new value is specified for an existing tag key. Tag key names must be unique; you cannot have two keys with the same name but different values. If you specify a key without a value, the tag will be created with the specified key and a value of null. You can tag a trail or event data store that applies to all Amazon Web Services Regions only from the Region in which the trail or event data store was created (also known as its home Region).</p>",
      "idempotent":true
    },
    "CancelQuery":{
      "name":"CancelQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelQueryRequest"},
      "output":{"shape":"CancelQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InactiveQueryException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Cancels a query if the query is not in a terminated state, such as <code>CANCELLED</code>, <code>FAILED</code>, <code>TIMED_OUT</code>, or <code>FINISHED</code>. You must specify an ARN value for <code>EventDataStore</code>. The ID of the query that you want to cancel is also required. When you run <code>CancelQuery</code>, the query status might show as <code>CANCELLED</code> even if the operation is not yet finished.</p>",
      "idempotent":true
    },
    "CreateChannel":{
      "name":"CreateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateChannelRequest"},
      "output":{"shape":"CreateChannelResponse"},
      "errors":[
        {"shape":"ChannelMaxLimitExceededException"},
        {"shape":"InvalidSourceException"},
        {"shape":"ChannelAlreadyExistsException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventDataStoreCategoryException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"TagsLimitExceededException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a channel for CloudTrail to ingest events from a partner or external source. After you create a channel, a CloudTrail Lake event data store can log events from the partner or source that you specify.</p>"
    },
    "CreateEventDataStore":{
      "name":"CreateEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventDataStoreRequest"},
      "output":{"shape":"CreateEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreAlreadyExistsException"},
        {"shape":"EventDataStoreMaxLimitExceededException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ConflictException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Creates a new event data store.</p>"
    },
    "CreateTrail":{
      "name":"CreateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrailRequest"},
      "output":{"shape":"CreateTrailResponse"},
      "errors":[
        {"shape":"MaximumNumberOfTrailsExceededException"},
        {"shape":"TrailAlreadyExistsException"},
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientSnsTopicPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"InvalidS3BucketNameException"},
        {"shape":"InvalidS3PrefixException"},
        {"shape":"InvalidSnsTopicNameException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"TrailNotProvidedException"},
        {"shape":"TagsLimitExceededException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsKeyDisabledException"},
        {"shape":"KmsException"},
        {"shape":"InvalidCloudWatchLogsLogGroupArnException"},
        {"shape":"InvalidCloudWatchLogsRoleArnException"},
        {"shape":"CloudWatchLogsDeliveryUnavailableException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"CloudTrailInvalidClientTokenIdException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>",
      "idempotent":true
    },
    "DeleteChannel":{
      "name":"DeleteChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteChannelRequest"},
      "output":{"shape":"DeleteChannelResponse"},
      "errors":[
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ChannelNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Deletes a channel.</p>"
    },
    "DeleteEventDataStore":{
      "name":"DeleteEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventDataStoreRequest"},
      "output":{"shape":"DeleteEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"EventDataStoreTerminationProtectedException"},
        {"shape":"EventDataStoreHasOngoingImportException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"ChannelExistsForEDSException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"ConflictException"},
        {"shape":"EventDataStoreFederationEnabledException"}
      ],
      "documentation":"<p>Disables the event data store specified by <code>EventDataStore</code>, which accepts an event data store ARN. After you run <code>DeleteEventDataStore</code>, the event data store enters a <code>PENDING_DELETION</code> state, and is automatically deleted after a wait period of seven days. <code>TerminationProtectionEnabled</code> must be set to <code>False</code> on the event data store and the <code>FederationStatus</code> must be <code>DISABLED</code>. You cannot delete an event data store if <code>TerminationProtectionEnabled</code> is <code>True</code> or the <code>FederationStatus</code> is <code>ENABLED</code>.</p> <p>After you run <code>DeleteEventDataStore</code> on an event data store, you cannot run <code>ListQueries</code>, <code>DescribeQuery</code>, or <code>GetQueryResults</code> on queries that are using an event data store in a <code>PENDING_DELETION</code> state. An event data store in the <code>PENDING_DELETION</code> state does not incur costs.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceARNNotValidException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourcePolicyNotFoundException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Deletes the resource-based policy attached to the CloudTrail channel. </p>",
      "idempotent":true
    },
    "DeleteTrail":{
      "name":"DeleteTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrailRequest"},
      "output":{"shape":"DeleteTrailResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Deletes a trail. This operation must be called from the Region in which the trail was created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails in other Regions) of a trail that is enabled in all Regions.</p>",
      "idempotent":true
    },
    "DeregisterOrganizationDelegatedAdmin":{
      "name":"DeregisterOrganizationDelegatedAdmin",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterOrganizationDelegatedAdminRequest"},
      "output":{"shape":"DeregisterOrganizationDelegatedAdminResponse"},
      "errors":[
        {"shape":"AccountNotFoundException"},
        {"shape":"AccountNotRegisteredException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"ConflictException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotOrganizationManagementAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Removes CloudTrail delegated administrator permissions from a member account in an organization.</p>",
      "idempotent":true
    },
    "DescribeQuery":{
      "name":"DescribeQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeQueryRequest"},
      "output":{"shape":"DescribeQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Returns metadata about a query, including query run time in milliseconds, number of events scanned and matched, and query status. If the query results were delivered to an S3 bucket, the response also provides the S3 URI and the delivery status.</p> <p>You must specify either a <code>QueryID</code> or a <code>QueryAlias</code>. Specifying the <code>QueryAlias</code> parameter returns information about the last query run for the alias.</p>",
      "idempotent":true
    },
    "DescribeTrails":{
      "name":"DescribeTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrailsRequest"},
      "output":{"shape":"DescribeTrailsResponse"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Retrieves settings for one or more trails associated with the current Region for your account.</p>",
      "idempotent":true
    },
    "DisableFederation":{
      "name":"DisableFederation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableFederationRequest"},
      "output":{"shape":"DisableFederationResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Disables Lake query federation on the specified event data store. When you disable federation, CloudTrail disables the integration with Glue, Lake Formation, and Amazon Athena. After disabling Lake query federation, you can no longer query your event data in Amazon Athena.</p> <p>No CloudTrail Lake data is deleted when you disable federation and you can continue to run queries in CloudTrail Lake.</p>"
    },
    "EnableFederation":{
      "name":"EnableFederation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableFederationRequest"},
      "output":{"shape":"EnableFederationResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"EventDataStoreFederationEnabledException"}
      ],
      "documentation":"<p> Enables Lake query federation on the specified event data store. Federating an event data store lets you view the metadata associated with the event data store in the Glue <a href=\"https://docs.aws.amazon.com/glue/latest/dg/components-overview.html#data-catalog-intro\">Data Catalog</a> and run SQL queries against your event data using Amazon Athena. The table metadata stored in the Glue Data Catalog lets the Athena query engine know how to find, read, and process the data that you want to query.</p> <p>When you enable Lake query federation, CloudTrail creates a managed database named <code>aws:cloudtrail</code> (if the database doesn't already exist) and a managed federated table in the Glue Data Catalog. The event data store ID is used for the table name. CloudTrail registers the role ARN and event data store in <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/query-federation-lake-formation.html\">Lake Formation</a>, the service responsible for allowing fine-grained access control of the federated resources in the Glue Data Catalog.</p> <p>For more information about Lake query federation, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/query-federation.html\">Federate an event data store</a>.</p>"
    },
    "GetChannel":{
      "name":"GetChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetChannelRequest"},
      "output":{"shape":"GetChannelResponse"},
      "errors":[
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ChannelNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Returns information about a specific channel. </p>",
      "idempotent":true
    },
    "GetEventDataStore":{
      "name":"GetEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventDataStoreRequest"},
      "output":{"shape":"GetEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Returns information about an event data store specified as either an ARN or the ID portion of the ARN.</p>",
      "idempotent":true
    },
    "GetEventSelectors":{
      "name":"GetEventSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventSelectorsRequest"},
      "output":{"shape":"GetEventSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Describes the settings for the event selectors that you configured for your trail. The information returned for your event selectors includes the following:</p> <ul> <li> <p>If your event selector includes read-only events, write-only events, or all events. This applies to both management events and data events.</p> </li> <li> <p>If your event selector includes management events.</p> </li> <li> <p>If your event selector includes data events, the resources on which you are logging data events.</p> </li> </ul> <p>For more information about logging management and data events, see the following topics in the <i>CloudTrail User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-events-with-cloudtrail.html\">Logging management events</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events</a> </p> </li> </ul>",
      "idempotent":true
    },
    "GetImport":{
      "name":"GetImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetImportRequest"},
      "output":{"shape":"GetImportResponse"},
      "errors":[
        {"shape":"ImportNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Returns information about a specific import. </p>"
    },
    "GetInsightSelectors":{
      "name":"GetInsightSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInsightSelectorsRequest"},
      "output":{"shape":"GetInsightSelectorsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InsightNotEnabledException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Describes the settings for the Insights event selectors that you configured for your trail or event data store. <code>GetInsightSelectors</code> shows if CloudTrail Insights event logging is enabled on the trail or event data store, and if it is, which Insights types are enabled. If you run <code>GetInsightSelectors</code> on a trail or event data store that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code> </p> <p>Specify either the <code>EventDataStore</code> parameter to get Insights event selectors for an event data store, or the <code>TrailName</code> parameter to the get Insights event selectors for a trail. You cannot specify these parameters together.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging CloudTrail Insights events</a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "GetQueryResults":{
      "name":"GetQueryResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetQueryResultsRequest"},
      "output":{"shape":"GetQueryResultsResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Gets event data results of a query. You must specify the <code>QueryID</code> value returned by the <code>StartQuery</code> operation.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceARNNotValidException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourcePolicyNotFoundException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Retrieves the JSON text of the resource-based policy document attached to the CloudTrail channel. </p>",
      "idempotent":true
    },
    "GetTrail":{
      "name":"GetTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrailRequest"},
      "output":{"shape":"GetTrailResponse"},
      "errors":[
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Returns settings information for a specified trail.</p>",
      "idempotent":true
    },
    "GetTrailStatus":{
      "name":"GetTrailStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrailStatusRequest"},
      "output":{"shape":"GetTrailStatusResponse"},
      "errors":[
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single Region. To return trail status from all Regions, you must call the operation on each Region.</p>",
      "idempotent":true
    },
    "ListChannels":{
      "name":"ListChannels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListChannelsRequest"},
      "output":{"shape":"ListChannelsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Lists the channels in the current account, and their source names. </p>",
      "idempotent":true
    },
    "ListEventDataStores":{
      "name":"ListEventDataStores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventDataStoresRequest"},
      "output":{"shape":"ListEventDataStoresResponse"},
      "errors":[
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Returns information about all event data stores in the account, in the current Region.</p>",
      "idempotent":true
    },
    "ListImportFailures":{
      "name":"ListImportFailures",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImportFailuresRequest"},
      "output":{"shape":"ListImportFailuresResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Returns a list of failures for the specified import. </p>",
      "idempotent":true
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImportsRequest"},
      "output":{"shape":"ListImportsResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Returns information on all imports, or a select set of imports by <code>ImportStatus</code> or <code>Destination</code>. </p>",
      "idempotent":true
    },
    "ListInsightsMetricData":{
      "name":"ListInsightsMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInsightsMetricDataRequest"},
      "output":{"shape":"ListInsightsMetricDataResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns Insights metrics data for trails that have enabled Insights. The request must include the <code>EventSource</code>, <code>EventName</code>, and <code>InsightType</code> parameters.</p> <p>If the <code>InsightType</code> is set to <code>ApiErrorRateInsight</code>, the request must also include the <code>ErrorCode</code> parameter.</p> <p>The following are the available time periods for <code>ListInsightsMetricData</code>. Each cutoff is inclusive.</p> <ul> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 90 days.</p> </li> </ul> <p>Access to the <code>ListInsightsMetricData</code> API operation is linked to the <code>cloudtrail:LookupEvents</code> action. To use this operation, you must have permissions to perform the <code>cloudtrail:LookupEvents</code> action.</p>",
      "idempotent":true
    },
    "ListPublicKeys":{
      "name":"ListPublicKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPublicKeysRequest"},
      "output":{"shape":"ListPublicKeysResponse"},
      "errors":[
        {"shape":"InvalidTimeRangeException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note> <p>CloudTrail uses different private and public key pairs per Region. Each digest file is signed with a private key unique to its Region. When you validate a digest file from a specific Region, you must look in the same Region for its corresponding public key.</p> </note>",
      "idempotent":true
    },
    "ListQueries":{
      "name":"ListQueries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListQueriesRequest"},
      "output":{"shape":"ListQueriesResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidDateRangeException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidQueryStatusException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Returns a list of queries and query statuses for the past seven days. You must specify an ARN value for <code>EventDataStore</code>. Optionally, to shorten the list of results, you can specify a time range, formatted as timestamps, by adding <code>StartTime</code> and <code>EndTime</code> parameters, and a <code>QueryStatus</code> value. Valid values for <code>QueryStatus</code> include <code>QUEUED</code>, <code>RUNNING</code>, <code>FINISHED</code>, <code>FAILED</code>, <code>TIMED_OUT</code>, or <code>CANCELLED</code>.</p>",
      "idempotent":true
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTokenException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Lists the tags for the specified trails, event data stores, or channels in the current Region.</p>",
      "idempotent":true
    },
    "ListTrails":{
      "name":"ListTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrailsRequest"},
      "output":{"shape":"ListTrailsResponse"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Lists trails that are in the current account.</p>",
      "idempotent":true
    },
    "LookupEvents":{
      "name":"LookupEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LookupEventsRequest"},
      "output":{"shape":"LookupEventsResponse"},
      "errors":[
        {"shape":"InvalidLookupAttributesException"},
        {"shape":"InvalidTimeRangeException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidEventCategoryException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Looks up <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-management-events\">management events</a> or <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-insights-events\">CloudTrail Insights events</a> that are captured by CloudTrail. You can look up events that occurred in a Region within the last 90 days.</p> <note> <p> <code>LookupEvents</code> returns recent Insights events for trails that enable Insights. To view Insights events for an event data store, you can run queries on your Insights event data store, and you can also view the Lake dashboard for Insights.</p> </note> <p>Lookup supports the following attributes for management events:</p> <ul> <li> <p>Amazon Web Services access key</p> </li> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> <li> <p>Read only</p> </li> <li> <p>Resource name</p> </li> <li> <p>Resource type</p> </li> <li> <p>User name</p> </li> </ul> <p>Lookup supports the following attributes for Insights events:</p> <ul> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> </ul> <p>All attributes are optional. The default number of results returned is 50, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results.</p> <important> <p>The rate of lookup requests is limited to two per second, per account, per Region. If this limit is exceeded, a throttling error occurs.</p> </important>",
      "idempotent":true
    },
    "PutEventSelectors":{
      "name":"PutEventSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEventSelectorsRequest"},
      "output":{"shape":"PutEventSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Configures an event selector or advanced event selectors for your trail. Use event selectors or advanced event selectors to specify management and data event settings for your trail. If you want your trail to log Insights events, be sure the event selector enables logging of the Insights event types you want configured for your trail. For more information about logging Insights events, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging Insights events for trails</a> in the <i>CloudTrail User Guide</i>. By default, trails created without specific event selectors are configured to log all read and write management events, and no data events.</p> <p>When an event occurs in your account, CloudTrail evaluates the event selectors or advanced event selectors in all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event.</p> <p>Example</p> <ol> <li> <p>You create an event selector for a trail and specify that you want write-only events.</p> </li> <li> <p>The EC2 <code>GetConsoleOutput</code> and <code>RunInstances</code> API operations occur in your account.</p> </li> <li> <p>CloudTrail evaluates whether the events match your event selectors.</p> </li> <li> <p>The <code>RunInstances</code> is a write-only event and it matches your event selector. The trail logs the event.</p> </li> <li> <p>The <code>GetConsoleOutput</code> is a read-only event that doesn't match your event selector. The trail doesn't log the event. </p> </li> </ol> <p>The <code>PutEventSelectors</code> operation must be called from the Region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> exception is thrown.</p> <p>You can configure up to five event selectors for each trail. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-events-with-cloudtrail.html\">Logging management events</a>, <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events</a>, and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Quotas in CloudTrail</a> in the <i>CloudTrail User Guide</i>.</p> <p>You can add advanced event selectors, and conditions for your advanced event selectors, up to a maximum of 500 values for all conditions and selectors on a trail. You can use either <code>AdvancedEventSelectors</code> or <code>EventSelectors</code>, but not both. If you apply <code>AdvancedEventSelectors</code> to a trail, any existing <code>EventSelectors</code> are overwritten. For more information about advanced event selectors, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events</a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "PutInsightSelectors":{
      "name":"PutInsightSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInsightSelectorsRequest"},
      "output":{"shape":"PutInsightSelectorsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"InvalidInsightSelectorsException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"KmsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lets you enable Insights event logging by specifying the Insights selectors that you want to enable on an existing trail or event data store. You also use <code>PutInsightSelectors</code> to turn off Insights event logging, by passing an empty list of Insights types. The valid Insights event types are <code>ApiErrorRateInsight</code> and <code>ApiCallRateInsight</code>.</p> <p>To enable Insights on an event data store, you must specify the ARNs (or ID suffix of the ARNs) for the source event data store (<code>EventDataStore</code>) and the destination event data store (<code>InsightsDestination</code>). The source event data store logs management events and enables Insights. The destination event data store logs Insights events based upon the management event activity of the source event data store. The source and destination event data stores must belong to the same Amazon Web Services account.</p> <p>To log Insights events for a trail, you must specify the name (<code>TrailName</code>) of the CloudTrail trail for which you want to change or add Insights selectors.</p> <p>To log CloudTrail Insights events on API call volume, the trail or event data store must log <code>write</code> management events. To log CloudTrail Insights events on API error rate, the trail or event data store must log <code>read</code> or <code>write</code> management events. You can call <code>GetEventSelectors</code> on a trail to check whether the trail logs management events. You can call <code>GetEventDataStore</code> on an event data store to check whether the event data store logs management events.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging CloudTrail Insights events</a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceARNNotValidException"},
        {"shape":"ResourcePolicyNotValidException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Attaches a resource-based permission policy to a CloudTrail channel that is used for an integration with an event source outside of Amazon Web Services. For more information about resource-based policies, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/security_iam_resource-based-policy-examples.html\">CloudTrail resource-based policy examples</a> in the <i>CloudTrail User Guide</i>. </p>",
      "idempotent":true
    },
    "RegisterOrganizationDelegatedAdmin":{
      "name":"RegisterOrganizationDelegatedAdmin",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterOrganizationDelegatedAdminRequest"},
      "output":{"shape":"RegisterOrganizationDelegatedAdminResponse"},
      "errors":[
        {"shape":"AccountRegisteredException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"InvalidParameterException"},
        {"shape":"CannotDelegateManagementAccountException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"ConflictException"},
        {"shape":"DelegatedAdminAccountLimitExceededException"},
        {"shape":"NotOrganizationManagementAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Registers an organization’s member account as the CloudTrail <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-delegated-administrator.html\">delegated administrator</a>.</p>",
      "idempotent":true
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsRequest"},
      "output":{"shape":"RemoveTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"ChannelNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Removes the specified tags from a trail, event data store, or channel.</p>",
      "idempotent":true
    },
    "RestoreEventDataStore":{
      "name":"RestoreEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreEventDataStoreRequest"},
      "output":{"shape":"RestoreEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"EventDataStoreMaxLimitExceededException"},
        {"shape":"InvalidEventDataStoreStatusException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Restores a deleted event data store specified by <code>EventDataStore</code>, which accepts an event data store ARN. You can only restore a deleted event data store within the seven-day wait period after deletion. Restoring an event data store can take several minutes, depending on the size of the event data store.</p>"
    },
    "StartEventDataStoreIngestion":{
      "name":"StartEventDataStoreIngestion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEventDataStoreIngestionRequest"},
      "output":{"shape":"StartEventDataStoreIngestionResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventDataStoreStatusException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidEventDataStoreCategoryException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Starts the ingestion of live events on an event data store specified as either an ARN or the ID portion of the ARN. To start ingestion, the event data store <code>Status</code> must be <code>STOPPED_INGESTION</code> and the <code>eventCategory</code> must be <code>Management</code>, <code>Data</code>, or <code>ConfigurationItem</code>.</p>"
    },
    "StartImport":{
      "name":"StartImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartImportRequest"},
      "output":{"shape":"StartImportResponse"},
      "errors":[
        {"shape":"AccountHasOngoingImportException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventDataStoreStatusException"},
        {"shape":"InvalidEventDataStoreCategoryException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidImportSourceException"},
        {"shape":"ImportNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Starts an import of logged trail events from a source S3 bucket to a destination event data store. By default, CloudTrail only imports events contained in the S3 bucket's <code>CloudTrail</code> prefix and the prefixes inside the <code>CloudTrail</code> prefix, and does not check prefixes for other Amazon Web Services services. If you want to import CloudTrail events contained in another prefix, you must include the prefix in the <code>S3LocationUri</code>. For more considerations about importing trail events, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-copy-trail-to-lake.html#cloudtrail-trail-copy-considerations\">Considerations</a>. </p> <p> When you start a new import, the <code>Destinations</code> and <code>ImportSource</code> parameters are required. Before starting a new import, disable any access control lists (ACLs) attached to the source S3 bucket. For more information about disabling ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html\">Controlling ownership of objects and disabling ACLs for your bucket</a>. </p> <p> When you retry an import, the <code>ImportID</code> parameter is required. </p> <note> <p> If the destination event data store is for an organization, you must use the management account to import trail events. You cannot use the delegated administrator account for the organization. </p> </note>"
    },
    "StartLogging":{
      "name":"StartLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartLoggingRequest"},
      "output":{"shape":"StartLoggingResponse"},
      "errors":[
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Starts the recording of Amazon Web Services API calls and log file delivery for a trail. For a trail that is enabled in all Regions, this operation must be called from the Region in which the trail was created. This operation cannot be called on the shadow trails (replicated trails in other Regions) of a trail that is enabled in all Regions.</p>",
      "idempotent":true
    },
    "StartQuery":{
      "name":"StartQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartQueryRequest"},
      "output":{"shape":"StartQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidQueryStatementException"},
        {"shape":"MaxConcurrentQueriesException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"InvalidS3PrefixException"},
        {"shape":"InvalidS3BucketNameException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NoManagementAccountSLRExistsException"}
      ],
      "documentation":"<p>Starts a CloudTrail Lake query. Use the <code>QueryStatement</code> parameter to provide your SQL query, enclosed in single quotation marks. Use the optional <code>DeliveryS3Uri</code> parameter to deliver the query results to an S3 bucket.</p> <p> <code>StartQuery</code> requires you specify either the <code>QueryStatement</code> parameter, or a <code>QueryAlias</code> and any <code>QueryParameters</code>. In the current release, the <code>QueryAlias</code> and <code>QueryParameters</code> parameters are used only for the queries that populate the CloudTrail Lake dashboards.</p>",
      "idempotent":true
    },
    "StopEventDataStoreIngestion":{
      "name":"StopEventDataStoreIngestion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEventDataStoreIngestionRequest"},
      "output":{"shape":"StopEventDataStoreIngestionResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventDataStoreStatusException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidEventDataStoreCategoryException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Stops the ingestion of live events on an event data store specified as either an ARN or the ID portion of the ARN. To stop ingestion, the event data store <code>Status</code> must be <code>ENABLED</code> and the <code>eventCategory</code> must be <code>Management</code>, <code>Data</code>, or <code>ConfigurationItem</code>.</p>"
    },
    "StopImport":{
      "name":"StopImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopImportRequest"},
      "output":{"shape":"StopImportResponse"},
      "errors":[
        {"shape":"ImportNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p> Stops a specified import. </p>"
    },
    "StopLogging":{
      "name":"StopLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLoggingRequest"},
      "output":{"shape":"StopLoggingResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Suspends the recording of Amazon Web Services API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. For a trail enabled in all Regions, this operation must be called from the Region in which the trail was created, or an <code>InvalidHomeRegionException</code> will occur. This operation cannot be called on the shadow trails (replicated trails in other Regions) of a trail enabled in all Regions.</p>",
      "idempotent":true
    },
    "UpdateChannel":{
      "name":"UpdateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateChannelRequest"},
      "output":{"shape":"UpdateChannelResponse"},
      "errors":[
        {"shape":"ChannelARNInvalidException"},
        {"shape":"ChannelNotFoundException"},
        {"shape":"ChannelAlreadyExistsException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventDataStoreCategoryException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Updates a channel specified by a required channel ARN or UUID.</p>",
      "idempotent":true
    },
    "UpdateEventDataStore":{
      "name":"UpdateEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventDataStoreRequest"},
      "output":{"shape":"UpdateEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreAlreadyExistsException"},
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"InvalidInsightSelectorsException"},
        {"shape":"EventDataStoreHasOngoingImportException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Updates an event data store. The required <code>EventDataStore</code> value is an ARN or the ID portion of the ARN. Other parameters are optional, but at least one optional parameter must be specified, or CloudTrail throws an error. <code>RetentionPeriod</code> is in days, and valid values are integers between 7 and 3653 if the <code>BillingMode</code> is set to <code>EXTENDABLE_RETENTION_PRICING</code>, or between 7 and 2557 if <code>BillingMode</code> is set to <code>FIXED_RETENTION_PRICING</code>. By default, <code>TerminationProtection</code> is enabled.</p> <p>For event data stores for CloudTrail events, <code>AdvancedEventSelectors</code> includes or excludes management or data events in your event data store. For more information about <code>AdvancedEventSelectors</code>, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_AdvancedEventSelector.html\">AdvancedEventSelectors</a>.</p> <p> For event data stores for CloudTrail Insights events, Config configuration items, Audit Manager evidence, or non-Amazon Web Services events, <code>AdvancedEventSelectors</code> includes events of that type in your event data store.</p>",
      "idempotent":true
    },
    "UpdateTrail":{
      "name":"UpdateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrailRequest"},
      "output":{"shape":"UpdateTrailResponse"},
      "errors":[
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientSnsTopicPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidS3BucketNameException"},
        {"shape":"InvalidS3PrefixException"},
        {"shape":"InvalidSnsTopicNameException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"TrailNotProvidedException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsKeyDisabledException"},
        {"shape":"KmsException"},
        {"shape":"InvalidCloudWatchLogsLogGroupArnException"},
        {"shape":"InvalidCloudWatchLogsRoleArnException"},
        {"shape":"CloudWatchLogsDeliveryUnavailableException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"NoManagementAccountSLRExistsException"},
        {"shape":"CloudTrailInvalidClientTokenIdException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates trail settings that control what events you are logging, and how to handle log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. <code>UpdateTrail</code> must be called from the Region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> You do not have sufficient access to perform this action. </p>",
      "exception":true
    },
    "AccountHasOngoingImportException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> This exception is thrown when you start a new import and a previous import is still in progress. </p>",
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":16,
      "min":12,
      "pattern":"\\d+"
    },
    "AccountNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the specified account is not found or not part of an organization.</p>",
      "exception":true
    },
    "AccountNotRegisteredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the specified account is not registered as the CloudTrail delegated administrator.</p>",
      "exception":true
    },
    "AccountRegisteredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the account is already registered as the CloudTrail delegated administrator.</p>",
      "exception":true
    },
    "AddTagsRequest":{
      "type":"structure",
      "required":[
        "ResourceId",
        "TagsList"
      ],
      "members":{
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail, event data store, or channel to which one or more tags will be added.</p> <p>The format of a trail ARN is: <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p> <p>The format of an event data store ARN is: <code>arn:aws:cloudtrail:us-east-2:123456789012:eventdatastore/EXAMPLE-f852-4e8f-8bd1-bcf6cEXAMPLE</code> </p> <p>The format of a channel ARN is: <code>arn:aws:cloudtrail:us-east-2:123456789012:channel/01234567890</code> </p>"
        },
        "TagsList":{
          "shape":"TagsList",
          "documentation":"<p>Contains a list of tags, up to a limit of 50</p>"
        }
      },
      "documentation":"<p>Specifies the tags to add to a trail, event data store, or channel.</p>"
    },
    "AddTagsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data if successful. Otherwise, returns an error.</p>"
    },
    "AdvancedEventSelector":{
      "type":"structure",
      "required":["FieldSelectors"],
      "members":{
        "Name":{
          "shape":"SelectorName",
          "documentation":"<p>An optional, descriptive name for an advanced event selector, such as \"Log data events for only two S3 buckets\".</p>"
        },
        "FieldSelectors":{
          "shape":"AdvancedFieldSelectors",
          "documentation":"<p>Contains all selector statements in an advanced event selector.</p>"
        }
      },
      "documentation":"<p>Advanced event selectors let you create fine-grained selectors for the following CloudTrail event record ﬁelds. They help you control costs by logging only those events that are important to you. For more information about advanced event selectors, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events</a> in the <i>CloudTrail User Guide</i>.</p> <ul> <li> <p> <code>readOnly</code> </p> </li> <li> <p> <code>eventSource</code> </p> </li> <li> <p> <code>eventName</code> </p> </li> <li> <p> <code>eventCategory</code> </p> </li> <li> <p> <code>resources.type</code> </p> </li> <li> <p> <code>resources.ARN</code> </p> </li> </ul> <p>You cannot apply both event selectors and advanced event selectors to a trail.</p>"
    },
    "AdvancedEventSelectors":{
      "type":"list",
      "member":{"shape":"AdvancedEventSelector"}
    },
    "AdvancedFieldSelector":{
      "type":"structure",
      "required":["Field"],
      "members":{
        "Field":{
          "shape":"SelectorField",
          "documentation":"<p> A field in a CloudTrail event record on which to filter events to be logged. For event data stores for CloudTrail Insights events, Config configuration items, Audit Manager evidence, or events outside of Amazon Web Services, the field is used only for selecting events as filtering is not supported.</p> <p>For CloudTrail management events, supported fields include <code>readOnly</code>, <code>eventCategory</code>, and <code>eventSource</code>.</p> <p>For CloudTrail data events, supported fields include <code>readOnly</code>, <code>eventCategory</code>, <code>eventName</code>, <code>resources.type</code>, and <code>resources.ARN</code>.</p> <p> For event data stores for CloudTrail Insights events, Config configuration items, Audit Manager evidence, or events outside of Amazon Web Services, the only supported field is <code>eventCategory</code>. </p> <ul> <li> <p> <b> <code>readOnly</code> </b> - Optional. Can be set to <code>Equals</code> a value of <code>true</code> or <code>false</code>. If you do not add this field, CloudTrail logs both <code>read</code> and <code>write</code> events. A value of <code>true</code> logs only <code>read</code> events. A value of <code>false</code> logs only <code>write</code> events.</p> </li> <li> <p> <b> <code>eventSource</code> </b> - For filtering management events only. This can be set to <code>NotEquals</code> <code>kms.amazonaws.com</code> or <code>NotEquals</code> <code>rdsdata.amazonaws.com</code>.</p> </li> <li> <p> <b> <code>eventName</code> </b> - Can use any operator. You can use it to ﬁlter in or ﬁlter out any data event logged to CloudTrail, such as <code>PutBucket</code> or <code>GetSnapshotBlock</code>. You can have multiple values for this ﬁeld, separated by commas.</p> </li> <li> <p> <b> <code>eventCategory</code> </b> - This is required and must be set to <code>Equals</code>. </p> <ul> <li> <p> For CloudTrail management events, the value must be <code>Management</code>. </p> </li> <li> <p> For CloudTrail data events, the value must be <code>Data</code>. </p> </li> </ul> <p>The following are used only for event data stores:</p> <ul> <li> <p> For CloudTrail Insights events, the value must be <code>Insight</code>. </p> </li> <li> <p> For Config configuration items, the value must be <code>ConfigurationItem</code>. </p> </li> <li> <p> For Audit Manager evidence, the value must be <code>Evidence</code>. </p> </li> <li> <p> For non-Amazon Web Services events, the value must be <code>ActivityAuditLog</code>. </p> </li> </ul> </li> <li> <p> <b> <code>resources.type</code> </b> - This ﬁeld is required for CloudTrail data events. <code>resources.type</code> can only use the <code>Equals</code> operator, and the value can be one of the following:</p> <ul> <li> <p> <code>AWS::DynamoDB::Table</code> </p> </li> <li> <p> <code>AWS::Lambda::Function</code> </p> </li> <li> <p> <code>AWS::S3::Object</code> </p> </li> <li> <p> <code>AWS::B2BI::Transformer</code> </p> </li> <li> <p> <code>AWS::Bedrock::AgentAlias</code> </p> </li> <li> <p> <code>AWS::Bedrock::KnowledgeBase</code> </p> </li> <li> <p> <code>AWS::Cassandra::Table</code> </p> </li> <li> <p> <code>AWS::CloudFront::KeyValueStore</code> </p> </li> <li> <p> <code>AWS::CloudTrail::Channel</code> </p> </li> <li> <p> <code>AWS::CodeWhisperer::Customization</code> </p> </li> <li> <p> <code>AWS::CodeWhisperer::Profile</code> </p> </li> <li> <p> <code>AWS::Cognito::IdentityPool</code> </p> </li> <li> <p> <code>AWS::DynamoDB::Stream</code> </p> </li> <li> <p> <code>AWS::EC2::Snapshot</code> </p> </li> <li> <p> <code>AWS::EMRWAL::Workspace</code> </p> </li> <li> <p> <code>AWS::FinSpace::Environment</code> </p> </li> <li> <p> <code>AWS::Glue::Table</code> </p> </li> <li> <p> <code>AWS::GuardDuty::Detector</code> </p> </li> <li> <p> <code>AWS::IoTTwinMaker::Entity</code> </p> </li> <li> <p> <code>AWS::IoTTwinMaker::Workspace</code> </p> </li> <li> <p> <code>AWS::KendraRanking::ExecutionPlan</code> </p> </li> <li> <p> <code>AWS::KinesisVideo::Stream</code> </p> </li> <li> <p> <code>AWS::ManagedBlockchain::Network</code> </p> </li> <li> <p> <code>AWS::ManagedBlockchain::Node</code> </p> </li> <li> <p> <code>AWS::MedicalImaging::Datastore</code> </p> </li> <li> <p> <code>AWS::NeptuneGraph::Graph</code> </p> </li> <li> <p> <code>AWS::PCAConnectorAD::Connector</code> </p> </li> <li> <p> <code>AWS::QBusiness::Application</code> </p> </li> <li> <p> <code>AWS::QBusiness::DataSource</code> </p> </li> <li> <p> <code>AWS::QBusiness::Index</code> </p> </li> <li> <p> <code>AWS::QBusiness::WebExperience</code> </p> </li> <li> <p> <code>AWS::RDS::DBCluster</code> </p> </li> <li> <p> <code>AWS::SageMaker::Endpoint</code> </p> </li> <li> <p> <code>AWS::SageMaker::ExperimentTrialComponent</code> </p> </li> <li> <p> <code>AWS::SageMaker::FeatureGroup</code> </p> </li> <li> <p> <code>AWS::ServiceDiscovery::Namespace </code> </p> </li> <li> <p> <code>AWS::ServiceDiscovery::Service</code> </p> </li> <li> <p> <code>AWS::SCN::Instance</code> </p> </li> <li> <p> <code>AWS::SNS::PlatformEndpoint</code> </p> </li> <li> <p> <code>AWS::SNS::Topic</code> </p> </li> <li> <p> <code>AWS::SQS::Queue</code> </p> </li> <li> <p> <code>AWS::S3::AccessPoint</code> </p> </li> <li> <p> <code>AWS::S3ObjectLambda::AccessPoint</code> </p> </li> <li> <p> <code>AWS::S3Outposts::Object</code> </p> </li> <li> <p> <code>AWS::SSMMessages::ControlChannel</code> </p> </li> <li> <p> <code>AWS::ThinClient::Device</code> </p> </li> <li> <p> <code>AWS::ThinClient::Environment</code> </p> </li> <li> <p> <code>AWS::Timestream::Database</code> </p> </li> <li> <p> <code>AWS::Timestream::Table</code> </p> </li> <li> <p> <code>AWS::VerifiedPermissions::PolicyStore</code> </p> </li> </ul> <p> You can have only one <code>resources.type</code> ﬁeld per selector. To log data events on more than one resource type, add another selector.</p> </li> <li> <p> <b> <code>resources.ARN</code> </b> - You can use any operator with <code>resources.ARN</code>, but if you use <code>Equals</code> or <code>NotEquals</code>, the value must exactly match the ARN of a valid resource of the type you've speciﬁed in the template as the value of resources.type. For example, if resources.type equals <code>AWS::S3::Object</code>, the ARN must be in one of the following formats. To log all data events for all objects in a specific S3 bucket, use the <code>StartsWith</code> operator, and include only the bucket ARN as the matching value.</p> <p>The trailing slash is intentional; do not exclude it. Replace the text between less than and greater than symbols (&lt;&gt;) with resource-specific information. </p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3:::&lt;bucket_name&gt;/</code> </p> </li> <li> <p> <code>arn:&lt;partition&gt;:s3:::&lt;bucket_name&gt;/&lt;object_path&gt;/</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::DynamoDB::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:dynamodb:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;table_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Lambda::Function</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:lambda:&lt;region&gt;:&lt;account_ID&gt;:function:&lt;function_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::B2BI::Transformer</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:b2bi:&lt;region&gt;:&lt;account_ID&gt;:transformer/&lt;transformer_ID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Bedrock::AgentAlias</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:bedrock:&lt;region&gt;:&lt;account_ID&gt;:agent-alias/&lt;agent_ID&gt;/&lt;alias_ID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Bedrock::KnowledgeBase</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:bedrock:&lt;region&gt;:&lt;account_ID&gt;:knowledge-base/&lt;knowledge_base_ID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Cassandra::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:cassandra:&lt;region&gt;:&lt;account_ID&gt;:/keyspace/&lt;keyspace_name&gt;/table/&lt;table_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::CloudFront::KeyValueStore</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:cloudfront:&lt;region&gt;:&lt;account_ID&gt;:key-value-store/&lt;KVS_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::CloudTrail::Channel</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:cloudtrail:&lt;region&gt;:&lt;account_ID&gt;:channel/&lt;channel_UUID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::CodeWhisperer::Customization</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:codewhisperer:&lt;region&gt;:&lt;account_ID&gt;:customization/&lt;customization_ID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::CodeWhisperer::Profile</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:codewhisperer:&lt;region&gt;:&lt;account_ID&gt;:profile/&lt;profile_ID&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Cognito::IdentityPool</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:cognito-identity:&lt;region&gt;:&lt;account_ID&gt;:identitypool/&lt;identity_pool_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::DynamoDB::Stream</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:dynamodb:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;table_name&gt;/stream/&lt;date_time&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::EC2::Snapshot</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:ec2:&lt;region&gt;::snapshot/&lt;snapshot_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::EMRWAL::Workspace</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:emrwal:&lt;region&gt;:&lt;account_ID&gt;:workspace/&lt;workspace_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::FinSpace::Environment</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:finspace:&lt;region&gt;:&lt;account_ID&gt;:environment/&lt;environment_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::Glue::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:glue:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;database_name&gt;/&lt;table_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::GuardDuty::Detector</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:guardduty:&lt;region&gt;:&lt;account_ID&gt;:detector/&lt;detector_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::IoTTwinMaker::Entity</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:iottwinmaker:&lt;region&gt;:&lt;account_ID&gt;:workspace/&lt;workspace_ID&gt;/entity/&lt;entity_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::IoTTwinMaker::Workspace</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:iottwinmaker:&lt;region&gt;:&lt;account_ID&gt;:workspace/&lt;workspace_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::KendraRanking::ExecutionPlan</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:kendra-ranking:&lt;region&gt;:&lt;account_ID&gt;:rescore-execution-plan/&lt;rescore_execution_plan_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::KinesisVideo::Stream</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:kinesisvideo:&lt;region&gt;:&lt;account_ID&gt;:stream/&lt;stream_name&gt;/&lt;creation_time&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ManagedBlockchain::Network</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:managedblockchain:::networks/&lt;network_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ManagedBlockchain::Node</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:managedblockchain:&lt;region&gt;:&lt;account_ID&gt;:nodes/&lt;node_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::MedicalImaging::Datastore</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:medical-imaging:&lt;region&gt;:&lt;account_ID&gt;:datastore/&lt;data_store_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::NeptuneGraph::Graph</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:neptune-graph:&lt;region&gt;:&lt;account_ID&gt;:graph/&lt;graph_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::PCAConnectorAD::Connector</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:pca-connector-ad:&lt;region&gt;:&lt;account_ID&gt;:connector/&lt;connector_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::QBusiness::Application</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:qbusiness:&lt;region&gt;:&lt;account_ID&gt;:application/&lt;application_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::QBusiness::DataSource</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:qbusiness:&lt;region&gt;:&lt;account_ID&gt;:application/&lt;application_ID&gt;/index/&lt;index_ID&gt;/data-source/&lt;datasource_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::QBusiness::Index</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:qbusiness:&lt;region&gt;:&lt;account_ID&gt;:application/&lt;application_ID&gt;/index/&lt;index_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::QBusiness::WebExperience</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:qbusiness:&lt;region&gt;:&lt;account_ID&gt;:application/&lt;application_ID&gt;/web-experience/&lt;web_experience_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::RDS::DBCluster</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:rds:&lt;region&gt;:&lt;account_ID&gt;:cluster/&lt;cluster_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SageMaker::Endpoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sagemaker:&lt;region&gt;:&lt;account_ID&gt;:endpoint/&lt;endpoint_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SageMaker::ExperimentTrialComponent</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sagemaker:&lt;region&gt;:&lt;account_ID&gt;:experiment-trial-component/&lt;experiment_trial_component_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SageMaker::FeatureGroup</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sagemaker:&lt;region&gt;:&lt;account_ID&gt;:feature-group/&lt;feature_group_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SCN::Instance</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:scn:&lt;region&gt;:&lt;account_ID&gt;:instance/&lt;instance_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ServiceDiscovery::Namespace</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:servicediscovery:&lt;region&gt;:&lt;account_ID&gt;:namespace/&lt;namespace_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ServiceDiscovery::Service</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:servicediscovery:&lt;region&gt;:&lt;account_ID&gt;:service/&lt;service_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SNS::PlatformEndpoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sns:&lt;region&gt;:&lt;account_ID&gt;:endpoint/&lt;endpoint_type&gt;/&lt;endpoint_name&gt;/&lt;endpoint_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SNS::Topic</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sns:&lt;region&gt;:&lt;account_ID&gt;:&lt;topic_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SQS::Queue</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:sqs:&lt;region&gt;:&lt;account_ID&gt;:&lt;queue_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3::AccessPoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in one of the following formats. To log events on all objects in an S3 access point, we recommend that you use only the access point ARN, don’t include the object path, and use the <code>StartsWith</code> or <code>NotStartsWith</code> operators.</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;</code> </p> </li> <li> <p> <code>arn:&lt;partition&gt;:s3:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;/object/&lt;object_path&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3ObjectLambda::AccessPoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3-object-lambda:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3Outposts::Object</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3-outposts:&lt;region&gt;:&lt;account_ID&gt;:&lt;object_path&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::SSMMessages::ControlChannel</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:ssmmessages:&lt;region&gt;:&lt;account_ID&gt;:control-channel/&lt;channel_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ThinClient::Device</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:thinclient:&lt;region&gt;:&lt;account_ID&gt;:device/&lt;device_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ThinClient::Environment</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:thinclient:&lt;region&gt;:&lt;account_ID&gt;:environment/&lt;environment_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::Timestream::Database</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:timestream:&lt;region&gt;:&lt;account_ID&gt;:database/&lt;database_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::Timestream::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:timestream:&lt;region&gt;:&lt;account_ID&gt;:database/&lt;database_name&gt;/table/&lt;table_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::VerifiedPermissions::PolicyStore</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:verifiedpermissions:&lt;region&gt;:&lt;account_ID&gt;:policy-store/&lt;policy_store_UUID&gt;</code> </p> </li> </ul> </li> </ul>"
        },
        "Equals":{
          "shape":"Operator",
          "documentation":"<p> An operator that includes events that match the exact value of the event record field specified as the value of <code>Field</code>. This is the only valid operator that you can use with the <code>readOnly</code>, <code>eventCategory</code>, and <code>resources.type</code> fields.</p>"
        },
        "StartsWith":{
          "shape":"Operator",
          "documentation":"<p>An operator that includes events that match the first few characters of the event record field specified as the value of <code>Field</code>.</p>"
        },
        "EndsWith":{
          "shape":"Operator",
          "documentation":"<p>An operator that includes events that match the last few characters of the event record field specified as the value of <code>Field</code>.</p>"
        },
        "NotEquals":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the exact value of the event record field specified as the value of <code>Field</code>. </p>"
        },
        "NotStartsWith":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the first few characters of the event record field specified as the value of <code>Field</code>. </p>"
        },
        "NotEndsWith":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the last few characters of the event record field specified as the value of <code>Field</code>. </p>"
        }
      },
      "documentation":"<p>A single selector statement in an advanced event selector.</p>"
    },
    "AdvancedFieldSelectors":{
      "type":"list",
      "member":{"shape":"AdvancedFieldSelector"},
      "min":1
    },
    "BillingMode":{
      "type":"string",
      "enum":[
        "EXTENDABLE_RETENTION_PRICING",
        "FIXED_RETENTION_PRICING"
      ]
    },
    "Boolean":{"type":"boolean"},
    "ByteBuffer":{"type":"blob"},
    "CancelQueryRequest":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or the ID suffix of the ARN) of an event data store on which the specified query is running.</p>",
          "deprecated":true,
          "deprecatedMessage":"EventDataStore is no longer required by CancelQueryRequest"
        },
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the query that you want to cancel. The <code>QueryId</code> comes from the response of a <code>StartQuery</code> operation.</p>"
        }
      }
    },
    "CancelQueryResponse":{
      "type":"structure",
      "required":[
        "QueryId",
        "QueryStatus"
      ],
      "members":{
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the canceled query.</p>"
        },
        "QueryStatus":{
          "shape":"QueryStatus",
          "documentation":"<p>Shows the status of a query after a <code>CancelQuery</code> request. Typically, the values shown are either <code>RUNNING</code> or <code>CANCELLED</code>.</p>"
        }
      }
    },
    "CannotDelegateManagementAccountException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the management account of an organization is registered as the CloudTrail delegated administrator.</p>",
      "exception":true
    },
    "Channel":{
      "type":"structure",
      "members":{
        "ChannelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a channel.</p>"
        },
        "Name":{
          "shape":"ChannelName",
          "documentation":"<p> The name of the CloudTrail channel. For service-linked channels, the name is <code>aws-service-channel/service-name/custom-suffix</code> where <code>service-name</code> represents the name of the Amazon Web Services service that created the channel and <code>custom-suffix</code> represents the suffix created by the Amazon Web Services service. </p>"
        }
      },
      "documentation":"<p>Contains information about a returned CloudTrail channel.</p>"
    },
    "ChannelARNInvalidException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the specified value of <code>ChannelARN</code> is not valid.</p>",
      "exception":true
    },
    "ChannelAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> This exception is thrown when the provided channel already exists. </p>",
      "exception":true
    },
    "ChannelArn":{
      "type":"string",
      "max":256,
      "min":3,
      "pattern":"^[a-zA-Z0-9._/\\-:]+$"
    },
    "ChannelExistsForEDSException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the specified event data store cannot yet be deleted because it is in use by a channel.</p>",
      "exception":true
    },
    "ChannelMaxLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> This exception is thrown when the maximum number of channels limit is exceeded. </p>",
      "exception":true
    },
    "ChannelName":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"^[a-zA-Z0-9._\\-]+$"
    },
    "ChannelNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when CloudTrail cannot find the specified channel.</p>",
      "exception":true
    },
    "Channels":{
      "type":"list",
      "member":{"shape":"Channel"}
    },
    "CloudTrailARNInvalidException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when an operation is called with an ARN that is not valid.</p> <p>The following is the format of a trail ARN: <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p> <p>The following is the format of an event data store ARN: <code>arn:aws:cloudtrail:us-east-2:123456789012:eventdatastore/EXAMPLE-f852-4e8f-8bd1-bcf6cEXAMPLE</code> </p> <p>The following is the format of a channel ARN: <code>arn:aws:cloudtrail:us-east-2:123456789012:channel/01234567890</code> </p>",
      "exception":true
    },
    "CloudTrailAccessNotEnabledException":{
      "type":"structure",
      "members":{
      },
[...]
