{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-05-31",
    "endpointPrefix":"cloudfront",
    "globalEndpoint":"cloudfront.amazonaws.com",
    "protocol":"rest-xml",
    "serviceAbbreviation":"CloudFront",
    "serviceFullName":"Amazon CloudFront",
    "serviceId":"CloudFront",
    "signatureVersion":"v4",
    "uid":"cloudfront-2020-05-31"
  },
  "operations":{
    "AssociateAlias":{
      "name":"AssociateAlias2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{TargetDistributionId}/associate-alias",
        "responseCode":200
      },
      "input":{"shape":"AssociateAliasRequest"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"IllegalUpdate"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Associates an alias (also known as a CNAME or an alternate domain name) with a CloudFront distribution.</p> <p>With this operation you can move an alias that's already in use on a CloudFront distribution to a different distribution in one step. This prevents the downtime that could occur if you first remove the alias from one distribution and then separately add the alias to another distribution.</p> <p>To use this operation to associate an alias with a distribution, you provide the alias and the ID of the target distribution for the alias. For more information, including how to set up the target distribution, prerequisites that you must complete, and other restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CopyDistribution":{
      "name":"CopyDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution/{PrimaryDistributionId}/copy",
        "responseCode":201
      },
      "input":{
        "shape":"CopyDistributionRequest",
        "locationName":"CopyDistributionRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CopyDistributionResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchDistribution"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"MissingBody"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigOwnerMismatch"}
      ],
      "documentation":"<p>Creates a staging distribution using the configuration of the provided primary distribution. A staging distribution is a copy of an existing distribution (called the primary distribution) that you can use in a continuous deployment workflow.</p> <p>After you create a staging distribution, you can use <code>UpdateDistribution</code> to modify the staging distribution's configuration. Then you can use <code>CreateContinuousDeploymentPolicy</code> to incrementally move traffic to the staging distribution.</p> <p>This API operation requires the following IAM permissions:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_GetDistribution.html\">GetDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CreateDistribution.html\">CreateDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CopyDistribution.html\">CopyDistribution</a> </p> </li> </ul>"
    },
    "CreateCachePolicy":{
      "name":"CreateCachePolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/cache-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateCachePolicyRequest"},
      "output":{"shape":"CreateCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"CachePolicyAlreadyExists"},
        {"shape":"TooManyCachePolicies"},
        {"shape":"TooManyHeadersInCachePolicy"},
        {"shape":"TooManyCookiesInCachePolicy"},
        {"shape":"TooManyQueryStringsInCachePolicy"}
      ],
      "documentation":"<p>Creates a cache policy.</p> <p>After you create a cache policy, you can attach it to one or more cache behaviors. When it's attached to a cache behavior, the cache policy determines the following:</p> <ul> <li> <p>The values that CloudFront includes in the <i>cache key</i>. These values can include HTTP headers, cookies, and URL query strings. CloudFront uses the cache key to find an object in its cache that it can return to the viewer.</p> </li> <li> <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay in the CloudFront cache.</p> </li> </ul> <p>The headers, cookies, and query strings that are included in the cache key are also included in requests that CloudFront sends to the origin. CloudFront sends a request when it can't find an object in its cache that matches the request's cache key. If you want to send values to the origin but <i>not</i> include them in the cache key, use <code>OriginRequestPolicy</code>.</p> <p>For more information about cache policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html\">Controlling the cache key</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateCloudFrontOriginAccessIdentity":{
      "name":"CreateCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront",
        "responseCode":201
      },
      "input":{"shape":"CreateCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"CreateCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"CloudFrontOriginAccessIdentityAlreadyExists"},
        {"shape":"MissingBody"},
        {"shape":"TooManyCloudFrontOriginAccessIdentities"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ],
      "documentation":"<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can use an origin access identity to require users to access your content using a CloudFront URL instead of the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateContinuousDeploymentPolicy":{
      "name":"CreateContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/continuous-deployment-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateContinuousDeploymentPolicyRequest"},
      "output":{"shape":"CreateContinuousDeploymentPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"},
        {"shape":"ContinuousDeploymentPolicyAlreadyExists"},
        {"shape":"TooManyContinuousDeploymentPolicies"},
        {"shape":"StagingDistributionInUse"}
      ],
      "documentation":"<p>Creates a continuous deployment policy that distributes traffic for a custom domain name to two different CloudFront distributions.</p> <p>To use a continuous deployment policy, first use <code>CopyDistribution</code> to create a staging distribution, then use <code>UpdateDistribution</code> to modify the staging distribution's configuration.</p> <p>After you create and update a staging distribution, you can use a continuous deployment policy to incrementally move traffic to the staging distribution. This workflow enables you to test changes to a distribution's configuration before moving all of your domain's production traffic to the new configuration.</p>"
    },
    "CreateDistribution":{
      "name":"CreateDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionRequest"},
      "output":{"shape":"CreateDistributionResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"IllegalOriginAccessConfiguration"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"MissingBody"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigOwnerMismatch"},
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"NoSuchContinuousDeploymentPolicy"},
        {"shape":"InvalidDomainNameForOriginAccessControl"}
      ],
      "documentation":"<p>Creates a CloudFront distribution.</p>"
    },
    "CreateDistributionWithTags":{
      "name":"CreateDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionWithTagsRequest"},
      "output":{"shape":"CreateDistributionWithTagsResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"IllegalOriginAccessConfiguration"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"MissingBody"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidRelativePath"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyOrigins"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyCacheBehaviors"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCertificates"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"InvalidTagging"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigOwnerMismatch"},
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"NoSuchContinuousDeploymentPolicy"},
        {"shape":"InvalidDomainNameForOriginAccessControl"}
      ],
      "documentation":"<p>Create a new distribution with tags. This API operation requires the following IAM permissions:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CreateDistribution.html\">CreateDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_TagResource.html\">TagResource</a> </p> </li> </ul>"
    },
    "CreateFieldLevelEncryptionConfig":{
      "name":"CreateFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"FieldLevelEncryptionConfigAlreadyExists"},
        {"shape":"TooManyFieldLevelEncryptionConfigs"},
        {"shape":"TooManyFieldLevelEncryptionQueryArgProfiles"},
        {"shape":"TooManyFieldLevelEncryptionContentTypeProfiles"},
        {"shape":"QueryArgProfileEmpty"}
      ],
      "documentation":"<p>Create a new field-level encryption configuration.</p>"
    },
    "CreateFieldLevelEncryptionProfile":{
      "name":"CreateFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption-profile",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"FieldLevelEncryptionProfileAlreadyExists"},
        {"shape":"FieldLevelEncryptionProfileSizeExceeded"},
        {"shape":"TooManyFieldLevelEncryptionProfiles"},
        {"shape":"TooManyFieldLevelEncryptionEncryptionEntities"},
        {"shape":"TooManyFieldLevelEncryptionFieldPatterns"}
      ],
      "documentation":"<p>Create a field-level encryption profile.</p>"
    },
    "CreateFunction":{
      "name":"CreateFunction2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/function",
        "responseCode":201
      },
      "input":{
        "shape":"CreateFunctionRequest",
        "locationName":"CreateFunctionRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateFunctionResult"},
      "errors":[
        {"shape":"TooManyFunctions"},
        {"shape":"FunctionAlreadyExists"},
        {"shape":"FunctionSizeLimitExceeded"},
        {"shape":"InvalidArgument"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Creates a CloudFront function.</p> <p>To create a function, you provide the function code and some configuration information about the function. The response contains an Amazon Resource Name (ARN) that uniquely identifies the function.</p> <p>When you create a function, it's in the <code>DEVELOPMENT</code> stage. In this stage, you can test the function with <code>TestFunction</code>, and update it with <code>UpdateFunction</code>.</p> <p>When you're ready to use your function with a CloudFront distribution, use <code>PublishFunction</code> to copy the function from the <code>DEVELOPMENT</code> stage to <code>LIVE</code>. When it's live, you can attach the function to a distribution's cache behavior, using the function's ARN.</p>"
    },
    "CreateInvalidation":{
      "name":"CreateInvalidation2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation",
        "responseCode":201
      },
      "input":{"shape":"CreateInvalidationRequest"},
      "output":{"shape":"CreateInvalidationResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"MissingBody"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"},
        {"shape":"BatchTooLarge"},
        {"shape":"TooManyInvalidationsInProgress"},
        {"shape":"InconsistentQuantities"}
      ],
      "documentation":"<p>Create a new invalidation.</p>"
    },
    "CreateKeyGroup":{
      "name":"CreateKeyGroup2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/key-group",
        "responseCode":201
      },
      "input":{"shape":"CreateKeyGroupRequest"},
      "output":{"shape":"CreateKeyGroupResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"KeyGroupAlreadyExists"},
        {"shape":"TooManyKeyGroups"},
        {"shape":"TooManyPublicKeysInKeyGroup"}
      ],
      "documentation":"<p>Creates a key group that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">CloudFront signed URLs and signed cookies</a>.</p> <p>To create a key group, you must specify at least one public key for the key group. After you create a key group, you can reference it from one or more cache behaviors. When you reference a key group in a cache behavior, CloudFront requires signed URLs or signed cookies for all requests that match the cache behavior. The URLs or cookies must be signed with a private key whose corresponding public key is in the key group. The signed URL or cookie contains information about which public key CloudFront should use to verify the signature. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving private content</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateKeyValueStore":{
      "name":"CreateKeyValueStore2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/key-value-store/",
        "responseCode":201
      },
      "input":{
        "shape":"CreateKeyValueStoreRequest",
        "locationName":"CreateKeyValueStoreRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateKeyValueStoreResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"EntitySizeLimitExceeded"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Specifies the Key Value Store resource to add to your account. In your account, the Key Value Store names must be unique. You can also import Key Value Store data in JSON format from an S3 bucket by providing a valid <code>ImportSource</code> that you own.</p>"
    },
    "CreateMonitoringSubscription":{
      "name":"CreateMonitoringSubscription2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input":{"shape":"CreateMonitoringSubscriptionRequest"},
      "output":{"shape":"CreateMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"},
        {"shape":"MonitoringSubscriptionAlreadyExists"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Enables additional CloudWatch metrics for the specified CloudFront distribution. The additional metrics incur an additional cost.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/viewing-cloudfront-metrics.html#monitoring-console.distributions-additional\">Viewing additional CloudFront distribution metrics</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateOriginAccessControl":{
      "name":"CreateOriginAccessControl2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-access-control",
        "responseCode":201
      },
      "input":{"shape":"CreateOriginAccessControlRequest"},
      "output":{"shape":"CreateOriginAccessControlResult"},
      "errors":[
        {"shape":"OriginAccessControlAlreadyExists"},
        {"shape":"TooManyOriginAccessControls"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a new origin access control in CloudFront. After you create an origin access control, you can add it to an origin in a CloudFront distribution so that CloudFront sends authenticated (signed) requests to the origin.</p> <p>This makes it possible to block public access to the origin, allowing viewers (users) to access the origin's content only through CloudFront.</p> <p>For more information about using a CloudFront origin access control, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-origin.html\">Restricting access to an Amazon Web Services origin</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateOriginRequestPolicy":{
      "name":"CreateOriginRequestPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-request-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateOriginRequestPolicyRequest"},
      "output":{"shape":"CreateOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"OriginRequestPolicyAlreadyExists"},
        {"shape":"TooManyOriginRequestPolicies"},
        {"shape":"TooManyHeadersInOriginRequestPolicy"},
        {"shape":"TooManyCookiesInOriginRequestPolicy"},
        {"shape":"TooManyQueryStringsInOriginRequestPolicy"}
      ],
      "documentation":"<p>Creates an origin request policy.</p> <p>After you create an origin request policy, you can attach it to one or more cache behaviors. When it's attached to a cache behavior, the origin request policy determines the values that CloudFront includes in requests that it sends to the origin. Each request that CloudFront sends to the origin includes the following:</p> <ul> <li> <p>The request body and the URL path (without the domain name) from the viewer request.</p> </li> <li> <p>The headers that CloudFront automatically includes in every origin request, including <code>Host</code>, <code>User-Agent</code>, and <code>X-Amz-Cf-Id</code>.</p> </li> <li> <p>All HTTP headers, cookies, and URL query strings that are specified in the cache policy or the origin request policy. These can include items from the viewer request and, in the case of headers, additional ones that are added by CloudFront.</p> </li> </ul> <p>CloudFront sends a request when it can't find a valid object in its cache that matches the request. If you want to send values to the origin and also include them in the cache key, use <code>CachePolicy</code>.</p> <p>For more information about origin request policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html\">Controlling origin requests</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreatePublicKey":{
      "name":"CreatePublicKey2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/public-key",
        "responseCode":201
      },
      "input":{"shape":"CreatePublicKeyRequest"},
      "output":{"shape":"CreatePublicKeyResult"},
      "errors":[
        {"shape":"PublicKeyAlreadyExists"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyPublicKeys"}
      ],
      "documentation":"<p>Uploads a public key to CloudFront that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">signed URLs and signed cookies</a>, or with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/field-level-encryption.html\">field-level encryption</a>.</p>"
    },
    "CreateRealtimeLogConfig":{
      "name":"CreateRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/realtime-log-config",
        "responseCode":201
      },
      "input":{
        "shape":"CreateRealtimeLogConfigRequest",
        "locationName":"CreateRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateRealtimeLogConfigResult"},
      "errors":[
        {"shape":"RealtimeLogConfigAlreadyExists"},
        {"shape":"TooManyRealtimeLogConfigs"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Creates a real-time log configuration.</p> <p>After you create a real-time log configuration, you can attach it to one or more cache behaviors to send real-time log data to the specified Amazon Kinesis data stream.</p> <p>For more information about real-time log configurations, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/real-time-logs.html\">Real-time logs</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateResponseHeadersPolicy":{
      "name":"CreateResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/response-headers-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateResponseHeadersPolicyRequest"},
      "output":{"shape":"CreateResponseHeadersPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"ResponseHeadersPolicyAlreadyExists"},
        {"shape":"TooManyResponseHeadersPolicies"},
        {"shape":"TooManyCustomHeadersInResponseHeadersPolicy"},
        {"shape":"TooLongCSPInResponseHeadersPolicy"},
        {"shape":"TooManyRemoveHeadersInResponseHeadersPolicy"}
      ],
      "documentation":"<p>Creates a response headers policy.</p> <p>A response headers policy contains information about a set of HTTP headers. To create a response headers policy, you provide some metadata about the policy and a set of configurations that specify the headers.</p> <p>After you create a response headers policy, you can use its ID to attach it to one or more cache behaviors in a CloudFront distribution. When it's attached to a cache behavior, the response headers policy affects the HTTP headers that CloudFront includes in HTTP responses to requests that match the cache behavior. CloudFront adds or removes response headers according to the configuration of the response headers policy.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/modifying-response-headers.html\">Adding or removing HTTP headers in CloudFront responses</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateStreamingDistribution":{
      "name":"CreateStreamingDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionRequest"},
      "output":{"shape":"CreateStreamingDistributionResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ],
      "documentation":"<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>"
    },
    "CreateStreamingDistributionWithTags":{
      "name":"CreateStreamingDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionWithTagsRequest"},
      "output":{"shape":"CreateStreamingDistributionWithTagsResult"},
      "errors":[
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidTagging"}
      ],
      "documentation":"<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>"
    },
    "DeleteCachePolicy":{
      "name":"DeleteCachePolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/cache-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCachePolicyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"IllegalDelete"},
        {"shape":"CachePolicyInUse"}
      ],
      "documentation":"<p>Deletes a cache policy.</p> <p>You cannot delete a cache policy if it's attached to a cache behavior. First update your distributions to remove the cache policy from all cache behaviors, then delete the cache policy.</p> <p>To delete a cache policy, you must provide the policy's identifier and version. To get these values, you can use <code>ListCachePolicies</code> or <code>GetCachePolicy</code>.</p>"
    },
    "DeleteCloudFrontOriginAccessIdentity":{
      "name":"DeleteCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCloudFrontOriginAccessIdentityRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"PreconditionFailed"},
        {"shape":"CloudFrontOriginAccessIdentityInUse"}
      ],
      "documentation":"<p>Delete an origin access identity.</p>"
    },
    "DeleteContinuousDeploymentPolicy":{
      "name":"DeleteContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteContinuousDeploymentPolicyRequest"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"},
        {"shape":"PreconditionFailed"},
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Deletes a continuous deployment policy.</p> <p>You cannot delete a continuous deployment policy that's attached to a primary distribution. First update your distribution to remove the continuous deployment policy, then you can delete the policy.</p>"
    },
    "DeleteDistribution":{
      "name":"DeleteDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDistributionRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"DistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchDistribution"},
        {"shape":"PreconditionFailed"}
      ],
      "documentation":"<p>Delete a distribution.</p>"
    },
    "DeleteFieldLevelEncryptionConfig":{
      "name":"DeleteFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionConfigRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"PreconditionFailed"},
        {"shape":"FieldLevelEncryptionConfigInUse"}
      ],
      "documentation":"<p>Remove a field-level encryption configuration.</p>"
    },
    "DeleteFieldLevelEncryptionProfile":{
      "name":"DeleteFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionProfileRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"PreconditionFailed"},
        {"shape":"FieldLevelEncryptionProfileInUse"}
      ],
      "documentation":"<p>Remove a field-level encryption profile.</p>"
    },
    "DeleteFunction":{
      "name":"DeleteFunction2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/function/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFunctionExists"},
        {"shape":"FunctionInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Deletes a CloudFront function.</p> <p>You cannot delete a function if it's associated with a cache behavior. First, update your distributions to remove the function association from all cache behaviors, then delete the function.</p> <p>To delete a function, you must provide the function's name and version (<code>ETag</code> value). To get these values, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>"
    },
    "DeleteKeyGroup":{
      "name":"DeleteKeyGroup2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/key-group/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKeyGroupRequest"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchResource"},
        {"shape":"PreconditionFailed"},
        {"shape":"ResourceInUse"}
      ],
      "documentation":"<p>Deletes a key group.</p> <p>You cannot delete a key group that is referenced in a cache behavior. First update your distributions to remove the key group from all cache behaviors, then delete the key group.</p> <p>To delete a key group, you must provide the key group's identifier and version. To get these values, use <code>ListKeyGroups</code> followed by <code>GetKeyGroup</code> or <code>GetKeyGroupConfig</code>.</p>"
    },
    "DeleteKeyValueStore":{
      "name":"DeleteKeyValueStore2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/key-value-store/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKeyValueStoreRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"EntityNotFound"},
        {"shape":"CannotDeleteEntityWhileInUse"},
        {"shape":"PreconditionFailed"}
      ],
      "documentation":"<p>Specifies the Key Value Store to delete.</p>",
      "idempotent":true
    },
    "DeleteMonitoringSubscription":{
      "name":"DeleteMonitoringSubscription2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input":{"shape":"DeleteMonitoringSubscriptionRequest"},
      "output":{"shape":"DeleteMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"},
        {"shape":"NoSuchMonitoringSubscription"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Disables additional CloudWatch metrics for the specified CloudFront distribution.</p>"
    },
    "DeleteOriginAccessControl":{
      "name":"DeleteOriginAccessControl2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-access-control/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOriginAccessControlRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchOriginAccessControl"},
        {"shape":"PreconditionFailed"},
        {"shape":"OriginAccessControlInUse"}
      ],
      "documentation":"<p>Deletes a CloudFront origin access control.</p> <p>You cannot delete an origin access control if it's in use. First, update all distributions to remove the origin access control from all origins, then delete the origin access control.</p>"
    },
    "DeleteOriginRequestPolicy":{
      "name":"DeleteOriginRequestPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOriginRequestPolicyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"IllegalDelete"},
        {"shape":"OriginRequestPolicyInUse"}
      ],
      "documentation":"<p>Deletes an origin request policy.</p> <p>You cannot delete an origin request policy if it's attached to any cache behaviors. First update your distributions to remove the origin request policy from all cache behaviors, then delete the origin request policy.</p> <p>To delete an origin request policy, you must provide the policy's identifier and version. To get the identifier, you can use <code>ListOriginRequestPolicies</code> or <code>GetOriginRequestPolicy</code>.</p>"
    },
    "DeletePublicKey":{
      "name":"DeletePublicKey2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/public-key/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeletePublicKeyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"PublicKeyInUse"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"PreconditionFailed"}
      ],
      "documentation":"<p>Remove a public key you previously added to CloudFront.</p>"
    },
    "DeleteRealtimeLogConfig":{
      "name":"DeleteRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/delete-realtime-log-config/",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteRealtimeLogConfigRequest",
        "locationName":"DeleteRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "errors":[
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigInUse"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Deletes a real-time log configuration.</p> <p>You cannot delete a real-time log configuration if it's attached to a cache behavior. First update your distributions to remove the real-time log configuration from all cache behaviors, then delete the real-time log configuration.</p> <p>To delete a real-time log configuration, you can provide the configuration's name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to delete.</p>"
    },
    "DeleteResponseHeadersPolicy":{
      "name":"DeleteResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteResponseHeadersPolicyRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"IllegalDelete"},
        {"shape":"ResponseHeadersPolicyInUse"}
      ],
      "documentation":"<p>Deletes a response headers policy.</p> <p>You cannot delete a response headers policy if it's attached to a cache behavior. First update your distributions to remove the response headers policy from all cache behaviors, then delete the response headers policy.</p> <p>To delete a response headers policy, you must provide the policy's identifier and version. To get these values, you can use <code>ListResponseHeadersPolicies</code> or <code>GetResponseHeadersPolicy</code>.</p>"
    },
    "DeleteStreamingDistribution":{
      "name":"DeleteStreamingDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteStreamingDistributionRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"StreamingDistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"PreconditionFailed"}
      ],
      "documentation":"<p>Delete a streaming distribution. To delete an RTMP distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete an RTMP distribution using the CloudFront API</b>:</p> <ol> <li> <p>Disable the RTMP distribution.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution. </p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Streaming Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Streaming Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Then set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Streaming Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Streaming Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to your <code>DELETE Streaming Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "DescribeFunction":{
      "name":"DescribeFunction2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/function/{Name}/describe"
      },
      "input":{"shape":"DescribeFunctionRequest"},
      "output":{"shape":"DescribeFunctionResult"},
      "errors":[
        {"shape":"NoSuchFunctionExists"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Gets configuration information and metadata about a CloudFront function, but not the function's code. To get a function's code, use <code>GetFunction</code>.</p> <p>To get configuration information and metadata about a function, you must provide the function's name and stage. To get these values, you can use <code>ListFunctions</code>.</p>"
    },
    "DescribeKeyValueStore":{
      "name":"DescribeKeyValueStore2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-value-store/{Name}"
      },
      "input":{"shape":"DescribeKeyValueStoreRequest"},
      "output":{"shape":"DescribeKeyValueStoreResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Specifies the Key Value Store and its configuration.</p>"
    },
    "GetCachePolicy":{
      "name":"GetCachePolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}"
      },
      "input":{"shape":"GetCachePolicyRequest"},
      "output":{"shape":"GetCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"}
      ],
      "documentation":"<p>Gets a cache policy, including the following metadata:</p> <ul> <li> <p>The policy's identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get a cache policy, you must provide the policy's identifier. If the cache policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>"
    },
    "GetCachePolicyConfig":{
      "name":"GetCachePolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}/config"
      },
      "input":{"shape":"GetCachePolicyConfigRequest"},
      "output":{"shape":"GetCachePolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"}
      ],
      "documentation":"<p>Gets a cache policy configuration.</p> <p>To get a cache policy configuration, you must provide the policy's identifier. If the cache policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>"
    },
    "GetCloudFrontOriginAccessIdentity":{
      "name":"GetCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}"
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the information about an origin access identity.</p>"
    },
    "GetCloudFrontOriginAccessIdentityConfig":{
      "name":"GetCloudFrontOriginAccessIdentityConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityConfigRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityConfigResult"},
      "errors":[
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the configuration information about an origin access identity.</p>"
    },
    "GetContinuousDeploymentPolicy":{
      "name":"GetContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}"
      },
      "input":{"shape":"GetContinuousDeploymentPolicyRequest"},
      "output":{"shape":"GetContinuousDeploymentPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets a continuous deployment policy, including metadata (the policy's identifier and the date and time when the policy was last modified).</p>"
    },
    "GetContinuousDeploymentPolicyConfig":{
      "name":"GetContinuousDeploymentPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}/config"
      },
      "input":{"shape":"GetContinuousDeploymentPolicyConfigRequest"},
      "output":{"shape":"GetContinuousDeploymentPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets configuration information about a continuous deployment policy.</p>"
    },
    "GetDistribution":{
      "name":"GetDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}"
      },
      "input":{"shape":"GetDistributionRequest"},
      "output":{"shape":"GetDistributionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the information about a distribution.</p>"
    },
    "GetDistributionConfig":{
      "name":"GetDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}/config"
      },
      "input":{"shape":"GetDistributionConfigRequest"},
      "output":{"shape":"GetDistributionConfigResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the configuration information about a distribution.</p>"
    },
    "GetFieldLevelEncryption":{
      "name":"GetFieldLevelEncryption2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}"
      },
      "input":{"shape":"GetFieldLevelEncryptionRequest"},
      "output":{"shape":"GetFieldLevelEncryptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ],
      "documentation":"<p>Get the field-level encryption configuration information.</p>"
    },
    "GetFieldLevelEncryptionConfig":{
      "name":"GetFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}/config"
      },
      "input":{"shape":"GetFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ],
      "documentation":"<p>Get the field-level encryption configuration information.</p>"
    },
    "GetFieldLevelEncryptionProfile":{
      "name":"GetFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}"
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ],
      "documentation":"<p>Get the field-level encryption profile information.</p>"
    },
    "GetFieldLevelEncryptionProfileConfig":{
      "name":"GetFieldLevelEncryptionProfileConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}/config"
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ],
      "documentation":"<p>Get the field-level encryption profile configuration information.</p>"
    },
    "GetFunction":{
      "name":"GetFunction2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/function/{Name}"
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResult"},
      "errors":[
        {"shape":"NoSuchFunctionExists"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Gets the code of a CloudFront function. To get configuration information and metadata about a function, use <code>DescribeFunction</code>.</p> <p>To get a function's code, you must provide the function's name and stage. To get these values, you can use <code>ListFunctions</code>.</p>"
    },
    "GetInvalidation":{
      "name":"GetInvalidation2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input":{"shape":"GetInvalidationRequest"},
      "output":{"shape":"GetInvalidationResult"},
      "errors":[
        {"shape":"NoSuchInvalidation"},
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the information about an invalidation.</p>"
    },
    "GetKeyGroup":{
      "name":"GetKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}"
      },
      "input":{"shape":"GetKeyGroupRequest"},
      "output":{"shape":"GetKeyGroupResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Gets a key group, including the date and time when the key group was last modified.</p> <p>To get a key group, you must provide the key group's identifier. If the key group is referenced in a distribution's cache behavior, you can get the key group's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>"
    },
    "GetKeyGroupConfig":{
      "name":"GetKeyGroupConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}/config"
      },
      "input":{"shape":"GetKeyGroupConfigRequest"},
      "output":{"shape":"GetKeyGroupConfigResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Gets a key group configuration.</p> <p>To get a key group configuration, you must provide the key group's identifier. If the key group is referenced in a distribution's cache behavior, you can get the key group's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>"
    },
    "GetMonitoringSubscription":{
      "name":"GetMonitoringSubscription2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input":{"shape":"GetMonitoringSubscriptionRequest"},
      "output":{"shape":"GetMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchDistribution"},
        {"shape":"NoSuchMonitoringSubscription"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Gets information about whether additional CloudWatch metrics are enabled for the specified CloudFront distribution.</p>"
    },
    "GetOriginAccessControl":{
      "name":"GetOriginAccessControl2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-control/{Id}"
      },
      "input":{"shape":"GetOriginAccessControlRequest"},
      "output":{"shape":"GetOriginAccessControlResult"},
      "errors":[
        {"shape":"NoSuchOriginAccessControl"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a CloudFront origin access control, including its unique identifier.</p>"
    },
    "GetOriginAccessControlConfig":{
      "name":"GetOriginAccessControlConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-control/{Id}/config"
      },
      "input":{"shape":"GetOriginAccessControlConfigRequest"},
      "output":{"shape":"GetOriginAccessControlConfigResult"},
      "errors":[
        {"shape":"NoSuchOriginAccessControl"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a CloudFront origin access control configuration.</p>"
    },
    "GetOriginRequestPolicy":{
      "name":"GetOriginRequestPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}"
      },
      "input":{"shape":"GetOriginRequestPolicyRequest"},
      "output":{"shape":"GetOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ],
      "documentation":"<p>Gets an origin request policy, including the following metadata:</p> <ul> <li> <p>The policy's identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get an origin request policy, you must provide the policy's identifier. If the origin request policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>"
    },
    "GetOriginRequestPolicyConfig":{
      "name":"GetOriginRequestPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}/config"
      },
      "input":{"shape":"GetOriginRequestPolicyConfigRequest"},
      "output":{"shape":"GetOriginRequestPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ],
      "documentation":"<p>Gets an origin request policy configuration.</p> <p>To get an origin request policy configuration, you must provide the policy's identifier. If the origin request policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>"
    },
    "GetPublicKey":{
      "name":"GetPublicKey2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}"
      },
      "input":{"shape":"GetPublicKeyRequest"},
      "output":{"shape":"GetPublicKeyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ],
      "documentation":"<p>Gets a public key.</p>"
    },
    "GetPublicKeyConfig":{
      "name":"GetPublicKeyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}/config"
      },
      "input":{"shape":"GetPublicKeyConfigRequest"},
      "output":{"shape":"GetPublicKeyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ],
      "documentation":"<p>Gets a public key configuration.</p>"
    },
    "GetRealtimeLogConfig":{
      "name":"GetRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/get-realtime-log-config/"
      },
      "input":{
        "shape":"GetRealtimeLogConfigRequest",
        "locationName":"GetRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"GetRealtimeLogConfigResult"},
      "errors":[
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a real-time log configuration.</p> <p>To get a real-time log configuration, you can provide the configuration's name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to get.</p>"
    },
    "GetResponseHeadersPolicy":{
      "name":"GetResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}"
      },
      "input":{"shape":"GetResponseHeadersPolicyRequest"},
      "output":{"shape":"GetResponseHeadersPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchResponseHeadersPolicy"}
      ],
      "documentation":"<p>Gets a response headers policy, including metadata (the policy's identifier and the date and time when the policy was last modified).</p> <p>To get a response headers policy, you must provide the policy's identifier. If the response headers policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>"
    },
    "GetResponseHeadersPolicyConfig":{
      "name":"GetResponseHeadersPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}/config"
      },
      "input":{"shape":"GetResponseHeadersPolicyConfigRequest"},
      "output":{"shape":"GetResponseHeadersPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchResponseHeadersPolicy"}
      ],
      "documentation":"<p>Gets a response headers policy configuration.</p> <p>To get a response headers policy configuration, you must provide the policy's identifier. If the response headers policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>"
    },
    "GetStreamingDistribution":{
      "name":"GetStreamingDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}"
      },
      "input":{"shape":"GetStreamingDistributionRequest"},
      "output":{"shape":"GetStreamingDistributionResult"},
      "errors":[
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets information about a specified RTMP distribution, including the distribution configuration.</p>"
    },
    "GetStreamingDistributionConfig":{
      "name":"GetStreamingDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}/config"
      },
      "input":{"shape":"GetStreamingDistributionConfigRequest"},
      "output":{"shape":"GetStreamingDistributionConfigResult"},
      "errors":[
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the configuration information about a streaming distribution.</p>"
    },
    "ListCachePolicies":{
      "name":"ListCachePolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy"
      },
      "input":{"shape":"ListCachePoliciesRequest"},
      "output":{"shape":"ListCachePoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of cache policies.</p> <p>You can optionally apply a filter to return only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListCloudFrontOriginAccessIdentities":{
      "name":"ListCloudFrontOriginAccessIdentities2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront"
      },
      "input":{"shape":"ListCloudFrontOriginAccessIdentitiesRequest"},
      "output":{"shape":"ListCloudFrontOriginAccessIdentitiesResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists origin access identities.</p>"
    },
    "ListConflictingAliases":{
      "name":"ListConflictingAliases2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/conflicting-alias",
        "responseCode":200
      },
      "input":{"shape":"ListConflictingAliasesRequest"},
      "output":{"shape":"ListConflictingAliasesResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"}
      ],
      "documentation":"<p>Gets a list of aliases (also called CNAMEs or alternate domain names) that conflict or overlap with the provided alias, and the associated CloudFront distributions and Amazon Web Services accounts for each conflicting alias. In the returned list, the distribution and account IDs are partially hidden, which allows you to identify the distributions and accounts that you own, but helps to protect the information of ones that you don't own.</p> <p>Use this operation to find aliases that are in use in CloudFront that conflict or overlap with the provided alias. For example, if you provide <code>www.example.com</code> as input, the returned list can include <code>www.example.com</code> and the overlapping wildcard alternate domain name (<code>*.example.com</code>), if they exist. If you provide <code>*.example.com</code> as input, the returned list can include <code>*.example.com</code> and any alternate domain names covered by that wildcard (for example, <code>www.example.com</code>, <code>test.example.com</code>, <code>dev.example.com</code>, and so on), if they exist.</p> <p>To list conflicting aliases, you provide the alias to search and the ID of a distribution in your account that has an attached SSL/TLS certificate that includes the provided alias. For more information, including how to set up the distribution and certificate, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListContinuousDeploymentPolicies":{
      "name":"ListContinuousDeploymentPolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy"
      },
      "input":{"shape":"ListContinuousDeploymentPoliciesRequest"},
      "output":{"shape":"ListContinuousDeploymentPoliciesResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets a list of the continuous deployment policies in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributions":{
      "name":"ListDistributions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution"
      },
      "input":{"shape":"ListDistributionsRequest"},
      "output":{"shape":"ListDistributionsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>List CloudFront distributions.</p>"
    },
    "ListDistributionsByCachePolicyId":{
      "name":"ListDistributionsByCachePolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByCachePolicyId/{CachePolicyId}"
      },
      "input":{"shape":"ListDistributionsByCachePolicyIdRequest"},
      "output":{"shape":"ListDistributionsByCachePolicyIdResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a list of distribution IDs for distributions that have a cache behavior that's associated with the specified cache policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByKeyGroup":{
      "name":"ListDistributionsByKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByKeyGroupId/{KeyGroupId}"
      },
      "input":{"shape":"ListDistributionsByKeyGroupRequest"},
      "output":{"shape":"ListDistributionsByKeyGroupResult"},
      "errors":[
        {"shape":"NoSuchResource"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of distribution IDs for distributions that have a cache behavior that references the specified key group.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByOriginRequestPolicyId":{
      "name":"ListDistributionsByOriginRequestPolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByOriginRequestPolicyId/{OriginRequestPolicyId}"
      },
      "input":{"shape":"ListDistributionsByOriginRequestPolicyIdRequest"},
      "output":{"shape":"ListDistributionsByOriginRequestPolicyIdResult"},
      "errors":[
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a list of distribution IDs for distributions that have a cache behavior that's associated with the specified origin request policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByRealtimeLogConfig":{
      "name":"ListDistributionsByRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distributionsByRealtimeLogConfig/"
      },
      "input":{
        "shape":"ListDistributionsByRealtimeLogConfigRequest",
        "locationName":"ListDistributionsByRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"ListDistributionsByRealtimeLogConfigResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of distributions that have a cache behavior that's associated with the specified real-time log configuration.</p> <p>You can specify the real-time log configuration by its name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to list distributions for.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByResponseHeadersPolicyId":{
      "name":"ListDistributionsByResponseHeadersPolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByResponseHeadersPolicyId/{ResponseHeadersPolicyId}"
      },
      "input":{"shape":"ListDistributionsByResponseHeadersPolicyIdRequest"},
      "output":{"shape":"ListDistributionsByResponseHeadersPolicyIdResult"},
      "errors":[
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a list of distribution IDs for distributions that have a cache behavior that's associated with the specified response headers policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByWebACLId":{
      "name":"ListDistributionsByWebACLId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByWebACLId/{WebACLId}"
      },
      "input":{"shape":"ListDistributionsByWebACLIdRequest"},
      "output":{"shape":"ListDistributionsByWebACLIdResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"InvalidWebACLId"}
      ],
      "documentation":"<p>List the distributions that are associated with a specified WAF web ACL.</p>"
    },
    "ListFieldLevelEncryptionConfigs":{
      "name":"ListFieldLevelEncryptionConfigs2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption"
      },
      "input":{"shape":"ListFieldLevelEncryptionConfigsRequest"},
      "output":{"shape":"ListFieldLevelEncryptionConfigsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>List all field-level encryption configurations that have been created in CloudFront for this account.</p>"
    },
    "ListFieldLevelEncryptionProfiles":{
      "name":"ListFieldLevelEncryptionProfiles2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile"
      },
      "input":{"shape":"ListFieldLevelEncryptionProfilesRequest"},
      "output":{"shape":"ListFieldLevelEncryptionProfilesResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Request a list of field-level encryption profiles that have been created in CloudFront for this account.</p>"
    },
    "ListFunctions":{
      "name":"ListFunctions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/function"
      },
      "input":{"shape":"ListFunctionsRequest"},
      "output":{"shape":"ListFunctionsResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Gets a list of all CloudFront functions in your Amazon Web Services account.</p> <p>You can optionally apply a filter to return only the functions that are in the specified stage, either <code>DEVELOPMENT</code> or <code>LIVE</code>.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListInvalidations":{
      "name":"ListInvalidations2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation"
      },
      "input":{"shape":"ListInvalidationsRequest"},
      "output":{"shape":"ListInvalidationsResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Lists invalidation batches.</p>"
    },
    "ListKeyGroups":{
      "name":"ListKeyGroups2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group"
      },
      "input":{"shape":"ListKeyGroupsRequest"},
      "output":{"shape":"ListKeyGroupsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of key groups.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListKeyValueStores":{
      "name":"ListKeyValueStores2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-value-store"
      },
      "input":{"shape":"ListKeyValueStoresRequest"},
      "output":{"shape":"ListKeyValueStoresResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Specifies the Key Value Stores to list.</p>"
    },
    "ListOriginAccessControls":{
      "name":"ListOriginAccessControls2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-control"
      },
      "input":{"shape":"ListOriginAccessControlsRequest"},
      "output":{"shape":"ListOriginAccessControlsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets the list of CloudFront origin access controls in this Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send another request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the next request.</p>"
    },
    "ListOriginRequestPolicies":{
      "name":"ListOriginRequestPolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy"
      },
      "input":{"shape":"ListOriginRequestPoliciesRequest"},
      "output":{"shape":"ListOriginRequestPoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of origin request policies.</p> <p>You can optionally apply a filter to return only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListPublicKeys":{
      "name":"ListPublicKeys2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key"
      },
      "input":{"shape":"ListPublicKeysRequest"},
      "output":{"shape":"ListPublicKeysResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>List all public keys that have been added to CloudFront for this account.</p>"
    },
    "ListRealtimeLogConfigs":{
      "name":"ListRealtimeLogConfigs2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/realtime-log-config"
      },
      "input":{"shape":"ListRealtimeLogConfigsRequest"},
      "output":{"shape":"ListRealtimeLogConfigsResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchRealtimeLogConfig"}
      ],
      "documentation":"<p>Gets a list of real-time log configurations.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListResponseHeadersPolicies":{
      "name":"ListResponseHeadersPolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/response-headers-policy"
      },
      "input":{"shape":"ListResponseHeadersPoliciesRequest"},
      "output":{"shape":"ListResponseHeadersPoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of response headers policies.</p> <p>You can optionally apply a filter to get only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListStreamingDistributions":{
      "name":"ListStreamingDistributions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution"
      },
      "input":{"shape":"ListStreamingDistributionsRequest"},
      "output":{"shape":"ListStreamingDistributionsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>List streaming distributions.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/tagging"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>List tags for a CloudFront resource.</p>"
    },
    "PublishFunction":{
      "name":"PublishFunction2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/function/{Name}/publish"
      },
      "input":{"shape":"PublishFunctionRequest"},
      "output":{"shape":"PublishFunctionResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFunctionExists"},
        {"shape":"PreconditionFailed"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Publishes a CloudFront function by copying the function code from the <code>DEVELOPMENT</code> stage to <code>LIVE</code>. This automatically updates all cache behaviors that are using this function to use the newly published copy in the <code>LIVE</code> stage.</p> <p>When a function is published to the <code>LIVE</code> stage, you can attach the function to a distribution's cache behavior, using the function's Amazon Resource Name (ARN).</p> <p>To publish a function, you must provide the function's name and version (<code>ETag</code> value). To get these values, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>"
    },
    "TagResource":{
      "name":"TagResource2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/tagging?Operation=Tag",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Add tags to a CloudFront resource.</p>"
    },
    "TestFunction":{
      "name":"TestFunction2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/function/{Name}/test"
      },
      "input":{
        "shape":"TestFunctionRequest",
        "locationName":"TestFunctionRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"TestFunctionResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchFunctionExists"},
        {"shape":"TestFunctionFailed"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Tests a CloudFront function.</p> <p>To test a function, you provide an <i>event object</i> that represents an HTTP request or response that your CloudFront distribution could receive in production. CloudFront runs the function, passing it the event object that you provided, and returns the function's result (the modified event object) in the response. The response also contains function logs and error messages, if any exist. For more information about testing functions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/managing-functions.html#test-function\">Testing functions</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p>To test a function, you provide the function's name and version (<code>ETag</code> value) along with the event object. To get the function's name and version, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/tagging?Operation=Untag",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidTagging"},
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Remove tags from a CloudFront resource.</p>"
    },
    "UpdateCachePolicy":{
      "name":"UpdateCachePolicy2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/cache-policy/{Id}"
      },
      "input":{"shape":"UpdateCachePolicyRequest"},
      "output":{"shape":"UpdateCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"CachePolicyAlreadyExists"},
        {"shape":"TooManyHeadersInCachePolicy"},
        {"shape":"TooManyCookiesInCachePolicy"},
        {"shape":"TooManyQueryStringsInCachePolicy"}
      ],
      "documentation":"<p>Updates a cache policy configuration.</p> <p>When you update a cache policy configuration, all the fields are updated with the values provided in the request. You cannot update some fields independent of others. To update a cache policy configuration:</p> <ol> <li> <p>Use <code>GetCachePolicyConfig</code> to get the current configuration.</p> </li> <li> <p>Locally modify the fields in the cache policy configuration that you want to update.</p> </li> <li> <p>Call <code>UpdateCachePolicy</code> by providing the entire cache policy configuration, including the fields that you modified and those that you didn't.</p> </li> </ol>"
    },
    "UpdateCloudFrontOriginAccessIdentity":{
      "name":"UpdateCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input":{"shape":"UpdateCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"UpdateCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"MissingBody"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"},
        {"shape":"PreconditionFailed"},
        {"shape":"InvalidArgument"},
        {"shape":"InconsistentQuantities"}
      ],
      "documentation":"<p>Update an origin access identity.</p>"
    },
    "UpdateContinuousDeploymentPolicy":{
      "name":"UpdateContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}"
      },
      "input":{"shape":"UpdateContinuousDeploymentPolicyRequest"},
      "output":{"shape":"UpdateContinuousDeploymentPolicyResult"},
      "errors":[
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"InvalidArgument"},
        {"shape":"AccessDenied"},
        {"shape":"InconsistentQuantities"},
        {"shape":"PreconditionFailed"},
        {"shape":"StagingDistributionInUse"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Updates a continuous deployment policy. You can update a continuous deployment policy to enable or disable it, to change the percentage of traffic that it sends to the staging distribution, or to change the staging distribution that it sends traffic to.</p> <p>When you update a continuous deployment policy configuration, all the fields are updated with the values that are provided in the request. You cannot update some fields independent of others. To update a continuous deployment policy configuration:</p> <ol> <li> <p>Use <code>GetContinuousDeploymentPolicyConfig</code> to get the current configuration.</p> </li> <li> <p>Locally modify the fields in the continuous deployment policy configuration that you want to update.</p> </li> <li> <p>Use <code>UpdateContinuousDeploymentPolicy</code>, providing the entire continuous deployment policy configuration, including the fields that you modified and those that you didn't.</p> </li> </ol>"
    },
    "UpdateDistribution":{
      "name":"UpdateDistribution2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{Id}/config"
      },
      "input":{"shape":"UpdateDistributionRequest"},
      "output":{"shape":"UpdateDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"MissingBody"},
        {"shape":"NoSuchDistribution"},
[...]
