{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-06-05",
    "endpointPrefix":"bedrock-agent",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Agents for Amazon Bedrock",
    "serviceId":"Bedrock Agent",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-agent-2023-06-05"
  },
  "operations":{
    "AssociateAgentKnowledgeBase":{
      "name":"AssociateAgentKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"AssociateAgentKnowledgeBaseRequest"},
      "output":{"shape":"AssociateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associate a Knowledge Base to an existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "CreateAgent":{
      "name":"CreateAgent",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/",
        "responseCode":202
      },
      "input":{"shape":"CreateAgentRequest"},
      "output":{"shape":"CreateAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "CreateAgentActionGroup":{
      "name":"CreateAgentActionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentActionGroupRequest"},
      "output":{"shape":"CreateAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Action Group for existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "CreateAgentAlias":{
      "name":"CreateAgentAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentaliases/",
        "responseCode":202
      },
      "input":{"shape":"CreateAgentAliasRequest"},
      "output":{"shape":"CreateAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Alias for an existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/",
        "responseCode":200
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a new data source</p>",
      "idempotent":true
    },
    "CreateKnowledgeBase":{
      "name":"CreateKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/",
        "responseCode":202
      },
      "input":{"shape":"CreateKnowledgeBaseRequest"},
      "output":{"shape":"CreateKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a new knowledge base</p>",
      "idempotent":true
    },
    "DeleteAgent":{
      "name":"DeleteAgent",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentRequest"},
      "output":{"shape":"DeleteAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Agent for existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "DeleteAgentActionGroup":{
      "name":"DeleteAgentActionGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteAgentActionGroupRequest"},
      "output":{"shape":"DeleteAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Action Group for existing Amazon Bedrock Agent.</p>",
      "idempotent":true
    },
    "DeleteAgentAlias":{
      "name":"DeleteAgentAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentAliasRequest"},
      "output":{"shape":"DeleteAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an Alias for a Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "DeleteAgentVersion":{
      "name":"DeleteAgentVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentVersionRequest"},
      "output":{"shape":"DeleteAgentVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Agent version for existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete an existing data source</p>",
      "idempotent":true
    },
    "DeleteKnowledgeBase":{
      "name":"DeleteKnowledgeBase",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteKnowledgeBaseRequest"},
      "output":{"shape":"DeleteKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete an existing knowledge base</p>",
      "idempotent":true
    },
    "DisassociateAgentKnowledgeBase":{
      "name":"DisassociateAgentKnowledgeBase",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":204
      },
      "input":{"shape":"DisassociateAgentKnowledgeBaseRequest"},
      "output":{"shape":"DisassociateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disassociate an existing Knowledge Base from an Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "GetAgent":{
      "name":"GetAgent",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentRequest"},
      "output":{"shape":"GetAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an Agent for existing Amazon Bedrock Agent</p>"
    },
    "GetAgentActionGroup":{
      "name":"GetAgentActionGroup",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentActionGroupRequest"},
      "output":{"shape":"GetAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an Action Group for existing Amazon Bedrock Agent Version</p>"
    },
    "GetAgentAlias":{
      "name":"GetAgentAlias",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentAliasRequest"},
      "output":{"shape":"GetAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes an Alias for a Amazon Bedrock Agent</p>"
    },
    "GetAgentKnowledgeBase":{
      "name":"GetAgentKnowledgeBase",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentKnowledgeBaseRequest"},
      "output":{"shape":"GetAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a knowledge base associated to an existing Amazon Bedrock Agent Version</p>"
    },
    "GetAgentVersion":{
      "name":"GetAgentVersion",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentVersionRequest"},
      "output":{"shape":"GetAgentVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an Agent version for existing Amazon Bedrock Agent</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get an existing data source</p>"
    },
    "GetIngestionJob":{
      "name":"GetIngestionJob",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/{ingestionJobId}",
        "responseCode":200
      },
      "input":{"shape":"GetIngestionJobRequest"},
      "output":{"shape":"GetIngestionJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get an ingestion job</p>"
    },
    "GetKnowledgeBase":{
      "name":"GetKnowledgeBase",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":200
      },
      "input":{"shape":"GetKnowledgeBaseRequest"},
      "output":{"shape":"GetKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get an existing knowledge base</p>"
    },
    "ListAgentActionGroups":{
      "name":"ListAgentActionGroups",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentActionGroupsRequest"},
      "output":{"shape":"ListAgentActionGroupsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists an Action Group for existing Amazon Bedrock Agent Version</p>"
    },
    "ListAgentAliases":{
      "name":"ListAgentAliases",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentAliasesRequest"},
      "output":{"shape":"ListAgentAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all the Aliases for an Amazon Bedrock Agent</p>"
    },
    "ListAgentKnowledgeBases":{
      "name":"ListAgentKnowledgeBases",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentKnowledgeBasesRequest"},
      "output":{"shape":"ListAgentKnowledgeBasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List of Knowledge Bases associated to an existing Amazon Bedrock Agent Version</p>"
    },
    "ListAgentVersions":{
      "name":"ListAgentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentVersionsRequest"},
      "output":{"shape":"ListAgentVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists Agent Versions</p>"
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/agents/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists Agents</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List data sources</p>"
    },
    "ListIngestionJobs":{
      "name":"ListIngestionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
        "responseCode":200
      },
      "input":{"shape":"ListIngestionJobsRequest"},
      "output":{"shape":"ListIngestionJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List ingestion jobs</p>"
    },
    "ListKnowledgeBases":{
      "name":"ListKnowledgeBases",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"ListKnowledgeBasesRequest"},
      "output":{"shape":"ListKnowledgeBasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List Knowledge Bases</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List tags for a resource</p>"
    },
    "PrepareAgent":{
      "name":"PrepareAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"PrepareAgentRequest"},
      "output":{"shape":"PrepareAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Prepares an existing Amazon Bedrock Agent to receive runtime requests</p>"
    },
    "StartIngestionJob":{
      "name":"StartIngestionJob",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
        "responseCode":202
      },
      "input":{"shape":"StartIngestionJobRequest"},
      "output":{"shape":"StartIngestionJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Start a new ingestion job</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Tag a resource</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Untag a resource</p>",
      "idempotent":true
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateAgentRequest"},
      "output":{"shape":"UpdateAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an existing Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "UpdateAgentActionGroup":{
      "name":"UpdateAgentActionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentActionGroupRequest"},
      "output":{"shape":"UpdateAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an existing Action Group for Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "UpdateAgentAlias":{
      "name":"UpdateAgentAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateAgentAliasRequest"},
      "output":{"shape":"UpdateAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an existing Alias for an Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "UpdateAgentKnowledgeBase":{
      "name":"UpdateAgentKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentKnowledgeBaseRequest"},
      "output":{"shape":"UpdateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing Knowledge Base associated to an Amazon Bedrock Agent</p>",
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update an existing data source</p>",
      "idempotent":true
    },
    "UpdateKnowledgeBase":{
      "name":"UpdateKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateKnowledgeBaseRequest"},
      "output":{"shape":"UpdateKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update an existing knowledge base</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "APISchema":{
      "type":"structure",
      "members":{
        "s3":{"shape":"S3Identifier"},
        "payload":{"shape":"Payload"}
      },
      "documentation":"<p>Contains information about the API Schema for the Action Group</p>",
      "union":true
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is denied per access permissions</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionGroupExecutor":{
      "type":"structure",
      "members":{
        "lambda":{"shape":"LambdaArn"}
      },
      "documentation":"<p>Type of Executors for an Action Group</p>",
      "union":true
    },
    "ActionGroupSignature":{
      "type":"string",
      "documentation":"<p>Action Group Signature for a BuiltIn Action</p>",
      "enum":["AMAZON.UserInput"]
    },
    "ActionGroupState":{
      "type":"string",
      "documentation":"<p>State of the action group</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ActionGroupSummaries":{
      "type":"list",
      "member":{"shape":"ActionGroupSummary"},
      "documentation":"<p>List of ActionGroup Summaries</p>",
      "max":10,
      "min":0
    },
    "ActionGroupSummary":{
      "type":"structure",
      "required":[
        "actionGroupId",
        "actionGroupName",
        "actionGroupState",
        "updatedAt"
      ],
      "members":{
        "actionGroupId":{"shape":"Id"},
        "actionGroupName":{"shape":"Name"},
        "actionGroupState":{"shape":"ActionGroupState"},
        "description":{"shape":"Description"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>ActionGroup Summary</p>"
    },
    "Agent":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentArn",
        "agentVersion",
        "agentStatus",
        "idleSessionTTLInSeconds",
        "agentResourceRoleArn",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentName":{"shape":"Name"},
        "agentArn":{"shape":"AgentArn"},
        "agentVersion":{"shape":"DraftVersion"},
        "clientToken":{"shape":"ClientToken"},
        "instruction":{"shape":"Instruction"},
        "agentStatus":{"shape":"AgentStatus"},
        "foundationModel":{"shape":"ModelIdentifier"},
        "description":{"shape":"Description"},
        "idleSessionTTLInSeconds":{"shape":"SessionTTL"},
        "agentResourceRoleArn":{"shape":"AgentRoleArn"},
        "customerEncryptionKeyArn":{"shape":"KmsKeyArn"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "preparedAt":{"shape":"DateTimestamp"},
        "failureReasons":{"shape":"FailureReasons"},
        "recommendedActions":{"shape":"RecommendedActions"},
        "promptOverrideConfiguration":{"shape":"PromptOverrideConfiguration"}
      },
      "documentation":"<p>Contains the information of an agent</p>"
    },
    "AgentActionGroup":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupId",
        "actionGroupName",
        "createdAt",
        "updatedAt",
        "actionGroupState"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentVersion":{"shape":"Version"},
        "actionGroupId":{"shape":"Id"},
        "actionGroupName":{"shape":"Name"},
        "clientToken":{"shape":"ClientToken"},
        "description":{"shape":"Description"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "parentActionSignature":{"shape":"ActionGroupSignature"},
        "actionGroupExecutor":{"shape":"ActionGroupExecutor"},
        "apiSchema":{"shape":"APISchema"},
        "actionGroupState":{"shape":"ActionGroupState"}
      },
      "documentation":"<p>Contains the information of an Agent Action Group</p>"
    },
    "AgentAlias":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasId",
        "agentAliasName",
        "agentAliasArn",
        "routingConfiguration",
        "createdAt",
        "updatedAt",
        "agentAliasStatus"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentAliasId":{"shape":"AgentAliasId"},
        "agentAliasName":{"shape":"Name"},
        "agentAliasArn":{"shape":"AgentAliasArn"},
        "clientToken":{"shape":"ClientToken"},
        "description":{"shape":"Description"},
        "routingConfiguration":{"shape":"AgentAliasRoutingConfiguration"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "agentAliasHistoryEvents":{"shape":"AgentAliasHistoryEvents"},
        "agentAliasStatus":{"shape":"AgentAliasStatus"}
      },
      "documentation":"<p>Contains the information of an agent alias</p>"
    },
    "AgentAliasArn":{
      "type":"string",
      "documentation":"<p>Arn representation of the Agent Alias.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}"
    },
    "AgentAliasHistoryEvent":{
      "type":"structure",
      "members":{
        "routingConfiguration":{"shape":"AgentAliasRoutingConfiguration"},
        "endDate":{"shape":"DateTimestamp"},
        "startDate":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>History event for an alias for an Agent.</p>"
    },
    "AgentAliasHistoryEvents":{
      "type":"list",
      "member":{"shape":"AgentAliasHistoryEvent"},
      "documentation":"<p>The list of history events for an alias for an Agent.</p>",
      "max":10,
      "min":0
    },
    "AgentAliasId":{
      "type":"string",
      "documentation":"<p>Id for an Agent Alias generated at the server side.</p>",
      "max":10,
      "min":10,
      "pattern":"(\\bTSTALIASID\\b|[0-9a-zA-Z]+)"
    },
    "AgentAliasRoutingConfiguration":{
      "type":"list",
      "member":{"shape":"AgentAliasRoutingConfigurationListItem"},
      "documentation":"<p>Routing configuration for an Agent alias.</p>",
      "max":1,
      "min":0
    },
    "AgentAliasRoutingConfigurationListItem":{
      "type":"structure",
      "required":["agentVersion"],
      "members":{
        "agentVersion":{"shape":"Version"}
      },
      "documentation":"<p>Details about the routing configuration for an Agent alias.</p>"
    },
    "AgentAliasStatus":{
      "type":"string",
      "documentation":"<p>The statuses an Agent Alias can be in.</p>",
      "enum":[
        "CREATING",
        "PREPARED",
        "FAILED",
        "UPDATING",
        "DELETING"
      ]
    },
    "AgentAliasSummaries":{
      "type":"list",
      "member":{"shape":"AgentAliasSummary"},
      "documentation":"<p>The list of summaries of all the aliases for an Agent.</p>",
      "max":10,
      "min":0
    },
    "AgentAliasSummary":{
      "type":"structure",
      "required":[
        "agentAliasId",
        "agentAliasName",
        "agentAliasStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentAliasId":{"shape":"AgentAliasId"},
        "agentAliasName":{"shape":"Name"},
        "description":{"shape":"Description"},
        "routingConfiguration":{"shape":"AgentAliasRoutingConfiguration"},
        "agentAliasStatus":{"shape":"AgentAliasStatus"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of an alias for an Agent.</p>"
    },
    "AgentArn":{
      "type":"string",
      "documentation":"<p>Arn representation of the Agent.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}"
    },
    "AgentKnowledgeBase":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "knowledgeBaseId",
        "description",
        "createdAt",
        "updatedAt",
        "knowledgeBaseState"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentVersion":{"shape":"Version"},
        "knowledgeBaseId":{"shape":"Id"},
        "description":{"shape":"Description"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "knowledgeBaseState":{"shape":"KnowledgeBaseState"}
      },
      "documentation":"<p>Contains the information of an Agent Knowledge Base.</p>"
    },
    "AgentKnowledgeBaseSummaries":{
      "type":"list",
      "member":{"shape":"AgentKnowledgeBaseSummary"},
      "documentation":"<p>List of Agent Knowledge Base Summaries</p>",
      "max":10,
      "min":0
    },
    "AgentKnowledgeBaseSummary":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "knowledgeBaseState",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "description":{"shape":"Description"},
        "knowledgeBaseState":{"shape":"KnowledgeBaseState"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Agent Knowledge Base Summary</p>"
    },
    "AgentRoleArn":{
      "type":"string",
      "documentation":"<p>ARN of a IAM role.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/(service-role/)?AmazonBedrockExecutionRoleForAgents.+"
    },
    "AgentStatus":{
      "type":"string",
      "documentation":"<p>Schema Type for Action APIs.</p>",
      "enum":[
        "CREATING",
        "PREPARING",
        "PREPARED",
        "NOT_PREPARED",
        "DELETING",
        "FAILED",
        "VERSIONING",
        "UPDATING"
      ]
    },
    "AgentSummaries":{
      "type":"list",
      "member":{"shape":"AgentSummary"},
      "documentation":"<p>List of AgentSummary.</p>",
      "max":10,
      "min":0
    },
    "AgentSummary":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentStatus",
        "updatedAt"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentName":{"shape":"Name"},
        "agentStatus":{"shape":"AgentStatus"},
        "description":{"shape":"Description"},
        "updatedAt":{"shape":"DateTimestamp"},
        "latestAgentVersion":{"shape":"Version"}
      },
      "documentation":"<p>Summary of Agent.</p>"
    },
    "AgentVersion":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentArn",
        "version",
        "agentStatus",
        "idleSessionTTLInSeconds",
        "agentResourceRoleArn",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentName":{"shape":"Name"},
        "agentArn":{"shape":"AgentArn"},
        "version":{"shape":"NumericalVersion"},
        "instruction":{"shape":"Instruction"},
        "agentStatus":{"shape":"AgentStatus"},
        "foundationModel":{"shape":"ModelIdentifier"},
        "description":{"shape":"Description"},
        "idleSessionTTLInSeconds":{"shape":"SessionTTL"},
        "agentResourceRoleArn":{"shape":"AgentRoleArn"},
        "customerEncryptionKeyArn":{"shape":"KmsKeyArn"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "failureReasons":{"shape":"FailureReasons"},
        "recommendedActions":{"shape":"RecommendedActions"},
        "promptOverrideConfiguration":{"shape":"PromptOverrideConfiguration"}
      },
      "documentation":"<p>Contains the information of an agent version.</p>"
    },
    "AgentVersionSummaries":{
      "type":"list",
      "member":{"shape":"AgentVersionSummary"},
      "documentation":"<p>List of AgentVersionSummary.</p>",
      "max":10,
      "min":0
    },
    "AgentVersionSummary":{
      "type":"structure",
      "required":[
        "agentName",
        "agentStatus",
        "agentVersion",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentName":{"shape":"Name"},
        "agentStatus":{"shape":"AgentStatus"},
        "agentVersion":{"shape":"Version"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "description":{"shape":"Description"}
      },
      "documentation":"<p>Summary of agent version.</p>"
    },
    "AssociateAgentKnowledgeBaseRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "knowledgeBaseId",
        "description"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>Draft Version of the Agent.</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "knowledgeBaseId":{"shape":"Id"},
        "description":{"shape":"Description"},
        "knowledgeBaseState":{"shape":"KnowledgeBaseState"}
      },
      "documentation":"<p>Associate Agent Knowledge Base Request</p>"
    },
    "AssociateAgentKnowledgeBaseResponse":{
      "type":"structure",
      "required":["agentKnowledgeBase"],
      "members":{
        "agentKnowledgeBase":{"shape":"AgentKnowledgeBase"}
      },
      "documentation":"<p>Associate Agent Knowledge Base Response</p>"
    },
    "BasePromptTemplate":{
      "type":"string",
      "documentation":"<p>Base Prompt Template.</p>",
      "max":100000,
      "min":1
    },
    "BedrockEmbeddingModelArn":{
      "type":"string",
      "documentation":"<p>Arn of a Bedrock model.</p>",
      "max":1011,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ChunkingConfiguration":{
      "type":"structure",
      "required":["chunkingStrategy"],
      "members":{
        "chunkingStrategy":{"shape":"ChunkingStrategy"},
        "fixedSizeChunkingConfiguration":{"shape":"FixedSizeChunkingConfiguration"}
      },
      "documentation":"<p>Configures chunking strategy</p>"
    },
    "ChunkingStrategy":{
      "type":"string",
      "documentation":"<p>The type of chunking strategy</p>",
      "enum":[
        "FIXED_SIZE",
        "NONE"
      ]
    },
    "ClientToken":{
      "type":"string",
      "documentation":"<p>Client specified token used for idempotency checks</p>",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ColumnName":{
      "type":"string",
      "documentation":"<p>Name of the column</p>",
      "max":63,
      "min":0,
      "pattern":"[a-zA-Z0-9_\\-]+"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when there is a conflict performing an operation</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAgentActionGroupRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupName"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>Draft Version of the Agent.</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "actionGroupName":{"shape":"Name"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"Description"},
        "parentActionGroupSignature":{"shape":"ActionGroupSignature"},
        "actionGroupExecutor":{"shape":"ActionGroupExecutor"},
        "apiSchema":{"shape":"APISchema"},
        "actionGroupState":{"shape":"ActionGroupState"}
      },
      "documentation":"<p>Create Action Group Request</p>"
    },
    "CreateAgentActionGroupResponse":{
      "type":"structure",
      "required":["agentActionGroup"],
      "members":{
        "agentActionGroup":{"shape":"AgentActionGroup"}
      },
      "documentation":"<p>Create Action Group Response</p>"
    },
    "CreateAgentAliasRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasName"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentAliasName":{"shape":"Name"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"Description"},
        "routingConfiguration":{"shape":"AgentAliasRoutingConfiguration"},
        "tags":{"shape":"TagsMap"}
      },
      "documentation":"<p>Create Agent Alias Request</p>"
    },
    "CreateAgentAliasResponse":{
      "type":"structure",
      "required":["agentAlias"],
      "members":{
        "agentAlias":{"shape":"AgentAlias"}
      },
      "documentation":"<p>Create Agent Alias Response</p>"
    },
    "CreateAgentRequest":{
      "type":"structure",
      "required":[
        "agentName",
        "agentResourceRoleArn"
      ],
      "members":{
        "agentName":{"shape":"Name"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "instruction":{"shape":"Instruction"},
        "foundationModel":{"shape":"ModelIdentifier"},
        "description":{"shape":"Description"},
        "idleSessionTTLInSeconds":{"shape":"SessionTTL"},
        "agentResourceRoleArn":{"shape":"AgentRoleArn"},
        "customerEncryptionKeyArn":{"shape":"KmsKeyArn"},
        "tags":{"shape":"TagsMap"},
        "promptOverrideConfiguration":{"shape":"PromptOverrideConfiguration"}
      },
      "documentation":"<p>Create Agent Request</p>"
    },
    "CreateAgentResponse":{
      "type":"structure",
      "required":["agent"],
      "members":{
        "agent":{"shape":"Agent"}
      },
      "documentation":"<p>Create Agent Response</p>"
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "name",
        "dataSourceConfiguration"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"Name"},
        "description":{"shape":"Description"},
        "dataSourceConfiguration":{"shape":"DataSourceConfiguration"},
        "serverSideEncryptionConfiguration":{"shape":"ServerSideEncryptionConfiguration"},
        "vectorIngestionConfiguration":{"shape":"VectorIngestionConfiguration"}
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "required":["dataSource"],
      "members":{
        "dataSource":{"shape":"DataSource"}
      }
    },
    "CreateKnowledgeBaseRequest":{
      "type":"structure",
      "required":[
        "name",
        "roleArn",
        "knowledgeBaseConfiguration",
        "storageConfiguration"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"Name"},
        "description":{"shape":"Description"},
        "roleArn":{"shape":"KnowledgeBaseRoleArn"},
        "knowledgeBaseConfiguration":{"shape":"KnowledgeBaseConfiguration"},
        "storageConfiguration":{"shape":"StorageConfiguration"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateKnowledgeBaseResponse":{
      "type":"structure",
      "required":["knowledgeBase"],
      "members":{
        "knowledgeBase":{"shape":"KnowledgeBase"}
      }
    },
    "CreationMode":{
      "type":"string",
      "documentation":"<p>Creation Mode for Prompt Configuration.</p>",
      "enum":[
        "DEFAULT",
        "OVERRIDDEN"
      ]
    },
    "DataSource":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "name",
        "status",
        "dataSourceConfiguration",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "dataSourceId":{"shape":"Id"},
        "name":{"shape":"Name"},
        "status":{"shape":"DataSourceStatus"},
        "description":{"shape":"Description"},
        "dataSourceConfiguration":{"shape":"DataSourceConfiguration"},
        "serverSideEncryptionConfiguration":{"shape":"ServerSideEncryptionConfiguration"},
        "vectorIngestionConfiguration":{"shape":"VectorIngestionConfiguration"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Contains the information of a data source.</p>"
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"DataSourceType"},
        "s3Configuration":{"shape":"S3DataSourceConfiguration"}
      },
      "documentation":"<p>Specifies a raw data source location to ingest.</p>"
    },
    "DataSourceStatus":{
      "type":"string",
      "documentation":"<p>The status of a data source.</p>",
      "enum":[
        "AVAILABLE",
        "DELETING"
      ]
    },
    "DataSourceSummaries":{
      "type":"list",
      "member":{"shape":"DataSourceSummary"},
      "documentation":"<p>list of data source summaries</p>"
    },
    "DataSourceSummary":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "name",
        "status",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "dataSourceId":{"shape":"Id"},
        "name":{"shape":"Name"},
        "status":{"shape":"DataSourceStatus"},
        "description":{"shape":"Description"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary information of a data source.</p>"
    },
    "DataSourceType":{
      "type":"string",
      "documentation":"<p>The type of the data source location.</p>",
      "enum":["S3"]
    },
    "DateTimestamp":{
      "type":"timestamp",
      "documentation":"<p>Time Stamp.</p>",
      "timestampFormat":"iso8601"
    },
    "DeleteAgentActionGroupRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>Draft Version of the Agent.</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "actionGroupId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent ActionGroup is created</p>",
          "location":"uri",
          "locationName":"actionGroupId"
        },
        "skipResourceInUseCheck":{
          "shape":"Boolean",
          "documentation":"<p>Skips checking if resource is in use when set to true. Defaults to false</p>",
          "location":"querystring",
          "locationName":"skipResourceInUseCheck"
        }
      },
      "documentation":"<p>Delete Action Group Request</p>"
    },
    "DeleteAgentActionGroupResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Delete Action Group Response</p>"
    },
    "DeleteAgentAliasRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>Id generated at the server side when an Agent Alias is created</p>",
          "location":"uri",
          "locationName":"agentAliasId"
        }
      },
      "documentation":"<p>Delete Agent Alias Request</p>"
    },
    "DeleteAgentAliasResponse":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasId",
        "agentAliasStatus"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentAliasId":{"shape":"AgentAliasId"},
        "agentAliasStatus":{"shape":"AgentAliasStatus"}
      },
      "documentation":"<p>Delete Agent Alias Response</p>"
    },
    "DeleteAgentRequest":{
      "type":"structure",
      "required":["agentId"],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "skipResourceInUseCheck":{
          "shape":"Boolean",
          "documentation":"<p>Skips checking if resource is in use when set to true. Defaults to false</p>",
          "location":"querystring",
          "locationName":"skipResourceInUseCheck"
        }
      },
      "documentation":"<p>Delete Agent Request</p>"
    },
    "DeleteAgentResponse":{
      "type":"structure",
      "required":[
        "agentId",
        "agentStatus"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentStatus":{"shape":"AgentStatus"}
      },
      "documentation":"<p>Delete Agent Response</p>"
    },
    "DeleteAgentVersionRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"NumericalVersion",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "skipResourceInUseCheck":{
          "shape":"Boolean",
          "documentation":"<p>Skips checking if resource is in use when set to true. Defaults to false</p>",
          "location":"querystring",
          "locationName":"skipResourceInUseCheck"
        }
      },
      "documentation":"<p>Delete Agent Version Request</p>"
    },
    "DeleteAgentVersionResponse":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "agentStatus"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentVersion":{"shape":"NumericalVersion"},
        "agentStatus":{"shape":"AgentStatus"}
      },
      "documentation":"<p>Delete Agent Version Response</p>"
    },
    "DeleteDataSourceRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "dataSourceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"dataSourceId"
        }
      }
    },
    "DeleteDataSourceResponse":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "status"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "dataSourceId":{"shape":"Id"},
        "status":{"shape":"DataSourceStatus"}
      }
    },
    "DeleteKnowledgeBaseRequest":{
      "type":"structure",
      "required":["knowledgeBaseId"],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        }
      }
    },
    "DeleteKnowledgeBaseResponse":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "status"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "status":{"shape":"KnowledgeBaseStatus"}
      }
    },
    "Description":{
      "type":"string",
      "documentation":"<p>Description of the Resource.</p>",
      "max":200,
      "min":1
    },
    "DisassociateAgentKnowledgeBaseRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "knowledgeBaseId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>Draft Version of the Agent.</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "knowledgeBaseId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when a Knowledge Base is associated to an Agent</p>",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        }
      },
      "documentation":"<p>Disassociate Agent Knowledge Base Request</p>"
    },
    "DisassociateAgentKnowledgeBaseResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Disassociate Agent Knowledge Base Response</p>"
    },
    "DraftVersion":{
      "type":"string",
      "documentation":"<p>Draft Agent Version.</p>",
      "max":5,
      "min":5,
      "pattern":"DRAFT"
    },
    "FailureReason":{
      "type":"string",
      "documentation":"<p>Failure Reason for Error.</p>",
      "max":2048,
      "min":0
    },
    "FailureReasons":{
      "type":"list",
      "member":{"shape":"FailureReason"},
      "documentation":"<p>Failure Reasons for Error.</p>",
      "max":2048,
      "min":0
    },
    "FieldName":{
      "type":"string",
      "documentation":"<p>Name of the field</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "FixedSizeChunkingConfiguration":{
      "type":"structure",
      "required":[
        "maxTokens",
        "overlapPercentage"
      ],
      "members":{
        "maxTokens":{
          "shape":"FixedSizeChunkingConfigurationMaxTokensInteger",
          "documentation":"<p>The maximum number of tokens per chunk.</p>"
        },
        "overlapPercentage":{
          "shape":"FixedSizeChunkingConfigurationOverlapPercentageInteger",
          "documentation":"<p>The overlap percentage between adjacent chunks.</p>"
        }
      },
      "documentation":"<p>Configures fixed size chunking strategy</p>"
    },
    "FixedSizeChunkingConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "FixedSizeChunkingConfigurationOverlapPercentageInteger":{
      "type":"integer",
      "box":true,
      "max":99,
      "min":1
    },
    "GetAgentActionGroupRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>Version number generated when a version is created</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "actionGroupId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent Action Group is created</p>",
          "location":"uri",
          "locationName":"actionGroupId"
        }
      },
      "documentation":"<p>Get Action Group Request</p>"
    },
    "GetAgentActionGroupResponse":{
      "type":"structure",
      "required":["agentActionGroup"],
      "members":{
        "agentActionGroup":{"shape":"AgentActionGroup"}
      },
      "documentation":"<p>Get Action Group Response</p>"
    },
    "GetAgentAliasRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>Id generated at the server side when an Agent Alias is created</p>",
          "location":"uri",
          "locationName":"agentAliasId"
        }
      },
      "documentation":"<p>Get Agent Alias Request</p>"
    },
    "GetAgentAliasResponse":{
      "type":"structure",
      "required":["agentAlias"],
      "members":{
        "agentAlias":{"shape":"AgentAlias"}
      },
      "documentation":"<p>Get Agent Alias Response</p>"
    },
    "GetAgentKnowledgeBaseRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "knowledgeBaseId"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>Version number generated when a version is created</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "knowledgeBaseId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when a Knowledge Base is associated</p>",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        }
      },
      "documentation":"<p>Get Agent Knowledge Base Request</p>"
    },
    "GetAgentKnowledgeBaseResponse":{
      "type":"structure",
      "required":["agentKnowledgeBase"],
      "members":{
        "agentKnowledgeBase":{"shape":"AgentKnowledgeBase"}
      },
      "documentation":"<p>Get Agent Knowledge Base Response</p>"
    },
    "GetAgentRequest":{
      "type":"structure",
      "required":["agentId"],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        }
      },
      "documentation":"<p>Get Agent Request</p>"
    },
    "GetAgentResponse":{
      "type":"structure",
      "required":["agent"],
      "members":{
        "agent":{"shape":"Agent"}
      },
      "documentation":"<p>Get Agent Response</p>"
    },
    "GetAgentVersionRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"NumericalVersion",
          "location":"uri",
          "locationName":"agentVersion"
        }
      },
      "documentation":"<p>Get Agent Version Request</p>"
    },
    "GetAgentVersionResponse":{
      "type":"structure",
      "required":["agentVersion"],
      "members":{
        "agentVersion":{"shape":"AgentVersion"}
      },
      "documentation":"<p>Get Agent Version Response</p>"
    },
    "GetDataSourceRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "dataSourceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"dataSourceId"
        }
      }
    },
    "GetDataSourceResponse":{
      "type":"structure",
      "required":["dataSource"],
      "members":{
        "dataSource":{"shape":"DataSource"}
      }
    },
    "GetIngestionJobRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "ingestionJobId"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "dataSourceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"dataSourceId"
        },
        "ingestionJobId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"ingestionJobId"
        }
      }
    },
    "GetIngestionJobResponse":{
      "type":"structure",
      "required":["ingestionJob"],
      "members":{
        "ingestionJob":{"shape":"IngestionJob"}
      }
    },
    "GetKnowledgeBaseRequest":{
      "type":"structure",
      "required":["knowledgeBaseId"],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        }
      }
    },
    "GetKnowledgeBaseResponse":{
      "type":"structure",
      "required":["knowledgeBase"],
      "members":{
        "knowledgeBase":{"shape":"KnowledgeBase"}
      }
    },
    "Id":{
      "type":"string",
      "documentation":"<p>Identifier for a resource.</p>",
      "pattern":"[0-9a-zA-Z]{10}"
    },
    "InferenceConfiguration":{
      "type":"structure",
      "members":{
        "temperature":{"shape":"Temperature"},
        "topP":{"shape":"TopP"},
        "topK":{"shape":"TopK"},
        "maximumLength":{"shape":"MaximumLength"},
        "stopSequences":{"shape":"StopSequences"}
      },
      "documentation":"<p>Configuration for inference in prompt configuration</p>"
    },
    "IngestionJob":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "ingestionJobId",
        "status",
        "startedAt",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "dataSourceId":{"shape":"Id"},
        "ingestionJobId":{"shape":"Id"},
        "description":{"shape":"Description"},
        "status":{"shape":"IngestionJobStatus"},
        "statistics":{"shape":"IngestionJobStatistics"},
        "failureReasons":{"shape":"FailureReasons"},
        "startedAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Contains the information of an ingestion job.</p>"
    },
    "IngestionJobFilter":{
      "type":"structure",
      "required":[
        "attribute",
        "operator",
        "values"
      ],
      "members":{
        "attribute":{"shape":"IngestionJobFilterAttribute"},
        "operator":{"shape":"IngestionJobFilterOperator"},
        "values":{"shape":"IngestionJobFilterValues"}
      },
      "documentation":"<p>Filters the response returned by ListIngestionJobs operation.</p>"
    },
    "IngestionJobFilterAttribute":{
      "type":"string",
      "documentation":"<p>The name of the field to filter ingestion jobs.</p>",
      "enum":["STATUS"]
    },
    "IngestionJobFilterOperator":{
      "type":"string",
      "documentation":"<p>The operator used to filter ingestion jobs.</p>",
      "enum":["EQ"]
    },
    "IngestionJobFilterValue":{
      "type":"string",
      "documentation":"<p>The value used to filter ingestion jobs.</p>",
      "max":100,
      "min":0,
      "pattern":".*"
    },
    "IngestionJobFilterValues":{
      "type":"list",
      "member":{"shape":"IngestionJobFilterValue"},
      "documentation":"<p>The list of values used to filter ingestion jobs.</p>",
      "max":10,
      "min":0
    },
    "IngestionJobFilters":{
      "type":"list",
      "member":{"shape":"IngestionJobFilter"},
      "documentation":"<p>List of IngestionJobFilters</p>",
      "max":1,
      "min":1
    },
    "IngestionJobSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"IngestionJobSortByAttribute"},
        "order":{"shape":"SortOrder"}
      },
      "documentation":"<p>Sorts the response returned by ListIngestionJobs operation.</p>"
    },
    "IngestionJobSortByAttribute":{
      "type":"string",
      "documentation":"<p>The name of the field to sort ingestion jobs.</p>",
      "enum":[
        "STATUS",
        "STARTED_AT"
      ]
    },
    "IngestionJobStatistics":{
      "type":"structure",
      "members":{
        "numberOfDocumentsScanned":{
          "shape":"PrimitiveLong",
          "documentation":"<p>Number of scanned documents</p>"
        },
        "numberOfNewDocumentsIndexed":{
          "shape":"PrimitiveLong",
          "documentation":"<p>Number of indexed documents</p>"
        },
        "numberOfModifiedDocumentsIndexed":{
          "shape":"PrimitiveLong",
          "documentation":"<p>Number of modified documents indexed</p>"
        },
        "numberOfDocumentsDeleted":{
          "shape":"PrimitiveLong",
          "documentation":"<p>Number of deleted documents</p>"
        },
        "numberOfDocumentsFailed":{
          "shape":"PrimitiveLong",
          "documentation":"<p>Number of failed documents</p>"
        }
      },
      "documentation":"<p>The document level statistics of an ingestion job</p>"
    },
    "IngestionJobStatus":{
      "type":"string",
      "documentation":"<p>The status of an ingestion job.</p>",
      "enum":[
        "STARTING",
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ]
    },
    "IngestionJobSummaries":{
      "type":"list",
      "member":{"shape":"IngestionJobSummary"},
      "documentation":"<p>List of IngestionJobSummaries</p>"
    },
    "IngestionJobSummary":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId",
        "ingestionJobId",
        "status",
        "startedAt",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "dataSourceId":{"shape":"Id"},
        "ingestionJobId":{"shape":"Id"},
        "description":{"shape":"Description"},
        "status":{"shape":"IngestionJobStatus"},
        "startedAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "statistics":{"shape":"IngestionJobStatistics"}
      },
      "documentation":"<p>Summary information of an ingestion job.</p>"
    },
    "Instruction":{
      "type":"string",
      "documentation":"<p>Instruction for the agent.</p>",
      "max":1200,
      "min":40,
      "sensitive":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown if there was an unexpected error during processing of request</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KmsKeyArn":{
      "type":"string",
      "documentation":"<p>A KMS key ARN</p>",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}"
    },
    "KnowledgeBase":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "name",
        "knowledgeBaseArn",
        "roleArn",
        "knowledgeBaseConfiguration",
        "storageConfiguration",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "name":{"shape":"Name"},
        "knowledgeBaseArn":{"shape":"KnowledgeBaseArn"},
        "description":{"shape":"Description"},
        "roleArn":{"shape":"KnowledgeBaseRoleArn"},
        "knowledgeBaseConfiguration":{"shape":"KnowledgeBaseConfiguration"},
        "storageConfiguration":{"shape":"StorageConfiguration"},
        "status":{"shape":"KnowledgeBaseStatus"},
        "createdAt":{"shape":"DateTimestamp"},
        "updatedAt":{"shape":"DateTimestamp"},
        "failureReasons":{"shape":"FailureReasons"}
      },
      "documentation":"<p>Contains the information of a knowledge base.</p>"
    },
    "KnowledgeBaseArn":{
      "type":"string",
      "documentation":"<p>ARN of a KnowledgeBase</p>",
      "max":128,
      "min":0,
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:knowledge-base/[0-9a-zA-Z]+"
    },
    "KnowledgeBaseConfiguration":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"KnowledgeBaseType"},
        "vectorKnowledgeBaseConfiguration":{"shape":"VectorKnowledgeBaseConfiguration"}
      },
      "documentation":"<p>Configures a bedrock knowledge base.</p>"
    },
    "KnowledgeBaseRoleArn":{
      "type":"string",
      "documentation":"<p>ARN of a IAM role.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/(service-role/)?AmazonBedrockExecutionRoleForKnowledgeBase.+"
    },
    "KnowledgeBaseState":{
      "type":"string",
      "documentation":"<p>State of the knowledge base; whether it is enabled or disabled</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "KnowledgeBaseStatus":{
      "type":"string",
      "documentation":"<p>The status of a knowledge base.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "UPDATING",
        "FAILED"
      ]
    },
    "KnowledgeBaseStorageType":{
      "type":"string",
      "documentation":"<p>The storage type of a knowledge base.</p>",
      "enum":[
        "OPENSEARCH_SERVERLESS",
        "PINECONE",
        "REDIS_ENTERPRISE_CLOUD",
        "RDS"
      ]
    },
    "KnowledgeBaseSummaries":{
      "type":"list",
      "member":{"shape":"KnowledgeBaseSummary"},
      "documentation":"<p>List of KnowledgeBaseSummaries</p>"
    },
    "KnowledgeBaseSummary":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "name",
        "status",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{"shape":"Id"},
        "name":{"shape":"Name"},
        "description":{"shape":"Description"},
        "status":{"shape":"KnowledgeBaseStatus"},
        "updatedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary information of a knowledge base.</p>"
    },
    "KnowledgeBaseType":{
      "type":"string",
      "documentation":"<p>The type of a knowledge base.</p>",
      "enum":["VECTOR"]
    },
    "LambdaArn":{
      "type":"string",
      "documentation":"<p>ARN of a Lambda.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_\\.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "ListAgentActionGroupsRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is Listed</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>Id generated at the server side when an Agent is Listed</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Action Groups Request</p>"
    },
    "ListAgentActionGroupsResponse":{
      "type":"structure",
      "required":["actionGroupSummaries"],
      "members":{
        "actionGroupSummaries":{"shape":"ActionGroupSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Action Groups Response</p>"
    },
    "ListAgentAliasesRequest":{
      "type":"structure",
      "required":["agentId"],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Aliases Request</p>"
    },
    "ListAgentAliasesResponse":{
      "type":"structure",
      "required":["agentAliasSummaries"],
      "members":{
        "agentAliasSummaries":{"shape":"AgentAliasSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Aliases Response</p>"
    },
    "ListAgentKnowledgeBasesRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>Version number generated when a version is created</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Knowledge Bases Request</p>"
    },
    "ListAgentKnowledgeBasesResponse":{
      "type":"structure",
      "required":["agentKnowledgeBaseSummaries"],
      "members":{
        "agentKnowledgeBaseSummaries":{"shape":"AgentKnowledgeBaseSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Knowledge Bases Response</p>"
    },
    "ListAgentVersionsRequest":{
      "type":"structure",
      "required":["agentId"],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Versions Request</p>"
    },
    "ListAgentVersionsResponse":{
      "type":"structure",
      "required":["agentVersionSummaries"],
      "members":{
        "agentVersionSummaries":{"shape":"AgentVersionSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Versions Response</p>"
    },
    "ListAgentsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Request</p>"
    },
    "ListAgentsResponse":{
      "type":"structure",
      "required":["agentSummaries"],
      "members":{
        "agentSummaries":{"shape":"AgentSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Agent Response</p>"
    },
    "ListDataSourcesRequest":{
      "type":"structure",
      "required":["knowledgeBaseId"],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListDataSourcesResponse":{
      "type":"structure",
      "required":["dataSourceSummaries"],
      "members":{
        "dataSourceSummaries":{"shape":"DataSourceSummaries"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListIngestionJobsRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "dataSourceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"dataSourceId"
        },
        "filters":{"shape":"IngestionJobFilters"},
        "sortBy":{"shape":"IngestionJobSortBy"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListIngestionJobsResponse":{
      "type":"structure",
      "required":["ingestionJobSummaries"],
      "members":{
        "ingestionJobSummaries":{"shape":"IngestionJobSummaries"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListKnowledgeBasesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListKnowledgeBasesResponse":{
      "type":"structure",
      "required":["knowledgeBaseSummaries"],
      "members":{
        "knowledgeBaseSummaries":{"shape":"KnowledgeBaseSummaries"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"TaggableResourcesArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagsMap"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"<p>Max Results.</p>",
      "box":true,
      "max":1000,
      "min":1
    },
    "MaximumLength":{
      "type":"integer",
      "documentation":"<p>Maximum length of output</p>",
      "box":true,
      "max":4096,
      "min":0
    },
    "ModelIdentifier":{
      "type":"string",
      "documentation":"<p>ARN or name of a Bedrock model.</p>",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(([:][a-z0-9-]{1,63}){0,2})?/[a-z0-9]{12})|(:foundation-model/([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.]?[a-z0-9-]{1,63})([:][a-z0-9-]{1,63}){0,2})))|(([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.]?[a-z0-9-]{1,63})([:][a-z0-9-]{1,63}){0,2}))|(([0-9a-zA-Z][_-]?)+)"
    },
    "Name":{
      "type":"string",
      "documentation":"<p>Name for a resource.</p>",
      "pattern":"([0-9a-zA-Z][_-]?){1,100}"
    },
    "NextToken":{
      "type":"string",
      "documentation":"<p>Opaque continuation token of previous paginated response.</p>",
      "max":2048,
      "min":1,
      "pattern":"\\S*"
    },
    "NonBlankString":{
      "type":"string",
      "documentation":"<p>Non Blank String</p>",
      "pattern":"[\\s\\S]+"
    },
    "NumericalVersion":{
      "type":"string",
      "documentation":"<p>Numerical Agent Version.</p>",
      "pattern":"[0-9]{1,5}"
    },
    "OpenSearchServerlessCollectionArn":{
      "type":"string",
      "documentation":"<p>Arn of an OpenSearch Serverless collection.</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws:aoss:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:collection/[a-z0-9-]{3,32}"
    },
    "OpenSearchServerlessConfiguration":{
      "type":"structure",
      "required":[
        "collectionArn",
        "vectorIndexName",
        "fieldMapping"
      ],
      "members":{
        "collectionArn":{"shape":"OpenSearchServerlessCollectionArn"},
        "vectorIndexName":{"shape":"OpenSearchServerlessIndexName"},
        "fieldMapping":{"shape":"OpenSearchServerlessFieldMapping"}
      },
      "documentation":"<p>Contains the configurations to use OpenSearch Serverless to store knowledge base data.</p>"
    },
    "OpenSearchServerlessFieldMapping":{
      "type":"structure",
      "required":[
        "vectorField",
        "textField",
        "metadataField"
      ],
      "members":{
        "vectorField":{"shape":"FieldName"},
        "textField":{"shape":"FieldName"},
        "metadataField":{"shape":"FieldName"}
      },
      "documentation":"<p>A mapping of Bedrock Knowledge Base fields to OpenSearch Serverless field names</p>"
    },
    "OpenSearchServerlessIndexName":{
      "type":"string",
      "documentation":"<p>Arn of an OpenSearch Serverless index.</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "Payload":{
      "type":"string",
      "documentation":"<p>String OpenAPI Payload</p>",
      "sensitive":true
    },
    "PineconeConfiguration":{
      "type":"structure",
      "required":[
        "connectionString",
        "credentialsSecretArn",
        "fieldMapping"
      ],
      "members":{
        "connectionString":{"shape":"PineconeConnectionString"},
        "credentialsSecretArn":{"shape":"SecretArn"},
        "namespace":{"shape":"PineconeNamespace"},
        "fieldMapping":{"shape":"PineconeFieldMapping"}
      },
      "documentation":"<p>Contains the configurations to use Pinecone to store knowledge base data.</p>"
    },
    "PineconeConnectionString":{
      "type":"string",
      "documentation":"<p>Pinecone connection string</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "PineconeFieldMapping":{
      "type":"structure",
      "required":[
        "textField",
        "metadataField"
      ],
      "members":{
        "textField":{"shape":"FieldName"},
        "metadataField":{"shape":"FieldName"}
      },
      "documentation":"<p>A mapping of Bedrock Knowledge Base fields to Pinecone field names</p>"
    },
    "PineconeNamespace":{
      "type":"string",
      "documentation":"<p>Pinecone namespace</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "PrepareAgentRequest":{
      "type":"structure",
      "required":["agentId"],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        }
      },
      "documentation":"<p>PrepareAgent Request</p>"
    },
    "PrepareAgentResponse":{
      "type":"structure",
      "required":[
        "agentId",
        "agentStatus",
        "agentVersion",
        "preparedAt"
      ],
      "members":{
        "agentId":{"shape":"Id"},
        "agentStatus":{"shape":"AgentStatus"},
        "agentVersion":{"shape":"Version"},
        "preparedAt":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>PrepareAgent Response</p>"
    },
    "PrimitiveLong":{"type":"long"},
    "PromptConfiguration":{
      "type":"structure",
      "members":{
        "promptType":{"shape":"PromptType"},
        "promptCreationMode":{"shape":"CreationMode"},
        "promptState":{"shape":"PromptState"},
        "basePromptTemplate":{"shape":"BasePromptTemplate"},
        "inferenceConfiguration":{"shape":"InferenceConfiguration"},
        "parserMode":{"shape":"CreationMode"}
      },
      "documentation":"<p>BasePromptConfiguration per Prompt Type.</p>"
    },
    "PromptConfigurations":{
      "type":"list",
      "member":{"shape":"PromptConfiguration"},
      "documentation":"<p>List of BasePromptConfiguration</p>",
      "max":10,
      "min":0
    },
    "PromptOverrideConfiguration":{
      "type":"structure",
      "required":["promptConfigurations"],
      "members":{
        "promptConfigurations":{"shape":"PromptConfigurations"},
        "overrideLambda":{"shape":"LambdaArn"}
      },
      "documentation":"<p>Configuration for prompt override.</p>",
      "sensitive":true
    },
    "PromptState":{
      "type":"string",
      "documentation":"<p>Prompt State.</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "PromptType":{
      "type":"string",
      "documentation":"<p>Prompt Type.</p>",
      "enum":[
        "PRE_PROCESSING",
        "ORCHESTRATION",
        "POST_PROCESSING",
        "KNOWLEDGE_BASE_RESPONSE_GENERATION"
      ]
    },
    "RdsArn":{
      "type":"string",
      "documentation":"<p>Arn of a RDS Resource.</p>",
      "pattern":"arn:aws(|-cn|-us-gov):rds:[a-zA-Z0-9-]*:[0-9]{12}:cluster:[a-zA-Z0-9-]{1,63}"
    },
    "RdsConfiguration":{
      "type":"structure",
      "required":[
        "resourceArn",
        "credentialsSecretArn",
        "databaseName",
        "tableName",
        "fieldMapping"
      ],
      "members":{
        "resourceArn":{"shape":"RdsArn"},
        "credentialsSecretArn":{"shape":"SecretArn"},
        "databaseName":{"shape":"RdsDatabaseName"},
        "tableName":{"shape":"RdsTableName"},
        "fieldMapping":{"shape":"RdsFieldMapping"}
      },
      "documentation":"<p>Contains the configurations to use RDS to store knowledge base data.</p>"
    },
    "RdsDatabaseName":{
      "type":"string",
      "documentation":"<p>Name of the database within RDS</p>",
      "max":63,
      "min":0,
      "pattern":"[a-zA-Z0-9_\\-]+"
    },
    "RdsFieldMapping":{
      "type":"structure",
      "required":[
        "primaryKeyField",
        "vectorField",
        "textField",
        "metadataField"
      ],
      "members":{
        "primaryKeyField":{"shape":"ColumnName"},
        "vectorField":{"shape":"ColumnName"},
        "textField":{"shape":"ColumnName"},
        "metadataField":{"shape":"ColumnName"}
      },
      "documentation":"<p>A mapping of Bedrock Knowledge Base fields to RDS column names</p>"
    },
    "RdsTableName":{
      "type":"string",
      "documentation":"<p>Name of the table within RDS</p>",
      "max":63,
      "min":0,
      "pattern":"[a-zA-Z0-9_\\.\\-]+"
    },
    "RecommendedAction":{
      "type":"string",
      "documentation":"<p>The recommended action users can take to resolve an error in failureReasons.</p>",
      "max":2048,
      "min":0
    },
    "RecommendedActions":{
      "type":"list",
      "member":{"shape":"RecommendedAction"},
      "documentation":"<p>The recommended actions users can take to resolve an error in failureReasons.</p>",
      "max":2048,
      "min":0
    },
    "RedisEnterpriseCloudConfiguration":{
      "type":"structure",
      "required":[
        "endpoint",
        "vectorIndexName",
        "credentialsSecretArn",
        "fieldMapping"
      ],
      "members":{
        "endpoint":{"shape":"RedisEnterpriseCloudEndpoint"},
        "vectorIndexName":{"shape":"RedisEnterpriseCloudIndexName"},
        "credentialsSecretArn":{"shape":"SecretArn"},
        "fieldMapping":{"shape":"RedisEnterpriseCloudFieldMapping"}
      },
      "documentation":"<p>Contains the configurations to use Redis Enterprise Cloud to store knowledge base data.</p>"
    },
    "RedisEnterpriseCloudEndpoint":{
      "type":"string",
      "documentation":"<p>Redis enterprise cloud endpoint</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "RedisEnterpriseCloudFieldMapping":{
      "type":"structure",
      "required":[
        "vectorField",
        "textField",
        "metadataField"
      ],
      "members":{
        "vectorField":{"shape":"FieldName"},
        "textField":{"shape":"FieldName"},
        "metadataField":{"shape":"FieldName"}
      },
      "documentation":"<p>A mapping of Bedrock Knowledge Base fields to Redis Cloud field names</p>"
    },
    "RedisEnterpriseCloudIndexName":{
      "type":"string",
      "documentation":"<p>Name of a redis enterprise cloud index</p>",
      "max":2048,
      "min":0,
      "pattern":".*"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "S3BucketArn":{
      "type":"string",
      "documentation":"<p>A S3 bucket ARN</p>",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):s3:::[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]"
    },
    "S3BucketName":{
      "type":"string",
      "documentation":"<p>A bucket in S3.</p>",
      "max":63,
      "min":3,
      "pattern":"[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
    },
    "S3DataSourceConfiguration":{
      "type":"structure",
      "required":["bucketArn"],
      "members":{
        "bucketArn":{"shape":"S3BucketArn"},
        "inclusionPrefixes":{"shape":"S3Prefixes"}
      },
      "documentation":"<p>Configures an S3 data source location.</p>"
    },
    "S3Identifier":{
      "type":"structure",
      "members":{
        "s3BucketName":{"shape":"S3BucketName"},
        "s3ObjectKey":{"shape":"S3ObjectKey"}
      },
      "documentation":"<p>The identifier for the S3 resource.</p>"
    },
    "S3ObjectKey":{
      "type":"string",
      "documentation":"<p>A object key in S3.</p>",
      "max":1024,
      "min":1,
      "pattern":"[\\.\\-\\!\\*\\_\\'\\(\\)a-zA-Z0-9][\\.\\-\\!\\*\\_\\'\\(\\)\\/a-zA-Z0-9]*"
    },
    "S3Prefix":{
      "type":"string",
      "documentation":"<p>Prefix for s3 object.</p>",
      "max":300,
      "min":1
    },
    "S3Prefixes":{
      "type":"list",
      "member":{"shape":"S3Prefix"},
      "documentation":"<p>A list of S3 prefixes.</p>",
      "max":1,
      "min":1
    },
    "SecretArn":{
      "type":"string",
      "documentation":"<p>Arn of a SecretsManager Secret.</p>",
      "pattern":"arn:aws(|-cn|-us-gov):secretsmanager:[a-z0-9-]{1,20}:([0-9]{12}|):secret:[a-zA-Z0-9!/_+=.@-]{1,512}"
    },
    "ServerSideEncryptionConfiguration":{
      "type":"structure",
      "members":{
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      },
      "documentation":"<p>Server-side encryption configuration.</p>"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is made beyond the service quota</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SessionTTL":{
      "type":"integer",
      "documentation":"<p>Max Session Time.</p>",
      "box":true,
      "max":3600,
      "min":60
    },
    "SortOrder":{
      "type":"string",
      "documentation":"<p>Order to sort results by.</p>",
      "enum":[
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "StartIngestionJobRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "dataSourceId"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "dataSourceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"dataSourceId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"Description"}
      }
    },
    "StartIngestionJobResponse":{
      "type":"structure",
      "required":["ingestionJob"],
      "members":{
        "ingestionJob":{"shape":"IngestionJob"}
      }
    },
    "StopSequences":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<p>List of stop sequences</p>",
      "max":4,
      "min":0
    },
    "StorageConfiguration":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"KnowledgeBaseStorageType"},
        "opensearchServerlessConfiguration":{"shape":"OpenSearchServerlessConfiguration"},
        "pineconeConfiguration":{"shape":"PineconeConfiguration"},
        "redisEnterpriseCloudConfiguration":{"shape":"RedisEnterpriseCloudConfiguration"},
        "rdsConfiguration":{"shape":"RdsConfiguration"}
      },
      "documentation":"<p>Configures the physical storage of ingested data in a knowledge base.</p>"
    },
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "documentation":"<p>Key of a tag</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "documentation":"<p>List of Tag Keys</p>",
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"TaggableResourcesArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{"shape":"TagsMap"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "documentation":"<p>Value of a tag</p>",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TaggableResourcesArn":{
      "type":"string",
      "documentation":"<p>ARN of Taggable resources: [Agent, AgentAlias, Knowledge-Base]</p>",
      "max":1011,
      "min":20,
      "pattern":".*(^arn:aws:bedrock:[a-zA-Z0-9-]+:/d{12}:(agent|agent-alias|knowledge-base)/[A-Z0-9]{10}(?:/[A-Z0-9]{10})?$).*"
    },
    "TagsMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "documentation":"<p>A map of tag keys and values</p>"
    },
    "Temperature":{
      "type":"float",
      "documentation":"<p>Controls randomness, higher values increase diversity</p>",
      "box":true,
      "max":1,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the number of requests exceeds the limit</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "TopK":{
      "type":"integer",
      "documentation":"<p>Sample from the k most likely next tokens</p>",
      "box":true,
      "max":500,
      "min":0
    },
    "TopP":{
      "type":"float",
      "documentation":"<p>Cumulative probability cutoff for token selection</p>",
      "box":true,
      "max":1,
      "min":0
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"TaggableResourcesArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateAgentActionGroupRequest":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupId",
        "actionGroupName"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Agent is created</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>Draft Version of the Agent.</p>",
          "location":"uri",
          "locationName":"agentVersion"
        },
        "actionGroupId":{
          "shape":"Id",
          "documentation":"<p>Id generated at the server side when an Action Group is created under Agent</p>",
          "location":"uri",
          "locationName":"actionGroupId"
        },
        "actionGroupName":{"shape":"Name"},
        "description":{"shape":"Description"},
        "parentActionGroupSignature":{"shape":"ActionGroupSignature"},
        "actionGroupExecutor":{"shape":"ActionGroupExecutor"},
        "actionGroupState":{"shape":"ActionGroupState"},
        "apiSchema":{"shape":"APISchema"}
      },
      "documentation":"<p>Update Action Group Request</p>"
    },
    "UpdateAgentActionGroupResponse":{
[...]
