{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"controltower",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS Control Tower",
    "serviceId":"ControlTower",
    "signatureVersion":"v4",
    "signingName":"controltower",
    "uid":"controltower-2018-05-10"
  },
  "operations":{
    "CreateLandingZone":{
      "name":"CreateLandingZone",
      "http":{
        "method":"POST",
        "requestUri":"/create-landingzone",
        "responseCode":200
      },
      "input":{"shape":"CreateLandingZoneInput"},
      "output":{"shape":"CreateLandingZoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new landing zone. This API call starts an asynchronous operation that creates and configures a landing zone, based on the parameters specified in the manifest JSON file.</p>"
    },
    "DeleteLandingZone":{
      "name":"DeleteLandingZone",
      "http":{
        "method":"POST",
        "requestUri":"/delete-landingzone",
        "responseCode":200
      },
      "input":{"shape":"DeleteLandingZoneInput"},
      "output":{"shape":"DeleteLandingZoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Decommissions a landing zone. This API call starts an asynchronous operation that deletes Amazon Web Services Control Tower resources deployed in accounts managed by Amazon Web Services Control Tower.</p>",
      "idempotent":true
    },
    "DisableControl":{
      "name":"DisableControl",
      "http":{
        "method":"POST",
        "requestUri":"/disable-control",
        "responseCode":200
      },
      "input":{"shape":"DisableControlInput"},
      "output":{"shape":"DisableControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This API call turns off a control. It starts an asynchronous operation that deletes Amazon Web Services resources on the specified organizational unit and the accounts it contains. The resources will vary according to the control that you specify. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "EnableControl":{
      "name":"EnableControl",
      "http":{
        "method":"POST",
        "requestUri":"/enable-control",
        "responseCode":200
      },
      "input":{"shape":"EnableControlInput"},
      "output":{"shape":"EnableControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This API call activates a control. It starts an asynchronous operation that creates Amazon Web Services resources on the specified organizational unit and the accounts it contains. The resources created will vary according to the control that you specify. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "GetControlOperation":{
      "name":"GetControlOperation",
      "http":{
        "method":"POST",
        "requestUri":"/get-control-operation",
        "responseCode":200
      },
      "input":{"shape":"GetControlOperationInput"},
      "output":{"shape":"GetControlOperationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the status of a particular <code>EnableControl</code> or <code>DisableControl</code> operation. Displays a message in case of error. Details for an operation are available for 90 days. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "GetEnabledControl":{
      "name":"GetEnabledControl",
      "http":{
        "method":"POST",
        "requestUri":"/get-enabled-control",
        "responseCode":200
      },
      "input":{"shape":"GetEnabledControlInput"},
      "output":{"shape":"GetEnabledControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves details about an enabled control. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "GetLandingZone":{
      "name":"GetLandingZone",
      "http":{
        "method":"POST",
        "requestUri":"/get-landingzone",
        "responseCode":200
      },
      "input":{"shape":"GetLandingZoneInput"},
      "output":{"shape":"GetLandingZoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns details about the landing zone. Displays a message in case of error.</p>"
    },
    "GetLandingZoneOperation":{
      "name":"GetLandingZoneOperation",
      "http":{
        "method":"POST",
        "requestUri":"/get-landingzone-operation",
        "responseCode":200
      },
      "input":{"shape":"GetLandingZoneOperationInput"},
      "output":{"shape":"GetLandingZoneOperationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the status of the specified landing zone operation. Details for an operation are available for 60 days.</p>"
    },
    "ListEnabledControls":{
      "name":"ListEnabledControls",
      "http":{
        "method":"POST",
        "requestUri":"/list-enabled-controls",
        "responseCode":200
      },
      "input":{"shape":"ListEnabledControlsInput"},
      "output":{"shape":"ListEnabledControlsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the controls enabled by Amazon Web Services Control Tower on the specified organizational unit and the accounts it contains. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "ListLandingZones":{
      "name":"ListLandingZones",
      "http":{
        "method":"POST",
        "requestUri":"/list-landingzones",
        "responseCode":200
      },
      "input":{"shape":"ListLandingZonesInput"},
      "output":{"shape":"ListLandingZonesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the landing zone ARN for the landing zone deployed in your managed account. This API also creates an ARN for existing accounts that do not yet have a landing zone ARN. </p> <p>Returns one landing zone ARN.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of tags associated with the resource. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "ResetLandingZone":{
      "name":"ResetLandingZone",
      "http":{
        "method":"POST",
        "requestUri":"/reset-landingzone",
        "responseCode":200
      },
      "input":{"shape":"ResetLandingZoneInput"},
      "output":{"shape":"ResetLandingZoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This API call resets a landing zone. It starts an asynchronous operation that resets the landing zone to the parameters specified in its original configuration.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Applies tags to a resource. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes tags from a resource. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>"
    },
    "UpdateEnabledControl":{
      "name":"UpdateEnabledControl",
      "http":{
        "method":"POST",
        "requestUri":"/update-enabled-control",
        "responseCode":200
      },
      "input":{"shape":"UpdateEnabledControlInput"},
      "output":{"shape":"UpdateEnabledControlOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Updates the configuration of an already enabled control.</p> <p>If the enabled control shows an <code>EnablementStatus</code> of SUCCEEDED, supply parameters that are different from the currently configured parameters. Otherwise, Amazon Web Services Control Tower will not accept the request.</p> <p>If the enabled control shows an <code>EnablementStatus</code> of FAILED, Amazon Web Services Control Tower will update the control to match any valid parameters that you supply.</p> <p>If the <code>DriftSummary</code> status for the control shows as DRIFTED, you cannot call this API. Instead, you can update the control by calling <code>DisableControl</code> and again calling <code>EnableControl</code>, or you can run an extending governance operation. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a> </p>"
    },
    "UpdateLandingZone":{
      "name":"UpdateLandingZone",
      "http":{
        "method":"POST",
        "requestUri":"/update-landingzone",
        "responseCode":200
      },
      "input":{"shape":"UpdateLandingZoneInput"},
      "output":{"shape":"UpdateLandingZoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This API call updates the landing zone. It starts an asynchronous operation that updates the landing zone based on the new landing zone version, or on the changed parameters specified in the updated manifest file. </p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Updating or deleting the resource can cause an inconsistent state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ControlIdentifier":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
    },
    "ControlOperation":{
      "type":"structure",
      "members":{
        "endTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time that the operation finished.</p>"
        },
        "operationType":{
          "shape":"ControlOperationType",
          "documentation":"<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>"
        },
        "startTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time that the operation began.</p>"
        },
        "status":{
          "shape":"ControlOperationStatus",
          "documentation":"<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>"
        }
      },
      "documentation":"<p>An operation performed by the control.</p>"
    },
    "ControlOperationStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "IN_PROGRESS"
      ]
    },
    "ControlOperationType":{
      "type":"string",
      "enum":[
        "ENABLE_CONTROL",
        "DISABLE_CONTROL",
        "UPDATE_ENABLED_CONTROL"
      ]
    },
    "CreateLandingZoneInput":{
      "type":"structure",
      "required":[
        "manifest",
        "version"
      ],
      "members":{
        "manifest":{
          "shape":"Manifest",
          "documentation":"<p>The manifest JSON file is a text file that describes your Amazon Web Services resources. For examples, review <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/lz-api-launch\">Launch your landing zone</a>. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags to be applied to the landing zone. </p>"
        },
        "version":{
          "shape":"LandingZoneVersion",
          "documentation":"<p>The landing zone version, for example, 3.0.</p>"
        }
      }
    },
    "CreateLandingZoneOutput":{
      "type":"structure",
      "required":[
        "arn",
        "operationIdentifier"
      ],
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the landing zone resource.</p>"
        },
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>A unique identifier assigned to a <code>CreateLandingZone</code> operation. You can use this identifier as an input of <code>GetLandingZoneOperation</code> to check the operation's status.</p>"
        }
      }
    },
    "DeleteLandingZoneInput":{
      "type":"structure",
      "required":["landingZoneIdentifier"],
      "members":{
        "landingZoneIdentifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the landing zone.</p>"
        }
      }
    },
    "DeleteLandingZoneOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>&gt;A unique identifier assigned to a <code>DeleteLandingZone</code> operation. You can use this identifier as an input parameter of <code>GetLandingZoneOperation</code> to check the operation's status.</p>"
        }
      }
    },
    "DisableControlInput":{
      "type":"structure",
      "required":[
        "controlIdentifier",
        "targetIdentifier"
      ],
      "members":{
        "controlIdentifier":{
          "shape":"ControlIdentifier",
          "documentation":"<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>landing zone Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        },
        "targetIdentifier":{
          "shape":"TargetIdentifier",
          "documentation":"<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        }
      }
    },
    "DisableControlOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>"
        }
      }
    },
    "Document":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "DriftStatus":{
      "type":"string",
      "enum":[
        "DRIFTED",
        "IN_SYNC",
        "NOT_CHECKING",
        "UNKNOWN"
      ]
    },
    "DriftStatusSummary":{
      "type":"structure",
      "members":{
        "driftStatus":{
          "shape":"DriftStatus",
          "documentation":"<p> The drift status of the enabled control.</p> <p>Valid values:</p> <ul> <li> <p> <code>DRIFTED</code>: The <code>enabledControl</code> deployed in this configuration doesn’t match the configuration that Amazon Web Services Control Tower expected. </p> </li> <li> <p> <code>IN_SYNC</code>: The <code>enabledControl</code> deployed in this configuration matches the configuration that Amazon Web Services Control Tower expected.</p> </li> <li> <p> <code>NOT_CHECKING</code>: Amazon Web Services Control Tower does not check drift for this enabled control. Drift is not supported for the control type.</p> </li> <li> <p> <code>UNKNOWN</code>: Amazon Web Services Control Tower is not able to check the drift status for the enabled control. </p> </li> </ul>"
        }
      },
      "documentation":"<p>The drift summary of the enabled control.</p> <p>Amazon Web Services Control Tower expects the enabled control configuration to include all supported and governed Regions. If the enabled control differs from the expected configuration, it is defined to be in a state of drift. You can repair this drift by resetting the enabled control.</p>"
    },
    "EnableControlInput":{
      "type":"structure",
      "required":[
        "controlIdentifier",
        "targetIdentifier"
      ],
      "members":{
        "controlIdentifier":{
          "shape":"ControlIdentifier",
          "documentation":"<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>landing zone Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        },
        "parameters":{
          "shape":"EnabledControlParameters",
          "documentation":"<p>An array of <code>EnabledControlParameter</code> objects</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags to be applied to the <code>EnabledControl</code> resource.</p>"
        },
        "targetIdentifier":{
          "shape":"TargetIdentifier",
          "documentation":"<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        }
      }
    },
    "EnableControlOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the <code>EnabledControl</code> resource.</p>"
        },
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>"
        }
      }
    },
    "EnabledControlDetails":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the enabled control.</p>"
        },
        "controlIdentifier":{
          "shape":"ControlIdentifier",
          "documentation":"<p>The control identifier of the enabled control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        },
        "driftStatusSummary":{
          "shape":"DriftStatusSummary",
          "documentation":"<p>The drift status of the enabled control.</p>"
        },
        "parameters":{
          "shape":"EnabledControlParameterSummaries",
          "documentation":"<p>Array of <code>EnabledControlParameter</code> objects.</p>"
        },
        "statusSummary":{
          "shape":"EnablementStatusSummary",
          "documentation":"<p>The deployment summary of the enabled control.</p>"
        },
        "targetIdentifier":{
          "shape":"TargetIdentifier",
          "documentation":"<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        },
        "targetRegions":{
          "shape":"TargetRegions",
          "documentation":"<p>Target Amazon Web Services Regions for the enabled control.</p>"
        }
      },
      "documentation":"<p>Information about the enabled control.</p>"
    },
    "EnabledControlParameter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"String",
          "documentation":"<p>The key of a key/value pair. It is of type <code>string</code>.</p>"
        },
        "value":{
          "shape":"Document",
          "documentation":"<p>The value of a key/value pair. It can be of type <code>array</code> <code>string</code>, <code>number</code>, <code>object</code>, or <code>boolean</code>. </p>"
        }
      },
      "documentation":"<p> A set of parameters that configure the behavior of the enabled control. A key/value pair, where <code>Key</code> is of type <code>String</code> and <code>Value</code> is of type <code>Document</code>.</p>"
    },
    "EnabledControlParameterSummaries":{
      "type":"list",
      "member":{"shape":"EnabledControlParameterSummary"}
    },
    "EnabledControlParameterSummary":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"String",
          "documentation":"<p>The key of a key/value pair.</p>"
        },
        "value":{
          "shape":"Document",
          "documentation":"<p>The value of a key/value pair.</p>"
        }
      },
      "documentation":"<p>Returns a summary of information about the parameters of an enabled control.</p>"
    },
    "EnabledControlParameters":{
      "type":"list",
      "member":{"shape":"EnabledControlParameter"}
    },
    "EnabledControlSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the enabled control.</p>"
        },
        "controlIdentifier":{
          "shape":"ControlIdentifier",
          "documentation":"<p>The <code>controlIdentifier</code> of the enabled control.</p>"
        },
        "driftStatusSummary":{
          "shape":"DriftStatusSummary",
          "documentation":"<p>The drift status of the enabled control.</p>"
        },
        "statusSummary":{
          "shape":"EnablementStatusSummary",
          "documentation":"<p>A short description of the status of the enabled control.</p>"
        },
        "targetIdentifier":{
          "shape":"TargetIdentifier",
          "documentation":"<p>The ARN of the organizational unit.</p>"
        }
      },
      "documentation":"<p>Returns a summary of information about an enabled control.</p>"
    },
    "EnabledControls":{
      "type":"list",
      "member":{"shape":"EnabledControlSummary"}
    },
    "EnablementStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "UNDER_CHANGE"
      ]
    },
    "EnablementStatusSummary":{
      "type":"structure",
      "members":{
        "lastOperationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>The last operation identifier for the enabled control.</p>"
        },
        "status":{
          "shape":"EnablementStatus",
          "documentation":"<p> The deployment status of the enabled control.</p> <p>Valid values:</p> <ul> <li> <p> <code>SUCCEEDED</code>: The <code>enabledControl</code> configuration was deployed successfully.</p> </li> <li> <p> <code>UNDER_CHANGE</code>: The <code>enabledControl</code> configuration is changing. </p> </li> <li> <p> <code>FAILED</code>: The <code>enabledControl</code> configuration failed to deploy.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The deployment summary of the enabled control.</p>"
    },
    "GetControlOperationInput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>"
        }
      }
    },
    "GetControlOperationOutput":{
      "type":"structure",
      "required":["controlOperation"],
      "members":{
        "controlOperation":{
          "shape":"ControlOperation",
          "documentation":"<p>An operation performed by the control.</p>"
        }
      }
    },
    "GetEnabledControlInput":{
      "type":"structure",
      "required":["enabledControlIdentifier"],
      "members":{
        "enabledControlIdentifier":{
          "shape":"Arn",
          "documentation":"<p>The <code>controlIdentifier</code> of the enabled control.</p>"
        }
      }
    },
    "GetEnabledControlOutput":{
      "type":"structure",
      "required":["enabledControlDetails"],
      "members":{
        "enabledControlDetails":{
          "shape":"EnabledControlDetails",
          "documentation":"<p>Information about the enabled control.</p>"
        }
      }
    },
    "GetLandingZoneInput":{
      "type":"structure",
      "required":["landingZoneIdentifier"],
      "members":{
        "landingZoneIdentifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the landing zone.</p>"
        }
      }
    },
    "GetLandingZoneOperationInput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>A unique identifier assigned to a landing zone operation.</p>"
        }
      }
    },
    "GetLandingZoneOperationOutput":{
      "type":"structure",
      "required":["operationDetails"],
      "members":{
        "operationDetails":{
          "shape":"LandingZoneOperationDetail",
          "documentation":"<p>Details about a landing zone operation.</p>"
        }
      }
    },
    "GetLandingZoneOutput":{
      "type":"structure",
      "required":["landingZone"],
      "members":{
        "landingZone":{
          "shape":"LandingZoneDetail",
          "documentation":"<p>Information about the landing zone.</p>"
        }
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>An unexpected error occurred during processing of a request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "LandingZoneDetail":{
      "type":"structure",
      "required":[
        "manifest",
        "version"
      ],
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the landing zone.</p>"
        },
        "driftStatus":{
          "shape":"LandingZoneDriftStatusSummary",
          "documentation":"<p>The drift status of the landing zone.</p>"
        },
        "latestAvailableVersion":{
          "shape":"LandingZoneVersion",
          "documentation":"<p>The latest available version of the landing zone.</p>"
        },
        "manifest":{
          "shape":"Manifest",
          "documentation":"<p>The landing zone manifest JSON text file that specifies the landing zone configurations. </p>"
        },
        "status":{
          "shape":"LandingZoneStatus",
          "documentation":"<p>The landing zone deployment status.</p>"
        },
        "version":{
          "shape":"LandingZoneVersion",
          "documentation":"<p>The landing zone's current deployed version.</p>"
        }
      },
      "documentation":"<p>Information about the landing zone.</p>"
    },
    "LandingZoneDriftStatus":{
      "type":"string",
      "enum":[
        "DRIFTED",
        "IN_SYNC"
      ]
    },
    "LandingZoneDriftStatusSummary":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"LandingZoneDriftStatus",
          "documentation":"<p>The drift status of the landing zone. </p> <p>Valid values:</p> <ul> <li> <p> <code>DRIFTED</code>: The landing zone deployed in this configuration does not match the configuration that Amazon Web Services Control Tower expected. </p> </li> <li> <p> <code>IN_SYNC</code>: The landing zone deployed in this configuration matches the configuration that Amazon Web Services Control Tower expected. </p> </li> </ul>"
        }
      },
      "documentation":"<p>The drift status summary of the landing zone. </p> <p>If the landing zone differs from the expected configuration, it is defined to be in a state of drift. You can repair this drift by resetting the landing zone.</p>"
    },
    "LandingZoneOperationDetail":{
      "type":"structure",
      "members":{
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The landing zone operation end time.</p>"
        },
        "operationType":{
          "shape":"LandingZoneOperationType",
          "documentation":"<p>The landing zone operation type. </p> <p>Valid values:</p> <ul> <li> <p> <code>DELETE</code>: The <code>DeleteLandingZone</code> operation. </p> </li> <li> <p> <code>CREATE</code>: The <code>CreateLandingZone</code> operation. </p> </li> <li> <p> <code>UPDATE</code>: The <code>UpdateLandingZone</code> operation. </p> </li> <li> <p> <code>RESET</code>: The <code>ResetLandingZone</code> operation. </p> </li> </ul>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The landing zone operation start time.</p>"
        },
        "status":{
          "shape":"LandingZoneOperationStatus",
          "documentation":"<p>Valid values:</p> <ul> <li> <p> <code>SUCCEEDED</code>: The landing zone operation succeeded. </p> </li> <li> <p> <code>IN_PROGRESS</code>: The landing zone operation is in progress. </p> </li> <li> <p> <code>FAILED</code>: The landing zone operation failed. </p> </li> </ul>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>If the operation result is FAILED, this string contains a message explaining why the operation failed.</p>"
        }
      },
      "documentation":"<p>Information about a landing zone operation.</p>"
    },
    "LandingZoneOperationStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "IN_PROGRESS"
      ]
    },
    "LandingZoneOperationType":{
      "type":"string",
      "enum":[
        "DELETE",
        "CREATE",
        "UPDATE",
        "RESET"
      ]
    },
    "LandingZoneStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "PROCESSING",
        "FAILED"
      ]
    },
    "LandingZoneSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the landing zone.</p>"
        }
      },
      "documentation":"<p>Returns a summary of information about a landing zone.</p>"
    },
    "LandingZoneVersion":{
      "type":"string",
      "max":10,
      "min":3,
      "pattern":"^\\d+.\\d+$"
    },
    "ListEnabledControlsInput":{
      "type":"structure",
      "required":["targetIdentifier"],
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>How many results to return per API call.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to continue the list from a previous API call with the same parameters.</p>"
        },
        "targetIdentifier":{
          "shape":"TargetIdentifier",
          "documentation":"<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
        }
      }
    },
    "ListEnabledControlsOutput":{
      "type":"structure",
      "required":["enabledControls"],
      "members":{
        "enabledControls":{
          "shape":"EnabledControls",
          "documentation":"<p>Lists the controls enabled by Amazon Web Services Control Tower on the specified organizational unit and the accounts it contains.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Retrieves the next page of results. If the string is empty, the response is the end of the results.</p>"
        }
      }
    },
    "ListLandingZonesInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListLandingZonesMaxResults",
          "documentation":"<p>The maximum number of returned landing zone ARNs, which is one.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to continue the list from a previous API call with the same parameters.</p>"
        }
      }
    },
    "ListLandingZonesMaxResults":{
      "type":"integer",
      "box":true,
      "max":1,
      "min":1
    },
    "ListLandingZonesOutput":{
      "type":"structure",
      "required":["landingZones"],
      "members":{
        "landingZones":{
          "shape":"ListLandingZonesOutputLandingZonesList",
          "documentation":"<p>The ARN of the landing zone.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Retrieves the next page of results. If the string is empty, the response is the end of the results.</p>"
        }
      }
    },
    "ListLandingZonesOutputLandingZonesList":{
      "type":"list",
      "member":{"shape":"LandingZoneSummary"},
      "max":1,
      "min":0
    },
    "ListTagsForResourceInput":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p> The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceOutput":{
      "type":"structure",
      "required":["tags"],
      "members":{
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of tags, as <code>key:value</code> strings.</p>"
        }
      }
    },
    "Manifest":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":200,
      "min":1
    },
    "OperationIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
    },
    "Region":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"RegionName",
          "documentation":"<p>The Amazon Web Services Region name.</p>"
        }
      },
      "documentation":"<p>An Amazon Web Services Region in which Amazon Web Services Control Tower expects to find the control deployed. </p> <p>The expected Regions are based on the Regions that are governed by the landing zone. In certain cases, a control is not actually enabled in the Region as expected, such as during drift, or <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/region-how.html#mixed-governance\">mixed governance</a>.</p>"
    },
    "RegionName":{
      "type":"string",
      "max":50,
      "min":1
    },
    "ResetLandingZoneInput":{
      "type":"structure",
      "required":["landingZoneIdentifier"],
      "members":{
        "landingZoneIdentifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the landing zone.</p>"
        }
      }
    },
    "ResetLandingZoneOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>A unique identifier assigned to a <code>ResetLandingZone</code> operation. You can use this identifier as an input parameter of <code>GetLandingZoneOperation</code> to check the operation's status.</p>"
        }
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request references a resource that does not exist.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request would cause a service quota to be exceeded. The limit is 10 concurrent operations.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "String":{"type":"string"},
    "SyntheticTimestamp_date_time":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeys":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":0
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":200,
      "min":0
    },
    "TagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the resource to be tagged.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags to be applied to the resource.</p>"
        }
      }
    },
    "TagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "TargetIdentifier":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
    },
    "TargetRegions":{
      "type":"list",
      "member":{"shape":"Region"}
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>The ID of the service quota that was exceeded.</p>"
        },
        "retryAfterSeconds":{
          "shape":"Integer",
          "documentation":"<p>The number of seconds to wait before retrying.</p>",
          "location":"header",
          "locationName":"Retry-After"
        },
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>The ID of the service that is associated with the error. </p>"
        }
      },
      "documentation":"<p>The request was denied due to request throttling.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "UntagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeys",
          "documentation":"<p>Tag keys to be removed from the resource.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateEnabledControlInput":{
      "type":"structure",
      "required":[
        "enabledControlIdentifier",
        "parameters"
      ],
      "members":{
        "enabledControlIdentifier":{
          "shape":"Arn",
          "documentation":"<p> The ARN of the enabled control that will be updated. </p>"
        },
        "parameters":{
          "shape":"EnabledControlParameters",
          "documentation":"<p>A key/value pair, where <code>Key</code> is of type <code>String</code> and <code>Value</code> is of type <code>Document</code>.</p>"
        }
      }
    },
    "UpdateEnabledControlOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p> The operation identifier for this <code>UpdateEnabledControl</code> operation. </p>"
        }
      }
    },
    "UpdateLandingZoneInput":{
      "type":"structure",
      "required":[
        "landingZoneIdentifier",
        "manifest",
        "version"
      ],
      "members":{
        "landingZoneIdentifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the landing zone.</p>"
        },
        "manifest":{
          "shape":"Manifest",
          "documentation":"<p>The manifest JSON file is a text file that describes your Amazon Web Services resources. For examples, review <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/lz-api-launch\">Launch your landing zone</a>.</p>"
        },
        "version":{
          "shape":"LandingZoneVersion",
          "documentation":"<p>The landing zone version, for example, 3.2.</p>"
        }
      }
    },
    "UpdateLandingZoneOutput":{
      "type":"structure",
      "required":["operationIdentifier"],
      "members":{
        "operationIdentifier":{
          "shape":"OperationIdentifier",
          "documentation":"<p>A unique identifier assigned to a <code>UpdateLandingZone</code> operation. You can use this identifier as an input of <code>GetLandingZoneOperation</code> to check the operation's status.</p>"
        }
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The input does not satisfy the constraints specified by an Amazon Web Services service.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    }
  },
  "documentation":"<p>These interfaces allow you to apply the Amazon Web Services library of pre-defined <i>controls</i> to your organizational units, programmatically. In Amazon Web Services Control Tower, the terms \"control\" and \"guardrail\" are synonyms.</p> <p>To call these APIs, you'll need to know:</p> <ul> <li> <p>the <code>controlIdentifier</code> for the control--or guardrail--you are targeting.</p> </li> <li> <p>the ARN associated with the target organizational unit (OU), which we call the <code>targetIdentifier</code>.</p> </li> <li> <p>the ARN associated with a resource that you wish to tag or untag.</p> </li> </ul> <p> <b>To get the <code>controlIdentifier</code> for your Amazon Web Services Control Tower control:</b> </p> <p>The <code>controlIdentifier</code> is an ARN that is specified for each control. You can view the <code>controlIdentifier</code> in the console on the <b>Control details</b> page, as well as in the documentation.</p> <p>The <code>controlIdentifier</code> is unique in each Amazon Web Services Region for each control. You can find the <code>controlIdentifier</code> for each Region and control in the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-metadata-tables.html\">Tables of control metadata</a> in the <i>Amazon Web Services Control Tower User Guide.</i> </p> <p>A quick-reference list of control identifers for the Amazon Web Services Control Tower legacy <i>Strongly recommended</i> and <i>Elective</i> controls is given in <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html.html\">Resource identifiers for APIs and controls</a> in the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html\">Controls reference guide section</a> of the <i>Amazon Web Services Control Tower User Guide</i>. Remember that <i>Mandatory</i> controls cannot be added or removed.</p> <note> <p> <b>ARN format:</b> <code>arn:aws:controltower:{REGION}::control/{CONTROL_NAME}</code> </p> <p> <b>Example:</b> </p> <p> <code>arn:aws:controltower:us-west-2::control/AWS-GR_AUTOSCALING_LAUNCH_CONFIG_PUBLIC_IP_DISABLED</code> </p> </note> <p> <b>To get the <code>targetIdentifier</code>:</b> </p> <p>The <code>targetIdentifier</code> is the ARN for an OU.</p> <p>In the Amazon Web Services Organizations console, you can find the ARN for the OU on the <b>Organizational unit details</b> page associated with that OU.</p> <note> <p> <b>OU ARN format:</b> </p> <p> <code>arn:${Partition}:organizations::${MasterAccountId}:ou/o-${OrganizationId}/ou-${OrganizationalUnitId}</code> </p> </note> <p class=\"title\"> <b>Details and examples</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">Control API input and output examples with CLI</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/enable-controls.html\">Enable controls with CloudFormation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-metadata-tables.html\">Control metadata tables</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html\">List of identifiers for legacy controls</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/controls.html\">Controls reference guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/controls-reference.html\">Controls library groupings</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/creating-resources-with-cloudformation.html\">Creating Amazon Web Services Control Tower resources with Amazon Web Services CloudFormation</a> </p> </li> </ul> <p>To view the open source resource repository on GitHub, see <a href=\"https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-controltower\">aws-cloudformation/aws-cloudformation-resource-providers-controltower</a> </p> <p> <b>Recording API Requests</b> </p> <p>Amazon Web Services Control Tower supports Amazon Web Services CloudTrail, a service that records Amazon Web Services API calls for your Amazon Web Services account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine which requests the Amazon Web Services Control Tower service received, who made the request and when, and so on. For more about Amazon Web Services Control Tower and its support for CloudTrail, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/logging-using-cloudtrail.html\">Logging Amazon Web Services Control Tower Actions with Amazon Web Services CloudTrail</a> in the Amazon Web Services Control Tower User Guide. To learn more about CloudTrail, including how to turn it on and find your log files, see the Amazon Web Services CloudTrail User Guide.</p>"
}
