openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph - Subset
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /me/messages:
    get:
      tags:
        - me.message
      summary: Get open extension
      description: Get an open extension (openTypeExtension object) identified by name or fully qualified name. The table in the Permissions section lists the resources that support open extensions. The following table lists the three scenarios where you can get an open extension from a supported resource instance.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-get?view=graph-rest-1.0
      operationId: me_ListMessages
      parameters:
        - name: includeHiddenMessages
          in: query
          description: Include Hidden Messages
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - bccRecipients
                - bccRecipients desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - ccRecipients
                - ccRecipients desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - flag
                - flag desc
                - from
                - from desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - inferenceClassification
                - inferenceClassification desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - internetMessageId
                - internetMessageId desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isDraft
                - isDraft desc
                - isRead
                - isRead desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - parentFolderId
                - parentFolderId desc
                - receivedDateTime
                - receivedDateTime desc
                - replyTo
                - replyTo desc
                - sender
                - sender desc
                - sentDateTime
                - sentDateTime desc
                - subject
                - subject desc
                - toRecipients
                - toRecipients desc
                - uniqueBody
                - uniqueBody desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - webLink
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
        itemName: value
    post:
      tags:
        - me.message
      summary: Create open extension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. The table in the Permissions section lists the resources that support open extensions.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: me_CreateMessages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.message:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: message
          type: object
          properties:
            bccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Bcc: recipients for the message.'
            body:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.itemBody'
                - type: object
                  nullable: true
              description: The body of the message. It can be in HTML or text format. Find out about safe HTML in a message body.
            bodyPreview:
              type: string
              description: The first 255 characters of the message body. It is in text format.
              nullable: true
            ccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Cc: recipients for the message.'
            conversationId:
              type: string
              description: The ID of the conversation the email belongs to.
              nullable: true
            conversationIndex:
              type: string
              description: Indicates the position of the message within the conversation.
              format: base64url
              nullable: true
            flag:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.followupFlag'
                - type: object
                  nullable: true
              description: 'The flag value that indicates the status, start date, due date, or completion date for the message.'
            from:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.recipient'
                - type: object
                  nullable: true
              description: 'The owner of the mailbox from which the message is sent. In most cases, this value is the same as the sender property, except for sharing or delegation scenarios. The value must correspond to the actual mailbox used. Find out more about setting the from and sender properties of a message.'
            hasAttachments:
              type: boolean
              description: 'Indicates whether the message has attachments. This property doesn''t include inline attachments, so if a message contains only inline attachments, this property is false. To verify the existence of inline attachments, parse the body property to look for a src attribute, such as <IMG src=''cid:image001.jpg@01D26CD8.6C05F070''>.'
              nullable: true
            importance:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.importance'
                - type: object
                  nullable: true
              description: 'The importance of the message. The possible values are: low, normal, and high.'
            inferenceClassification:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.inferenceClassificationType'
                - type: object
                  nullable: true
              description: 'The classification of the message for the user, based on inferred relevance or importance, or on an explicit override. The possible values are: focused or other.'
            internetMessageHeaders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.internetMessageHeader'
              description: A collection of message headers defined by RFC5322. The set includes message headers indicating the network path taken by a message from the sender to the recipient. It can also contain custom message headers that hold app data for the message.  Returned only on applying a $select query option. Read-only.
            internetMessageId:
              type: string
              description: The message ID in the format specified by RFC2822.
              nullable: true
            isDeliveryReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            isDraft:
              type: boolean
              description: Indicates whether the message is a draft. A message is a draft if it hasn't been sent yet.
              nullable: true
            isRead:
              type: boolean
              description: Indicates whether the message has been read.
              nullable: true
            isReadReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            parentFolderId:
              type: string
              description: The unique identifier for the message's parent mailFolder.
              nullable: true
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time the message was received.  The date and time information uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
              nullable: true
            replyTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: The email addresses to use when replying.
            sender:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.recipient'
                - type: object
                  nullable: true
              description: 'The account that is actually used to generate the message. In most cases, this value is the same as the from property. You can set this property to a different value when sending a message from a shared mailbox, for a shared calendar, or as a delegate. In any case, the value must correspond to the actual mailbox used. Find out more about setting the from and sender properties of a message.'
            sentDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time the message was sent.  The date and time information uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
              format: date-time
              nullable: true
            subject:
              type: string
              description: The subject of the message.
              nullable: true
            toRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The To: recipients for the message.'
            uniqueBody:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.itemBody'
                - type: object
                  nullable: true
              description: The part of the body of the message that is unique to the current message. uniqueBody is not returned by default but can be retrieved for a given message by use of the ?$select=uniqueBody query. It can be in HTML or text format.
            webLink:
              type: string
              description: 'The URL to open the message in Outlook on the web.You can append an ispopout argument to the end of the URL to change how the message is displayed. If ispopout is not present or if it is set to 1, then the message is shown in a popout window. If ispopout is set to 0, the browser shows the message in the Outlook on the web review pane.The message opens in the browser if you are signed in to your mailbox via Outlook on the web. You are prompted to sign in if you are not already signed in with the browser.This URL cannot be accessed from within an iFrame.'
              nullable: true
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
              description: The fileAttachment and itemAttachment attachments for the message.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the message. Nullable.
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
              description: The collection of multi-value extended properties defined for the message. Nullable.
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
              description: The collection of single-value extended properties defined for the message. Nullable.
    microsoft.graph.outlookItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookItem
          type: object
          properties:
            categories:
              type: array
              items:
                type: string
                nullable: true
              description: The categories associated with the item
            changeKey:
              type: string
              description: 'Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailAddress'
            - type: object
              nullable: true
          description: The recipient's email address.
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        content:
          type: string
          description: The content of the item.
          nullable: true
        contentType:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.bodyType'
            - type: object
              nullable: true
          description: The type of the content. Possible values are text and html.
    microsoft.graph.followupFlag:
      title: followupFlag
      type: object
      properties:
        completedDateTime:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            - type: object
              nullable: true
          description: The date and time that the follow-up was finished.
        dueDateTime:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            - type: object
              nullable: true
          description: 'The date and time that the follow-up is to be finished. Note: To set the due date, you must also specify the startDateTime; otherwise, you get a 400 Bad Request response.'
        flagStatus:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.followupFlagStatus'
            - type: object
              nullable: true
          description: 'The status for follow-up for an item. Possible values are notFlagged, complete, and flagged.'
        startDateTime:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            - type: object
              nullable: true
          description: The date and time that the follow-up is to begin.
    microsoft.graph.importance:
      title: importance
      enum:
        - low
        - normal
        - high
      type: string
    microsoft.graph.inferenceClassificationType:
      title: inferenceClassificationType
      enum:
        - focused
        - other
      type: string
    microsoft.graph.internetMessageHeader:
      title: internetMessageHeader
      type: object
      properties:
        name:
          type: string
          description: Represents the key in a key-value pair.
          nullable: true
        value:
          type: string
          description: The value in a key-value pair.
          nullable: true
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            contentType:
              type: string
              description: The MIME type.
              nullable: true
            isInline:
              type: boolean
              description: 'true if the attachment is an inline attachment; otherwise, false.'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            name:
              type: string
              description: The attachment's file name.
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: The length of the attachment in bytes.
              format: int32
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: array
              items:
                type: string
                nullable: true
              description: A collection of property values.
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: singleValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: string
              description: A property value.
              nullable: true
    microsoft.graph.messageCollectionResponse:
      title: Collection of message
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.message'
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        address:
          type: string
          description: The email address of the person or entity.
          nullable: true
        name:
          type: string
          description: The display name of the person or entity.
          nullable: true
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
        timeZone:
          type: string
          description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
          nullable: true
    microsoft.graph.followupFlagStatus:
      title: followupFlagStatus
      enum:
        - notFlagged
        - complete
        - flagged
      type: string
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      type: object
      description: The structure of this object is service-specific
  responses:
    microsoft.graph.messageCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.messageCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean