{
  "openapi": "3.0.3",
  "info": {
    "version": "1.1.4",
    "title": "GitHub v3 REST API - Pulls",
    "description": "View pull requests using the REST API GitHub's v3 REST API.",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://docs.github.com/articles/github-terms-of-service",
    "contact": {
      "name": "Support",
      "url": "https://support.github.com/contact?tags=dotcom-rest-api"
    },
    "x-github-plan": "ghec"
  },
  "tags": [
    {
      "name": "pulls",
      "description": "Interact with GitHub Pull Requests."
    }
  ],
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "externalDocs": {
    "description": "GitHub Enterprise Cloud REST API",
    "url": "https://docs.github.com/enterprise-cloud@latest/rest/"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "GitHub API Root",
        "description": "Get Hypermedia links to resources accessible in GitHub's REST API",
        "tags": [
          "meta"
        ],
        "operationId": "meta/root",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/root"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/root"
                  }
                }
              }
            }
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "meta"
        },
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/enterprise-cloud@latest//rest/overview/resources-in-the-rest-api#root-endpoint"
        }
      }
    },
    "/repos/{owner}/{repo}/pulls": {
      "get": {
        "summary": "List pull requests",
        "description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/enterprise-cloud@latest//github/getting-started-with-github/githubs-products) in the GitHub Help documentation.",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/list",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/enterprise-cloud@latest//rest/reference/pulls#list-pull-requests"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "state",
            "description": "Either `open`, `closed`, or `all` to filter by state.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "all"
              ],
              "default": "open"
            }
          },
          {
            "name": "head",
            "description": "Filter pulls by head user or head organization and branch name in the format of `user:ref-name` or `organization:ref-name`. For example: `github:new-script-format` or `octocat:test-branch`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "description": "Filter pulls by base branch name. Example: `gh-pages`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "description": "What to sort results by. `popularity` will sort by the number of comments. `long-running` will sort by date created and will limit the results to pull requests that have been open for more than a month and have had activity within the past month.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "popularity",
                "long-running"
              ],
              "default": "created"
            }
          },
          {
            "name": "direction",
            "description": "The direction of the sort. Default: `desc` when sort is `created` or sort is not specified, otherwise `asc`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pull-request-simple"
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request-simple-items"
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/link"
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "422": {
            "$ref": "#/components/responses/validation_failed"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": null
        }
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}": {
      "get": {
        "summary": "Get a pull request",
        "description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/enterprise-cloud@latest//github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\nLists details of a pull request by providing its number.\n\nWhen you get, [create](https://docs.github.com/enterprise-cloud@latest//rest/reference/pulls/#create-a-pull-request), or [edit](https://docs.github.com/enterprise-cloud@latest//rest/reference/pulls#update-a-pull-request) a pull request, GitHub Enterprise Cloud creates a merge commit to test whether the pull request can be automatically merged into the base branch. This test commit is not added to the base branch or the head branch. You can review the status of the test commit using the `mergeable` key. For more information, see \"[Checking mergeability of pull requests](https://docs.github.com/enterprise-cloud@latest//rest/guides/getting-started-with-the-git-database-api#checking-mergeability-of-pull-requests)\".\n\nThe value of the `mergeable` attribute can be `true`, `false`, or `null`. If the value is `null`, then GitHub Enterprise Cloud has started a background job to compute the mergeability. After giving the job time to complete, resubmit the request. When the job finishes, you will see a non-`null` value for the `mergeable` attribute in the response. If `mergeable` is `true`, then `merge_commit_sha` will be the SHA of the _test_ merge commit.\n\nThe value of the `merge_commit_sha` attribute changes depending on the state of the pull request. Before merging a pull request, the `merge_commit_sha` attribute holds the SHA of the _test_ merge commit. After merging a pull request, the `merge_commit_sha` attribute changes depending on how you merged the pull request:\n\n*   If merged as a [merge commit](https://docs.github.com/enterprise-cloud@latest//articles/about-merge-methods-on-github/), `merge_commit_sha` represents the SHA of the merge commit.\n*   If merged via a [squash](https://docs.github.com/enterprise-cloud@latest//articles/about-merge-methods-on-github/#squashing-your-merge-commits), `merge_commit_sha` represents the SHA of the squashed commit on the base branch.\n*   If [rebased](https://docs.github.com/enterprise-cloud@latest//articles/about-merge-methods-on-github/#rebasing-and-merging-your-commits), `merge_commit_sha` represents the commit that the base branch was updated to.\n\nPass the appropriate [media type](https://docs.github.com/enterprise-cloud@latest//rest/overview/media-types/#commits-commit-comparison-and-pull-requests) to fetch diff and patch formats.",
        "tags": [
          "pulls"
        ],
        "operationId": "pulls/get",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://docs.github.com/enterprise-cloud@latest//rest/reference/pulls#get-a-pull-request"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "$ref": "#/components/parameters/pull-number"
          }
        ],
        "responses": {
          "200": {
            "description": "Pass the appropriate [media type](https://docs.github.com/enterprise-cloud@latest//rest/overview/media-types/#commits-commit-comparison-and-pull-requests) to fetch diff and patch formats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pull-request"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/pull-request"
                  }
                }
              }
            }
          },
          "304": {
            "$ref": "#/components/responses/not_modified"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_error"
          },
          "503": {
            "$ref": "#/components/responses/service_unavailable"
          }
        },
        "x-github": {
          "githubCloudOnly": false,
          "enabledForGitHubApps": true,
          "category": "pulls",
          "subcategory": null
        }
      }
    }
  },
  "components": {
    "schemas": {
      "root": {
        "type": "object",
        "properties": {
          "current_user_url": {
            "type": "string",
            "format": "uri-template"
          },
          "current_user_authorizations_html_url": {
            "type": "string",
            "format": "uri-template"
          },
          "authorizations_url": {
            "type": "string",
            "format": "uri-template"
          },
          "code_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "commit_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "emails_url": {
            "type": "string",
            "format": "uri-template"
          },
          "emojis_url": {
            "type": "string",
            "format": "uri-template"
          },
          "events_url": {
            "type": "string",
            "format": "uri-template"
          },
          "feeds_url": {
            "type": "string",
            "format": "uri-template"
          },
          "followers_url": {
            "type": "string",
            "format": "uri-template"
          },
          "following_url": {
            "type": "string",
            "format": "uri-template"
          },
          "gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "hub_url": {
            "type": "string",
            "format": "uri-template"
          },
          "issue_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "issues_url": {
            "type": "string",
            "format": "uri-template"
          },
          "keys_url": {
            "type": "string",
            "format": "uri-template"
          },
          "label_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "notifications_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "organization_teams_url": {
            "type": "string",
            "format": "uri-template"
          },
          "public_gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "rate_limit_url": {
            "type": "string",
            "format": "uri-template"
          },
          "repository_url": {
            "type": "string",
            "format": "uri-template"
          },
          "repository_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "current_user_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "starred_url": {
            "type": "string",
            "format": "uri-template"
          },
          "starred_gists_url": {
            "type": "string",
            "format": "uri-template"
          },
          "topic_search_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_organizations_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_repositories_url": {
            "type": "string",
            "format": "uri-template"
          },
          "user_search_url": {
            "type": "string",
            "format": "uri-template"
          }
        },
        "required": [
          "current_user_url",
          "current_user_authorizations_html_url",
          "authorizations_url",
          "code_search_url",
          "commit_search_url",
          "emails_url",
          "emojis_url",
          "events_url",
          "feeds_url",
          "followers_url",
          "following_url",
          "gists_url",
          "hub_url",
          "issue_search_url",
          "issues_url",
          "keys_url",
          "label_search_url",
          "notifications_url",
          "organization_url",
          "organization_repositories_url",
          "organization_teams_url",
          "public_gists_url",
          "rate_limit_url",
          "repository_url",
          "repository_search_url",
          "current_user_repositories_url",
          "starred_url",
          "starred_gists_url",
          "user_url",
          "user_organizations_url",
          "user_repositories_url",
          "user_search_url"
        ]
      },
      "author-association": {
        "title": "author_association",
        "type": "string",
        "example": "OWNER",
        "description": "How the author is associated with the repository.",
        "enum": [
          "COLLABORATOR",
          "CONTRIBUTOR",
          "FIRST_TIMER",
          "FIRST_TIME_CONTRIBUTOR",
          "MANNEQUIN",
          "MEMBER",
          "NONE",
          "OWNER"
        ]
      },
      "auto-merge": {
        "title": "Auto merge",
        "description": "The status of auto merging a pull request.",
        "type": "object",
        "properties": {
          "enabled_by": {
            "$ref": "#/components/schemas/simple-user"
          },
          "merge_method": {
            "type": "string",
            "description": "The merge method to use.",
            "enum": [
              "merge",
              "squash",
              "rebase"
            ]
          },
          "commit_title": {
            "type": "string",
            "description": "Title for the merge commit message."
          },
          "commit_message": {
            "type": "string",
            "description": "Commit message for the merge commit."
          }
        },
        "required": [
          "enabled_by",
          "merge_method",
          "commit_title",
          "commit_message"
        ],
        "nullable": true
      },
      "basic-error": {
        "title": "Basic Error",
        "description": "Basic Error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "scim-error": {
        "title": "Scim Error",
        "description": "Scim Error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "documentation_url": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer"
          },
          "scimType": {
            "type": "string",
            "nullable": true
          },
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "validation-error": {
        "title": "Validation Error",
        "description": "Validation Error",
        "type": "object",
        "required": [
          "message",
          "documentation_url"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code"
              ],
              "properties": {
                "resource": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "value": {
                  "oneOf": [
                    {
                      "type": "string",
                      "nullable": true
                    },
                    {
                      "type": "integer",
                      "nullable": true
                    },
                    {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "validation-error-simple": {
        "title": "Validation Error Simple",
        "description": "Validation Error Simple",
        "type": "object",
        "required": [
          "message",
          "documentation_url"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "link": {
        "title": "Link",
        "description": "Hypermedia Link",
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          }
        },
        "required": [
          "href"
        ]
      },
      "nullable-license-simple": {
        "title": "License Simple",
        "description": "License Simple",
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "example": "mit"
          },
          "name": {
            "type": "string",
            "example": "MIT License"
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "https://api.github.com/licenses/mit"
          },
          "spdx_id": {
            "type": "string",
            "nullable": true,
            "example": "MIT"
          },
          "node_id": {
            "type": "string",
            "example": "MDc6TGljZW5zZW1pdA=="
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "key",
          "name",
          "url",
          "spdx_id",
          "node_id"
        ],
        "nullable": true
      },
      "nullable-milestone": {
        "title": "Milestone",
        "description": "A collection of related issues and pull requests.",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/milestones/1"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/milestones/v1.0"
          },
          "labels_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/milestones/1/labels"
          },
          "id": {
            "type": "integer",
            "example": 1002604
          },
          "node_id": {
            "type": "string",
            "example": "MDk6TWlsZXN0b25lMTAwMjYwNA=="
          },
          "number": {
            "description": "The number of the milestone.",
            "type": "integer",
            "example": 42
          },
          "state": {
            "description": "The state of the milestone.",
            "example": "open",
            "type": "string",
            "enum": [
              "open",
              "closed"
            ],
            "default": "open"
          },
          "title": {
            "description": "The title of the milestone.",
            "example": "v1.0",
            "type": "string"
          },
          "description": {
            "type": "string",
            "example": "Tracking milestone for version 1.0",
            "nullable": true
          },
          "creator": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "open_issues": {
            "type": "integer",
            "example": 4
          },
          "closed_issues": {
            "type": "integer",
            "example": 8
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-04-10T20:09:31Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2014-03-03T18:58:10Z"
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2013-02-12T13:22:01Z",
            "nullable": true
          },
          "due_on": {
            "type": "string",
            "format": "date-time",
            "example": "2012-10-09T23:39:01Z",
            "nullable": true
          }
        },
        "required": [
          "closed_issues",
          "creator",
          "description",
          "due_on",
          "closed_at",
          "id",
          "node_id",
          "labels_url",
          "html_url",
          "number",
          "open_issues",
          "state",
          "title",
          "url",
          "created_at",
          "updated_at"
        ],
        "nullable": true
      },
      "nullable-simple-user": {
        "title": "Simple User",
        "description": "A GitHub user.",
        "type": "object",
        "properties": {
          "name": {
            "nullable": true,
            "type": "string"
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "login": {
            "type": "string",
            "example": "octocat"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDQ6VXNlcjE="
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/images/error/octocat_happy.gif"
          },
          "gravatar_id": {
            "type": "string",
            "example": "41d064eb2195891e12d0413f63227ea7",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat"
          },
          "followers_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/followers"
          },
          "following_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/following{/other_user}"
          },
          "gists_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/gists{/gist_id}"
          },
          "starred_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/starred{/owner}{/repo}"
          },
          "subscriptions_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/subscriptions"
          },
          "organizations_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/orgs"
          },
          "repos_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/repos"
          },
          "events_url": {
            "type": "string",
            "example": "https://api.github.com/users/octocat/events{/privacy}"
          },
          "received_events_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/users/octocat/received_events"
          },
          "type": {
            "type": "string",
            "example": "User"
          },
          "site_admin": {
            "type": "boolean"
          },
          "starred_at": {
            "type": "string",
            "example": "\"2020-07-09T00:17:55Z\""
          }
        },
        "required": [
          "avatar_url",
          "events_url",
          "followers_url",
          "following_url",
          "gists_url",
          "gravatar_id",
          "html_url",
          "id",
          "node_id",
          "login",
          "organizations_url",
          "received_events_url",
          "repos_url",
          "site_admin",
          "starred_url",
          "subscriptions_url",
          "type",
          "url"
        ],
        "nullable": true
      },
      "nullable-team-simple": {
        "title": "Team Simple",
        "description": "Groups of organization members that gives permissions on specified repositories.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the team",
            "type": "integer",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDQ6VGVhbTE="
          },
          "url": {
            "description": "URL for the team",
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/organizations/1/team/1"
          },
          "members_url": {
            "type": "string",
            "example": "https://api.github.com/organizations/1/team/1/members{/member}"
          },
          "name": {
            "description": "Name of the team",
            "type": "string",
            "example": "Justice League"
          },
          "description": {
            "description": "Description of the team",
            "type": "string",
            "nullable": true,
            "example": "A great team."
          },
          "permission": {
            "description": "Permission that the team will have for its repositories",
            "type": "string",
            "example": "admin"
          },
          "privacy": {
            "description": "The level of privacy this team should have",
            "type": "string",
            "example": "closed"
          },
          "notification_setting": {
            "description": "The notification setting the team has set",
            "type": "string",
            "example": "notifications_enabled"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/orgs/rails/teams/core"
          },
          "repositories_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/organizations/1/team/1/repos"
          },
          "slug": {
            "type": "string",
            "example": "justice-league"
          },
          "ldap_dn": {
            "description": "Distinguished Name (DN) that team maps to within LDAP environment",
            "example": "uid=example,ou=users,dc=github,dc=com",
            "type": "string"
          }
        },
        "required": [
          "id",
          "node_id",
          "url",
          "members_url",
          "name",
          "description",
          "permission",
          "html_url",
          "repositories_url",
          "slug"
        ],
        "nullable": true
      },
      "pull-request-simple": {
        "title": "Pull Request Simple",
        "description": "Pull Request Simple",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDExOlB1bGxSZXF1ZXN0MQ=="
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347"
          },
          "diff_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347.diff"
          },
          "patch_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347.patch"
          },
          "issue_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/issues/1347"
          },
          "commits_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347/commits"
          },
          "review_comments_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347/comments"
          },
          "review_comment_url": {
            "type": "string",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments{/number}"
          },
          "comments_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/issues/1347/comments"
          },
          "statuses_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/statuses/6dcb09b5b57875f334f61aebed695e2e4193db5e"
          },
          "number": {
            "type": "integer",
            "example": 1347
          },
          "state": {
            "type": "string",
            "example": "open"
          },
          "locked": {
            "type": "boolean",
            "example": true
          },
          "title": {
            "type": "string",
            "example": "new-feature"
          },
          "user": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "body": {
            "type": "string",
            "example": "Please pull these awesome changes",
            "nullable": true
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64"
                },
                "node_id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "default": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "node_id",
                "url",
                "name",
                "description",
                "color",
                "default"
              ]
            }
          },
          "milestone": {
            "$ref": "#/components/schemas/nullable-milestone"
          },
          "active_lock_reason": {
            "type": "string",
            "example": "too heated",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z"
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z",
            "nullable": true
          },
          "merged_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z",
            "nullable": true
          },
          "merge_commit_sha": {
            "type": "string",
            "example": "e5bd3914e2e596debea16f433f57875b5b90bcd6",
            "nullable": true
          },
          "assignee": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simple-user"
            },
            "nullable": true
          },
          "requested_reviewers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simple-user"
            },
            "nullable": true
          },
          "requested_teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/team"
            },
            "nullable": true
          },
          "head": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "ref": {
                "type": "string"
              },
              "repo": {
                "$ref": "#/components/schemas/repository"
              },
              "sha": {
                "type": "string"
              },
              "user": {
                "$ref": "#/components/schemas/nullable-simple-user"
              }
            },
            "required": [
              "label",
              "ref",
              "repo",
              "sha",
              "user"
            ]
          },
          "base": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "ref": {
                "type": "string"
              },
              "repo": {
                "$ref": "#/components/schemas/repository"
              },
              "sha": {
                "type": "string"
              },
              "user": {
                "$ref": "#/components/schemas/nullable-simple-user"
              }
            },
            "required": [
              "label",
              "ref",
              "repo",
              "sha",
              "user"
            ]
          },
          "_links": {
            "type": "object",
            "properties": {
              "comments": {
                "$ref": "#/components/schemas/link"
              },
              "commits": {
                "$ref": "#/components/schemas/link"
              },
              "statuses": {
                "$ref": "#/components/schemas/link"
              },
              "html": {
                "$ref": "#/components/schemas/link"
              },
              "issue": {
                "$ref": "#/components/schemas/link"
              },
              "review_comments": {
                "$ref": "#/components/schemas/link"
              },
              "review_comment": {
                "$ref": "#/components/schemas/link"
              },
              "self": {
                "$ref": "#/components/schemas/link"
              }
            },
            "required": [
              "comments",
              "commits",
              "statuses",
              "html",
              "issue",
              "review_comments",
              "review_comment",
              "self"
            ]
          },
          "author_association": {
            "$ref": "#/components/schemas/author-association"
          },
          "auto_merge": {
            "$ref": "#/components/schemas/auto-merge"
          },
          "draft": {
            "description": "Indicates whether or not the pull request is a draft.",
            "example": false,
            "type": "boolean"
          }
        },
        "required": [
          "_links",
          "assignee",
          "labels",
          "base",
          "body",
          "closed_at",
          "comments_url",
          "commits_url",
          "created_at",
          "diff_url",
          "head",
          "html_url",
          "id",
          "node_id",
          "issue_url",
          "merge_commit_sha",
          "merged_at",
          "milestone",
          "number",
          "patch_url",
          "review_comment_url",
          "review_comments_url",
          "statuses_url",
          "state",
          "locked",
          "title",
          "updated_at",
          "url",
          "user",
          "author_association",
          "auto_merge"
        ]
      },
      "pull-request": {
        "type": "object",
        "title": "Pull Request",
        "description": "Pull requests let you tell others about changes you've pushed to a repository on GitHub. Once a pull request is sent, interested parties can review the set of changes, discuss potential modifications, and even push follow-up commits if necessary.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "node_id": {
            "type": "string",
            "example": "MDExOlB1bGxSZXF1ZXN0MQ=="
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347"
          },
          "diff_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347.diff"
          },
          "patch_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1347.patch"
          },
          "issue_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/issues/1347"
          },
          "commits_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347/commits"
          },
          "review_comments_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1347/comments"
          },
          "review_comment_url": {
            "type": "string",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments{/number}"
          },
          "comments_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/issues/1347/comments"
          },
          "statuses_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/statuses/6dcb09b5b57875f334f61aebed695e2e4193db5e"
          },
          "number": {
            "description": "Number uniquely identifying the pull request within its repository.",
            "example": 42,
            "type": "integer"
          },
          "state": {
            "description": "State of this Pull Request. Either `open` or `closed`.",
            "enum": [
              "open",
              "closed"
            ],
            "example": "open",
            "type": "string"
          },
          "locked": {
            "type": "boolean",
            "example": true
          },
          "title": {
            "description": "The title of the pull request.",
            "example": "Amazing new feature",
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/simple-user"
          },
          "body": {
            "type": "string",
            "example": "Please pull these awesome changes",
            "nullable": true
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64"
                },
                "node_id": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "color": {
                  "type": "string"
                },
                "default": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "node_id",
                "url",
                "name",
                "description",
                "color",
                "default"
              ]
            }
          },
          "milestone": {
            "$ref": "#/components/schemas/nullable-milestone"
          },
          "active_lock_reason": {
            "type": "string",
            "example": "too heated",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z"
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z",
            "nullable": true
          },
          "merged_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-01-26T19:01:12Z",
            "nullable": true
          },
          "merge_commit_sha": {
            "type": "string",
            "example": "e5bd3914e2e596debea16f433f57875b5b90bcd6",
            "nullable": true
          },
          "assignee": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simple-user"
            },
            "nullable": true
          },
          "requested_reviewers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simple-user"
            },
            "nullable": true
          },
          "requested_teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/team-simple"
            },
            "nullable": true
          },
          "head": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "ref": {
                "type": "string"
              },
              "repo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "archive_url": {
                    "type": "string"
                  },
                  "assignees_url": {
                    "type": "string"
                  },
                  "blobs_url": {
                    "type": "string"
                  },
                  "branches_url": {
                    "type": "string"
                  },
                  "collaborators_url": {
                    "type": "string"
                  },
                  "comments_url": {
                    "type": "string"
                  },
                  "commits_url": {
                    "type": "string"
                  },
                  "compare_url": {
                    "type": "string"
                  },
                  "contents_url": {
                    "type": "string"
                  },
                  "contributors_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "deployments_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "downloads_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "fork": {
                    "type": "boolean"
                  },
                  "forks_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "git_commits_url": {
                    "type": "string"
                  },
                  "git_refs_url": {
                    "type": "string"
                  },
                  "git_tags_url": {
                    "type": "string"
                  },
                  "hooks_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "html_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "node_id": {
                    "type": "string"
                  },
                  "issue_comment_url": {
                    "type": "string"
                  },
                  "issue_events_url": {
                    "type": "string"
                  },
                  "issues_url": {
                    "type": "string"
                  },
                  "keys_url": {
                    "type": "string"
                  },
                  "labels_url": {
                    "type": "string"
                  },
                  "languages_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "merges_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "milestones_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "notifications_url": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "avatar_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "events_url": {
                        "type": "string"
                      },
                      "followers_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "following_url": {
                        "type": "string"
                      },
                      "gists_url": {
                        "type": "string"
                      },
                      "gravatar_id": {
                        "type": "string",
                        "nullable": true
                      },
                      "html_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "node_id": {
                        "type": "string"
                      },
                      "login": {
                        "type": "string"
                      },
                      "organizations_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "received_events_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "repos_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "site_admin": {
                        "type": "boolean"
                      },
                      "starred_url": {
                        "type": "string"
                      },
                      "subscriptions_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "type": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "avatar_url",
                      "events_url",
                      "followers_url",
                      "following_url",
                      "gists_url",
                      "gravatar_id",
                      "html_url",
                      "id",
                      "node_id",
                      "login",
                      "organizations_url",
                      "received_events_url",
                      "repos_url",
                      "site_admin",
                      "starred_url",
                      "subscriptions_url",
                      "type",
                      "url"
                    ]
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "pulls_url": {
                    "type": "string"
                  },
                  "releases_url": {
                    "type": "string"
                  },
                  "stargazers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "statuses_url": {
                    "type": "string"
                  },
                  "subscribers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "subscription_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "tags_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "teams_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "trees_url": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "clone_url": {
                    "type": "string"
                  },
                  "default_branch": {
                    "type": "string"
                  },
                  "forks": {
                    "type": "integer"
                  },
                  "forks_count": {
                    "type": "integer"
                  },
                  "git_url": {
                    "type": "string"
                  },
                  "has_downloads": {
                    "type": "boolean"
                  },
                  "has_issues": {
                    "type": "boolean"
                  },
                  "has_projects": {
                    "type": "boolean"
                  },
                  "has_wiki": {
                    "type": "boolean"
                  },
                  "has_pages": {
                    "type": "boolean"
                  },
                  "has_discussions": {
                    "type": "boolean"
                  },
                  "homepage": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "master_branch": {
                    "type": "string"
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "visibility": {
                    "description": "The repository visibility: public, private, or internal.",
                    "type": "string"
                  },
                  "mirror_url": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  },
                  "open_issues": {
                    "type": "integer"
                  },
                  "open_issues_count": {
                    "type": "integer"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "admin": {
                        "type": "boolean"
                      },
                      "maintain": {
                        "type": "boolean"
                      },
                      "push": {
                        "type": "boolean"
                      },
                      "triage": {
                        "type": "boolean"
                      },
                      "pull": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "admin",
                      "pull",
                      "push"
                    ]
                  },
                  "temp_clone_token": {
                    "type": "string"
                  },
                  "allow_merge_commit": {
                    "type": "boolean"
                  },
                  "allow_squash_merge": {
                    "type": "boolean"
                  },
                  "allow_rebase_merge": {
                    "type": "boolean"
                  },
                  "license": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                      },
                      "spdx_id": {
                        "type": "string",
                        "nullable": true
                      },
                      "node_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "name",
                      "url",
                      "spdx_id",
                      "node_id"
                    ],
                    "nullable": true
                  },
                  "pushed_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "ssh_url": {
                    "type": "string"
                  },
                  "stargazers_count": {
                    "type": "integer"
                  },
                  "svn_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "watchers": {
                    "type": "integer"
                  },
                  "watchers_count": {
                    "type": "integer"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "allow_forking": {
                    "type": "boolean"
                  },
                  "is_template": {
                    "type": "boolean"
                  },
                  "web_commit_signoff_required": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "archive_url",
                  "assignees_url",
                  "blobs_url",
                  "branches_url",
                  "collaborators_url",
                  "comments_url",
                  "commits_url",
                  "compare_url",
                  "contents_url",
                  "contributors_url",
                  "deployments_url",
                  "description",
                  "downloads_url",
                  "events_url",
                  "fork",
                  "forks_url",
                  "full_name",
                  "git_commits_url",
                  "git_refs_url",
                  "git_tags_url",
                  "hooks_url",
                  "html_url",
                  "id",
                  "node_id",
                  "issue_comment_url",
                  "issue_events_url",
                  "issues_url",
                  "keys_url",
                  "labels_url",
                  "languages_url",
                  "merges_url",
                  "milestones_url",
                  "name",
                  "notifications_url",
                  "owner",
                  "private",
                  "pulls_url",
                  "releases_url",
                  "stargazers_url",
                  "statuses_url",
                  "subscribers_url",
                  "subscription_url",
                  "tags_url",
                  "teams_url",
                  "trees_url",
                  "url",
                  "clone_url",
                  "default_branch",
                  "forks",
                  "forks_count",
                  "git_url",
                  "has_downloads",
                  "has_issues",
                  "has_projects",
                  "has_wiki",
                  "has_pages",
                  "has_discussions",
                  "homepage",
                  "language",
                  "archived",
                  "disabled",
                  "mirror_url",
                  "open_issues",
                  "open_issues_count",
                  "license",
                  "pushed_at",
                  "size",
                  "ssh_url",
                  "stargazers_count",
                  "svn_url",
                  "watchers",
                  "watchers_count",
                  "created_at",
                  "updated_at"
                ]
              },
              "sha": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "avatar_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events_url": {
                    "type": "string"
                  },
                  "followers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "following_url": {
                    "type": "string"
                  },
                  "gists_url": {
                    "type": "string"
                  },
                  "gravatar_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "html_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "node_id": {
                    "type": "string"
                  },
                  "login": {
                    "type": "string"
                  },
                  "organizations_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "received_events_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "repos_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "site_admin": {
                    "type": "boolean"
                  },
                  "starred_url": {
                    "type": "string"
                  },
                  "subscriptions_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "type": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "avatar_url",
                  "events_url",
                  "followers_url",
                  "following_url",
                  "gists_url",
                  "gravatar_id",
                  "html_url",
                  "id",
                  "node_id",
                  "login",
                  "organizations_url",
                  "received_events_url",
                  "repos_url",
                  "site_admin",
                  "starred_url",
                  "subscriptions_url",
                  "type",
                  "url"
                ]
              }
            },
            "required": [
              "label",
              "ref",
              "repo",
              "sha",
              "user"
            ]
          },
          "base": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "ref": {
                "type": "string"
              },
              "repo": {
                "type": "object",
                "properties": {
                  "archive_url": {
                    "type": "string"
                  },
                  "assignees_url": {
                    "type": "string"
                  },
                  "blobs_url": {
                    "type": "string"
                  },
                  "branches_url": {
                    "type": "string"
                  },
                  "collaborators_url": {
                    "type": "string"
                  },
                  "comments_url": {
                    "type": "string"
                  },
                  "commits_url": {
                    "type": "string"
                  },
                  "compare_url": {
                    "type": "string"
                  },
                  "contents_url": {
                    "type": "string"
                  },
                  "contributors_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "deployments_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "downloads_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "fork": {
                    "type": "boolean"
                  },
                  "forks_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "git_commits_url": {
                    "type": "string"
                  },
                  "git_refs_url": {
                    "type": "string"
                  },
                  "git_tags_url": {
                    "type": "string"
                  },
                  "hooks_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "html_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "is_template": {
                    "type": "boolean"
                  },
                  "node_id": {
                    "type": "string"
                  },
                  "issue_comment_url": {
                    "type": "string"
                  },
                  "issue_events_url": {
                    "type": "string"
                  },
                  "issues_url": {
                    "type": "string"
                  },
                  "keys_url": {
                    "type": "string"
                  },
                  "labels_url": {
                    "type": "string"
                  },
                  "languages_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "merges_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "milestones_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "notifications_url": {
                    "type": "string"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "avatar_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "events_url": {
                        "type": "string"
                      },
                      "followers_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "following_url": {
                        "type": "string"
                      },
                      "gists_url": {
                        "type": "string"
                      },
                      "gravatar_id": {
                        "type": "string",
                        "nullable": true
                      },
                      "html_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "node_id": {
                        "type": "string"
                      },
                      "login": {
                        "type": "string"
                      },
                      "organizations_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "received_events_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "repos_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "site_admin": {
                        "type": "boolean"
                      },
                      "starred_url": {
                        "type": "string"
                      },
                      "subscriptions_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "type": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "avatar_url",
                      "events_url",
                      "followers_url",
                      "following_url",
                      "gists_url",
                      "gravatar_id",
                      "html_url",
                      "id",
                      "node_id",
                      "login",
                      "organizations_url",
                      "received_events_url",
                      "repos_url",
                      "site_admin",
                      "starred_url",
                      "subscriptions_url",
                      "type",
                      "url"
                    ]
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "pulls_url": {
                    "type": "string"
                  },
                  "releases_url": {
                    "type": "string"
                  },
                  "stargazers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "statuses_url": {
                    "type": "string"
                  },
                  "subscribers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "subscription_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "tags_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "teams_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "trees_url": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "clone_url": {
                    "type": "string"
                  },
                  "default_branch": {
                    "type": "string"
                  },
                  "forks": {
                    "type": "integer"
                  },
                  "forks_count": {
                    "type": "integer"
                  },
                  "git_url": {
                    "type": "string"
                  },
                  "has_downloads": {
                    "type": "boolean"
                  },
                  "has_issues": {
                    "type": "boolean"
                  },
                  "has_projects": {
                    "type": "boolean"
                  },
                  "has_wiki": {
                    "type": "boolean"
                  },
                  "has_pages": {
                    "type": "boolean"
                  },
                  "has_discussions": {
                    "type": "boolean"
                  },
                  "homepage": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  },
                  "language": {
                    "type": "string",
                    "nullable": true
                  },
                  "master_branch": {
                    "type": "string"
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "visibility": {
                    "description": "The repository visibility: public, private, or internal.",
                    "type": "string"
                  },
                  "mirror_url": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  },
                  "open_issues": {
                    "type": "integer"
                  },
                  "open_issues_count": {
                    "type": "integer"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "admin": {
                        "type": "boolean"
                      },
                      "maintain": {
                        "type": "boolean"
                      },
                      "push": {
                        "type": "boolean"
                      },
                      "triage": {
                        "type": "boolean"
                      },
                      "pull": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "admin",
                      "pull",
                      "push"
                    ]
                  },
                  "temp_clone_token": {
                    "type": "string"
                  },
                  "allow_merge_commit": {
                    "type": "boolean"
                  },
                  "allow_squash_merge": {
                    "type": "boolean"
                  },
                  "allow_rebase_merge": {
                    "type": "boolean"
                  },
                  "license": {
                    "$ref": "#/components/schemas/nullable-license-simple"
                  },
                  "pushed_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "ssh_url": {
                    "type": "string"
                  },
                  "stargazers_count": {
                    "type": "integer"
                  },
                  "svn_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "watchers": {
                    "type": "integer"
                  },
                  "watchers_count": {
                    "type": "integer"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "allow_forking": {
                    "type": "boolean"
                  },
                  "web_commit_signoff_required": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "archive_url",
                  "assignees_url",
                  "blobs_url",
                  "branches_url",
                  "collaborators_url",
                  "comments_url",
                  "commits_url",
                  "compare_url",
                  "contents_url",
                  "contributors_url",
                  "deployments_url",
                  "description",
                  "downloads_url",
                  "events_url",
                  "fork",
                  "forks_url",
                  "full_name",
                  "git_commits_url",
                  "git_refs_url",
                  "git_tags_url",
                  "hooks_url",
                  "html_url",
                  "id",
                  "node_id",
                  "issue_comment_url",
                  "issue_events_url",
                  "issues_url",
                  "keys_url",
                  "labels_url",
                  "languages_url",
                  "merges_url",
                  "milestones_url",
                  "name",
                  "notifications_url",
                  "owner",
                  "private",
                  "pulls_url",
                  "releases_url",
                  "stargazers_url",
                  "statuses_url",
                  "subscribers_url",
                  "subscription_url",
                  "tags_url",
                  "teams_url",
                  "trees_url",
                  "url",
                  "clone_url",
                  "default_branch",
                  "forks",
                  "forks_count",
                  "git_url",
                  "has_downloads",
                  "has_issues",
                  "has_projects",
                  "has_wiki",
                  "has_pages",
                  "has_discussions",
                  "homepage",
                  "language",
                  "archived",
                  "disabled",
                  "mirror_url",
                  "open_issues",
                  "open_issues_count",
                  "license",
                  "pushed_at",
                  "size",
                  "ssh_url",
                  "stargazers_count",
                  "svn_url",
                  "watchers",
                  "watchers_count",
                  "created_at",
                  "updated_at"
                ]
              },
              "sha": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "avatar_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events_url": {
                    "type": "string"
                  },
                  "followers_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "following_url": {
                    "type": "string"
                  },
                  "gists_url": {
                    "type": "string"
                  },
                  "gravatar_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "html_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "node_id": {
                    "type": "string"
                  },
                  "login": {
                    "type": "string"
                  },
                  "organizations_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "received_events_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "repos_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "site_admin": {
                    "type": "boolean"
                  },
                  "starred_url": {
                    "type": "string"
                  },
                  "subscriptions_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "type": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "avatar_url",
                  "events_url",
                  "followers_url",
                  "following_url",
                  "gists_url",
                  "gravatar_id",
                  "html_url",
                  "id",
                  "node_id",
                  "login",
                  "organizations_url",
                  "received_events_url",
                  "repos_url",
                  "site_admin",
                  "starred_url",
                  "subscriptions_url",
                  "type",
                  "url"
                ]
              }
            },
            "required": [
              "label",
              "ref",
              "repo",
              "sha",
              "user"
            ]
          },
          "_links": {
            "type": "object",
            "properties": {
              "comments": {
                "$ref": "#/components/schemas/link"
              },
              "commits": {
                "$ref": "#/components/schemas/link"
              },
              "statuses": {
                "$ref": "#/components/schemas/link"
              },
              "html": {
                "$ref": "#/components/schemas/link"
              },
              "issue": {
                "$ref": "#/components/schemas/link"
              },
              "review_comments": {
                "$ref": "#/components/schemas/link"
              },
              "review_comment": {
                "$ref": "#/components/schemas/link"
              },
              "self": {
                "$ref": "#/components/schemas/link"
              }
            },
            "required": [
              "comments",
              "commits",
              "statuses",
              "html",
              "issue",
              "review_comments",
              "review_comment",
              "self"
            ]
          },
          "author_association": {
            "$ref": "#/components/schemas/author-association"
          },
          "auto_merge": {
            "$ref": "#/components/schemas/auto-merge"
          },
          "draft": {
            "description": "Indicates whether or not the pull request is a draft.",
            "example": false,
            "type": "boolean"
          },
          "merged": {
            "type": "boolean"
          },
          "mergeable": {
            "type": "boolean",
            "example": true,
            "nullable": true
          },
          "rebaseable": {
            "type": "boolean",
            "example": true,
            "nullable": true
          },
          "mergeable_state": {
            "type": "string",
            "example": "clean"
          },
          "merged_by": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "comments": {
            "type": "integer",
            "example": 10
          },
          "review_comments": {
            "type": "integer",
            "example": 0
          },
          "maintainer_can_modify": {
            "description": "Indicates whether maintainers can modify the pull request.",
            "example": true,
            "type": "boolean"
          },
          "commits": {
            "type": "integer",
            "example": 3
          },
          "additions": {
            "type": "integer",
            "example": 100
          },
          "deletions": {
            "type": "integer",
            "example": 3
          },
          "changed_files": {
            "type": "integer",
            "example": 5
          }
        },
        "required": [
          "_links",
          "assignee",
          "labels",
          "base",
          "body",
          "closed_at",
          "comments_url",
          "commits_url",
          "created_at",
          "diff_url",
          "head",
          "html_url",
          "id",
          "node_id",
          "issue_url",
          "merge_commit_sha",
          "merged_at",
          "milestone",
          "number",
          "patch_url",
          "review_comment_url",
          "review_comments_url",
          "statuses_url",
          "state",
          "locked",
          "title",
          "updated_at",
          "url",
          "user",
          "author_association",
          "auto_merge",
          "additions",
          "changed_files",
          "comments",
          "commits",
          "deletions",
          "mergeable",
          "mergeable_state",
          "merged",
          "maintainer_can_modify",
          "merged_by",
          "review_comments"
        ]
      },
      "reaction-rollup": {
        "title": "Reaction Rollup",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "total_count": {
            "type": "integer"
          },
          "+1": {
            "type": "integer"
          },
          "-1": {
            "type": "integer"
          },
          "laugh": {
            "type": "integer"
          },
          "confused": {
            "type": "integer"
          },
          "heart": {
            "type": "integer"
          },
          "hooray": {
            "type": "integer"
          },
          "eyes": {
            "type": "integer"
          },
          "rocket": {
            "type": "integer"
          }
        },
        "required": [
          "url",
          "total_count",
          "+1",
          "-1",
          "laugh",
          "confused",
          "heart",
          "hooray",
          "eyes",
          "rocket"
        ]
      },
      "review-comment": {
        "title": "Legacy Review Comment",
        "description": "Legacy Review Comment",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments/1"
          },
          "pull_request_review_id": {
            "type": "integer",
            "example": 42,
            "nullable": true
          },
          "id": {
            "type": "integer",
            "example": 10
          },
          "node_id": {
            "type": "string",
            "example": "MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDEw"
          },
          "diff_hunk": {
            "type": "string",
            "example": "@@ -16,33 +16,40 @@ public class Connection : IConnection..."
          },
          "path": {
            "type": "string",
            "example": "file1.txt"
          },
          "position": {
            "type": "integer",
            "example": 1,
            "nullable": true
          },
          "original_position": {
            "type": "integer",
            "example": 4
          },
          "commit_id": {
            "type": "string",
            "example": "6dcb09b5b57875f334f61aebed695e2e4193db5e"
          },
          "original_commit_id": {
            "type": "string",
            "example": "9c48853fa3dc5c1c3d6f1f1cd1f2743e72652840"
          },
          "in_reply_to_id": {
            "type": "integer",
            "example": 8
          },
          "user": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "body": {
            "type": "string",
            "example": "Great stuff"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-04-14T16:00:49Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2011-04-14T16:00:49Z"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World/pull/1#discussion-diff-1"
          },
          "pull_request_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World/pulls/1"
          },
          "author_association": {
            "$ref": "#/components/schemas/author-association"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "$ref": "#/components/schemas/link"
              },
              "html": {
                "$ref": "#/components/schemas/link"
              },
              "pull_request": {
                "$ref": "#/components/schemas/link"
              }
            },
            "required": [
              "self",
              "html",
              "pull_request"
            ]
          },
          "body_text": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "reactions": {
            "$ref": "#/components/schemas/reaction-rollup"
          },
          "side": {
            "description": "The side of the first line of the range for a multi-line comment.",
            "enum": [
              "LEFT",
              "RIGHT"
            ],
            "default": "RIGHT",
            "type": "string"
          },
          "start_side": {
            "type": "string",
            "description": "The side of the first line of the range for a multi-line comment.",
            "enum": [
              "LEFT",
              "RIGHT"
            ],
            "default": "RIGHT",
            "nullable": true
          },
          "line": {
            "description": "The line of the blob to which the comment applies. The last line of the range for a multi-line comment",
            "example": 2,
            "type": "integer"
          },
          "original_line": {
            "description": "The original line of the blob to which the comment applies. The last line of the range for a multi-line comment",
            "example": 2,
            "type": "integer"
          },
          "start_line": {
            "description": "The first line of the range for a multi-line comment.",
            "example": 2,
            "type": "integer",
            "nullable": true
          },
          "original_start_line": {
            "description": "The original first line of the range for a multi-line comment.",
            "example": 2,
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "id",
          "node_id",
          "url",
          "body",
          "diff_hunk",
          "path",
          "position",
          "original_position",
          "commit_id",
          "original_commit_id",
          "user",
          "pull_request_review_id",
          "html_url",
          "pull_request_url",
          "_links",
          "author_association",
          "created_at",
          "updated_at"
        ]
      },
      "repository": {
        "title": "Repository",
        "description": "A repository on GitHub.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the repository",
            "example": 42,
            "type": "integer"
          },
          "node_id": {
            "type": "string",
            "example": "MDEwOlJlcG9zaXRvcnkxMjk2MjY5"
          },
          "name": {
            "description": "The name of the repository.",
            "type": "string",
            "example": "Team Environment"
          },
          "full_name": {
            "type": "string",
            "example": "octocat/Hello-World"
          },
          "license": {
            "$ref": "#/components/schemas/nullable-license-simple"
          },
          "organization": {
            "$ref": "#/components/schemas/nullable-simple-user"
          },
          "forks": {
            "type": "integer"
          },
          "permissions": {
            "type": "object",
            "properties": {
              "admin": {
                "type": "boolean"
              },
              "pull": {
                "type": "boolean"
              },
              "triage": {
                "type": "boolean"
              },
              "push": {
                "type": "boolean"
              },
              "maintain": {
                "type": "boolean"
              }
            },
            "required": [
              "admin",
              "pull",
              "push"
            ]
          },
          "owner": {
            "$ref": "#/components/schemas/simple-user"
          },
          "private": {
            "description": "Whether the repository is private or public.",
            "default": false,
            "type": "boolean"
          },
          "html_url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/octocat/Hello-World"
          },
          "description": {
            "type": "string",
            "example": "This your first repo!",
            "nullable": true
          },
          "fork": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.github.com/repos/octocat/Hello-World"
          },
          "archive_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}"
          },
          "assignees_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/assignees{/user}"
          },
          "blobs_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}"
          },
          "branches_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/branches{/branch}"
          },
          "collaborators_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}"
          },
          "comments_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/comments{/number}"
          },
          "commits_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/commits{/sha}"
          },
          "compare_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}"
          },
          "contents_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/contents/{+path}"
          },
          "contributors_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/contributors"
          },
          "deployments_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/deployments"
          },
          "downloads_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/downloads"
          },
          "events_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/events"
          },
          "forks_url": {
            "type": "string",
            "format": "uri",
            "example": "http://api.github.com/repos/octocat/Hello-World/forks"
          },
          "git_commits_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}"
          },
          "git_refs_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}"
          },
          "git_tags_url": {
            "type": "string",
            "example": "http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}"
          },
[...]
