openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph - Subset
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /me/calendar/events:
    get:
      tags:
        - me.calendar
      summary: List events
      description: "Retrieve a list of events in a calendar. The calendar can be one for a user, or the default calendar of a Microsoft 365 group. The list of events contains single instance meetings and series masters. To get expanded event instances, you can get the calendar view, or\nget the instances of an event."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/calendar-list-events?view=graph-rest-1.0
      operationId: me_calendar_ListEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - iCalUId
                - iCalUId desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - end
                - hasAttachments
                - hideAttendees
                - iCalUId
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - webLink
                - attachments
                - calendar
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - calendar
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
        itemName: value
components:
  schemas:
    microsoft.graph.eventCollectionResponse:
      title: Collection of event
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.event:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: event
          type: object
          properties:
            allowNewTimeProposals:
              type: boolean
              description: 'true if the meeting organizer allows invitees to propose a new time when responding; otherwise, false. Optional. Default is true.'
              nullable: true
            attendees:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attendee'
              description: The collection of attendees for the event.
            body:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.itemBody'
                - type: object
                  nullable: true
              description: The body of the message associated with the event. It can be in HTML or text format.
            bodyPreview:
              type: string
              description: The preview of the message associated with the event. It is in text format.
              nullable: true
            end:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                - type: object
                  nullable: true
              description: 'The date, time, and time zone that the event ends. By default, the end time is in UTC.'
            hasAttachments:
              type: boolean
              description: Set to true if the event has attachments.
              nullable: true
            hideAttendees:
              type: boolean
              description: 'When set to true, each attendee only sees themselves in the meeting request and meeting Tracking list. Default is false.'
              nullable: true
            iCalUId:
              type: string
              description: A unique identifier for an event across calendars. This ID is different for each occurrence in a recurring series. Read-only.
              nullable: true
            importance:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.importance'
                - type: object
                  nullable: true
              description: 'The importance of the event. The possible values are: low, normal, high.'
            isAllDay:
              type: boolean
              description: 'Set to true if the event lasts all day. If true, regardless of whether it''s a single-day or multi-day event, start and end time must be set to midnight and be in the same time zone.'
              nullable: true
            isCancelled:
              type: boolean
              description: Set to true if the event has been canceled.
              nullable: true
            isDraft:
              type: boolean
              description: 'Set to true if the user has updated the meeting in Outlook but has not sent the updates to attendees. Set to false if all changes have been sent, or if the event is an appointment without any attendees.'
              nullable: true
            isOnlineMeeting:
              type: boolean
              description: 'True if this event has online meeting information (that is, onlineMeeting points to an onlineMeetingInfo resource), false otherwise. Default is false (onlineMeeting is null). Optional.  After you set isOnlineMeeting to true, Microsoft Graph initializes onlineMeeting. Subsequently Outlook ignores any further changes to isOnlineMeeting, and the meeting remains available online.'
              nullable: true
            isOrganizer:
              type: boolean
              description: Set to true if the calendar owner (specified by the owner property of the calendar) is the organizer of the event (specified by the organizer property of the event). This also applies if a delegate organized the event on behalf of the owner.
              nullable: true
            isReminderOn:
              type: boolean
              description: Set to true if an alert is set to remind the user of the event.
              nullable: true
            location:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.location'
                - type: object
                  nullable: true
              description: The location of the event.
            locations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
              description: 'The locations where the event is held or attended from. The location and locations properties always correspond with each other. If you update the location property, any prior locations in the locations collection would be removed and replaced by the new location value.'
            onlineMeeting:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onlineMeetingInfo'
                - type: object
                  nullable: true
              description: 'Details for an attendee to join the meeting online. Default is null. Read-only. After you set the isOnlineMeeting and onlineMeetingProvider properties to enable a meeting online, Microsoft Graph initializes onlineMeeting. When set, the meeting remains available online, and you cannot change the isOnlineMeeting, onlineMeetingProvider, and onlneMeeting properties again.'
            onlineMeetingProvider:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onlineMeetingProviderType'
                - type: object
                  nullable: true
              description: 'Represents the online meeting service provider. By default, onlineMeetingProvider is unknown. The possible values are unknown, teamsForBusiness, skypeForBusiness, and skypeForConsumer. Optional.  After you set onlineMeetingProvider, Microsoft Graph initializes onlineMeeting. Subsequently you cannot change onlineMeetingProvider again, and the meeting remains available online.'
            onlineMeetingUrl:
              type: string
              description: 'A URL for an online meeting. The property is set only when an organizer specifies in Outlook that an event is an online meeting such as Skype. Read-only.To access the URL to join an online meeting, use joinUrl which is exposed via the onlineMeeting property of the event. The onlineMeetingUrl property will be deprecated in the future.'
              nullable: true
            organizer:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.recipient'
                - type: object
                  nullable: true
              description: The organizer of the event.
            originalEndTimeZone:
              type: string
              description: The end time zone that was set when the event was created. A value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop Outlook.
              nullable: true
            originalStart:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Represents the start time of an event when it is initially created as an occurrence or exception in a recurring series. This property is not returned for events that are single instances. Its date and time information is expressed in ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            originalStartTimeZone:
              type: string
              description: The start time zone that was set when the event was created. A value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop Outlook.
              nullable: true
            recurrence:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.patternedRecurrence'
                - type: object
                  nullable: true
              description: The recurrence pattern for the event.
            reminderMinutesBeforeStart:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: The number of minutes before the event start time that the reminder alert occurs.
              format: int32
              nullable: true
            responseRequested:
              type: boolean
              description: 'Default is true, which represents the organizer would like an invitee to send a response to the event.'
              nullable: true
            responseStatus:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.responseStatus'
                - type: object
                  nullable: true
              description: Indicates the type of response sent in response to an event message.
            sensitivity:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.sensitivity'
                - type: object
                  nullable: true
              description: 'Possible values are: normal, personal, private, confidential.'
            seriesMasterId:
              type: string
              description: 'The ID for the recurring series master item, if this event is part of a recurring series.'
              nullable: true
            showAs:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.freeBusyStatus'
                - type: object
                  nullable: true
              description: 'The status to show. Possible values are: free, tentative, busy, oof, workingElsewhere, unknown.'
            start:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                - type: object
                  nullable: true
              description: 'The start date, time, and time zone of the event. By default, the start time is in UTC.'
            subject:
              type: string
              description: The text of the event's subject line.
              nullable: true
            transactionId:
              type: string
              description: 'A custom identifier specified by a client app for the server to avoid redundant POST operations in case of client retries to create the same event. This is useful when low network connectivity causes the client to time out before receiving a response from the server for the client''s prior create-event request. After you set transactionId when creating an event, you cannot change transactionId in a subsequent update. This property is only returned in a response payload if an app has set it. Optional.'
              nullable: true
            type:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.eventType'
                - type: object
                  nullable: true
              description: 'The event type. Possible values are: singleInstance, occurrence, exception, seriesMaster. Read-only'
            webLink:
              type: string
              description: 'The URL to open the event in Outlook on the web.Outlook on the web opens the event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web prompts you to sign in.This URL cannot be accessed from within an iFrame.'
              nullable: true
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
              description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
            calendar:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.calendar'
                - type: object
                  nullable: true
              description: The calendar that contains the event. Navigation property. Read-only.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the event. Nullable.
            instances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
              description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
              description: The collection of multi-value extended properties defined for the event. Read-only. Nullable.
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
              description: The collection of single-value extended properties defined for the event. Read-only. Nullable.
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.outlookItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookItem
          type: object
          properties:
            categories:
              type: array
              items:
                type: string
                nullable: true
              description: The categories associated with the item
            changeKey:
              type: string
              description: 'Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
    microsoft.graph.attendee:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.attendeeBase'
        - title: attendee
          type: object
          properties:
            proposedNewTime:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.timeSlot'
                - type: object
                  nullable: true
              description: 'An alternate date/time proposed by the attendee for a meeting request to start and end. If the attendee hasn''t proposed another time, then this property isn''t included in a response of a GET event.'
            status:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.responseStatus'
                - type: object
                  nullable: true
              description: 'The attendee''s response (none, accepted, declined, etc.) for the event and date-time that the response was sent.'
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        content:
          type: string
          description: The content of the item.
          nullable: true
        contentType:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.bodyType'
            - type: object
              nullable: true
          description: The type of the content. Possible values are text and html.
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
        timeZone:
          type: string
          description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for more possible values.'
          nullable: true
    microsoft.graph.importance:
      title: importance
      enum:
        - low
        - normal
        - high
      type: string
    microsoft.graph.location:
      title: location
      type: object
      properties:
        address:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.physicalAddress'
            - type: object
              nullable: true
          description: The street address of the location.
        coordinates:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
            - type: object
              nullable: true
          description: The geographic coordinates and elevation of the location.
        displayName:
          type: string
          description: The name associated with the location.
          nullable: true
        locationEmailAddress:
          type: string
          description: Optional email address of the location.
          nullable: true
        locationType:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.locationType'
            - type: object
              nullable: true
          description: 'The type of location. The possible values are: default, conferenceRoom, homeAddress, businessAddress,geoCoordinates, streetAddress, hotel, restaurant, localBusiness, postalAddress. Read-only.'
        locationUri:
          type: string
          description: Optional URI representing the location.
          nullable: true
        uniqueId:
          type: string
          description: For internal use only.
          nullable: true
        uniqueIdType:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.locationUniqueIdType'
            - type: object
              nullable: true
          description: For internal use only.
    microsoft.graph.onlineMeetingInfo:
      title: onlineMeetingInfo
      type: object
      properties:
        conferenceId:
          type: string
          description: The ID of the conference.
          nullable: true
        joinUrl:
          type: string
          description: The external link that launches the online meeting. This is a URL that clients launch into a browser and will redirect the user to join the meeting.
          nullable: true
        phones:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.phone'
          description: All of the phone numbers associated with this conference.
        quickDial:
          type: string
          description: The preformatted quick dial for this call.
          nullable: true
        tollFreeNumbers:
          type: array
          items:
            type: string
            nullable: true
          description: The toll free numbers that can be used to join the conference.
        tollNumber:
          type: string
          description: The toll number that can be used to join the conference.
          nullable: true
    microsoft.graph.onlineMeetingProviderType:
      title: onlineMeetingProviderType
      enum:
        - unknown
        - skypeForBusiness
        - skypeForConsumer
        - teamsForBusiness
      type: string
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailAddress'
            - type: object
              nullable: true
          description: The recipient's email address.
    microsoft.graph.patternedRecurrence:
      title: patternedRecurrence
      type: object
      properties:
        pattern:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.recurrencePattern'
            - type: object
              nullable: true
          description: 'The frequency of an event.  For access reviews: Do not specify this property for a one-time access review.  Only interval, dayOfMonth, and type (weekly, absoluteMonthly) properties of recurrencePattern are supported.'
        range:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.recurrenceRange'
            - type: object
              nullable: true
          description: The duration of an event.
    microsoft.graph.responseStatus:
      title: responseStatus
      type: object
      properties:
        response:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.responseType'
            - type: object
              nullable: true
          description: 'The response type. Possible values are: none, organizer, tentativelyAccepted, accepted, declined, notResponded.To differentiate between none and notResponded:  none – from organizer''s perspective. This value is used when the status of an attendee/participant is reported to the organizer of a meeting.  notResponded – from attendee''s perspective. Indicates the attendee has not responded to the meeting request.  Clients can treat notResponded == none.  As an example, if attendee Alex hasn''t responded to a meeting request, getting Alex'' response status for that event in Alex'' calendar returns notResponded. Getting Alex'' response from the calendar of any other attendee or the organizer''s returns none. Getting the organizer''s response for the event in anybody''s calendar also returns none.'
        time:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time when the response was returned. It uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
          format: date-time
          nullable: true
    microsoft.graph.sensitivity:
      title: sensitivity
      enum:
        - normal
        - personal
        - private
        - confidential
      type: string
    microsoft.graph.freeBusyStatus:
      title: freeBusyStatus
      enum:
        - unknown
        - free
        - tentative
        - busy
        - oof
        - workingElsewhere
      type: string
    microsoft.graph.eventType:
      title: eventType
      enum:
        - singleInstance
        - occurrence
        - exception
        - seriesMaster
      type: string
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            contentType:
              type: string
              description: The MIME type.
              nullable: true
            isInline:
              type: boolean
              description: 'true if the attachment is an inline attachment; otherwise, false.'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z'
              format: date-time
              nullable: true
            name:
              type: string
              description: The attachment's file name.
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: The length of the attachment in bytes.
              format: int32
    microsoft.graph.calendar:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: calendar
          type: object
          properties:
            allowedOnlineMeetingProviders:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.onlineMeetingProviderType'
                  - type: object
                    nullable: true
              description: 'Represent the online meeting service providers that can be used to create online meetings in this calendar. Possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness.'
            canEdit:
              type: boolean
              description: 'true if the user can write to the calendar, false otherwise. This property is true for the user who created the calendar. This property is also true for a user who has been shared a calendar and granted write access.'
              nullable: true
            canShare:
              type: boolean
              description: 'true if the user has the permission to share the calendar, false otherwise. Only the user who created the calendar can share it.'
              nullable: true
            canViewPrivateItems:
              type: boolean
              description: 'true if the user can read calendar items that have been marked private, false otherwise.'
              nullable: true
            changeKey:
              type: string
              description: 'Identifies the version of the calendar object. Every time the calendar is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.'
              nullable: true
            color:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.calendarColor'
                - type: object
                  nullable: true
              description: 'Specifies the color theme to distinguish the calendar from other calendars in a UI. The property values are: auto, lightBlue, lightGreen, lightOrange, lightGray, lightYellow, lightTeal, lightPink, lightBrown, lightRed, maxColor.'
            defaultOnlineMeetingProvider:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onlineMeetingProviderType'
                - type: object
                  nullable: true
              description: 'The default online meeting provider for meetings sent from this calendar. Possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness.'
            hexColor:
              type: string
              description: 'The calendar color, expressed in a hex color code of three hexadecimal values, each ranging from 00 to FF and representing the red, green, or blue components of the color in the RGB color space. If the user has never explicitly set a color for the calendar, this property is empty. Read-only.'
              nullable: true
            isDefaultCalendar:
              type: boolean
              description: 'true if this is the default calendar where new events are created by default, false otherwise.'
              nullable: true
            isRemovable:
              type: boolean
              description: Indicates whether this user calendar can be deleted from the user mailbox.
              nullable: true
            isTallyingResponses:
              type: boolean
              description: Indicates whether this user calendar supports tracking of meeting responses. Only meeting invites sent from users' primary calendars support tracking of meeting responses.
              nullable: true
            name:
              type: string
              description: The calendar name.
              nullable: true
            owner:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.emailAddress'
                - type: object
                  nullable: true
              description: 'If set, this represents the user who created or added the calendar. For a calendar that the user created or added, the owner property is set to the user. For a calendar shared with the user, the owner property is set to the person who shared that calendar with the user.'
            calendarPermissions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
              description: The permissions of the users with whom the calendar is shared.
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
              description: The calendar view for the calendar. Navigation property. Read-only.
            events:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
              description: The events in the calendar. Navigation property. Read-only.
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
              description: The collection of multi-value extended properties defined for the calendar. Read-only. Nullable.
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
              description: The collection of single-value extended properties defined for the calendar. Read-only. Nullable.
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: array
              items:
                type: string
                nullable: true
              description: A collection of property values.
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: singleValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: string
              description: A property value.
              nullable: true
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      type: object
      description: The structure of this object is service-specific
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
    microsoft.graph.attendeeBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.recipient'
        - title: attendeeBase
          type: object
          properties:
            type:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.attendeeType'
                - type: object
                  nullable: true
              description: 'The type of attendee. The possible values are: required, optional, resource. Currently if the attendee is a person, findMeetingTimes always considers the person is of the Required type.'
    microsoft.graph.timeSlot:
      title: timeSlot
      type: object
      properties:
        end:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        start:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
    microsoft.graph.outlookGeoCoordinates:
      title: outlookGeoCoordinates
      type: object
      properties:
        accuracy:
          oneOf:
            - type: number
              format: double
              nullable: true
            - type: string
              nullable: true
            - $ref: '#/components/schemas/ReferenceNumeric'
          description: 'The accuracy of the latitude and longitude. As an example, the accuracy can be measured in meters, such as the latitude and longitude are accurate to within 50 meters.'
        altitude:
          oneOf:
            - type: number
              format: double
              nullable: true
            - type: string
              nullable: true
            - $ref: '#/components/schemas/ReferenceNumeric'
          description: The altitude of the location.
        altitudeAccuracy:
          oneOf:
            - type: number
              format: double
              nullable: true
            - type: string
              nullable: true
            - $ref: '#/components/schemas/ReferenceNumeric'
          description: The accuracy of the altitude.
        latitude:
          oneOf:
            - type: number
              format: double
              nullable: true
            - type: string
              nullable: true
            - $ref: '#/components/schemas/ReferenceNumeric'
          description: The latitude of the location.
        longitude:
          oneOf:
            - type: number
              format: double
              nullable: true
            - type: string
              nullable: true
            - $ref: '#/components/schemas/ReferenceNumeric'
          description: The longitude of the location.
    microsoft.graph.locationType:
      title: locationType
      enum:
        - default
        - conferenceRoom
        - homeAddress
        - businessAddress
        - geoCoordinates
        - streetAddress
        - hotel
        - restaurant
        - localBusiness
        - postalAddress
      type: string
    microsoft.graph.locationUniqueIdType:
      title: locationUniqueIdType
      enum:
        - unknown
        - locationStore
        - directory
        - private
        - bing
      type: string
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        language:
          type: string
          nullable: true
        number:
          type: string
          description: The phone number.
          nullable: true
        region:
          type: string
          nullable: true
        type:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.phoneType'
            - type: object
              nullable: true
          description: 'The type of phone number. The possible values are: home, business, mobile, other, assistant, homeFax, businessFax, otherFax, pager, radio.'
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        address:
          type: string
          description: The email address of the person or entity.
          nullable: true
        name:
          type: string
          description: The display name of the person or entity.
          nullable: true
    microsoft.graph.recurrencePattern:
      title: recurrencePattern
      type: object
      properties:
        dayOfMonth:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
          format: int32
        daysOfWeek:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
              - type: object
                nullable: true
          description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
        firstDayOfWeek:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
            - type: object
              nullable: true
          description: 'The first day of the week. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. Default is sunday. Required if type is weekly.'
        index:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.weekIndex'
            - type: object
              nullable: true
          description: 'Specifies on which instance of the allowed days specified in daysOfWeek the event occurs, counted from the first instance in the month. The possible values are: first, second, third, fourth, last. Default is first. Optional and used if type is relativeMonthly or relativeYearly.'
        interval:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: 'The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.'
          format: int32
        month:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The month in which the event occurs.  This is a number from 1 to 12.
          format: int32
        type:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.recurrencePatternType'
            - type: object
              nullable: true
          description: 'The recurrence pattern type: daily, weekly, absoluteMonthly, relativeMonthly, absoluteYearly, relativeYearly. Required. For more information, see values of type property.'
    microsoft.graph.recurrenceRange:
      title: recurrenceRange
      type: object
      properties:
        endDate:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
          type: string
          description: 'The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.'
          format: date
          nullable: true
        numberOfOccurrences:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The number of times to repeat the event. Required and must be positive if type is numbered.
          format: int32
        recurrenceTimeZone:
          type: string
          description: 'Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.'
          nullable: true
        startDate:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
          type: string
          description: 'The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.'
          format: date
          nullable: true
        type:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.recurrenceRangeType'
            - type: object
              nullable: true
          description: 'The recurrence range. The possible values are: endDate, noEnd, numbered. Required.'
    microsoft.graph.responseType:
      title: responseType
      enum:
        - none
        - organizer
        - tentativelyAccepted
        - accepted
        - declined
        - notResponded
      type: string
    microsoft.graph.calendarColor:
      title: calendarColor
      enum:
        - auto
        - lightBlue
        - lightGreen
        - lightOrange
        - lightGray
        - lightYellow
        - lightTeal
        - lightPink
        - lightBrown
        - lightRed
        - maxColor
      type: string
    microsoft.graph.calendarPermission:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: calendarPermission
          type: object
          properties:
            allowedRoles:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
                  - type: object
                    nullable: true
              description: 'List of allowed sharing or delegating permission levels for the calendar. Possible values are: none, freeBusyRead, limitedRead, read, write, delegateWithoutPrivateEventAccess, delegateWithPrivateEventAccess, custom.'
            emailAddress:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.emailAddress'
                - type: object
                  nullable: true
              description: 'Represents a share recipient or delegate who has access to the calendar. For the ''My Organization'' share recipient, the address property is null. Read-only.'
            isInsideOrganization:
              type: boolean
              description: True if the user in context (recipient or delegate) is inside the same organization as the calendar owner.
              nullable: true
            isRemovable:
              type: boolean
              description: 'True if the user can be removed from the list of recipients or delegates for the specified calendar, false otherwise. The ''My organization'' user determines the permissions other people within your organization have to the given calendar. You can''t remove ''My organization'' as a share recipient to a calendar.'
              nullable: true
            role:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
                - type: object
                  nullable: true
              description: Current permission level of the calendar share recipient or delegate.
    microsoft.graph.attendeeType:
      title: attendeeType
      enum:
        - required
        - optional
        - resource
      type: string
    ReferenceNumeric:
      enum:
        - '-INF'
        - INF
        - NaN
      type: string
      nullable: true
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
        - sunday
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
      type: string
    microsoft.graph.weekIndex:
      title: weekIndex
      enum:
        - first
        - second
        - third
        - fourth
        - last
      type: string
    microsoft.graph.recurrencePatternType:
      title: recurrencePatternType
      enum:
        - daily
        - weekly
        - absoluteMonthly
        - relativeMonthly
        - absoluteYearly
        - relativeYearly
      type: string
    microsoft.graph.recurrenceRangeType:
      title: recurrenceRangeType
      enum:
        - endDate
        - noEnd
        - numbered
      type: string
    microsoft.graph.calendarRoleType:
      title: calendarRoleType
      enum:
        - none
        - freeBusyRead
        - limitedRead
        - read
        - write
        - delegateWithoutPrivateEventAccess
        - delegateWithPrivateEventAccess
        - custom
      type: string
  responses:
    microsoft.graph.eventCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.eventCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean