**/*.gif
**/*.map
**/*.ts
*.tgz
.DS_Store
.azure-pipelines/**
.github/**
.gitignore
.vscode-test/**
.vscode/**
.vscodeignore
build/**
dist/test/**
gulp*
node_modules/**
out/**
redirect/**
resources/readme/**
sample/**
src/**
stats.json
test-results.xml
tsconfig.json
webpack.config*
