<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="agent-runtime" value="C:\Users\crickman\source\repos\ag-runtime-1\dotnet\artifacts\package\debug" />
  
  </packageSources>

  <packageSourceMapping>
    <packageSource key="agent-runtime">
      <package pattern="Microsoft.AgentRuntime.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
