<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
       <add key="azure-sdk" value="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json" />
  
  </packageSources>

  <packageSourceMapping>
    <packageSource key="azure-sdk">
      <package pattern="Azure.AI.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
