{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-11-27",
    "endpointPrefix":"qbusiness",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"QBusiness",
    "serviceId":"QBusiness",
    "signatureVersion":"v4",
    "signingName":"qbusiness",
    "uid":"qbusiness-2023-11-27"
  },
  "operations":{
    "BatchDeleteDocument":{
      "name":"BatchDeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/documents/delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteDocumentRequest"},
      "output":{"shape":"BatchDeleteDocumentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Asynchronously deletes one or more documents added using the <code>BatchPutDocument</code> API from an Amazon Q index.</p> <p>You can see the progress of the deletion, and any error messages related to the process, by using CloudWatch.</p>"
    },
    "BatchPutDocument":{
      "name":"BatchPutDocument",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/documents",
        "responseCode":200
      },
      "input":{"shape":"BatchPutDocumentRequest"},
      "output":{"shape":"BatchPutDocumentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Adds one or more documents to an Amazon Q index.</p> <p>You use this API to:</p> <ul> <li> <p>ingest your structured and unstructured documents and documents stored in an Amazon S3 bucket into an Amazon Q index.</p> </li> <li> <p>add custom attributes to documents in an Amazon Q index.</p> </li> <li> <p>attach an access control list to the documents added to an Amazon Q index.</p> </li> </ul> <p>You can see the progress of the deletion, and any error messages related to the process, by using CloudWatch.</p>"
    },
    "ChatSync":{
      "name":"ChatSync",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/conversations?sync",
        "responseCode":200
      },
      "input":{"shape":"ChatSyncInput"},
      "output":{"shape":"ChatSyncOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts or continues a non-streaming Amazon Q conversation.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q application.</p>",
      "idempotent":true
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources",
        "responseCode":200
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a data source connector for an Amazon Q application.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p>",
      "idempotent":true
    },
    "CreateIndex":{
      "name":"CreateIndex",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices",
        "responseCode":200
      },
      "input":{"shape":"CreateIndexRequest"},
      "output":{"shape":"CreateIndexResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q index.</p> <p>To determine if index creation has completed, check the <code>Status</code> field returned from a call to <code>DescribeIndex</code>. The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active, you can index your documents using the <a href=\"https://docs.aws.amazon.com/enterpriseq/latest/APIReference/API_BatchPutDocument.html\"> <code>BatchPutDocument</code> </a> API or the <a href=\"https://docs.aws.amazon.com/enterpriseq/latest/APIReference/API_CreateDataSource.html\"> <code>CreateDataSource</code> </a> API.</p>"
    },
    "CreatePlugin":{
      "name":"CreatePlugin",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/plugins",
        "responseCode":200
      },
      "input":{"shape":"CreatePluginRequest"},
      "output":{"shape":"CreatePluginResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q plugin.</p>",
      "idempotent":true
    },
    "CreateRetriever":{
      "name":"CreateRetriever",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/retrievers",
        "responseCode":200
      },
      "input":{"shape":"CreateRetrieverRequest"},
      "output":{"shape":"CreateRetrieverResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Adds a retriever to your Amazon Q application.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/users",
        "responseCode":200
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a universally unique identifier (UUID) mapped to a list of local user ids within an application.</p>",
      "idempotent":true
    },
    "CreateWebExperience":{
      "name":"CreateWebExperience",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/experiences",
        "responseCode":200
      },
      "input":{"shape":"CreateWebExperienceRequest"},
      "output":{"shape":"CreateWebExperienceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q web experience.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q application.</p>",
      "idempotent":true
    },
    "DeleteChatControlsConfiguration":{
      "name":"DeleteChatControlsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"DeleteChatControlsConfigurationRequest"},
      "output":{"shape":"DeleteChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes chat controls configured for an existing Amazon Q application.</p>",
      "idempotent":true
    },
    "DeleteConversation":{
      "name":"DeleteConversation",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConversationRequest"},
      "output":{"shape":"DeleteConversationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q web experience conversation.</p>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q data source connector. While the data source is being deleted, the <code>Status</code> field returned by a call to the <code>DescribeDataSource</code> API is set to <code>DELETING</code>. </p>",
      "idempotent":true
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a group so that all users and sub groups that belong to the group can no longer access documents only available to that group. For example, after deleting the group \"Summer Interns\", all interns who belonged to that group no longer see intern-only documents in their chat results. </p> <p>If you want to delete, update, or replace users or sub groups of a group, you need to use the <code>PutGroup</code> operation. For example, if a user in the group \"Engineering\" leaves the engineering team and another user takes their place, you provide an updated list of users or sub groups that belong to the \"Engineering\" group when calling <code>PutGroup</code>.</p>",
      "idempotent":true
    },
    "DeleteIndex":{
      "name":"DeleteIndex",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteIndexRequest"},
      "output":{"shape":"DeleteIndexResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q index.</p>",
      "idempotent":true
    },
    "DeletePlugin":{
      "name":"DeletePlugin",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"DeletePluginRequest"},
      "output":{"shape":"DeletePluginResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q plugin.</p>",
      "idempotent":true
    },
    "DeleteRetriever":{
      "name":"DeleteRetriever",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRetrieverRequest"},
      "output":{"shape":"DeleteRetrieverResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the retriever used by an Amazon Q application.</p>",
      "idempotent":true
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a user by email id.</p>",
      "idempotent":true
    },
    "DeleteWebExperience":{
      "name":"DeleteWebExperience",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWebExperienceRequest"},
      "output":{"shape":"DeleteWebExperienceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q web experience.</p>",
      "idempotent":true
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationRequest"},
      "output":{"shape":"GetApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q application.</p>"
    },
    "GetChatControlsConfiguration":{
      "name":"GetChatControlsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"GetChatControlsConfigurationRequest"},
      "output":{"shape":"GetChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an chat controls configured for an existing Amazon Q application.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q data source connector.</p>"
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode":200
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{"shape":"GetGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a group by group name.</p>"
    },
    "GetIndex":{
      "name":"GetIndex",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"GetIndexRequest"},
      "output":{"shape":"GetIndexResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q index.</p>"
    },
    "GetPlugin":{
      "name":"GetPlugin",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"GetPluginRequest"},
      "output":{"shape":"GetPluginResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q plugin.</p>"
    },
    "GetRetriever":{
      "name":"GetRetriever",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"GetRetrieverRequest"},
      "output":{"shape":"GetRetrieverResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing retriever used by an Amazon Q application.</p>"
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the universally unique identifier (UUID) associated with a local user in a data source.</p>"
    },
    "GetWebExperience":{
      "name":"GetWebExperience",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"GetWebExperienceRequest"},
      "output":{"shape":"GetWebExperienceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q web experience.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists Amazon Q applications.</p>"
    },
    "ListConversations":{
      "name":"ListConversations",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/conversations",
        "responseCode":200
      },
      "input":{"shape":"ListConversationsRequest"},
      "output":{"shape":"ListConversationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists one or more Amazon Q conversations.</p>"
    },
    "ListDataSourceSyncJobs":{
      "name":"ListDataSourceSyncJobs",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/syncjobs",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceSyncJobsRequest"},
      "output":{"shape":"ListDataSourceSyncJobsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Get information about an Amazon Q data source connector synchronization.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the Amazon Q data source connectors that you have created.</p>"
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/index/{indexId}/documents",
        "responseCode":200
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>A list of documents attached to an index.</p>"
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode":200
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides a list of groups that are mapped to users.</p>"
    },
    "ListIndices":{
      "name":"ListIndices",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices",
        "responseCode":200
      },
      "input":{"shape":"ListIndicesRequest"},
      "output":{"shape":"ListIndicesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the Amazon Q indices you have created.</p>"
    },
    "ListMessages":{
      "name":"ListMessages",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}",
        "responseCode":200
      },
      "input":{"shape":"ListMessagesRequest"},
      "output":{"shape":"ListMessagesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a list of messages associated with an Amazon Q web experience.</p>"
    },
    "ListPlugins":{
      "name":"ListPlugins",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/plugins",
        "responseCode":200
      },
      "input":{"shape":"ListPluginsRequest"},
      "output":{"shape":"ListPluginsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured Amazon Q plugins.</p>"
    },
    "ListRetrievers":{
      "name":"ListRetrievers",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/retrievers",
        "responseCode":200
      },
      "input":{"shape":"ListRetrieversRequest"},
      "output":{"shape":"ListRetrieversResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the retriever used by an Amazon Q application.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a list of tags associated with a specified resource. Amazon Q applications and data sources can have tags associated with them.</p>"
    },
    "ListWebExperiences":{
      "name":"ListWebExperiences",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/experiences",
        "responseCode":200
      },
      "input":{"shape":"ListWebExperiencesRequest"},
      "output":{"shape":"ListWebExperiencesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists one or more Amazon Q Web Experiences.</p>"
    },
    "PutFeedback":{
      "name":"PutFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}/messages/{messageId}/feedback",
        "responseCode":200
      },
      "input":{"shape":"PutFeedbackRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables your end user to to provide feedback on their Amazon Q generated chat responses.</p>"
    },
    "PutGroup":{
      "name":"PutGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode":200
      },
      "input":{"shape":"PutGroupRequest"},
      "output":{"shape":"PutGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create, or updates, a mapping of users—who have access to a document—to groups.</p> <p>You can also map sub groups to groups. For example, the group \"Company Intellectual Property Teams\" includes sub groups \"Research\" and \"Engineering\". These sub groups include their own list of users or people who work in these teams. Only users who work in research and engineering, and therefore belong in the intellectual property group, can see top-secret company documents in their Amazon Q chat results.</p>",
      "idempotent":true
    },
    "StartDataSourceSyncJob":{
      "name":"StartDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/startsync",
        "responseCode":200
      },
      "input":{"shape":"StartDataSourceSyncJobRequest"},
      "output":{"shape":"StartDataSourceSyncJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Starts a data source connector synchronization job. If a synchronization job is already in progress, Amazon Q returns a <code>ConflictException</code>.</p>"
    },
    "StopDataSourceSyncJob":{
      "name":"StopDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/stopsync",
        "responseCode":200
      },
      "input":{"shape":"StopDataSourceSyncJobRequest"},
      "output":{"shape":"StopDataSourceSyncJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Stops an Amazon Q data source connector synchronization job already in progress.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds the specified tag to the specified Amazon Q application or data source resource. If the tag already exists, the existing value is replaced with the new value.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes a tag from an Amazon Q application or a data source.</p>",
      "idempotent":true
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing Amazon Q application.</p>",
      "idempotent":true
    },
    "UpdateChatControlsConfiguration":{
      "name":"UpdateChatControlsConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"UpdateChatControlsConfigurationRequest"},
      "output":{"shape":"UpdateChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an set of chat controls configured for an existing Amazon Q application.</p>",
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing Amazon Q data source connector.</p>",
      "idempotent":true
    },
    "UpdateIndex":{
      "name":"UpdateIndex",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIndexRequest"},
      "output":{"shape":"UpdateIndexResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an Amazon Q index.</p>",
      "idempotent":true
    },
    "UpdatePlugin":{
      "name":"UpdatePlugin",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePluginRequest"},
      "output":{"shape":"UpdatePluginResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an Amazon Q plugin.</p>",
      "idempotent":true
    },
    "UpdateRetriever":{
      "name":"UpdateRetriever",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRetrieverRequest"},
      "output":{"shape":"UpdateRetrieverResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the retriever used for your Amazon Q application.</p>",
      "idempotent":true
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a information associated with a user id.</p>",
      "idempotent":true
    },
    "UpdateWebExperience":{
      "name":"UpdateWebExperience",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWebExperienceRequest"},
      "output":{"shape":"UpdateWebExperienceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an Amazon Q web experience. </p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessConfiguration":{
      "type":"structure",
      "required":["accessControls"],
      "members":{
        "accessControls":{
          "shape":"AccessControls",
          "documentation":"<p>A list of <code>AccessControlList</code> objects.</p>"
        },
        "memberRelation":{
          "shape":"MemberRelation",
          "documentation":"<p>Describes the member relation within the <code>AccessControlList</code> object.</p>"
        }
      },
      "documentation":"<p>Used to configure access permissions for a document.</p>"
    },
    "AccessControl":{
      "type":"structure",
      "required":["principals"],
      "members":{
        "memberRelation":{
          "shape":"MemberRelation",
          "documentation":"<p>Describes the member relation within a principal list.</p>"
        },
        "principals":{
          "shape":"Principals",
          "documentation":"<p>Contains a list of principals, where a principal can be either a <code>USER</code> or a <code>GROUP</code>. Each principal can be have the following type of document access: <code>ALLOW</code> or <code>DENY</code>.</p>"
        }
      },
      "documentation":"<p>A list of principals. Each principal can be either a <code>USER</code> or a <code>GROUP</code> and can be designated document access permissions of either <code>ALLOW</code> or <code>DENY</code>.</p>"
    },
    "AccessControls":{
      "type":"list",
      "member":{"shape":"AccessControl"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> You don't have access to perform this action. Make sure you have the required permission policies and user accounts and try again.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionExecution":{
      "type":"structure",
      "required":[
        "payload",
        "payloadFieldNameSeparator",
        "pluginId"
      ],
      "members":{
        "payload":{
          "shape":"ActionExecutionPayload",
          "documentation":"<p>A mapping of field names to the field values in input that an end user provides to Amazon Q requests to perform their plugin action. </p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within an action execution event payload.</p>"
        },
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin the action is attached to.</p>"
        }
      },
      "documentation":"<p>Performs an Amazon Q plugin action during a non-streaming chat conversation.</p>"
    },
    "ActionExecutionPayload":{
      "type":"map",
      "key":{"shape":"ActionPayloadFieldKey"},
      "value":{"shape":"ActionExecutionPayloadField"}
    },
    "ActionExecutionPayloadField":{
      "type":"structure",
      "required":["value"],
      "members":{
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The content of a user input field in an plugin action execution payload.</p>"
        }
      },
      "documentation":"<p>A user input field in an plugin action execution payload.</p>"
    },
    "ActionPayloadFieldKey":{
      "type":"string",
      "min":1
    },
    "ActionPayloadFieldNameSeparator":{
      "type":"string",
      "max":1,
      "min":1
    },
    "ActionPayloadFieldType":{
      "type":"string",
      "enum":[
        "STRING",
        "NUMBER",
        "ARRAY",
        "BOOLEAN"
      ]
    },
    "ActionPayloadFieldValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "ActionReview":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"ActionReviewPayload",
          "documentation":"<p>Field values that an end user needs to provide to Amazon Q for Amazon Q to perform the requested plugin action.</p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within an action review payload.</p>"
        },
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin associated with the action review.</p>"
        },
        "pluginType":{
          "shape":"PluginType",
          "documentation":"<p>The type of plugin.</p>"
        }
      },
      "documentation":"<p>An output event that Amazon Q returns to an user who wants to perform a plugin action during a non-streaming chat conversation. It contains information about the selected action with a list of possible user input fields, some pre-populated by Amazon Q.</p>"
    },
    "ActionReviewPayload":{
      "type":"map",
      "key":{"shape":"ActionPayloadFieldKey"},
      "value":{"shape":"ActionReviewPayloadField"}
    },
    "ActionReviewPayloadField":{
      "type":"structure",
      "members":{
        "allowedValues":{
          "shape":"ActionReviewPayloadFieldAllowedValues",
          "documentation":"<p>Information about the field values that an end user can use to provide to Amazon Q for Amazon Q to perform the requested plugin action.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p> The name of the field. </p>"
        },
        "displayOrder":{
          "shape":"Integer",
          "documentation":"<p>The display order of fields in a payload.</p>"
        },
        "required":{
          "shape":"Boolean",
          "documentation":"<p>Information about whether the field is required.</p>"
        },
        "type":{
          "shape":"ActionPayloadFieldType",
          "documentation":"<p>The type of field. </p>"
        },
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The field value.</p>"
        }
      },
      "documentation":"<p>A user input field in an plugin action review payload.</p>"
    },
    "ActionReviewPayloadFieldAllowedValue":{
      "type":"structure",
      "members":{
        "displayValue":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The name of the field.</p>"
        },
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The field value.</p>"
        }
      },
      "documentation":"<p>Information about the field values that an end user can use to provide to Amazon Q for Amazon Q to perform the requested plugin action.</p>"
    },
    "ActionReviewPayloadFieldAllowedValues":{
      "type":"list",
      "member":{"shape":"ActionReviewPayloadFieldAllowedValue"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "Application":{
      "type":"structure",
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier for the Amazon Q application.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q application was created.</p>"
        },
        "displayName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the Amazon Q application.</p>"
        },
        "status":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The status of the Amazon Q application. The application is ready to use when the status is <code>ACTIVE</code>.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q application was last updated. </p>"
        }
      },
      "documentation":"<p>Summary information for an Amazon Q application.</p>"
    },
    "ApplicationArn":{
      "type":"string",
      "max":1284,
      "min":0,
      "pattern":"^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
    },
    "ApplicationId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9-]{35}$"
    },
    "ApplicationName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
    },
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ]
    },
    "Applications":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "AppliedAttachmentsConfiguration":{
      "type":"structure",
      "members":{
        "attachmentsControlMode":{
          "shape":"AttachmentsControlMode",
          "documentation":"<p>Information about whether file upload during chat functionality is activated for your application.</p>"
        }
      },
      "documentation":"<p>Configuration information about the file upload during chat feature for your application.</p>"
    },
    "AttachmentInput":{
      "type":"structure",
      "required":[
        "data",
        "name"
      ],
      "members":{
        "data":{
          "shape":"Blob",
          "documentation":"<p>The data contained within the uploaded file.</p>"
        },
        "name":{
          "shape":"AttachmentName",
          "documentation":"<p>The name of the file.</p>"
        }
      },
      "documentation":"<p>A file directly uploaded into a web experience chat.</p>"
    },
    "AttachmentName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"^\\P{C}*$"
    },
    "AttachmentOutput":{
      "type":"structure",
      "members":{
        "error":{
          "shape":"ErrorDetail",
          "documentation":"<p>An error associated with a file uploaded during chat.</p>"
        },
        "name":{
          "shape":"AttachmentName",
          "documentation":"<p>The name of a file uploaded during chat.</p>"
        },
        "status":{
          "shape":"AttachmentStatus",
          "documentation":"<p>The status of a file uploaded during chat.</p>"
        }
      },
      "documentation":"<p>The details of a file uploaded during chat.</p>"
    },
    "AttachmentStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "SUCCEEDED"
      ]
    },
    "AttachmentsConfiguration":{
      "type":"structure",
      "required":["attachmentsControlMode"],
      "members":{
        "attachmentsControlMode":{
          "shape":"AttachmentsControlMode",
          "documentation":"<p>Status information about whether file upload functionality is activated or deactivated for your end user.</p>"
        }
      },
      "documentation":"<p>Configuration information for the file upload during chat feature.</p>"
    },
    "AttachmentsControlMode":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AttachmentsInput":{
      "type":"list",
      "member":{"shape":"AttachmentInput"},
      "min":1
    },
    "AttachmentsOutput":{
      "type":"list",
      "member":{"shape":"AttachmentOutput"}
    },
    "AttributeFilter":{
      "type":"structure",
      "members":{
        "andAllFilters":{
          "shape":"AttributeFilters",
          "documentation":"<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
        },
        "containsAll":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns <code>true</code> when a document contains all the specified document attributes or metadata fields.</p>"
        },
        "containsAny":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns <code>true</code> when a document contains any of the specified document attributes or metadata fields.</p>"
        },
        "equalsTo":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs an equals operation on two document attributes or metadata fields.</p>"
        },
        "greaterThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>"
        },
        "greaterThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater or equals than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>. </p>"
        },
        "lessThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>"
        },
        "lessThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than or equals operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>. </p>"
        },
        "notFilter":{
          "shape":"AttributeFilter",
          "documentation":"<p>Performs a logical <code>NOT</code> operation on all supplied filters. </p>"
        },
        "orAllFilters":{
          "shape":"AttributeFilters",
          "documentation":"<p> Performs a logical <code>OR</code> operation on all supplied filters. </p>"
        }
      },
      "documentation":"<p>Enables filtering of Amazon Q web experience responses based on document attributes or metadata fields.</p>"
    },
    "AttributeFilters":{
      "type":"list",
      "member":{"shape":"AttributeFilter"}
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "STRING",
        "STRING_LIST",
        "NUMBER",
        "DATE"
      ]
    },
    "AttributeValueOperator":{
      "type":"string",
      "enum":["DELETE"]
    },
    "BasicAuthConfiguration":{
      "type":"structure",
      "required":[
        "roleArn",
        "secretArn"
      ],
      "members":{
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of an IAM role used by Amazon Q to access the basic authentication credentials stored in a Secrets Manager secret.</p>"
        },
        "secretArn":{
          "shape":"SecretArn",
          "documentation":"<p>The ARN of the Secrets Manager secret that stores the basic authentication credentials used for plugin configuration..</p>"
        }
      },
      "documentation":"<p>Information about the basic authentication credentials used to configure a plugin.</p>"
    },
    "BatchDeleteDocumentRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "documents",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "dataSourceSyncId":{
          "shape":"ExecutionId",
          "documentation":"<p>The identifier of the data source sync during which the documents were deleted.</p>"
        },
        "documents":{
          "shape":"DeleteDocuments",
          "documentation":"<p>Documents deleted from the Amazon Q index.</p>"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the Amazon Q index that contains the documents to delete.</p>",
          "location":"uri",
          "locationName":"indexId"
        }
      }
    },
    "BatchDeleteDocumentResponse":{
      "type":"structure",
      "members":{
        "failedDocuments":{
          "shape":"FailedDocuments",
          "documentation":"<p>A list of documents that couldn't be removed from the Amazon Q index. Each entry contains an error message that indicates why the document couldn't be removed from the index. </p>"
        }
      }
    },
    "BatchPutDocumentRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "documents",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "dataSourceSyncId":{
          "shape":"ExecutionId",
          "documentation":"<p>The identifier of the data source sync during which the documents were added.</p>"
        },
        "documents":{
          "shape":"Documents",
          "documentation":"<p>One or more documents to add to the index.</p>"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the Amazon Q index to add the documents to. </p>",
          "location":"uri",
          "locationName":"indexId"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role with permission to access your S3 bucket.</p>"
        }
      }
    },
    "BatchPutDocumentResponse":{
      "type":"structure",
      "members":{
        "failedDocuments":{
          "shape":"FailedDocuments",
          "documentation":"<p> A list of documents that were not added to the Amazon Q index because the document failed a validation check. Each document contains an error message that indicates why the document couldn't be added to the index. </p>"
        }
      }
    },
    "Blob":{"type":"blob"},
    "BlockedPhrase":{
      "type":"string",
      "max":36,
      "min":0,
      "pattern":"^\\P{C}*$"
    },
    "BlockedPhrases":{
      "type":"list",
      "member":{"shape":"BlockedPhrase"},
      "max":5,
      "min":0
    },
    "BlockedPhrasesConfiguration":{
      "type":"structure",
      "members":{
        "blockedPhrases":{
          "shape":"BlockedPhrases",
          "documentation":"<p>A list of phrases blocked from a Amazon Q web experience chat.</p>"
        },
        "systemMessageOverride":{
          "shape":"SystemMessageOverride",
          "documentation":"<p>The configured custom message displayed to an end user informing them that they've used a blocked phrase during chat.</p>"
        }
      },
      "documentation":"<p>Provides information about the phrases blocked from chat by your chat control configuration.</p>"
    },
    "BlockedPhrasesConfigurationUpdate":{
      "type":"structure",
      "members":{
        "blockedPhrasesToCreateOrUpdate":{
          "shape":"BlockedPhrases",
          "documentation":"<p>Creates or updates a blocked phrases configuration in your Amazon Q application.</p>"
        },
        "blockedPhrasesToDelete":{
          "shape":"BlockedPhrases",
          "documentation":"<p>Deletes a blocked phrases configuration in your Amazon Q application.</p>"
        },
        "systemMessageOverride":{
          "shape":"SystemMessageOverride",
          "documentation":"<p>The configured custom message displayed to your end user when they use blocked phrase during chat.</p>"
        }
      },
      "documentation":"<p>Updates a blocked phrases configuration in your Amazon Q application.</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ChatSyncInput":{
      "type":"structure",
      "required":[
        "applicationId",
        "userId"
      ],
      "members":{
        "actionExecution":{
          "shape":"ActionExecution",
          "documentation":"<p>A request from an end user to perform an Amazon Q plugin action.</p>"
        },
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application linked to the Amazon Q conversation.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "attachments":{
          "shape":"AttachmentsInput",
          "documentation":"<p>A list of files uploaded directly during chat. You can upload a maximum of 5 files of upto 10 MB each.</p>"
        },
        "attributeFilter":{
          "shape":"AttributeFilter",
          "documentation":"<p>Enables filtering of Amazon Q web experience responses based on document attributes or metadata fields.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify a chat request.</p>",
          "idempotencyToken":true
        },
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the Amazon Q conversation.</p>"
        },
        "parentMessageId":{
          "shape":"MessageId",
          "documentation":"<p>The identifier of the previous end user text input message in a conversation.</p>"
        },
        "userGroups":{
          "shape":"UserGroups",
          "documentation":"<p>The groups that a user associated with the chat input belongs to.</p>",
          "location":"querystring",
          "locationName":"userGroups"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The identifier of the user attached to the chat input.</p>",
          "location":"querystring",
          "locationName":"userId"
        },
        "userMessage":{
          "shape":"UserMessage",
          "documentation":"<p>A end user message in a conversation.</p>"
        }
      }
    },
    "ChatSyncOutput":{
      "type":"structure",
      "members":{
        "actionReview":{
          "shape":"ActionReview",
          "documentation":"<p>A request from Amazon Q to the end user for information Amazon Q needs to successfully complete a requested plugin action.</p>"
        },
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the Amazon Q conversation.</p>"
        },
        "failedAttachments":{
          "shape":"AttachmentsOutput",
          "documentation":"<p>A list of files which failed to upload during chat.</p>"
        },
        "sourceAttributions":{
          "shape":"SourceAttributions",
          "documentation":"<p>The source documents used to generate the conversation response.</p>"
        },
        "systemMessage":{
          "shape":"String",
          "documentation":"<p>An AI-generated message in a conversation.</p>"
        },
        "systemMessageId":{
          "shape":"MessageId",
          "documentation":"<p>The identifier of an Amazon Q AI generated message within the conversation.</p>"
        },
        "userMessageId":{
          "shape":"MessageId",
          "documentation":"<p>The identifier of an Amazon Q end user text input message within the conversation.</p>"
        }
      }
    },
    "ClientToken":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>The message describing a <code>ConflictException</code>.</p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The identifier of the resource affected.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of the resource affected.</p>"
        }
      },
      "documentation":"<p>You are trying to perform an action that conflicts with the current status of your resource. Fix any inconsistences with your resources and try again.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContentBlockerRule":{
      "type":"structure",
      "members":{
        "systemMessageOverride":{
          "shape":"SystemMessageOverride",
          "documentation":"<p>The configured custom message displayed to an end user informing them that they've used a blocked phrase during chat.</p>"
        }
      },
      "documentation":"<p>A rule for configuring how Amazon Q responds when it encounters a a blocked topic. You can configure a custom message to inform your end users that they have asked about a restricted topic and suggest any next steps they should take.</p>"
    },
    "ContentRetrievalRule":{
      "type":"structure",
      "members":{
        "eligibleDataSources":{
          "shape":"EligibleDataSources",
          "documentation":"<p>Specifies data sources in a Amazon Q application to use for content generation.</p>"
        }
      },
      "documentation":"<p>Rules for retrieving content from data sources connected to a Amazon Q application for a specific topic control configuration.</p>"
    },
    "ContentType":{
      "type":"string",
      "enum":[
        "PDF",
        "HTML",
        "MS_WORD",
        "PLAIN_TEXT",
        "PPT",
        "RTF",
        "XML",
        "XSLT",
        "MS_EXCEL",
        "CSV",
        "JSON",
        "MD"
      ]
    },
    "Conversation":{
      "type":"structure",
      "members":{
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the Amazon Q conversation.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time of the conversation.</p>"
        },
        "title":{
          "shape":"ConversationTitle",
          "documentation":"<p>The title of the conversation.</p>"
        }
      },
      "documentation":"<p>A conversation in an Amazon Q application.</p>"
    },
    "ConversationId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9-]{35}$"
    },
    "ConversationTitle":{"type":"string"},
    "Conversations":{
      "type":"list",
      "member":{"shape":"Conversation"}
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "displayName",
        "roleArn"
      ],
      "members":{
        "attachmentsConfiguration":{
          "shape":"AttachmentsConfiguration",
          "documentation":"<p>An option to allow end users to upload files directly during chat.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify the request to create your Amazon Q application.</p>",
          "idempotencyToken":true
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the Amazon Q application. </p>"
        },
        "displayName":{
          "shape":"ApplicationName",
          "documentation":"<p>A name for the Amazon Q application. </p>"
        },
        "encryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>The identifier of the KMS key that is used to encrypt your data. Amazon Q doesn't support asymmetric keys.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of an IAM role with permissions to access your Amazon CloudWatch logs and metrics.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize your Amazon Q application. You can also use tags to help control access to the application. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        }
      }
    },
    "CreateApplicationResponse":{
      "type":"structure",
      "members":{
        "applicationArn":{
          "shape":"ApplicationArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Amazon Q application. </p>"
        },
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application.</p>"
        }
      }
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "configuration",
        "displayName",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p> The identifier of the Amazon Q application the data source will be attached to.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token you provide to identify a request to create a data source connector. Multiple calls to the <code>CreateDataSource</code> API with the same client token will create only one data source connector. </p>",
          "idempotencyToken":true
        },
        "configuration":{
          "shape":"DataSourceConfiguration",
          "documentation":"<p>Configuration information to connect to your data source repository. For configuration templates for your specific data source, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/business-use-dg/connectors-list.html.html\">Supported connectors</a>.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the data source connector.</p>"
        },
        "displayName":{
          "shape":"DataSourceName",
          "documentation":"<p>A name for the data source connector.</p>"
        },
        "documentEnrichmentConfiguration":{"shape":"DocumentEnrichmentConfiguration"},
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index that you want to use with the data source connector.</p>",
          "location":"uri",
          "locationName":"indexId"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role with permission to access the data source and required resources.</p>"
        },
        "syncSchedule":{
          "shape":"SyncSchedule",
          "documentation":"<p>Sets the frequency for Amazon Q to check the documents in your data source repository and update your index. If you don't set a schedule, Amazon Q won't periodically update the index.</p> <p>Specify a <code>cron-</code> format schedule string or an empty string to indicate that the index is updated on demand. You can't specify the <code>Schedule</code> parameter when the <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code> exception. </p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize the data source connector. You can also use tags to help control access to the data source connector. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        },
        "vpcConfiguration":{
          "shape":"DataSourceVpcConfiguration",
          "documentation":"<p>Configuration information for an Amazon VPC (Virtual Private Cloud) to connect to your data source. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/business-use-dg/connector-vpc.html\">Using Amazon VPC with Amazon Q connectors</a>.</p>"
        }
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "members":{
        "dataSourceArn":{
          "shape":"DataSourceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a data source in an Amazon Q application. </p>"
        },
        "dataSourceId":{
          "shape":"DataSourceId",
          "documentation":"<p>The identifier of the data source connector.</p>"
        }
      }
    },
    "CreateIndexRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "displayName"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application using the index.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "capacityConfiguration":{
          "shape":"IndexCapacityConfiguration",
          "documentation":"<p>The capacity units you want to provision for your index. You can add and remove capacity to fit your usage needs.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify the request to create an index. Multiple calls to the <code>CreateIndex</code> API with the same client token will create only one index.</p>",
          "idempotencyToken":true
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the Amazon Q index.</p>"
        },
        "displayName":{
          "shape":"IndexName",
          "documentation":"<p>A name for the Amazon Q index.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize the index. You can also use tags to help control access to the index. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        }
      }
    },
    "CreateIndexResponse":{
      "type":"structure",
      "members":{
        "indexArn":{
          "shape":"IndexArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of an Amazon Q index.</p>"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier for the Amazon Q index.</p>"
        }
      }
    },
    "CreatePluginRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "authConfiguration",
        "displayName",
        "serverUrl",
        "type"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the application that will contain the plugin.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "authConfiguration":{"shape":"PluginAuthConfiguration"},
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify the request to create your Amazon Q plugin.</p>",
          "idempotencyToken":true
        },
        "displayName":{
          "shape":"PluginName",
          "documentation":"<p>A the name for your plugin.</p>"
        },
        "serverUrl":{
          "shape":"Url",
          "documentation":"<p>The source URL used for plugin configuration.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize the data source connector. You can also use tags to help control access to the data source connector. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        },
        "type":{
          "shape":"PluginType",
          "documentation":"<p>The type of plugin you want to create.</p>"
        }
      }
    },
    "CreatePluginResponse":{
      "type":"structure",
      "members":{
        "pluginArn":{
          "shape":"PluginArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a plugin.</p>"
        },
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin created.</p>"
        }
      }
    },
    "CreateRetrieverRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "configuration",
        "displayName",
        "type"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of your Amazon Q application.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify the request to create your Amazon Q application retriever.</p>",
          "idempotencyToken":true
        },
        "configuration":{"shape":"RetrieverConfiguration"},
        "displayName":{
          "shape":"RetrieverName",
          "documentation":"<p>The name of your retriever.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of an IAM role used by Amazon Q to access the basic authentication credentials stored in a Secrets Manager secret.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize the retriever. You can also use tags to help control access to the retriever. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        },
        "type":{
          "shape":"RetrieverType",
          "documentation":"<p>The type of retriever you are using.</p>"
        }
      }
    },
    "CreateRetrieverResponse":{
      "type":"structure",
      "members":{
        "retrieverArn":{
          "shape":"RetrieverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role associated with a retriever.</p>"
        },
        "retrieverId":{
          "shape":"RetrieverId",
          "documentation":"<p>The identifier of the retriever you are using.</p>"
        }
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "userId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the application for which the user mapping will be created.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that you provide to identify the request to create your Amazon Q user mapping.</p>",
          "idempotencyToken":true
        },
        "userAliases":{
          "shape":"CreateUserRequestUserAliasesList",
          "documentation":"<p>The list of user aliases in the mapping.</p>"
        },
        "userId":{
          "shape":"String",
          "documentation":"<p>The user emails attached to a user mapping.</p>"
        }
      }
    },
    "CreateUserRequestUserAliasesList":{
      "type":"list",
      "member":{"shape":"UserAlias"},
      "max":100,
      "min":0
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateWebExperienceRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q web experience.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token you provide to identify a request to create an Amazon Q web experience. </p>",
          "idempotencyToken":true
        },
        "samplePromptsControlMode":{
          "shape":"WebExperienceSamplePromptsControlMode",
          "documentation":"<p>Determines whether sample prompts are enabled in the web experience for an end user.</p>"
        },
        "subtitle":{
          "shape":"WebExperienceSubtitle",
          "documentation":"<p>A subtitle to personalize your Amazon Q web experience.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A list of key-value pairs that identify or categorize your Amazon Q web experience. You can also use tags to help control access to the web experience. Tag keys and values can consist of Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @.</p>"
        },
        "title":{
          "shape":"WebExperienceTitle",
          "documentation":"<p>The title for your Amazon Q web experience.</p>"
        },
        "welcomeMessage":{
          "shape":"WebExperienceWelcomeMessage",
          "documentation":"<p>The customized welcome message for end users of an Amazon Q web experience.</p>"
        }
      }
    },
    "CreateWebExperienceResponse":{
      "type":"structure",
      "members":{
        "webExperienceArn":{
          "shape":"WebExperienceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of an Amazon Q web experience.</p>"
        },
        "webExperienceId":{
          "shape":"WebExperienceId",
          "documentation":"<p>The identifier of the Amazon Q web experience.</p>"
        }
      }
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q data source was created.</p>"
        },
        "dataSourceId":{
          "shape":"DataSourceId",
          "documentation":"<p>The identifier of the Amazon Q data source.</p>"
        },
        "displayName":{
          "shape":"DataSourceName",
          "documentation":"<p>The name of the Amazon Q data source.</p>"
        },
        "status":{
          "shape":"DataSourceStatus",
          "documentation":"<p>The status of the Amazon Q data source.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the Amazon Q data source.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q data source was last updated. </p>"
        }
      },
      "documentation":"<p>A data source in an Amazon Q application.</p>"
    },
    "DataSourceArn":{
      "type":"string",
      "max":1284,
      "min":0,
      "pattern":"^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Provides the configuration information for an Amazon Q data source.</p>",
      "document":true
    },
    "DataSourceId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9-]{35}$"
    },
    "DataSourceIds":{
      "type":"list",
      "member":{"shape":"DataSourceId"},
      "max":1,
      "min":1
    },
    "DataSourceName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
    },
    "DataSourceStatus":{
      "type":"string",
      "enum":[
        "PENDING_CREATION",
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ]
    },
    "DataSourceSyncJob":{
      "type":"structure",
      "members":{
        "dataSourceErrorCode":{
          "shape":"String",
          "documentation":"<p>If the reason that the synchronization failed is due to an error with the underlying data source, this field contains a code that identifies the error.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the synchronization job completed.</p>"
        },
        "error":{
          "shape":"ErrorDetail",
          "documentation":"<p>If the <code>Status</code> field is set to <code>FAILED</code>, the <code>ErrorCode</code> field indicates the reason the synchronization failed. </p>"
        },
        "executionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The identifier of a data source synchronization job.</p>"
        },
        "metrics":{
          "shape":"DataSourceSyncJobMetrics",
          "documentation":"<p>Maps a batch delete document request to a specific data source sync job. This is optional and should only be supplied when documents are deleted by a data source connector.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix time stamp when the data source synchronization job started.</p>"
        },
        "status":{
          "shape":"DataSourceSyncJobStatus",
          "documentation":"<p>The status of the synchronization job. When the <code>Status</code> field is set to <code>SUCCEEDED</code>, the synchronization job is done. If the status code is <code>FAILED</code>, the <code>ErrorCode</code> and <code>ErrorMessage</code> fields give you the reason for the failure.</p>"
        }
      },
      "documentation":"<p>Provides information about an Amazon Q data source connector synchronization job.</p>"
    },
    "DataSourceSyncJobMetrics":{
      "type":"structure",
      "members":{
        "documentsAdded":{
          "shape":"MetricValue",
          "documentation":"<p>The current count of documents added from the data source during the data source sync.</p>"
        },
        "documentsDeleted":{
          "shape":"MetricValue",
          "documentation":"<p>The current count of documents deleted from the data source during the data source sync.</p>"
        },
        "documentsFailed":{
          "shape":"MetricValue",
          "documentation":"<p>The current count of documents that failed to sync from the data source during the data source sync.</p>"
        },
        "documentsModified":{
          "shape":"MetricValue",
          "documentation":"<p>The current count of documents modified in the data source during the data source sync.</p>"
        },
        "documentsScanned":{
          "shape":"MetricValue",
          "documentation":"<p>The current count of documents crawled by the ongoing sync job in the data source.</p>"
        }
      },
      "documentation":"<p>Maps a batch delete document request to a specific Amazon Q data source connector sync job.</p>"
    },
    "DataSourceSyncJobStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "SUCCEEDED",
        "SYNCING",
        "INCOMPLETE",
        "STOPPING",
        "ABORTED",
        "SYNCING_INDEXING"
      ]
    },
    "DataSourceSyncJobs":{
      "type":"list",
      "member":{"shape":"DataSourceSyncJob"}
    },
    "DataSourceUserId":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^\\P{C}*$"
    },
    "DataSourceVpcConfiguration":{
      "type":"structure",
      "required":[
        "securityGroupIds",
        "subnetIds"
      ],
      "members":{
        "securityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>A list of identifiers of security groups within your Amazon VPC. The security groups should enable Amazon Q to connect to the data source.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>A list of identifiers for subnets within your Amazon VPC. The subnets should be able to connect to each other in the VPC, and they should have outgoing access to the Internet through a NAT device.</p>"
        }
      },
      "documentation":"<p>Provides configuration information needed to connect to an Amazon VPC (Virtual Private Cloud).</p>"
    },
    "DataSources":{
      "type":"list",
      "member":{"shape":"DataSource"}
    },
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application.</p>",
          "location":"uri",
          "locationName":"applicationId"
        }
      }
    },
    "DeleteApplicationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteChatControlsConfigurationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the application the chat controls have been configured for.</p>",
          "location":"uri",
          "locationName":"applicationId"
        }
      }
    },
    "DeleteChatControlsConfigurationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConversationRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "conversationId",
        "userId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application associated with the conversation.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the Amazon Q web experience conversation being deleted.</p>",
          "location":"uri",
          "locationName":"conversationId"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The identifier of the user who is deleting the conversation.</p>",
          "location":"querystring",
          "locationName":"userId"
        }
      }
    },
    "DeleteConversationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDataSourceRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "dataSourceId",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application used with the data source connector.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "dataSourceId":{
          "shape":"DataSourceId",
          "documentation":"<p>The identifier of the data source connector that you want to delete. </p>",
          "location":"uri",
          "locationName":"dataSourceId"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index used with the data source connector.</p>",
          "location":"uri",
          "locationName":"indexId"
        }
      }
    },
    "DeleteDataSourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocument":{
      "type":"structure",
      "required":["documentId"],
      "members":{
        "documentId":{
          "shape":"DocumentId",
          "documentation":"<p>The identifier of the deleted document.</p>"
        }
      },
      "documentation":"<p>A document deleted from an Amazon Q data source connector.</p>"
    },
    "DeleteDocuments":{
      "type":"list",
      "member":{"shape":"DeleteDocument"}
    },
    "DeleteGroupRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "groupName",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the application in which the group mapping belongs.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "dataSourceId":{
          "shape":"DataSourceId",
          "documentation":"<p>The identifier of the data source linked to the group</p> <p>A group can be tied to multiple data sources. You can delete a group from accessing documents in a certain data source. For example, the groups \"Research\", \"Engineering\", and \"Sales and Marketing\" are all tied to the company's documents stored in the data sources Confluence and Salesforce. You want to delete \"Research\" and \"Engineering\" groups from Salesforce, so that these groups cannot access customer-related documents stored in Salesforce. Only \"Sales and Marketing\" should access documents in the Salesforce data source.</p>",
          "location":"querystring",
          "locationName":"dataSourceId"
        },
        "groupName":{
          "shape":"GroupName",
          "documentation":"<p>The name of the group you want to delete.</p>",
          "location":"uri",
          "locationName":"groupName"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the index you want to delete the group from.</p>",
          "location":"uri",
          "locationName":"indexId"
        }
      }
    },
    "DeleteGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteIndexRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "indexId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application the Amazon Q index is linked to.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "indexId":{
          "shape":"IndexId",
          "documentation":"<p>The identifier of the Amazon Q index.</p>",
          "location":"uri",
          "locationName":"indexId"
        }
      }
    },
    "DeleteIndexResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePluginRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "pluginId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier the application attached to the Amazon Q plugin.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin being deleted.</p>",
          "location":"uri",
          "locationName":"pluginId"
        }
      }
    },
    "DeletePluginResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRetrieverRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "retrieverId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application using the retriever.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "retrieverId":{
          "shape":"RetrieverId",
          "documentation":"<p>The identifier of the retriever being deleted.</p>",
          "location":"uri",
          "locationName":"retrieverId"
        }
      }
    },
    "DeleteRetrieverResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteUserRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "userId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the application from which the user is being deleted.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "userId":{
          "shape":"String",
          "documentation":"<p>The user email being deleted.</p>",
          "location":"uri",
          "locationName":"userId"
        }
      }
    },
    "DeleteUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteWebExperienceRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "webExperienceId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier of the Amazon Q application linked to the Amazon Q web experience.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "webExperienceId":{
          "shape":"WebExperienceId",
          "documentation":"<p>The identifier of the Amazon Q web experience being deleted.</p>",
          "location":"uri",
          "locationName":"webExperienceId"
        }
      }
    },
    "DeleteWebExperienceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Description":{
      "type":"string",
      "max":1000,
      "min":0,
      "pattern":"^\\P{C}*$"
    },
    "Document":{
      "type":"structure",
      "required":["id"],
      "members":{
        "accessConfiguration":{
          "shape":"AccessConfiguration",
          "documentation":"<p>Configuration information for access permission to a document.</p>"
        },
        "attributes":{
          "shape":"DocumentAttributes",
          "documentation":"<p>Custom attributes to apply to the document for refining Amazon Q web experience responses.</p>"
        },
        "content":{
          "shape":"DocumentContent",
          "documentation":"<p>The contents of the document.</p>"
        },
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>The file type of the document in the Blob field.</p> <p>If you want to index snippets or subsets of HTML documents instead of the entirety of the HTML documents, you add the <code>HTML</code> start and closing tags (<code>&lt;HTML&gt;content&lt;/HTML&gt;</code>) around the content.</p>"
        },
        "documentEnrichmentConfiguration":{
          "shape":"DocumentEnrichmentConfiguration",
          "documentation":"<p>The configuration information for altering document metadata and content during the document ingestion process.</p>"
        },
        "id":{
          "shape":"DocumentId",
          "documentation":"<p>The identifier of the document.</p>"
        },
        "title":{
          "shape":"Title",
          "documentation":"<p>The title of the document.</p>"
        }
      },
      "documentation":"<p>A document in an Amazon Q application.</p>"
    },
    "DocumentAttribute":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{
          "shape":"DocumentAttributeKey",
          "documentation":"<p>The identifier for the attribute.</p>"
        },
        "value":{
          "shape":"DocumentAttributeValue",
          "documentation":"<p>The value of the attribute. </p>"
        }
      },
      "documentation":"<p>A document attribute or metadata field.</p>"
    },
    "DocumentAttributeCondition":{
      "type":"structure",
      "required":[
        "key",
        "operator"
      ],
      "members":{
        "key":{
          "shape":"DocumentAttributeKey",
          "documentation":"<p>The identifier of the document attribute used for the condition.</p> <p>For example, 'Source_URI' could be an identifier for the attribute or metadata field that contains source URIs associated with the documents.</p> <p>Amazon Q currently doesn't support <code>_document_body</code> as an attribute key used for the condition.</p>"
        },
[...]
