{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-11-29",
    "endpointPrefix":"neptune-graph",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "ripServiceName":"neptune-graph",
    "serviceAbbreviation":"Neptune Graph",
    "serviceFullName":"Amazon Neptune Graph",
    "serviceId":"Neptune Graph",
    "signatureVersion":"v4",
    "signingName":"neptune-graph",
    "uid":"neptune-graph-2023-11-29"
  },
  "operations":{
    "CancelImportTask":{
      "name":"CancelImportTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/importtasks/{taskIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"CancelImportTaskInput"},
      "output":{"shape":"CancelImportTaskOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified import task</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "CreateGraph":{
      "name":"CreateGraph",
      "http":{
        "method":"POST",
        "requestUri":"/graphs",
        "responseCode":201
      },
      "input":{"shape":"CreateGraphInput"},
      "output":{"shape":"CreateGraphOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new Neptune Analytics graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "CreateGraphSnapshot":{
      "name":"CreateGraphSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreateGraphSnapshotInput"},
      "output":{"shape":"CreateGraphSnapshotOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a snapshot of the specific graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "CreateGraphUsingImportTask":{
      "name":"CreateGraphUsingImportTask",
      "http":{
        "method":"POST",
        "requestUri":"/importtasks",
        "responseCode":201
      },
      "input":{"shape":"CreateGraphUsingImportTaskInput"},
      "output":{"shape":"CreateGraphUsingImportTaskOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new Neptune Analytics graph and imports data into it, either from Amazon Simple Storage Service (S3) or from a Neptune database or a Neptune database snapshot.</p> <p>The data can be loaded from files in S3 that in either the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "CreatePrivateGraphEndpoint":{
      "name":"CreatePrivateGraphEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/graphs/{graphIdentifier}/endpoints/",
        "responseCode":201
      },
      "input":{"shape":"CreatePrivateGraphEndpointInput"},
      "output":{"shape":"CreatePrivateGraphEndpointOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Create a private graph endpoint to allow private access from to the graph from within a VPC. You can attach security groups to the private graph endpoint. VPC endpoint charges apply.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "DeleteGraph":{
      "name":"DeleteGraph",
      "http":{
        "method":"DELETE",
        "requestUri":"/graphs/{graphIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGraphInput"},
      "output":{"shape":"DeleteGraphOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified graph. Graphs cannot be deleted if delete-protection is enabled.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "DeleteGraphSnapshot":{
      "name":"DeleteGraphSnapshot",
      "http":{
        "method":"DELETE",
        "requestUri":"/snapshots/{snapshotIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGraphSnapshotInput"},
      "output":{"shape":"DeleteGraphSnapshotOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specifed graph snapshot.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "DeletePrivateGraphEndpoint":{
      "name":"DeletePrivateGraphEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/graphs/{graphIdentifier}/endpoints/{vpcId}",
        "responseCode":200
      },
      "input":{"shape":"DeletePrivateGraphEndpointInput"},
      "output":{"shape":"DeletePrivateGraphEndpointOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a private graph endpoint.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "GetGraph":{
      "name":"GetGraph",
      "http":{
        "method":"GET",
        "requestUri":"/graphs/{graphIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGraphInput"},
      "output":{"shape":"GetGraphOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a specified graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "GetGraphSnapshot":{
      "name":"GetGraphSnapshot",
      "http":{
        "method":"GET",
        "requestUri":"/snapshots/{snapshotIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGraphSnapshotInput"},
      "output":{"shape":"GetGraphSnapshotOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a specified graph snapshot.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "GetImportTask":{
      "name":"GetImportTask",
      "http":{
        "method":"GET",
        "requestUri":"/importtasks/{taskIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetImportTaskInput"},
      "output":{"shape":"GetImportTaskOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a specified import task.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "GetPrivateGraphEndpoint":{
      "name":"GetPrivateGraphEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/graphs/{graphIdentifier}/endpoints/{vpcId}",
        "responseCode":200
      },
      "input":{"shape":"GetPrivateGraphEndpointInput"},
      "output":{"shape":"GetPrivateGraphEndpointOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a specified private endpoint.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ListGraphSnapshots":{
      "name":"ListGraphSnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListGraphSnapshotsInput"},
      "output":{"shape":"ListGraphSnapshotsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists available snapshots of a specified Neptune Analytics graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ListGraphs":{
      "name":"ListGraphs",
      "http":{
        "method":"GET",
        "requestUri":"/graphs",
        "responseCode":200
      },
      "input":{"shape":"ListGraphsInput"},
      "output":{"shape":"ListGraphsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists available Neptune Analytics graphs.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ListImportTasks":{
      "name":"ListImportTasks",
      "http":{
        "method":"GET",
        "requestUri":"/importtasks",
        "responseCode":200
      },
      "input":{"shape":"ListImportTasksInput"},
      "output":{"shape":"ListImportTasksOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists import tasks.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ListPrivateGraphEndpoints":{
      "name":"ListPrivateGraphEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/graphs/{graphIdentifier}/endpoints/",
        "responseCode":200
      },
      "input":{"shape":"ListPrivateGraphEndpointsInput"},
      "output":{"shape":"ListPrivateGraphEndpointsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists private endpoints for a specified Neptune Analytics graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists tags associated with a specified resource.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "ResetGraph":{
      "name":"ResetGraph",
      "http":{
        "method":"PUT",
        "requestUri":"/graphs/{graphIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"ResetGraphInput"},
      "output":{"shape":"ResetGraphOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Empties the data from a specified Neptune Analytics graph.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "RestoreGraphFromSnapshot":{
      "name":"RestoreGraphFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/snapshots/{snapshotIdentifier}/restore",
        "responseCode":201
      },
      "input":{"shape":"RestoreGraphFromSnapshotInput"},
      "output":{"shape":"RestoreGraphFromSnapshotOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Restores a graph from a snapshot.</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds tags to the specified resource.</p>",
      "idempotent":true,
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified tags from the specified resource.</p>",
      "idempotent":true,
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    },
    "UpdateGraph":{
      "name":"UpdateGraph",
      "http":{
        "method":"PATCH",
        "requestUri":"/graphs/{graphIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGraphInput"},
      "output":{"shape":"UpdateGraphOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the configuration of a specified Neptune Analytics graph</p>",
      "staticContextParams":{
        "ApiType":{"value":"ControlPlane"}
      }
    }
  },
  "shapes":{
    "Arn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:.+"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelImportTaskInput":{
      "type":"structure",
      "required":["taskIdentifier"],
      "members":{
        "taskIdentifier":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>",
          "location":"uri",
          "locationName":"taskIdentifier"
        }
      }
    },
    "CancelImportTaskOutput":{
      "type":"structure",
      "required":[
        "taskId",
        "source",
        "roleArn",
        "status"
      ],
      "members":{
        "graphId":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>"
        },
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>"
        },
        "source":{
          "shape":"String",
          "documentation":"<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path, or can point to a Neptune database endpoint or snapshot</p>"
        },
        "format":{
          "shape":"Format",
          "documentation":"<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>"
        },
        "status":{
          "shape":"ImportTaskStatus",
          "documentation":"<p>Current status of the task. Status is CANCELLING when the import task is cancelled.</p>"
        }
      }
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the problem.</p>"
        },
        "reason":{
          "shape":"ConflictExceptionReason",
          "documentation":"<p>The reason for the conflict exception.</p>"
        }
      },
      "documentation":"<p>Raised when a conflict is encountered.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictExceptionReason":{
      "type":"string",
      "enum":["CONCURRENT_MODIFICATION"]
    },
    "CreateGraphInput":{
      "type":"structure",
      "required":[
        "graphName",
        "provisionedMemory"
      ],
      "members":{
        "graphName":{
          "shape":"GraphName",
          "documentation":"<p>A name for the new Neptune Analytics graph to be created.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Adds metadata tags to the new graph. These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs IAM authenticated. (<code>true</code> to enable, or <code>false</code> to disable.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Specifies a KMS key to use to encrypt data in the new graph.</p>"
        },
        "vectorSearchConfiguration":{
          "shape":"VectorSearchConfiguration",
          "documentation":"<p>Specifies the number of dimensions for vector embeddings that will be loaded into the graph. The value is specified as <code>dimension=</code>value. Max = 65,535</p>"
        },
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas in other AZs. Min =0, Max = 2, Default =1</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether or not to enable deletion protection on the graph. The graph can’t be deleted when deletion protection is enabled. (<code>true</code> or <code>false</code>).</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Min = 128</p>"
        }
      }
    },
    "CreateGraphOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The ID of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The graph name. For example: <code>my-graph-1</code>.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens. </p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The current status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason the status was given.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Min = 128</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs IAM authenticated.</p>"
        },
        "vectorSearchConfiguration":{
          "shape":"VectorSearchConfiguration",
          "documentation":"<p>The vector-search configuration for the graph, which specifies the vector dimension to use in the vector index, if any.</p>"
        },
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas in other AZs.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Specifies the KMS key used to encrypt data in the new graph.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the source graph.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>A value that indicates whether the graph has deletion protection enabled. The graph can't be deleted when deletion protection is enabled.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number of the graph software.</p>"
        }
      }
    },
    "CreateGraphSnapshotInput":{
      "type":"structure",
      "required":[
        "graphIdentifier",
        "snapshotName"
      ],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>"
        },
        "snapshotName":{
          "shape":"SnapshotName",
          "documentation":"<p>The snapshot name. For example: <code>my-snapshot-1</code>.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Adds metadata tags to the new graph. These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
        }
      }
    },
    "CreateGraphSnapshotOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot created.</p>"
        },
        "name":{
          "shape":"SnapshotName",
          "documentation":"<p>The name of the snapshot created.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the snapshot created.</p>"
        },
        "sourceGraphId":{
          "shape":"GraphId",
          "documentation":"<p>The Id of the Neptune Analytics graph from which the snapshot is created.</p>"
        },
        "snapshotCreateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The snapshot creation time</p>"
        },
        "status":{
          "shape":"SnapshotStatus",
          "documentation":"<p>The current state of the snapshot.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        }
      }
    },
    "CreateGraphUsingImportTaskInput":{
      "type":"structure",
      "required":[
        "graphName",
        "source",
        "roleArn"
      ],
      "members":{
        "graphName":{
          "shape":"GraphName",
          "documentation":"<p>A name for the new Neptune Analytics graph to be created.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Adds metadata tags to the new graph. These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs IAM authenticated. (<code>true</code> to enable, or <code>false</code> to disable.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Specifies a KMS key to use to encrypt data imported into the new graph.</p>"
        },
        "vectorSearchConfiguration":{
          "shape":"VectorSearchConfiguration",
          "documentation":"<p>Specifies the number of dimensions for vector embeddings that will be loaded into the graph. The value is specified as <code>dimension=</code>value. Max = 65,535 </p>"
        },
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas in other AZs to provision on the new graph after import. Default = 0, Min = 0, Max = 2.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether or not to enable deletion protection on the graph. The graph can’t be deleted when deletion protection is enabled. (<code>true</code> or <code>false</code>).</p>"
        },
        "importOptions":{
          "shape":"ImportOptions",
          "documentation":"<p>Contains options for controlling the import process. For example, if the <code>failOnError</code> key is set to <code>false</code>, the import skips problem data and attempts to continue (whereas if set to <code>true</code>, the default, or if omitted, the import operation halts immediately when an error is encountered.</p>"
        },
        "maxProvisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The maximum provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Default: 1024, or the approved upper limit for your account.</p> <p> If both the minimum and maximum values are specified, the max of the <code>min-provisioned-memory</code> and <code>max-provisioned memory</code> is used to create the graph. If neither value is specified 128 m-NCUs are used.</p>"
        },
        "minProvisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The minimum provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Default: 128</p>"
        },
        "failOnError":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>true</code>, the task halts when an import error is encountered. If set to <code>false</code>, the task skips the data that caused the error and continues if possible.</p>"
        },
        "source":{
          "shape":"String",
          "documentation":"<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path, or can point to a Neptune database endpoint or snapshot.</p>"
        },
        "format":{
          "shape":"Format",
          "documentation":"<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>"
        }
      }
    },
    "CreateGraphUsingImportTaskOutput":{
      "type":"structure",
      "required":[
        "taskId",
        "source",
        "roleArn",
        "status"
      ],
      "members":{
        "graphId":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>"
        },
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>"
        },
        "source":{
          "shape":"String",
          "documentation":"<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path, or can point to a Neptune database endpoint or snapshot.</p>"
        },
        "format":{
          "shape":"Format",
          "documentation":"<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>"
        },
        "status":{
          "shape":"ImportTaskStatus",
          "documentation":"<p>The status of the import task.</p>"
        },
        "importOptions":{
          "shape":"ImportOptions",
          "documentation":"<p>Contains options for controlling the import process. For example, if the <code>failOnError</code> key is set to <code>false</code>, the import skips problem data and attempts to continue (whereas if set to <code>true</code>, the default, or if omitted, the import operation halts immediately when an error is encountered.</p>"
        }
      }
    },
    "CreatePrivateGraphEndpointInput":{
      "type":"structure",
      "required":["graphIdentifier"],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p> The VPC in which the private graph endpoint needs to be created.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>Subnets in which private graph endpoint ENIs are created.</p>"
        },
        "vpcSecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>Security groups to be attached to the private graph endpoint..</p>"
        }
      }
    },
    "CreatePrivateGraphEndpointOutput":{
      "type":"structure",
      "required":[
        "vpcId",
        "subnetIds",
        "status"
      ],
      "members":{
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>VPC in which the private graph endpoint is created.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>Subnets in which the private graph endpoint ENIs are created. </p>"
        },
        "status":{
          "shape":"PrivateGraphEndpointStatus",
          "documentation":"<p>Status of the private graph endpoint.</p>"
        },
        "vpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>Endpoint ID of the prviate grpah endpoint.</p>"
        }
      }
    },
    "DeleteGraphInput":{
      "type":"structure",
      "required":[
        "graphIdentifier",
        "skipSnapshot"
      ],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "skipSnapshot":{
          "shape":"Boolean",
          "documentation":"<p>Determines whether a final graph snapshot is created before the graph is deleted. If <code>true</code> is specified, no graph snapshot is created. If <code>false</code> is specified, a graph snapshot is created before the graph is deleted.</p>",
          "location":"querystring",
          "locationName":"skipSnapshot"
        }
      }
    },
    "DeleteGraphOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason for the status of the graph.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"},
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot from which the graph was created, if the graph was recovered from a snapshot.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection was enabled for the graph.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number associated with the graph.</p>"
        }
      }
    },
    "DeleteGraphSnapshotInput":{
      "type":"structure",
      "required":["snapshotIdentifier"],
      "members":{
        "snapshotIdentifier":{
          "shape":"SnapshotIdentifier",
          "documentation":"<p>ID of the graph snapshot to be deleted.</p>",
          "location":"uri",
          "locationName":"snapshotIdentifier"
        }
      }
    },
    "DeleteGraphSnapshotOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"SnapshotId",
          "documentation":"<p>The unique identifier of the graph snapshot.</p>"
        },
        "name":{
          "shape":"SnapshotName",
          "documentation":"<p>The snapshot name. For example: <code>my-snapshot-1</code>.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the graph snapshot.</p>"
        },
        "sourceGraphId":{
          "shape":"GraphId",
          "documentation":"<p>The graph identifier for the graph from which the snapshot was created.</p>"
        },
        "snapshotCreateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        },
        "status":{
          "shape":"SnapshotStatus",
          "documentation":"<p>The status of the graph snapshot.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt the snapshot.</p>"
        }
      }
    },
    "DeletePrivateGraphEndpointInput":{
      "type":"structure",
      "required":[
        "graphIdentifier",
        "vpcId"
      ],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>The ID of the VPC where the private endpoint is located.</p>",
          "location":"uri",
          "locationName":"vpcId"
        }
      }
    },
    "DeletePrivateGraphEndpointOutput":{
      "type":"structure",
      "required":[
        "vpcId",
        "subnetIds",
        "status"
      ],
      "members":{
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>The ID of the VPC where the private endpoint was deleted.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>The subnet IDs involved.</p>"
        },
        "status":{
          "shape":"PrivateGraphEndpointStatus",
          "documentation":"<p>The status of the delete operation.</p>"
        },
        "vpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The ID of the VPC endpoint that was deleted.</p>"
        }
      }
    },
    "Format":{
      "type":"string",
      "enum":[
        "CSV",
        "OPEN_CYPHER"
      ]
    },
    "GetGraphInput":{
      "type":"structure",
      "required":["graphIdentifier"],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        }
      }
    },
    "GetGraphOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason that the graph has this status.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"},
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot from which the graph was created, if it was created from a snapshot.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection is enabled for the graph.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number of the graph.</p>"
        }
      }
    },
    "GetGraphSnapshotInput":{
      "type":"structure",
      "required":["snapshotIdentifier"],
      "members":{
        "snapshotIdentifier":{
          "shape":"SnapshotIdentifier",
          "documentation":"<p>The ID of the snapshot to retrieve.</p>",
          "location":"uri",
          "locationName":"snapshotIdentifier"
        }
      }
    },
    "GetGraphSnapshotOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"SnapshotId",
          "documentation":"<p>The unique identifier of the graph snapshot.</p>"
        },
        "name":{
          "shape":"SnapshotName",
          "documentation":"<p>The snapshot name. For example: <code>my-snapshot-1</code>.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the graph snapshot.</p>"
        },
        "sourceGraphId":{
          "shape":"GraphId",
          "documentation":"<p>The graph identifier for the graph for which a snapshot is to be created.</p>"
        },
        "snapshotCreateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        },
        "status":{
          "shape":"SnapshotStatus",
          "documentation":"<p>The status of the graph snapshot.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt the snapshot.</p>"
        }
      }
    },
    "GetImportTaskInput":{
      "type":"structure",
      "required":["taskIdentifier"],
      "members":{
        "taskIdentifier":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>",
          "location":"uri",
          "locationName":"taskIdentifier"
        }
      }
    },
    "GetImportTaskOutput":{
      "type":"structure",
      "required":[
        "taskId",
        "source",
        "roleArn",
        "status"
      ],
      "members":{
        "graphId":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>"
        },
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>"
        },
        "source":{
          "shape":"String",
          "documentation":"<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path, or can point to a Neptune database endpoint or snapshot</p>"
        },
        "format":{
          "shape":"Format",
          "documentation":"<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>"
        },
        "status":{
          "shape":"ImportTaskStatus",
          "documentation":"<p>The status of the import task:</p> <ul> <li> <p> <b>INITIALIZING</b>   –   The necessary resources needed to create the graph are being prepared.</p> </li> <li> <p> <b>ANALYZING_DATA</b>   –   The data is being analyzed to determine the optimal infrastructure configuration for the new graph.</p> </li> <li> <p> <b>RE_PROVISIONING</b>   –   The data did not fit into the provisioned graph, so it is being re-provisioned with more capacity.</p> </li> <li> <p> <b>IMPORTING</b>   –   The data is being loaded.</p> </li> <li> <p> <b>ERROR_ENCOUNTERED</b>   –   An error has been encountered while trying to create the graph and import the data.</p> </li> <li> <p> <b>ERROR_ENCOUNTERED_ROLLING_BACK</b>   –   Because of the error that was encountered, the graph is being rolled back and all its resources released.</p> </li> <li> <p> <b>SUCCEEDED</b>   –   Graph creation and data loading succeeded.</p> </li> <li> <p> <b>FAILED</b>   –   Graph creation or data loading failed. When the status is <code>FAILED</code>, you can use <code>get-graphs</code> to get more information about the state of the graph.</p> </li> <li> <p> <b>CANCELLING</b>   –   Because you cancelled the import task, cancellation is in progress.</p> </li> <li> <p> <b>CANCELLED</b>   –   You have successfully cancelled the import task.</p> </li> </ul>"
        },
        "importOptions":{
          "shape":"ImportOptions",
          "documentation":"<p>Contains options for controlling the import process. For example, if the <code>failOnError</code> key is set to <code>false</code>, the import skips problem data and attempts to continue (whereas if set to <code>true</code>, the default, or if omitted, the import operation halts immediately when an error is encountered.</p>"
        },
        "importTaskDetails":{
          "shape":"ImportTaskDetails",
          "documentation":"<p>Contains details about the specified import task.</p>"
        },
        "attemptNumber":{
          "shape":"Integer",
          "documentation":"<p>The number of the current attempt to execute the import task.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason that the import task has this status value.</p>"
        }
      }
    },
    "GetPrivateGraphEndpointInput":{
      "type":"structure",
      "required":[
        "graphIdentifier",
        "vpcId"
      ],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>The ID of the VPC where the private endpoint is located.</p>",
          "location":"uri",
          "locationName":"vpcId"
        }
      }
    },
    "GetPrivateGraphEndpointOutput":{
      "type":"structure",
      "required":[
        "vpcId",
        "subnetIds",
        "status"
      ],
      "members":{
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>The ID of the VPC where the private endpoint is located.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>The subnet IDs involved.</p>"
        },
        "status":{
          "shape":"PrivateGraphEndpointStatus",
          "documentation":"<p>The current status of the private endpoint.</p>"
        },
        "vpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The ID of the private endpoint.</p>"
        }
      }
    },
    "GraphId":{
      "type":"string",
      "pattern":"g-[a-z0-9]{10}"
    },
    "GraphIdentifier":{
      "type":"string",
      "pattern":"g-[a-z0-9]{10}"
    },
    "GraphName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"(?!g-)[a-z][a-z0-9]*(-[a-z0-9]+)*"
    },
    "GraphSnapshotSummary":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"SnapshotId",
          "documentation":"<p>The unique identifier of the graph snapshot.</p>"
        },
        "name":{
          "shape":"SnapshotName",
          "documentation":"<p>The snapshot name. For example: <code>my-snapshot-1</code>.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the graph snapshot.</p>"
        },
        "sourceGraphId":{
          "shape":"GraphId",
          "documentation":"<p>The graph identifier for the graph for which a snapshot is to be created.</p>"
        },
        "snapshotCreateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        },
        "status":{
          "shape":"SnapshotStatus",
          "documentation":"<p>The status of the graph snapshot.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt the snapshot.</p>"
        }
      },
      "documentation":"<p>Details about a graph snapshot.</p>"
    },
    "GraphSnapshotSummaryList":{
      "type":"list",
      "member":{"shape":"GraphSnapshotSummary"}
    },
    "GraphStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "AVAILABLE",
        "DELETING",
        "RESETTING",
        "UPDATING",
        "SNAPSHOTTING",
        "FAILED"
      ]
    },
    "GraphSummary":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"String",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection is enabled for the graph.</p>"
        }
      },
      "documentation":"<p>Summary details about a graph.</p>"
    },
    "GraphSummaryList":{
      "type":"list",
      "member":{"shape":"GraphSummary"}
    },
    "ImportOptions":{
      "type":"structure",
      "members":{
        "neptune":{
          "shape":"NeptuneImportOptions",
          "documentation":"<p>Options for importing data from a Neptune database.</p>"
        }
      },
      "documentation":"<p>Options for how to perform an import.</p>",
      "union":true
    },
    "ImportTaskDetails":{
      "type":"structure",
      "required":[
        "status",
        "startTime",
        "timeElapsedSeconds",
        "progressPercentage",
        "errorCount",
        "statementCount",
        "dictionaryEntryCount"
      ],
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>Status of the import task.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>Time at which the import task started.</p>"
        },
        "timeElapsedSeconds":{
          "shape":"Long",
          "documentation":"<p>Seconds elapsed since the import task started.</p>"
        },
        "progressPercentage":{
          "shape":"Integer",
          "documentation":"<p>The percentage progress so far.</p>"
        },
        "errorCount":{
          "shape":"Integer",
          "documentation":"<p>The number of errors encountered so far.</p>"
        },
        "errorDetails":{
          "shape":"String",
          "documentation":"<p>Details about the errors that have been encountered.</p>"
        },
        "statementCount":{
          "shape":"Long",
          "documentation":"<p>The number of statements in the import task.</p>"
        },
        "dictionaryEntryCount":{
          "shape":"Long",
          "documentation":"<p>The number of dictionary entries in the import task.</p>"
        }
      },
      "documentation":"<p>Contains details about an import task.</p>"
    },
    "ImportTaskStatus":{
      "type":"string",
      "enum":[
        "INITIALIZING",
        "EXPORTING",
        "ANALYZING_DATA",
        "IMPORTING",
        "REPROVISIONING",
        "ROLLING_BACK",
        "SUCCEEDED",
        "FAILED",
        "CANCELLING",
        "CANCELLED"
      ]
    },
    "ImportTaskSummary":{
      "type":"structure",
      "required":[
        "taskId",
        "source",
        "roleArn",
        "status"
      ],
      "members":{
        "graphId":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>"
        },
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The unique identifier of the import task.</p>"
        },
        "source":{
          "shape":"String",
          "documentation":"<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path, or can point to a Neptune database endpoint or snapshot</p>"
        },
        "format":{
          "shape":"Format",
          "documentation":"<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher load format</a>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>"
        },
        "status":{
          "shape":"ImportTaskStatus",
          "documentation":"<p>Status of the import task.</p>"
        }
      },
      "documentation":"<p>Details about an import task.</p>"
    },
    "ImportTaskSummaryList":{
      "type":"list",
      "member":{"shape":"ImportTaskSummary"}
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>A failure occurred on the server.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "KmsKeyArn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}"
    },
    "ListGraphSnapshotsInput":{
      "type":"structure",
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"querystring",
          "locationName":"graphIdentifier"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The total number of records to return in the command's output.</p> <p>If the total number of records available is more than the value specified, <code>nextToken</code> is provided in the command's output. To resume pagination, provide the <code>nextToken</code> output value in the <code>nextToken</code> argument of a subsequent command. Do not use the <code>nextToken</code> response element directly outside of the Amazon CLI.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListGraphSnapshotsOutput":{
      "type":"structure",
      "required":["graphSnapshots"],
      "members":{
        "graphSnapshots":{
          "shape":"GraphSnapshotSummaryList",
          "documentation":"<p>The requested list of snapshots.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>"
        }
      }
    },
    "ListGraphsInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The total number of records to return in the command's output.</p> <p>If the total number of records available is more than the value specified, <code>nextToken</code> is provided in the command's output. To resume pagination, provide the <code>nextToken</code> output value in the <code>nextToken</code> argument of a subsequent command. Do not use the <code>nextToken</code> response element directly outside of the Amazon CLI.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListGraphsOutput":{
      "type":"structure",
      "required":["graphs"],
      "members":{
        "graphs":{
          "shape":"GraphSummaryList",
          "documentation":"<p>A list of the graphs.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>"
        }
      }
    },
    "ListImportTasksInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The total number of records to return in the command's output.</p> <p>If the total number of records available is more than the value specified, <code>nextToken</code> is provided in the command's output. To resume pagination, provide the <code>nextToken</code> output value in the <code>nextToken</code> argument of a subsequent command. Do not use the <code>nextToken</code> response element directly outside of the Amazon CLI.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListImportTasksOutput":{
      "type":"structure",
      "required":["tasks"],
      "members":{
        "tasks":{
          "shape":"ImportTaskSummaryList",
          "documentation":"<p>The requested list of import tasks.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>"
        }
      }
    },
    "ListPrivateGraphEndpointsInput":{
      "type":"structure",
      "required":["graphIdentifier"],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The total number of records to return in the command's output.</p> <p>If the total number of records available is more than the value specified, <code>nextToken</code> is provided in the command's output. To resume pagination, provide the <code>nextToken</code> output value in the <code>nextToken</code> argument of a subsequent command. Do not use the <code>nextToken</code> response element directly outside of the Amazon CLI.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListPrivateGraphEndpointsOutput":{
      "type":"structure",
      "required":["privateGraphEndpoints"],
      "members":{
        "privateGraphEndpoints":{
          "shape":"PrivateGraphEndpointSummaryList",
          "documentation":"<p>A list of private endpoints for the specified Neptune Analytics graph.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token used to paginate output.</p> <p>When this value is provided as input, the service returns results from where the previous response left off. When this value is present in output, it indicates that there are more results to retrieve.</p>"
        }
      }
    },
    "ListTagsForResourceInput":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceOutput":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of metadata tags associated with the resource.</p>"
        }
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "NeptuneImportOptions":{
      "type":"structure",
      "required":[
        "s3ExportPath",
        "s3ExportKmsKeyId"
      ],
      "members":{
        "s3ExportPath":{
          "shape":"NeptuneImportOptionsS3ExportPathString",
          "documentation":"<p>The path to an S3 bucket from which to import data.</p>"
        },
        "s3ExportKmsKeyId":{
          "shape":"NeptuneImportOptionsS3ExportKmsKeyIdString",
          "documentation":"<p>The KMS key to use to encrypt data in the S3 bucket where the graph data is exported</p>"
        },
        "preserveDefaultVertexLabels":{
          "shape":"Boolean",
          "documentation":"<p>Neptune Analytics supports label-less vertices and no labels are assigned unless one is explicitly provided. Neptune assigns default labels when none is explicitly provided. When importing the data into Neptune Analytics, the default vertex labels can be omitted by setting <i>preserveDefaultVertexLabels</i> to false. Note that if the vertex only has default labels, and has no other properties or edges, then the vertex will effectively not get imported into Neptune Analytics when preserveDefaultVertexLabels is set to false.</p>"
        },
        "preserveEdgeIds":{
          "shape":"Boolean",
          "documentation":"<p>Neptune Analytics currently does not support user defined edge ids. The edge ids are not imported by default. They are imported if <i>preserveEdgeIds</i> is set to true, and ids are stored as properties on the relationships with the property name neptuneEdgeId.</p>"
        }
      },
      "documentation":"<p>Options for how to import Neptune data.</p>"
    },
    "NeptuneImportOptionsS3ExportKmsKeyIdString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "NeptuneImportOptionsS3ExportPathString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "PaginationToken":{
      "type":"string",
      "max":8192,
      "min":1
    },
    "PrivateGraphEndpointStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "PrivateGraphEndpointSummary":{
      "type":"structure",
      "required":[
        "vpcId",
        "subnetIds",
        "status"
      ],
      "members":{
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>The ID of the VPC in which the private graph endpoint is located.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>The subnet IDs associated with the private graph endpoint.</p>"
        },
        "status":{
          "shape":"PrivateGraphEndpointStatus",
          "documentation":"<p>The status of the private graph endpoint.</p>"
        },
        "vpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The ID of the VPC endpoint.</p>"
        }
      },
      "documentation":"<p>Details about a private graph endpoint.</p>"
    },
    "PrivateGraphEndpointSummaryList":{
      "type":"list",
      "member":{"shape":"PrivateGraphEndpointSummary"}
    },
    "ProvisionedMemory":{
      "type":"integer",
      "box":true,
      "max":24576,
      "min":128
    },
    "ReplicaCount":{
      "type":"integer",
      "box":true,
      "max":2,
      "min":0
    },
    "ResetGraphInput":{
      "type":"structure",
      "required":[
        "graphIdentifier",
        "skipSnapshot"
      ],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>ID of the graph to reset.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "skipSnapshot":{
          "shape":"Boolean",
          "documentation":"<p>Determines whether a final graph snapshot is created before the graph data is deleted. If set to <code>true</code>, no graph snapshot is created. If set to <code>false</code>, a graph snapshot is created before the data is deleted.</p>"
        }
      }
    },
    "ResetGraphOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason that the graph has this status.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"},
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot from which the graph was created, if any.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection is enabled for the graph.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number of the graph.</p>"
        }
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>A specified resource could not be located.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RestoreGraphFromSnapshotInput":{
      "type":"structure",
      "required":[
        "snapshotIdentifier",
        "graphName"
      ],
      "members":{
        "snapshotIdentifier":{
          "shape":"SnapshotIdentifier",
          "documentation":"<p>The ID of the snapshot in question.</p>",
          "location":"uri",
          "locationName":"snapshotIdentifier"
        },
        "graphName":{
          "shape":"GraphName",
          "documentation":"<p>A name for the new Neptune Analytics graph to be created from the snapshot.</p> <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its first character must be a letter. It cannot end with a hyphen or contain two consecutive hyphens. </p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Min = 128</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>A value that indicates whether the graph has deletion protection enabled. The graph can't be deleted when deletion protection is enabled.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Adds metadata tags to the snapshot. These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
        },
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas in other AZs. Min =0, Max = 2, Default =1</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs IAM authenticated. (<code>true</code> to enable, or <code>false</code> to disable).</p>"
        }
      }
    },
    "RestoreGraphFromSnapshotOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason that the graph has this status.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"},
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot from which the graph was created, if any.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection is enabled for the graph.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number of the graph.</p>"
        }
      }
    },
    "RoleArn":{
      "type":"string",
      "pattern":"arn:aws[^:]*:iam::\\d{12}:(role|role/service-role)/[\\w+=,.@-]*"
    },
    "SecurityGroupId":{
      "type":"string",
      "pattern":"sg-[a-z0-9]+"
    },
    "SecurityGroupIds":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "max":10,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The identifier of the resource that exceeded quota.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of the resource that exceeded quota. Ex: Graph, Snapshot</p>"
        },
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>The service code that exceeded quota.</p>"
        },
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>Service quota code of the resource for which quota was exceeded.</p>"
        }
      },
      "documentation":"<p>A service quota was exceeded.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SnapshotId":{
      "type":"string",
      "pattern":"gs-[a-z0-9]{10}"
    },
    "SnapshotIdentifier":{
      "type":"string",
      "pattern":"gs-[a-z0-9]{10}"
    },
    "SnapshotName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"(?!gs-)[a-z][a-z0-9]*(-[a-z0-9]+)*"
    },
    "SnapshotStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "String":{"type":"string"},
    "SubnetId":{
      "type":"string",
      "pattern":"subnet-[a-z0-9]+"
    },
    "SubnetIds":{
      "type":"list",
      "member":{"shape":"SubnetId"},
      "max":6,
      "min":1
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"(?!aws:)[a-zA-Z+-=._:/]+"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":0
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":0
    },
    "TagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p>ARN of the resource for which tags need to be added.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to be assigned to the Neptune Analytics resource.</p> <p>The tags are metadata that are specified as a list of key-value pairs:</p> <p> <b>Key</b> (string)   –   A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length. It can't be prefixed with <code>aws:</code> and can only contain the set of Unicode characters specified by this Java regular expression: <code>\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-]*)$\")</code>.</p> <p> <b>Value</b> (string)   –   A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length. It can't be prefixed with <code>aws:</code> and can only contain the set of Unicode characters specified by this Java regular expression: <code>\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-]*)$\")</code>.</p>"
        }
      }
    },
    "TagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "TaskId":{
      "type":"string",
      "pattern":"t-[a-z0-9]{10}"
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>The exception was interrupted by throttling.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "UntagResourceInput":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "documentation":"<p>ARN of the resource whose tag needs to be removed.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>Tag keys for the tags to be removed.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateGraphInput":{
      "type":"structure",
      "required":["graphIdentifier"],
      "members":{
        "graphIdentifier":{
          "shape":"GraphIdentifier",
          "documentation":"<p>The unique identifier of the Neptune Analytics graph.</p>",
          "location":"uri",
          "locationName":"graphIdentifier"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs IAM authenticated. (<code>true</code> to enable, or <code>false</code> to disable.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Min = 128</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>A value that indicates whether the graph has deletion protection enabled. The graph can't be deleted when deletion protection is enabled.</p>"
        }
      }
    },
    "UpdateGraphOutput":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"GraphId",
          "documentation":"<p>The unique identifier of the graph.</p>"
        },
        "name":{
          "shape":"GraphName",
          "documentation":"<p>The name of the graph.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN associated with the graph.</p>"
        },
        "status":{
          "shape":"GraphStatus",
          "documentation":"<p>The status of the graph.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason that the graph has this status.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the graph was created.</p>"
        },
        "provisionedMemory":{
          "shape":"ProvisionedMemory",
          "documentation":"<p>The number of memory-optimized Neptune Capacity Units (m-NCUs) allocated to the graph.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The graph endpoint.</p>"
        },
        "publicConnectivity":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, the graph has a public endpoint, otherwise not.</p>"
        },
        "vectorSearchConfiguration":{"shape":"VectorSearchConfiguration"},
        "replicaCount":{
          "shape":"ReplicaCount",
          "documentation":"<p>The number of replicas for the graph.</p>"
        },
        "kmsKeyIdentifier":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
        },
        "sourceSnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The ID of the snapshot from which the graph was created, if any.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>If <code>true</code>, deletion protection is enabled for the graph.</p>"
        },
        "buildNumber":{
          "shape":"String",
          "documentation":"<p>The build number of the graph.</p>"
        }
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the problem.</p>"
        },
        "reason":{
          "shape":"ValidationExceptionReason",
          "documentation":"<p>The reason that the resource could not be validated.</p>"
        }
      },
      "documentation":"<p>A resource could not be validated</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "CONSTRAINT_VIOLATION",
        "ILLEGAL_ARGUMENT",
        "MALFORMED_QUERY",
        "QUERY_CANCELLED",
        "QUERY_TOO_LARGE",
        "UNSUPPORTED_OPERATION",
        "BAD_REQUEST"
      ]
    },
    "VectorSearchConfiguration":{
      "type":"structure",
      "required":["dimension"],
      "members":{
        "dimension":{
          "shape":"VectorSearchDimension",
          "documentation":"<p>The number of dimensions.</p>"
        }
      },
      "documentation":"<p>Specifies the number of dimensions for vector embeddings loaded into the graph. Max = 65535</p>"
    },
    "VectorSearchDimension":{
      "type":"integer",
      "box":true,
      "max":65536,
      "min":1
    },
    "VpcEndpointId":{
      "type":"string",
      "pattern":"vpce-[0-9a-f]{17}"
    },
    "VpcId":{
      "type":"string",
      "pattern":"vpc-[a-z0-9]+"
    }
  },
  "documentation":"<p>Neptune Analytics is a serverless in-memory graph database service for analytics that delivers high-performance analytics and real-time queries for any graph type. It complements the Amazon Neptune Database, an industry-leading managed graph database.</p>"
}
