[tool.poetry]
name = "semantic-kernel"
version = "0.1.0.dev"
description = ""
authors = ["Microsoft <SK-Support@microsoft.com>"]
readme = "README.md"
packages = [{include = "semantic_kernel"}]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.24.2"
openai = "^0.27.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.21.0"
black = {version = "^23.1.0", allow-prereleases = true}
ipykernel = "^6.21.1"
pytest = "7.2.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
