[tool.poetry]
name = "semantic-kernel"
version = "0.3.2.dev"
description = ""
authors = ["Microsoft <SK-Support@microsoft.com>"]
readme = "pip/README.md"
packages = [{include = "semantic_kernel"}]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.24.2"
openai = "^0.27.0"
aiofiles = "^23.1.0"
python-dotenv = "1.0.0"
regex = "^2023.6.3"

[tool.poetry.group.dev.dependencies]
pre-commit = "3.3.3"
black = {version = "23.3.0", allow-prereleases = true}
ipykernel = "^6.21.1"
pytest = "7.4.0"
ruff = "0.0.277"
pytest-asyncio = "0.21.0"

[tool.poetry.group.hugging_face.dependencies]
transformers = "^4.28.1"
sentence-transformers = "^2.2.2"
torch = "2.0.0"

[tool.poetry.group.chromadb.dependencies]
chromadb = "^0.3.23"


[tool.poetry.group.weaviate.dependencies]
weaviate-client = "^3.18.0"

[tool.poetry.group.pinecone.dependencies]
pinecone-client = "^2.2.2"

[tool.poetry.group.postgres.dependencies]
psycopg-pool = "^3.1.7"
psycopg = "^3.1.9"

[tool.isort]
profile = "black"

[tool.ruff]
select = ["E", "F", "I"]
line-length = 120

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

