body {
  padding: 0px;
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

#header {
  background-color: #9c2153;
  width: 100%;
  height: 40px;
  color: #FFF;
  display: flex;
}

#header h1 {
  padding-left: 20px;
  align-items: center;
  display: flex;
}

#content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-top: 12px;
  gap: 80px;
}

#main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
}

#tipbar {
  background-color: #FAF9F8;
  width: 360px;
}