{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-12-25",
    "endpointPrefix":"mediapackagev2",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"mediapackagev2",
    "serviceFullName":"AWS Elemental MediaPackage v2",
    "serviceId":"MediaPackageV2",
    "signatureVersion":"v4",
    "signingName":"mediapackagev2",
    "uid":"mediapackagev2-2022-12-25"
  },
  "operations":{
    "CreateChannel":{
      "name":"CreateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelRequest"},
      "output":{"shape":"CreateChannelResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a channel to start receiving content streams. The channel represents the input to MediaPackage for incoming live content from an encoder such as AWS Elemental MediaLive. The channel receives content, and after packaging it, outputs it through an origin endpoint to downstream devices (such as video players or CDNs) that request the content. You can create only one channel with each request. We recommend that you spread out channels between channel groups, such as putting redundant channels in the same AWS Region in different channel groups.</p>",
      "idempotent":true
    },
    "CreateChannelGroup":{
      "name":"CreateChannelGroup",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelGroupRequest"},
      "output":{"shape":"CreateChannelGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a channel group to group your channels and origin endpoints. A channel group is the top-level resource that consists of channels and origin endpoints that are associated with it and that provides predictable URLs for stream delivery. All channels and origin endpoints within the channel group are guaranteed to share the DNS. You can create only one channel group with each request. </p>",
      "idempotent":true
    },
    "CreateOriginEndpoint":{
      "name":"CreateOriginEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
        "responseCode":200
      },
      "input":{"shape":"CreateOriginEndpointRequest"},
      "output":{"shape":"CreateOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>The endpoint is attached to a channel, and represents the output of the live content. You can associate multiple endpoints to a single channel. Each endpoint gives players and downstream CDNs (such as Amazon CloudFront) access to the content for playback. Content can't be served from a channel until it has an endpoint. You can create only one endpoint with each request. </p>",
      "idempotent":true
    },
    "DeleteChannel":{
      "name":"DeleteChannel",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelRequest"},
      "output":{"shape":"DeleteChannelResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel to stop AWS Elemental MediaPackage from receiving further content. You must delete the channel's origin endpoints before you can delete the channel.</p>",
      "idempotent":true
    },
    "DeleteChannelGroup":{
      "name":"DeleteChannelGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelGroupRequest"},
      "output":{"shape":"DeleteChannelGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel group. You must delete the channel group's channels and origin endpoints before you can delete the channel group. If you delete a channel group, you'll lose access to the egress domain and will have to create a new channel group to replace it.</p>",
      "idempotent":true
    },
    "DeleteChannelPolicy":{
      "name":"DeleteChannelPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelPolicyRequest"},
      "output":{"shape":"DeleteChannelPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel policy.</p>",
      "idempotent":true
    },
    "DeleteOriginEndpoint":{
      "name":"DeleteOriginEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteOriginEndpointRequest"},
      "output":{"shape":"DeleteOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Origin endpoints can serve content until they're deleted. Delete the endpoint if it should no longer respond to playback requests. You must delete all endpoints from a channel before you can delete the channel.</p>",
      "idempotent":true
    },
    "DeleteOriginEndpointPolicy":{
      "name":"DeleteOriginEndpointPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteOriginEndpointPolicyRequest"},
      "output":{"shape":"DeleteOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete an origin endpoint policy.</p>",
      "idempotent":true
    },
    "GetChannel":{
      "name":"GetChannel",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"GetChannelRequest"},
      "output":{"shape":"GetChannelResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel that's configured in AWS Elemental MediaPackage, including the origin endpoints that are associated with it.</p>"
    },
    "GetChannelGroup":{
      "name":"GetChannelGroup",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"GetChannelGroupRequest"},
      "output":{"shape":"GetChannelGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel group that's configured in AWS Elemental MediaPackage, including the channels and origin endpoints that are associated with it.</p>"
    },
    "GetChannelPolicy":{
      "name":"GetChannelPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetChannelPolicyRequest"},
      "output":{"shape":"GetChannelPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel policy that's configured in AWS Elemental MediaPackage. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources.</p>"
    },
    "GetOriginEndpoint":{
      "name":"GetOriginEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"GetOriginEndpointRequest"},
      "output":{"shape":"GetOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified origin endpoint that's configured in AWS Elemental MediaPackage to obtain its playback URL and to view the packaging settings that it's currently using.</p>"
    },
    "GetOriginEndpointPolicy":{
      "name":"GetOriginEndpointPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetOriginEndpointPolicyRequest"},
      "output":{"shape":"GetOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified origin endpoint policy that's configured in AWS Elemental MediaPackage.</p>"
    },
    "ListChannelGroups":{
      "name":"ListChannelGroups",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup",
        "responseCode":200
      },
      "input":{"shape":"ListChannelGroupsRequest"},
      "output":{"shape":"ListChannelGroupsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves all channel groups that are configured in AWS Elemental MediaPackage, including the channels and origin endpoints that are associated with it.</p>"
    },
    "ListChannels":{
      "name":"ListChannels",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel",
        "responseCode":200
      },
      "input":{"shape":"ListChannelsRequest"},
      "output":{"shape":"ListChannelsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves all channels in a specific channel group that are configured in AWS Elemental MediaPackage, including the origin endpoints that are associated with it.</p>"
    },
    "ListOriginEndpoints":{
      "name":"ListOriginEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
        "responseCode":200
      },
      "input":{"shape":"ListOriginEndpointsRequest"},
      "output":{"shape":"ListOriginEndpointsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves all origin endpoints in a specific channel that are configured in AWS Elemental MediaPackage.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the tags assigned to a resource.</p>"
    },
    "PutChannelPolicy":{
      "name":"PutChannelPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutChannelPolicyRequest"},
      "output":{"shape":"PutChannelPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Attaches an IAM policy to the specified channel. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources. You can attach only one policy with each request.</p>",
      "idempotent":true
    },
    "PutOriginEndpointPolicy":{
      "name":"PutOriginEndpointPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutOriginEndpointPolicyRequest"},
      "output":{"shape":"PutOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Attaches an IAM policy to the specified origin endpoint. You can attach only one policy with each request.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Assigns one of more tags (key-value pairs) to the specified MediaPackage resource.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the TagResource operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateChannel":{
      "name":"UpdateChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelRequest"},
      "output":{"shape":"UpdateChannelResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update the specified channel. You can edit if MediaPackage sends ingest or egress access logs to the CloudWatch log group, if content will be encrypted, the description on a channel, and your channel's policy settings. You can't edit the name of the channel or CloudFront distribution details.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    },
    "UpdateChannelGroup":{
      "name":"UpdateChannelGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelGroupRequest"},
      "output":{"shape":"UpdateChannelGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update the specified channel group. You can edit the description on a channel group for easier identification later from the AWS Elemental MediaPackage console. You can't edit the name of the channel group.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    },
    "UpdateOriginEndpoint":{
      "name":"UpdateOriginEndpoint",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateOriginEndpointRequest"},
      "output":{"shape":"UpdateOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update the specified origin endpoint. Edit the packaging preferences on an endpoint to optimize the viewing experience. You can't edit the name of the endpoint.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AdMarkerHls":{
      "type":"string",
      "enum":["DATERANGE"]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ChannelGroupListConfiguration":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>"
        }
      },
      "documentation":"<p>The configuration of the channel group.</p>"
    },
    "ChannelGroupsList":{
      "type":"list",
      "member":{"shape":"ChannelGroupListConfiguration"}
    },
    "ChannelList":{
      "type":"list",
      "member":{"shape":"ChannelListConfiguration"}
    },
    "ChannelListConfiguration":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>"
        },
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the channel for future identification purposes.</p>"
        }
      },
      "documentation":"<p>The configuration of the channel.</p>"
    },
    "CmafEncryptionMethod":{
      "type":"string",
      "enum":[
        "CENC",
        "CBCS"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "ConflictExceptionType":{
          "shape":"ConflictExceptionType",
          "documentation":"<p>The type of ConflictException.</p>"
        }
      },
      "documentation":"<p>Updating or deleting this resource can cause an inconsistent state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictExceptionType":{
      "type":"string",
      "enum":[
        "RESOURCE_IN_USE",
        "RESOURCE_ALREADY_EXISTS",
        "IDEMPOTENT_PARAMETER_MISMATCH",
        "CONFLICTING_OPERATION"
      ]
    },
    "ContainerType":{
      "type":"string",
      "enum":[
        "TS",
        "CMAF"
      ]
    },
    "CreateChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region. You can't use spaces in the name. You can't change the name after you create the channel group.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the channel group.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
          "locationName":"tags"
        }
      }
    },
    "CreateChannelGroupResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "EgressDomain",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "EgressDomain":{
          "shape":"String",
          "documentation":"<p>The output domain where the source stream should be sent. Integrate the egress domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel group.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>"
        }
      }
    },
    "CreateChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. You can't change the name after you create the channel.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the channel.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
          "locationName":"tags"
        }
      }
    },
    "CreateChannelResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel.</p>"
        },
        "IngestEndpoints":{"shape":"IngestEndpointList"},
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
        }
      }
    },
    "CreateHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "ManifestWindowSeconds":{
          "shape":"CreateHlsManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"CreateHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"}
      },
      "documentation":"<p>Create an HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "CreateHlsManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":900,
      "min":30
    },
    "CreateHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":1
    },
    "CreateHlsManifests":{
      "type":"list",
      "member":{"shape":"CreateHlsManifestConfiguration"}
    },
    "CreateLowLatencyHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "ManifestWindowSeconds":{
          "shape":"CreateLowLatencyHlsManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"CreateLowLatencyHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"}
      },
      "documentation":"<p>Create a low-latency HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "CreateLowLatencyHlsManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":900,
      "min":30
    },
    "CreateLowLatencyHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":1
    },
    "CreateLowLatencyHlsManifests":{
      "type":"list",
      "member":{"shape":"CreateLowLatencyHlsManifestConfiguration"}
    },
    "CreateOriginEndpointRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and must be unique for your account in the AWS Region and channel. You can't use spaces in the name. You can't change the name after you create the endpoint.</p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container to attach to this origin endpoint. A container type is a file format that encapsulates one or more media streams, such as audio and video, into a single file. You can't change the container type after you create the endpoint.</p>"
        },
        "Segment":{
          "shape":"Segment",
          "documentation":"<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the origin endpoint.</p>"
        },
        "StartoverWindowSeconds":{
          "shape":"CreateOriginEndpointRequestStartoverWindowSecondsInteger",
          "documentation":"<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window. The maximum startover window is 1,209,600 seconds (14 days).</p>"
        },
        "HlsManifests":{
          "shape":"CreateHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"CreateLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>"
        }
      }
    },
    "CreateOriginEndpointRequestStartoverWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":60
    },
    "CreateOriginEndpointResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType",
        "Segment",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel.</p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container attached to this origin endpoint.</p>"
        },
        "Segment":{
          "shape":"Segment",
          "documentation":"<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your origin endpoint.</p>"
        },
        "StartoverWindowSeconds":{
          "shape":"Integer",
          "documentation":"<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window.</p>"
        },
        "HlsManifests":{
          "shape":"GetHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"GetLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the origin endpoint.</p>"
        }
      }
    },
    "DeleteChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        }
      }
    },
    "DeleteChannelGroupResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteChannelPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteOriginEndpointPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "DeleteOriginEndpointPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteOriginEndpointRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "DeleteOriginEndpointResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DrmSystem":{
      "type":"string",
      "enum":[
        "CLEAR_KEY_AES_128",
        "FAIRPLAY",
        "PLAYREADY",
        "WIDEVINE"
      ]
    },
    "Encryption":{
      "type":"structure",
      "required":[
        "EncryptionMethod",
        "SpekeKeyProvider"
      ],
      "members":{
        "ConstantInitializationVector":{
          "shape":"EncryptionConstantInitializationVectorString",
          "documentation":"<p>A 128-bit, 16-byte hex value represented by a 32-character string, used in conjunction with the key for encrypting content. If you don't specify a value, then MediaPackage creates the constant initialization vector (IV).</p>"
        },
        "EncryptionMethod":{
          "shape":"EncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        },
        "KeyRotationIntervalSeconds":{
          "shape":"EncryptionKeyRotationIntervalSecondsInteger",
          "documentation":"<p>The frequency (in seconds) of key changes for live workflows, in which content is streamed real time. The service retrieves content keys before the live content begins streaming, and then retrieves them as needed over the lifetime of the workflow. By default, key rotation is set to 300 seconds (5 minutes), the minimum rotation interval, which is equivalent to setting it to 300. If you don't enter an interval, content keys aren't rotated.</p> <p>The following example setting causes the service to rotate keys every thirty minutes: <code>1800</code> </p>"
        },
        "SpekeKeyProvider":{
          "shape":"SpekeKeyProvider",
          "documentation":"<p>The parameters for the SPEKE key provider.</p>"
        }
      },
      "documentation":"<p>The parameters for encrypting content.</p>"
    },
    "EncryptionConstantInitializationVectorString":{
      "type":"string",
      "max":32,
      "min":32,
      "pattern":"[0-9a-fA-F]+"
    },
    "EncryptionContractConfiguration":{
      "type":"structure",
      "required":[
        "PresetSpeke20Audio",
        "PresetSpeke20Video"
      ],
      "members":{
        "PresetSpeke20Audio":{
          "shape":"PresetSpeke20Audio",
          "documentation":"<p>A collection of audio encryption presets.</p> <p>Value description: </p> <ul> <li> <p>PRESET-AUDIO-1 - Use one content key to encrypt all of the audio tracks in your stream.</p> </li> <li> <p>PRESET-AUDIO-2 - Use one content key to encrypt all of the stereo audio tracks and one content key to encrypt all of the multichannel audio tracks.</p> </li> <li> <p>PRESET-AUDIO-3 - Use one content key to encrypt all of the stereo audio tracks, one content key to encrypt all of the multichannel audio tracks with 3 to 6 channels, and one content key to encrypt all of the multichannel audio tracks with more than 6 channels.</p> </li> <li> <p>SHARED - Use the same content key for all of the audio and video tracks in your stream.</p> </li> <li> <p>UNENCRYPTED - Don't encrypt any of the audio tracks in your stream.</p> </li> </ul>"
        },
        "PresetSpeke20Video":{
          "shape":"PresetSpeke20Video",
          "documentation":"<p>A collection of video encryption presets.</p> <p>Value description: </p> <ul> <li> <p>PRESET-VIDEO-1 - Use one content key to encrypt all of the video tracks in your stream.</p> </li> <li> <p>PRESET-VIDEO-2 - Use one content key to encrypt all of the SD video tracks and one content key for all HD and higher resolutions video tracks.</p> </li> <li> <p>PRESET-VIDEO-3 - Use one content key to encrypt all of the SD video tracks, one content key for HD video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-4 - Use one content key to encrypt all of the SD video tracks, one content key for HD video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>PRESET-VIDEO-5 - Use one content key to encrypt all of the SD video tracks, one content key for HD1 video tracks, one content key for HD2 video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>PRESET-VIDEO-6 - Use one content key to encrypt all of the SD video tracks, one content key for HD1 video tracks, one content key for HD2 video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-7 - Use one content key to encrypt all of the SD+HD1 video tracks, one content key for HD2 video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-8 - Use one content key to encrypt all of the SD+HD1 video tracks, one content key for HD2 video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>SHARED - Use the same content key for all of the video and audio tracks in your stream.</p> </li> <li> <p>UNENCRYPTED - Don't encrypt any of the video tracks in your stream.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Configure one or more content encryption keys for your endpoints that use SPEKE Version 2.0. The encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. To configure the encryption contract, specify which audio and video encryption presets to use.</p>"
    },
    "EncryptionKeyRotationIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":31536000,
      "min":300
    },
    "EncryptionMethod":{
      "type":"structure",
      "members":{
        "TsEncryptionMethod":{
          "shape":"TsEncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        },
        "CmafEncryptionMethod":{
          "shape":"CmafEncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        }
      },
      "documentation":"<p>The encryption type.</p>"
    },
    "FilterConfiguration":{
      "type":"structure",
      "members":{
        "ManifestFilter":{
          "shape":"FilterConfigurationManifestFilterString",
          "documentation":"<p>Optionally specify one or more manifest filters for all of your manifest egress requests. When you include a manifest filter, note that you cannot use an identical manifest filter query parameter for this manifest's endpoint URL.</p>"
        },
        "Start":{
          "shape":"Timestamp",
          "documentation":"<p>Optionally specify the start time for all of your manifest egress requests. When you include start time, note that you cannot use start time query parameters for this manifest's endpoint URL.</p>"
        },
        "End":{
          "shape":"Timestamp",
          "documentation":"<p>Optionally specify the end time for all of your manifest egress requests. When you include end time, note that you cannot use end time query parameters for this manifest's endpoint URL.</p>"
        },
        "TimeDelaySeconds":{
          "shape":"FilterConfigurationTimeDelaySecondsInteger",
          "documentation":"<p>Optionally specify the time delay for all of your manifest egress requests. Enter a value that is smaller than your endpoint's startover window. When you include time delay, note that you cannot use time delay query parameters for this manifest's endpoint URL.</p>"
        }
      },
      "documentation":"<p>Filter configuration includes settings for manifest filtering, start and end times, and time delay that apply to all of your egress requests for this manifest. </p>"
    },
    "FilterConfigurationManifestFilterString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FilterConfigurationTimeDelaySecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":0
    },
    "GetChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        }
      }
    },
    "GetChannelGroupResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "EgressDomain",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "EgressDomain":{
          "shape":"String",
          "documentation":"<p>The output domain where the source stream should be sent. Integrate the domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel group.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>",
          "locationName":"tags"
        }
      }
    },
    "GetChannelPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "GetChannelPolicyResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "Policy"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "Policy":{
          "shape":"PolicyText",
          "documentation":"<p>The policy assigned to the channel.</p>"
        }
      }
    },
    "GetChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "GetChannelResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel.</p>"
        },
        "IngestEndpoints":{"shape":"IngestEndpointList"},
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
        }
      }
    },
    "GetHlsManifestConfiguration":{
      "type":"structure",
      "required":[
        "ManifestName",
        "Url"
      ],
      "members":{
        "ManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p>The egress domain URL for stream delivery from MediaPackage.</p>"
        },
        "ChildManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ManifestWindowSeconds":{
          "shape":"Integer",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"Integer",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "FilterConfiguration":{"shape":"FilterConfiguration"}
      },
      "documentation":"<p>Retrieve the HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "GetHlsManifests":{
      "type":"list",
      "member":{"shape":"GetHlsManifestConfiguration"}
    },
    "GetLowLatencyHlsManifestConfiguration":{
      "type":"structure",
      "required":[
        "ManifestName",
        "Url"
      ],
      "members":{
        "ManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p>The egress domain URL for stream delivery from MediaPackage.</p>"
        },
        "ChildManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ManifestWindowSeconds":{
          "shape":"Integer",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"Integer",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "FilterConfiguration":{"shape":"FilterConfiguration"}
      },
      "documentation":"<p>Retrieve the low-latency HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "GetLowLatencyHlsManifests":{
      "type":"list",
      "member":{"shape":"GetLowLatencyHlsManifestConfiguration"}
    },
    "GetOriginEndpointPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "GetOriginEndpointPolicyResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "Policy"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel.</p>"
        },
        "Policy":{
          "shape":"PolicyText",
          "documentation":"<p>The policy assigned to the origin endpoint.</p>"
        }
      }
    },
    "GetOriginEndpointRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "GetOriginEndpointResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType",
        "Segment",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel.</p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container attached to this origin endpoint.</p>"
        },
        "Segment":{"shape":"Segment"},
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your origin endpoint.</p>"
        },
        "StartoverWindowSeconds":{
          "shape":"Integer",
          "documentation":"<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window.</p>"
        },
        "HlsManifests":{
          "shape":"GetHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"GetLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the origin endpoint.</p>"
        }
      }
    },
    "IdempotencyToken":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\S]+"
    },
    "IngestEndpoint":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"String",
          "documentation":"<p>The system-generated unique identifier for the IngestEndpoint.</p>"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p>The ingest domain URL where the source stream should be sent.</p>"
        }
      },
      "documentation":"<p>The ingest domain URL where the source stream should be sent.</p>"
    },
    "IngestEndpointList":{
      "type":"list",
      "member":{"shape":"IngestEndpoint"},
      "documentation":"<p>The list of ingest endpoints.</p>"
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>Indicates that an error from the service occurred while trying to process a request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ListChannelGroupsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"ListResourceMaxResults",
          "documentation":"<p>The maximum number of results to return in the response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListChannelGroupsResponse":{
      "type":"structure",
      "members":{
        "Items":{
          "shape":"ChannelGroupsList",
          "documentation":"<p>The objects being returned.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request. Use the token to fetch the next page of results.</p>"
        }
      }
    },
    "ListChannelsRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "MaxResults":{
          "shape":"ListResourceMaxResults",
          "documentation":"<p>The maximum number of results to return in the response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListChannelsResponse":{
      "type":"structure",
      "members":{
        "Items":{
          "shape":"ChannelList",
          "documentation":"<p>The objects being returned.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request.</p>"
        }
      }
    },
    "ListHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p>The egress domain URL for stream delivery from MediaPackage.</p>"
        }
      },
      "documentation":"<p>List the HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "ListHlsManifests":{
      "type":"list",
      "member":{"shape":"ListHlsManifestConfiguration"}
    },
    "ListLowLatencyHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ResourceName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p>The egress domain URL for stream delivery from MediaPackage.</p>"
        }
      },
      "documentation":"<p>List the low-latency HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "ListLowLatencyHlsManifests":{
      "type":"list",
      "member":{"shape":"ListLowLatencyHlsManifestConfiguration"}
    },
    "ListOriginEndpointsRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "MaxResults":{
          "shape":"ListResourceMaxResults",
          "documentation":"<p>The maximum number of results to return in the response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListOriginEndpointsResponse":{
      "type":"structure",
      "members":{
        "Items":{
          "shape":"OriginEndpointsList",
          "documentation":"<p>The objects being returned.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token from the GET list request. Use the token to fetch the next page of results.</p>"
        }
      }
    },
    "ListResourceMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"TagArn",
          "documentation":"<p>The ARN of the CloudWatch resource that you want to view tags for.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.</p>",
          "locationName":"tags"
        }
      }
    },
    "ManifestName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "OriginEndpointListConfiguration":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container attached to this origin endpoint. A container type is a file format that encapsulates one or more media streams, such as audio and video, into a single file. </p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the origin endpoint for future identification purposes.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was modified.</p>"
        },
        "HlsManifests":{
          "shape":"ListHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"ListLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        }
      },
      "documentation":"<p>The configuration of the origin endpoint.</p>"
    },
    "OriginEndpointsList":{
      "type":"list",
      "member":{"shape":"OriginEndpointListConfiguration"}
    },
    "PolicyText":{
      "type":"string",
      "max":6144,
      "min":0
    },
    "PresetSpeke20Audio":{
      "type":"string",
      "enum":[
        "PRESET_AUDIO_1",
        "PRESET_AUDIO_2",
        "PRESET_AUDIO_3",
        "SHARED",
        "UNENCRYPTED"
      ]
    },
    "PresetSpeke20Video":{
      "type":"string",
      "enum":[
        "PRESET_VIDEO_1",
        "PRESET_VIDEO_2",
        "PRESET_VIDEO_3",
        "PRESET_VIDEO_4",
        "PRESET_VIDEO_5",
        "PRESET_VIDEO_6",
        "PRESET_VIDEO_7",
        "PRESET_VIDEO_8",
        "SHARED",
        "UNENCRYPTED"
      ]
    },
    "PutChannelPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "Policy"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "Policy":{
          "shape":"PolicyText",
          "documentation":"<p>The policy to attach to the specified channel.</p>"
        }
      }
    },
    "PutChannelPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "PutOriginEndpointPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "Policy"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        },
        "Policy":{
          "shape":"PolicyText",
          "documentation":"<p>The policy to attach to the specified origin endpoint.</p>"
        }
      }
    },
    "PutOriginEndpointPolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ResourceDescription":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "ResourceName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "ResourceTypeNotFound":{
          "shape":"ResourceTypeNotFound",
          "documentation":"<p>The specified resource type wasn't found.</p>"
        }
      },
      "documentation":"<p>The specified resource doesn't exist.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceTypeNotFound":{
      "type":"string",
      "enum":[
        "CHANNEL_GROUP",
        "CHANNEL",
        "ORIGIN_ENDPOINT"
      ]
    },
    "Scte":{
      "type":"structure",
      "members":{
        "ScteFilter":{
          "shape":"ScteFilterList",
          "documentation":"<p>The SCTE-35 message types that you want to be treated as ad markers in the output.</p>"
        }
      },
      "documentation":"<p>The SCTE configuration.</p>"
    },
    "ScteFilter":{
      "type":"string",
      "enum":[
        "SPLICE_INSERT",
        "BREAK",
        "PROVIDER_ADVERTISEMENT",
        "DISTRIBUTOR_ADVERTISEMENT",
        "PROVIDER_PLACEMENT_OPPORTUNITY",
        "DISTRIBUTOR_PLACEMENT_OPPORTUNITY",
        "PROVIDER_OVERLAY_PLACEMENT_OPPORTUNITY",
        "DISTRIBUTOR_OVERLAY_PLACEMENT_OPPORTUNITY",
        "PROGRAM"
      ]
    },
    "ScteFilterList":{
      "type":"list",
      "member":{"shape":"ScteFilter"},
      "max":100,
      "min":0
    },
    "ScteHls":{
      "type":"structure",
      "members":{
        "AdMarkerHls":{
          "shape":"AdMarkerHls",
          "documentation":"<p>Ad markers indicate when ads should be inserted during playback. If you include ad markers in the content stream in your upstream encoders, then you need to inform MediaPackage what to do with the ad markers in the output. Choose what you want MediaPackage to do with the ad markers.</p> <p>Value description: </p> <ul> <li> <p>DATERANGE - Insert EXT-X-DATERANGE tags to signal ad and program transition events in TS and CMAF manifests. If you use DATERANGE, you must set a programDateTimeIntervalSeconds value of 1 or higher. To learn more about DATERANGE, see <a href=\"http://docs.aws.amazon.com/mediapackage/latest/ug/scte-35-ad-marker-ext-x-daterange.html\">SCTE-35 Ad Marker EXT-X-DATERANGE</a>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The SCTE configuration.</p>"
    },
    "Segment":{
      "type":"structure",
      "members":{
        "SegmentDurationSeconds":{
          "shape":"SegmentSegmentDurationSecondsInteger",
          "documentation":"<p>The duration (in seconds) of each segment. Enter a value equal to, or a multiple of, the input segment duration. If the value that you enter is different from the input segment duration, MediaPackage rounds segments to the nearest multiple of the input segment duration.</p>"
        },
        "SegmentName":{
          "shape":"SegmentSegmentNameString",
          "documentation":"<p>The name that describes the segment. The name is the base name of the segment used in all content manifests inside of the endpoint. You can't use spaces in the name.</p>"
        },
        "TsUseAudioRenditionGroup":{
          "shape":"Boolean",
          "documentation":"<p>When selected, MediaPackage bundles all audio tracks in a rendition group. All other tracks in the stream can be used with any audio rendition from the group.</p>"
        },
        "IncludeIframeOnlyStreams":{
          "shape":"Boolean",
          "documentation":"<p>When selected, the stream set includes an additional I-frame only stream, along with the other tracks. If false, this extra stream is not included. MediaPackage generates an I-frame only stream from the first rendition in the manifest. The service inserts EXT-I-FRAMES-ONLY tags in the output manifest, and then generates and includes an I-frames only playlist in the stream. This playlist permits player functionality like fast forward and rewind.</p>"
        },
        "TsIncludeDvbSubtitles":{
          "shape":"Boolean",
          "documentation":"<p>By default, MediaPackage excludes all digital video broadcasting (DVB) subtitles from the output. When selected, MediaPackage passes through DVB subtitles into the output.</p>"
        },
        "Scte":{
          "shape":"Scte",
          "documentation":"<p>The SCTE configuration options in the segment settings.</p>"
        },
        "Encryption":{"shape":"Encryption"}
      },
      "documentation":"<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
    },
    "SegmentSegmentDurationSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":30,
      "min":1
    },
    "SegmentSegmentNameString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The request would cause a service quota to be exceeded.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SpekeKeyProvider":{
      "type":"structure",
      "required":[
        "EncryptionContractConfiguration",
        "ResourceId",
        "DrmSystems",
        "RoleArn",
        "Url"
      ],
      "members":{
        "EncryptionContractConfiguration":{
          "shape":"EncryptionContractConfiguration",
          "documentation":"<p>Configure one or more content encryption keys for your endpoints that use SPEKE Version 2.0. The encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. To configure the encryption contract, specify which audio and video encryption presets to use.</p>"
        },
        "ResourceId":{
          "shape":"SpekeKeyProviderResourceIdString",
          "documentation":"<p>The unique identifier for the content. The service sends this to the key server to identify the current endpoint. How unique you make this depends on how fine-grained you want access controls to be. The service does not permit you to use the same ID for two simultaneous encryption processes. The resource ID is also known as the content ID.</p> <p>The following example shows a resource ID: <code>MovieNight20171126093045</code> </p>"
        },
        "DrmSystems":{
          "shape":"SpekeKeyProviderDrmSystemsList",
          "documentation":"<p>The DRM solution provider you're using to protect your content during distribution.</p>"
        },
        "RoleArn":{
          "shape":"SpekeKeyProviderRoleArnString",
          "documentation":"<p>The ARN for the IAM role granted by the key provider that provides access to the key provider API. This role must have a trust policy that allows MediaPackage to assume the role, and it must have a sufficient permissions policy to allow access to the specific key retrieval URL. Get this from your DRM solution provider.</p> <p>Valid format: <code>arn:aws:iam::{accountID}:role/{name}</code>. The following example shows a role ARN: <code>arn:aws:iam::444455556666:role/SpekeAccess</code> </p>"
        },
        "Url":{
          "shape":"SpekeKeyProviderUrlString",
          "documentation":"<p>The URL of the API Gateway proxy that you set up to talk to your key server. The API Gateway proxy must reside in the same AWS Region as MediaPackage and must start with https://.</p> <p>The following example shows a URL: <code>https://1wm2dx1f33.execute-api.us-west-2.amazonaws.com/SpekeSample/copyProtection</code> </p>"
        }
      },
      "documentation":"<p>The parameters for the SPEKE key provider.</p>"
    },
    "SpekeKeyProviderDrmSystemsList":{
      "type":"list",
      "member":{"shape":"DrmSystem"},
      "max":4,
      "min":1
    },
    "SpekeKeyProviderResourceIdString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[0-9a-zA-Z_-]+"
    },
    "SpekeKeyProviderRoleArnString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "SpekeKeyProviderUrlString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "String":{"type":"string"},
    "TagArn":{"type":"string"},
    "TagKey":{"type":"string"},
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"}
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"TagArn",
          "documentation":"<p>The ARN of the MediaPackage resource that you're adding tags to.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.</p>",
          "locationName":"tags"
        }
      }
    },
    "TagValue":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The request throughput limit was exceeded.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TsEncryptionMethod":{
      "type":"string",
      "enum":[
        "AES_128",
        "SAMPLE_AES"
      ]
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"TagArn",
          "documentation":"<p>The ARN of the MediaPackage resource that you're removing tags from.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>The list of tag keys to remove from the resource.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UpdateChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>"
        }
      }
    },
    "UpdateChannelGroupResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "EgressDomain",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "EgressDomain":{
          "shape":"String",
          "documentation":"<p>The output domain where the source stream is sent. Integrate the domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel group.</p>"
[...]
