name: Python Lint
on:
  workflow_dispatch:
  pull_request:
    branches: [ "main", "feature*" ]

jobs:
  check-for-python-changes:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.filter.outputs.python}}
    steps:
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          python:
            - 'python/**'
    - uses: actions/checkout@v3
    # run only if 'python' files were changed
    - name: python changes found
      if: steps.filter.outputs.python == 'true'
      run: echo "Python file"
    # run only if not 'python' files were changed
    - name: no python changes found
      if: steps.filter.outputs.python != 'true'
      run: echo "NOT python file"

  ruff:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
    runs-on: ubuntu-latest
    needs: check-for-python-changes
    if: needs.check-for-python-changes.outputs.output1 == 'true'
    timeout-minutes: 5
    steps:
      - run: echo "/root/.local/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
          cache-dependency-path: "python/pyproject.toml"
      - name: Install SemanticKernel
        run: cd python && poetry install --no-ansi
      - name: Run lint
        run: cd python && poetry run ruff check .
  black:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
    runs-on: ubuntu-latest
    needs: check-for-python-changes
    if: needs.check-for-python-changes.outputs.output1 == 'true'
    timeout-minutes: 5
    steps:
      - run: echo "/root/.local/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
          cache-dependency-path: "python/pyproject.toml"
      - name: Install SemanticKernel
        run: cd python && poetry install --no-ansi
      - name: Run lint
        run: cd python && poetry run black --check .
