name: Node.js Code Quality Checks
on:
  workflow_dispatch:
  pull_request:
    branches: ["main", "feature*"]
    paths:
      - "nodejs/**"

jobs:
  lint:
    if: "!cancelled()"
    strategy:
      fail-fast: false
      matrix:
        node-version: ["24"]
    runs-on: ubuntu-latest
    continue-on-error: true
    defaults:
      run:
        working-directory: nodejs
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: nodejs/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint
      - name: Run TypeScript type checking
        run: npm run build
