{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-01",
    "endpointPrefix":"aps",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Prometheus Service",
    "serviceId":"amp",
    "signatureVersion":"v4",
    "signingName":"aps",
    "uid":"amp-2020-08-01"
  },
  "operations":{
    "CreateAlertManagerDefinition":{
      "name":"CreateAlertManagerDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode":202
      },
      "input":{"shape":"CreateAlertManagerDefinitionRequest"},
      "output":{"shape":"CreateAlertManagerDefinitionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create an alert manager definition.</p>",
      "idempotent":true
    },
    "CreateLoggingConfiguration":{
      "name":"CreateLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceId}/logging",
        "responseCode":202
      },
      "input":{"shape":"CreateLoggingConfigurationRequest"},
      "output":{"shape":"CreateLoggingConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create logging configuration.</p>",
      "idempotent":true
    },
    "CreateRuleGroupsNamespace":{
      "name":"CreateRuleGroupsNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceId}/rulegroupsnamespaces",
        "responseCode":202
      },
      "input":{"shape":"CreateRuleGroupsNamespaceRequest"},
      "output":{"shape":"CreateRuleGroupsNamespaceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a rule group namespace.</p>",
      "idempotent":true
    },
    "CreateScraper":{
      "name":"CreateScraper",
      "http":{
        "method":"POST",
        "requestUri":"/scrapers",
        "responseCode":202
      },
      "input":{"shape":"CreateScraperRequest"},
      "output":{"shape":"CreateScraperResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a scraper.</p>",
      "idempotent":true
    },
    "CreateWorkspace":{
      "name":"CreateWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces",
        "responseCode":202
      },
      "input":{"shape":"CreateWorkspaceRequest"},
      "output":{"shape":"CreateWorkspaceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new AMP workspace.</p>",
      "idempotent":true
    },
    "DeleteAlertManagerDefinition":{
      "name":"DeleteAlertManagerDefinition",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode":202
      },
      "input":{"shape":"DeleteAlertManagerDefinitionRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an alert manager definition.</p>",
      "idempotent":true
    },
    "DeleteLoggingConfiguration":{
      "name":"DeleteLoggingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceId}/logging",
        "responseCode":202
      },
      "input":{"shape":"DeleteLoggingConfigurationRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete logging configuration.</p>",
      "idempotent":true
    },
    "DeleteRuleGroupsNamespace":{
      "name":"DeleteRuleGroupsNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRuleGroupsNamespaceRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a rule groups namespace.</p>",
      "idempotent":true
    },
    "DeleteScraper":{
      "name":"DeleteScraper",
      "http":{
        "method":"DELETE",
        "requestUri":"/scrapers/{scraperId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteScraperRequest"},
      "output":{"shape":"DeleteScraperResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a scraper.</p>",
      "idempotent":true
    },
    "DeleteWorkspace":{
      "name":"DeleteWorkspace",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteWorkspaceRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an AMP workspace.</p>",
      "idempotent":true
    },
    "DescribeAlertManagerDefinition":{
      "name":"DescribeAlertManagerDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode":200
      },
      "input":{"shape":"DescribeAlertManagerDefinitionRequest"},
      "output":{"shape":"DescribeAlertManagerDefinitionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes an alert manager definition.</p>"
    },
    "DescribeLoggingConfiguration":{
      "name":"DescribeLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceId}/logging",
        "responseCode":200
      },
      "input":{"shape":"DescribeLoggingConfigurationRequest"},
      "output":{"shape":"DescribeLoggingConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes logging configuration.</p>"
    },
    "DescribeRuleGroupsNamespace":{
      "name":"DescribeRuleGroupsNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode":200
      },
      "input":{"shape":"DescribeRuleGroupsNamespaceRequest"},
      "output":{"shape":"DescribeRuleGroupsNamespaceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describe a rule groups namespace.</p>"
    },
    "DescribeScraper":{
      "name":"DescribeScraper",
      "http":{
        "method":"GET",
        "requestUri":"/scrapers/{scraperId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeScraperRequest"},
      "output":{"shape":"DescribeScraperResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describe an existing scraper.</p>"
    },
    "DescribeWorkspace":{
      "name":"DescribeWorkspace",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeWorkspaceRequest"},
      "output":{"shape":"DescribeWorkspaceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes an existing AMP workspace.</p>"
    },
    "GetDefaultScraperConfiguration":{
      "name":"GetDefaultScraperConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/scraperconfiguration",
        "responseCode":200
      },
      "input":{"shape":"GetDefaultScraperConfigurationRequest"},
      "output":{"shape":"GetDefaultScraperConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a default configuration.</p>"
    },
    "ListRuleGroupsNamespaces":{
      "name":"ListRuleGroupsNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceId}/rulegroupsnamespaces",
        "responseCode":200
      },
      "input":{"shape":"ListRuleGroupsNamespacesRequest"},
      "output":{"shape":"ListRuleGroupsNamespacesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists rule groups namespaces.</p>"
    },
    "ListScrapers":{
      "name":"ListScrapers",
      "http":{
        "method":"GET",
        "requestUri":"/scrapers",
        "responseCode":200
      },
      "input":{"shape":"ListScrapersRequest"},
      "output":{"shape":"ListScrapersResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all scrapers in a customer account, including scrapers being created or deleted. You may provide filters to return a more specific list of results.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the tags you have assigned to the resource.</p>"
    },
    "ListWorkspaces":{
      "name":"ListWorkspaces",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces",
        "responseCode":200
      },
      "input":{"shape":"ListWorkspacesRequest"},
      "output":{"shape":"ListWorkspacesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all AMP workspaces, including workspaces being created or deleted.</p>"
    },
    "PutAlertManagerDefinition":{
      "name":"PutAlertManagerDefinition",
      "http":{
        "method":"PUT",
        "requestUri":"/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode":202
      },
      "input":{"shape":"PutAlertManagerDefinitionRequest"},
      "output":{"shape":"PutAlertManagerDefinitionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update an alert manager definition.</p>",
      "idempotent":true
    },
    "PutRuleGroupsNamespace":{
      "name":"PutRuleGroupsNamespace",
      "http":{
        "method":"PUT",
        "requestUri":"/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode":202
      },
      "input":{"shape":"PutRuleGroupsNamespaceRequest"},
      "output":{"shape":"PutRuleGroupsNamespaceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update a rule groups namespace.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates tags for the specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes tags from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateLoggingConfiguration":{
      "name":"UpdateLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/workspaces/{workspaceId}/logging",
        "responseCode":202
      },
      "input":{"shape":"UpdateLoggingConfigurationRequest"},
      "output":{"shape":"UpdateLoggingConfigurationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update logging configuration.</p>",
      "idempotent":true
    },
    "UpdateWorkspaceAlias":{
      "name":"UpdateWorkspaceAlias",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceId}/alias",
        "responseCode":204
      },
      "input":{"shape":"UpdateWorkspaceAliasRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an AMP workspace alias.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        }
      },
      "documentation":"<p>User does not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AlertManagerDefinitionData":{
      "type":"blob",
      "documentation":"<p>The alert manager definition data.</p>"
    },
    "AlertManagerDefinitionDescription":{
      "type":"structure",
      "required":[
        "status",
        "data",
        "createdAt",
        "modifiedAt"
      ],
      "members":{
        "status":{
          "shape":"AlertManagerDefinitionStatus",
          "documentation":"<p>The status of alert manager definition.</p>"
        },
        "data":{
          "shape":"AlertManagerDefinitionData",
          "documentation":"<p>The alert manager definition.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the alert manager definition was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the alert manager definition was modified.</p>"
        }
      },
      "documentation":"<p>Represents the properties of an alert manager definition.</p>"
    },
    "AlertManagerDefinitionStatus":{
      "type":"structure",
      "required":["statusCode"],
      "members":{
        "statusCode":{
          "shape":"AlertManagerDefinitionStatusCode",
          "documentation":"<p>Status code of this definition.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason for failure if any.</p>"
        }
      },
      "documentation":"<p>Represents the status of a definition.</p>"
    },
    "AlertManagerDefinitionStatusCode":{
      "type":"string",
      "documentation":"<p>State of an alert manager definition.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATION_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "AmpConfiguration":{
      "type":"structure",
      "required":["workspaceArn"],
      "members":{
        "workspaceArn":{
          "shape":"WorkspaceArn",
          "documentation":"<p>The ARN of an AMP workspace.</p>"
        }
      },
      "documentation":"<p>A representation of an AMP destination.</p>"
    },
    "Blob":{"type":"blob"},
    "ClusterArn":{
      "type":"string",
      "documentation":"<p>The ARN of an EKS cluster.</p>",
      "pattern":"arn:aws[-a-z]*:eks:[-a-z0-9]+:[0-9]{12}:cluster/.+"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the resource affected.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the resource affected.</p>"
        }
      },
      "documentation":"<p>Updating or deleting a resource can cause an inconsistent state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAlertManagerDefinitionRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "data"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace in which to create the alert manager definition.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "data":{
          "shape":"AlertManagerDefinitionData",
          "documentation":"<p>The alert manager definition data.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of a CreateAlertManagerDefinition operation.</p>"
    },
    "CreateAlertManagerDefinitionResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"AlertManagerDefinitionStatus",
          "documentation":"<p>The status of alert manager definition.</p>"
        }
      },
      "documentation":"<p>Represents the output of a CreateAlertManagerDefinition operation.</p>"
    },
    "CreateLoggingConfigurationRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "logGroupArn"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to vend logs to.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "logGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The ARN of the CW log group to which the vended log data will be published.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of a CreateLoggingConfiguration operation.</p>"
    },
    "CreateLoggingConfigurationResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"LoggingConfigurationStatus",
          "documentation":"<p>The status of the logging configuration.</p>"
        }
      },
      "documentation":"<p>Represents the output of a CreateLoggingConfiguration operation.</p>"
    },
    "CreateRuleGroupsNamespaceRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "name",
        "data"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace in which to create the rule group namespace.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>"
        },
        "data":{
          "shape":"RuleGroupsNamespaceData",
          "documentation":"<p>The namespace data that define the rule groups.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Optional, user-provided tags for this rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents the input of a CreateRuleGroupsNamespace operation.</p>"
    },
    "CreateRuleGroupsNamespaceResponse":{
      "type":"structure",
      "required":[
        "name",
        "arn",
        "status"
      ],
      "members":{
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>"
        },
        "arn":{
          "shape":"RuleGroupsNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this rule groups namespace.</p>"
        },
        "status":{
          "shape":"RuleGroupsNamespaceStatus",
          "documentation":"<p>The status of rule groups namespace.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents the output of a CreateRuleGroupsNamespace operation.</p>"
    },
    "CreateScraperRequest":{
      "type":"structure",
      "required":[
        "scrapeConfiguration",
        "source",
        "destination"
      ],
      "members":{
        "alias":{
          "shape":"ScraperAlias",
          "documentation":"<p>An optional user-assigned alias for this scraper. This alias is for user reference and does not need to be unique.</p>"
        },
        "scrapeConfiguration":{
          "shape":"ScrapeConfiguration",
          "documentation":"<p>The configuration used to create the scraper.</p>"
        },
        "source":{
          "shape":"Source",
          "documentation":"<p>The source that the scraper will be discovering and collecting metrics from.</p>"
        },
        "destination":{
          "shape":"Destination",
          "documentation":"<p>The destination that the scraper will be producing metrics to.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Optional, user-provided tags for this scraper.</p>"
        }
      },
      "documentation":"<p>Represents the input of a CreateScraper operation.</p>"
    },
    "CreateScraperResponse":{
      "type":"structure",
      "required":[
        "scraperId",
        "arn",
        "status"
      ],
      "members":{
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>The generated ID of the scraper that was just created.</p>"
        },
        "arn":{
          "shape":"ScraperArn",
          "documentation":"<p>The ARN of the scraper that was just created.</p>"
        },
        "status":{
          "shape":"ScraperStatus",
          "documentation":"<p>The status of the scraper that was just created (usually CREATING).</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this scraper.</p>"
        }
      },
      "documentation":"<p>Represents the output of a CreateScraper operation.</p>"
    },
    "CreateWorkspaceRequest":{
      "type":"structure",
      "members":{
        "alias":{
          "shape":"WorkspaceAlias",
          "documentation":"<p>An optional user-assigned alias for this workspace. This alias is for user reference and does not need to be unique.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Optional, user-provided tags for this workspace.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Optional, customer managed KMS key used to encrypt data for this workspace</p>"
        }
      },
      "documentation":"<p>Represents the input of a CreateWorkspace operation.</p>"
    },
    "CreateWorkspaceResponse":{
      "type":"structure",
      "required":[
        "workspaceId",
        "arn",
        "status"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The generated ID of the workspace that was just created.</p>"
        },
        "arn":{
          "shape":"WorkspaceArn",
          "documentation":"<p>The ARN of the workspace that was just created.</p>"
        },
        "status":{
          "shape":"WorkspaceStatus",
          "documentation":"<p>The status of the workspace that was just created (usually CREATING).</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this workspace.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Customer managed KMS key ARN for this workspace</p>"
        }
      },
      "documentation":"<p>Represents the output of a CreateWorkspace operation.</p>"
    },
    "DeleteAlertManagerDefinitionRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace in which to delete the alert manager definition.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Represents the input of a DeleteAlertManagerDefinition operation.</p>"
    },
    "DeleteLoggingConfigurationRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to vend logs to.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Represents the input of a DeleteLoggingConfiguration operation.</p>"
    },
    "DeleteRuleGroupsNamespaceRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "name"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to delete rule group definition.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Represents the input of a DeleteRuleGroupsNamespace operation.</p>"
    },
    "DeleteScraperRequest":{
      "type":"structure",
      "required":["scraperId"],
      "members":{
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>The ID of the scraper to delete.</p>",
          "location":"uri",
          "locationName":"scraperId"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Represents the input of a DeleteScraper operation.</p>"
    },
    "DeleteScraperResponse":{
      "type":"structure",
      "required":[
        "scraperId",
        "status"
      ],
      "members":{
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>The ID of the scraper that was deleted.</p>"
        },
        "status":{
          "shape":"ScraperStatus",
          "documentation":"<p>The status of the scraper that is being deleted.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DeleteScraper operation.</p>"
    },
    "DeleteWorkspaceRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to delete.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Represents the input of a DeleteWorkspace operation.</p>"
    },
    "DescribeAlertManagerDefinitionRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to describe.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        }
      },
      "documentation":"<p>Represents the input of a DescribeAlertManagerDefinition operation.</p>"
    },
    "DescribeAlertManagerDefinitionResponse":{
      "type":"structure",
      "required":["alertManagerDefinition"],
      "members":{
        "alertManagerDefinition":{
          "shape":"AlertManagerDefinitionDescription",
          "documentation":"<p>The properties of the selected workspace's alert manager definition.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DescribeAlertManagerDefinition operation.</p>"
    },
    "DescribeLoggingConfigurationRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to vend logs to.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        }
      },
      "documentation":"<p>Represents the input of a DescribeLoggingConfiguration operation.</p>"
    },
    "DescribeLoggingConfigurationResponse":{
      "type":"structure",
      "required":["loggingConfiguration"],
      "members":{
        "loggingConfiguration":{
          "shape":"LoggingConfigurationMetadata",
          "documentation":"<p>Metadata object containing information about the logging configuration of a workspace.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DescribeLoggingConfiguration operation.</p>"
    },
    "DescribeRuleGroupsNamespaceRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "name"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to describe.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace.</p>",
          "location":"uri",
          "locationName":"name"
        }
      },
      "documentation":"<p>Represents the input of a DescribeRuleGroupsNamespace operation.</p>"
    },
    "DescribeRuleGroupsNamespaceResponse":{
      "type":"structure",
      "required":["ruleGroupsNamespace"],
      "members":{
        "ruleGroupsNamespace":{
          "shape":"RuleGroupsNamespaceDescription",
          "documentation":"<p>The selected rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DescribeRuleGroupsNamespace operation.</p>"
    },
    "DescribeScraperRequest":{
      "type":"structure",
      "required":["scraperId"],
      "members":{
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>The IDs of the scraper to describe.</p>",
          "location":"uri",
          "locationName":"scraperId"
        }
      },
      "documentation":"<p>Represents the input of a DescribeScraper operation.</p>"
    },
    "DescribeScraperResponse":{
      "type":"structure",
      "required":["scraper"],
      "members":{
        "scraper":{
          "shape":"ScraperDescription",
          "documentation":"<p>The properties of the selected scrapers.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DescribeScraper operation.</p>"
    },
    "DescribeWorkspaceRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to describe.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        }
      },
      "documentation":"<p>Represents the input of a DescribeWorkspace operation.</p>"
    },
    "DescribeWorkspaceResponse":{
      "type":"structure",
      "required":["workspace"],
      "members":{
        "workspace":{
          "shape":"WorkspaceDescription",
          "documentation":"<p>The properties of the selected workspace.</p>"
        }
      },
      "documentation":"<p>Represents the output of a DescribeWorkspace operation.</p>"
    },
    "Destination":{
      "type":"structure",
      "members":{
        "ampConfiguration":{
          "shape":"AmpConfiguration",
          "documentation":"<p>A representation of an AMP destination.</p>"
        }
      },
      "documentation":"<p>A representation of a destination that a scraper can produce metrics to.</p>",
      "union":true
    },
    "EksConfiguration":{
      "type":"structure",
      "required":[
        "clusterArn",
        "subnetIds"
      ],
      "members":{
        "clusterArn":{
          "shape":"ClusterArn",
          "documentation":"<p>The ARN of an EKS cluster.</p>"
        },
        "securityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>A list of security group IDs specified for VPC configuration.</p>"
        },
        "subnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>A list of subnet IDs specified for VPC configuration.</p>"
        }
      },
      "documentation":"<p>A representation of an EKS source.</p>"
    },
    "FilterKey":{
      "type":"string",
      "documentation":"<p>The name of the key to filter by.</p>",
      "max":256,
      "min":1
    },
    "FilterValue":{
      "type":"string",
      "documentation":"<p>The value of a given key to filter by.</p>",
      "max":256,
      "min":1
    },
    "FilterValues":{
      "type":"list",
      "member":{"shape":"FilterValue"},
      "documentation":"<p>A list of scraper filter values.</p>",
      "max":20,
      "min":1
    },
    "GetDefaultScraperConfigurationRequest":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the input of a GetDefaultScraperConfiguration operation.</p>"
    },
    "GetDefaultScraperConfigurationResponse":{
      "type":"structure",
      "required":["configuration"],
      "members":{
        "configuration":{
          "shape":"Blob",
          "documentation":"<p>The default configuration.</p>"
        }
      },
      "documentation":"<p>Represents the output of a GetDefaultScraperConfiguration operation.</p>"
    },
    "IamRoleArn":{
      "type":"string",
      "documentation":"<p>An ARN identifying an IAM role used by the scraper.</p>"
    },
    "IdempotencyToken":{
      "type":"string",
      "documentation":"<p>An identifier used to ensure the idempotency of a write request.</p>",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "retryAfterSeconds":{
          "shape":"Integer",
          "documentation":"<p>Advice to clients on when the call can be safely retried.</p>",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "documentation":"<p>Unexpected error during processing of request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "KmsKeyArn":{
      "type":"string",
      "documentation":"<p>A KMS Key ARN.</p>",
      "max":2048,
      "min":20,
      "pattern":"arn:aws:kms:[a-z0-9\\-]+:\\d+:key/[a-f0-9\\-]+"
    },
    "ListRuleGroupsNamespacesRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>Optional filter for rule groups namespace name. Only the rule groups namespace that begin with this value will be returned.</p>",
          "location":"querystring",
          "locationName":"name"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to request the next page in a paginated list. This token is obtained from the output of the previous ListRuleGroupsNamespaces request.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListRuleGroupsNamespacesRequestMaxResultsInteger",
          "documentation":"<p>Maximum results to return in response (default=100, maximum=1000).</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      },
      "documentation":"<p>Represents the input of a ListRuleGroupsNamespaces operation.</p>"
    },
    "ListRuleGroupsNamespacesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListRuleGroupsNamespacesResponse":{
      "type":"structure",
      "required":["ruleGroupsNamespaces"],
      "members":{
        "ruleGroupsNamespaces":{
          "shape":"RuleGroupsNamespaceSummaryList",
          "documentation":"<p>The list of the selected rule groups namespaces.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to use when requesting the next page in this list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a ListRuleGroupsNamespaces operation.</p>"
    },
    "ListScrapersRequest":{
      "type":"structure",
      "members":{
        "filters":{
          "shape":"ScraperFilters",
          "documentation":"<p>A list of scraper filters.</p>",
          "location":"querystring"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to request the next page in a paginated list. This token is obtained from the output of the previous ListScrapers request.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListScrapersRequestMaxResultsInteger",
          "documentation":"<p>Maximum results to return in response (default=100, maximum=1000).</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      },
      "documentation":"<p>Represents the input of a ListScrapers operation.</p>"
    },
    "ListScrapersRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListScrapersResponse":{
      "type":"structure",
      "required":["scrapers"],
      "members":{
        "scrapers":{
          "shape":"ScraperSummaryList",
          "documentation":"<p>The list of scrapers, filtered down if a set of filters was provided in the request.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to use when requesting the next page in this list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a ListScrapers operation.</p>"
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagMap"}
      }
    },
    "ListWorkspacesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to request the next page in a paginated list. This token is obtained from the output of the previous ListWorkspaces request.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "alias":{
          "shape":"WorkspaceAlias",
          "documentation":"<p>Optional filter for workspace alias. Only the workspaces with aliases that begin with this value will be returned.</p>",
          "location":"querystring",
          "locationName":"alias"
        },
        "maxResults":{
          "shape":"ListWorkspacesRequestMaxResultsInteger",
          "documentation":"<p>Maximum results to return in response (default=100, maximum=1000).</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      },
      "documentation":"<p>Represents the input of a ListWorkspaces operation.</p>"
    },
    "ListWorkspacesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListWorkspacesResponse":{
      "type":"structure",
      "required":["workspaces"],
      "members":{
        "workspaces":{
          "shape":"WorkspaceSummaryList",
          "documentation":"<p>The list of existing workspaces, including those undergoing creation or deletion.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Pagination token to use when requesting the next page in this list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a ListWorkspaces operation.</p>"
    },
    "LogGroupArn":{
      "type":"string",
      "pattern":"arn:aws[a-z0-9-]*:logs:[a-z0-9-]+:\\d{12}:log-group:[A-Za-z0-9\\.\\-\\_\\#/]{1,512}\\:\\*"
    },
    "LoggingConfigurationMetadata":{
      "type":"structure",
      "required":[
        "status",
        "workspace",
        "logGroupArn",
        "createdAt",
        "modifiedAt"
      ],
      "members":{
        "status":{
          "shape":"LoggingConfigurationStatus",
          "documentation":"<p>The status of the logging configuration.</p>"
        },
        "workspace":{
          "shape":"WorkspaceId",
          "documentation":"<p>The workspace where the logging configuration exists.</p>"
        },
        "logGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The ARN of the CW log group to which the vended log data will be published.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the logging configuration was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the logging configuration was modified.</p>"
        }
      },
      "documentation":"<p>Represents the properties of a logging configuration metadata.</p>"
    },
    "LoggingConfigurationStatus":{
      "type":"structure",
      "required":["statusCode"],
      "members":{
        "statusCode":{
          "shape":"LoggingConfigurationStatusCode",
          "documentation":"<p>Status code of the logging configuration.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason for failure if any.</p>"
        }
      },
      "documentation":"<p>Represents the status of a logging configuration.</p>"
    },
    "LoggingConfigurationStatusCode":{
      "type":"string",
      "documentation":"<p>State of a logging configuration.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATION_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "PaginationToken":{
      "type":"string",
      "documentation":"<p>A token used to access the next page in a paginated result set.</p>",
      "max":1000,
      "min":0
    },
    "PutAlertManagerDefinitionRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "data"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace in which to update the alert manager definition.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "data":{
          "shape":"AlertManagerDefinitionData",
          "documentation":"<p>The alert manager definition data.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of a PutAlertManagerDefinition operation.</p>"
    },
    "PutAlertManagerDefinitionResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"AlertManagerDefinitionStatus",
          "documentation":"<p>The status of alert manager definition.</p>"
        }
      },
      "documentation":"<p>Represents the output of a PutAlertManagerDefinition operation.</p>"
    },
    "PutRuleGroupsNamespaceRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "name",
        "data"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace in which to update the rule group namespace.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "data":{
          "shape":"RuleGroupsNamespaceData",
          "documentation":"<p>The namespace data that define the rule groups.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of a PutRuleGroupsNamespace operation.</p>"
    },
    "PutRuleGroupsNamespaceResponse":{
      "type":"structure",
      "required":[
        "name",
        "arn",
        "status"
      ],
      "members":{
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>"
        },
        "arn":{
          "shape":"RuleGroupsNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this rule groups namespace.</p>"
        },
        "status":{
          "shape":"RuleGroupsNamespaceStatus",
          "documentation":"<p>The status of rule groups namespace.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents the output of a PutRuleGroupsNamespace operation.</p>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the resource affected.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the resource affected.</p>"
        }
      },
      "documentation":"<p>Request references a resource which does not exist.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RuleGroupsNamespaceArn":{
      "type":"string",
      "documentation":"<p>An ARN identifying a rule groups namespace.</p>"
    },
    "RuleGroupsNamespaceData":{
      "type":"blob",
      "documentation":"<p>The rule groups namespace data.</p>"
    },
    "RuleGroupsNamespaceDescription":{
      "type":"structure",
      "required":[
        "arn",
        "name",
        "status",
        "data",
        "createdAt",
        "modifiedAt"
      ],
      "members":{
        "arn":{
          "shape":"RuleGroupsNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this rule groups namespace.</p>"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>"
        },
        "status":{
          "shape":"RuleGroupsNamespaceStatus",
          "documentation":"<p>The status of rule groups namespace.</p>"
        },
        "data":{
          "shape":"RuleGroupsNamespaceData",
          "documentation":"<p>The rule groups namespace data.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the rule groups namespace was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the rule groups namespace was modified.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents a description of the rule groups namespace.</p>"
    },
    "RuleGroupsNamespaceName":{
      "type":"string",
      "documentation":"<p>The namespace name that the rule group belong to.</p>",
      "max":64,
      "min":1,
      "pattern":".*[0-9A-Za-z][-.0-9A-Z_a-z]*.*"
    },
    "RuleGroupsNamespaceStatus":{
      "type":"structure",
      "required":["statusCode"],
      "members":{
        "statusCode":{
          "shape":"RuleGroupsNamespaceStatusCode",
          "documentation":"<p>Status code of this namespace.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason for failure if any.</p>"
        }
      },
      "documentation":"<p>Represents the status of a namespace.</p>"
    },
    "RuleGroupsNamespaceStatusCode":{
      "type":"string",
      "documentation":"<p>State of a namespace.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATION_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "RuleGroupsNamespaceSummary":{
      "type":"structure",
      "required":[
        "arn",
        "name",
        "status",
        "createdAt",
        "modifiedAt"
      ],
      "members":{
        "arn":{
          "shape":"RuleGroupsNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this rule groups namespace.</p>"
        },
        "name":{
          "shape":"RuleGroupsNamespaceName",
          "documentation":"<p>The rule groups namespace name.</p>"
        },
        "status":{
          "shape":"RuleGroupsNamespaceStatus",
          "documentation":"<p>The status of rule groups namespace.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the rule groups namespace was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the rule groups namespace was modified.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this rule groups namespace.</p>"
        }
      },
      "documentation":"<p>Represents a summary of the rule groups namespace.</p>"
    },
    "RuleGroupsNamespaceSummaryList":{
      "type":"list",
      "member":{"shape":"RuleGroupsNamespaceSummary"},
      "documentation":"<p>A list of rule groups namespace summary.</p>"
    },
    "ScrapeConfiguration":{
      "type":"structure",
      "members":{
        "configurationBlob":{
          "shape":"Blob",
          "documentation":"<p>Binary data representing a Prometheus configuration file.</p>"
        }
      },
      "documentation":"<p>A representation of a Prometheus configuration file.</p>",
      "union":true
    },
    "ScraperAlias":{
      "type":"string",
      "documentation":"<p>A user-assigned scraper alias.</p>",
      "max":100,
      "min":1,
      "pattern":"[0-9A-Za-z][-.0-9A-Z_a-z]*"
    },
    "ScraperArn":{
      "type":"string",
      "documentation":"<p>An ARN identifying a scrape configuration.</p>"
    },
    "ScraperDescription":{
      "type":"structure",
      "required":[
        "scraperId",
        "arn",
        "roleArn",
        "status",
        "createdAt",
        "lastModifiedAt",
        "scrapeConfiguration",
        "source",
        "destination"
      ],
      "members":{
        "alias":{
          "shape":"ScraperAlias",
          "documentation":"<p>Alias of this scraper.</p>"
        },
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>Unique string identifying this scraper.</p>"
        },
        "arn":{
          "shape":"ScraperArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this scraper.</p>"
        },
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the scraper to dsicover, collect, and produce metrics on your behalf.</p>"
        },
        "status":{
          "shape":"ScraperStatus",
          "documentation":"<p>The status of this scraper.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the scraper was created.</p>"
        },
        "lastModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the scraper was last modified.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this scraper.</p>"
        },
        "statusReason":{
          "shape":"StatusReason",
          "documentation":"<p>The reason for failure if any.</p>"
        },
        "scrapeConfiguration":{
          "shape":"ScrapeConfiguration",
          "documentation":"<p>The configuration used to create the scraper.</p>"
        },
        "source":{
          "shape":"Source",
          "documentation":"<p>The source that the scraper is discovering and collecting metrics from.</p>"
        },
        "destination":{
          "shape":"Destination",
          "documentation":"<p>The destination that the scraper is producing metrics to.</p>"
        }
      },
      "documentation":"<p>Represents the properties of a scraper.</p>"
    },
    "ScraperFilters":{
      "type":"map",
      "key":{
        "shape":"FilterKey",
        "documentation":"<p>The name of the key to filter by. Currently supported filter keys are 'status', 'sourceArn', 'destinationArn', and 'alias'.</p>"
      },
      "value":{
        "shape":"FilterValues",
        "documentation":"<p>The values of the given key to filter by.</p>"
      },
      "documentation":"<p>A list of scraper filters.</p>",
      "max":4,
      "min":1
    },
    "ScraperId":{
      "type":"string",
      "documentation":"<p>A scraper ID.</p>",
      "max":64,
      "min":1,
      "pattern":"[0-9A-Za-z][-.0-9A-Z_a-z]*"
    },
    "ScraperStatus":{
      "type":"structure",
      "required":["statusCode"],
      "members":{
        "statusCode":{
          "shape":"ScraperStatusCode",
          "documentation":"<p>Status code of this scraper.</p>"
        }
      },
      "documentation":"<p>Represents the status of a scraper.</p>"
    },
    "ScraperStatusCode":{
      "type":"string",
      "documentation":"<p>State of a scraper.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "CREATION_FAILED",
        "DELETION_FAILED"
      ]
    },
    "ScraperSummary":{
      "type":"structure",
      "required":[
        "scraperId",
        "arn",
        "roleArn",
        "status",
        "createdAt",
        "lastModifiedAt",
        "source",
        "destination"
      ],
      "members":{
        "alias":{
          "shape":"ScraperAlias",
          "documentation":"<p>Alias of this scraper.</p>"
        },
        "scraperId":{
          "shape":"ScraperId",
          "documentation":"<p>Unique string identifying this scraper.</p>"
        },
        "arn":{
          "shape":"ScraperArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this scraper.</p>"
        },
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the scraper to dsicover, collect, and produce metrics on your behalf.</p>"
        },
        "status":{
          "shape":"ScraperStatus",
          "documentation":"<p>The status of this scraper.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the scraper was created.</p>"
        },
        "lastModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the scraper was last modified.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this scraper.</p>"
        },
        "statusReason":{
          "shape":"StatusReason",
          "documentation":"<p>The reason for failure if any.</p>"
        },
        "source":{
          "shape":"Source",
          "documentation":"<p>The source that the scraper is discovering and collecting metrics from.</p>"
        },
        "destination":{
          "shape":"Destination",
          "documentation":"<p>The destination that the scraper is producing metrics to.</p>"
        }
      },
      "documentation":"<p>Represents a summary of the properties of a scraper.</p>"
    },
    "ScraperSummaryList":{
      "type":"list",
      "member":{"shape":"ScraperSummary"},
      "documentation":"<p>A list of scraper summaries.</p>"
    },
    "SecurityGroupId":{
      "type":"string",
      "documentation":"<p>ID of a VPC security group.</p>",
      "max":255,
      "min":0,
      "pattern":"sg-[0-9a-z]+"
    },
    "SecurityGroupIds":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "documentation":"<p>A list of security group IDs specified for VPC configuration.</p>",
      "max":5,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType",
        "serviceCode",
        "quotaCode"
      ],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the resource affected.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the resource affected.</p>"
        },
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>Service Quotas requirement to identify originating service.</p>"
        },
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>Service Quotas requirement to identify originating quota.</p>"
        }
      },
      "documentation":"<p>Request would cause a service quota to be exceeded.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "Source":{
      "type":"structure",
      "members":{
        "eksConfiguration":{
          "shape":"EksConfiguration",
          "documentation":"<p>A representation of an EKS source.</p>"
        }
      },
      "documentation":"<p>A representation of a source that a scraper can discover and collect metrics from.</p>",
      "union":true
    },
    "StatusReason":{
      "type":"string",
      "documentation":"<p>The reason for failure if any.</p>",
      "max":256,
      "min":1
    },
    "String":{"type":"string"},
    "SubnetId":{
      "type":"string",
      "documentation":"<p>ID of a VPC subnet.</p>",
      "max":255,
      "min":0,
      "pattern":"subnet-[0-9a-z]+"
    },
    "SubnetIds":{
      "type":"list",
      "member":{"shape":"SubnetId"},
      "documentation":"<p>A list of subnet IDs specified for VPC configuration.</p>",
      "max":5,
      "min":1
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "TagKeys":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagMap":{
      "type":"map",
      "key":{
        "shape":"TagKey",
        "documentation":"<p>The key of the tag.</p> <p>Constraints: Tag keys are case-sensitive and accept a maximum of 128 Unicode characters. Valid characters are Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @ May not begin with <code>aws:</code>.</p>"
      },
      "value":{
        "shape":"TagValue",
        "documentation":"<p>The value of the tag.</p> <p>Constraints: Tag values are case-sensitive and accept a maximum of 256 Unicode characters. Valid characters are Unicode letters, digits, white space, and any of the following symbols: _ . : / = + - @</p>"
      },
      "documentation":"<p>The list of tags assigned to the resource.</p>",
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>Service Quotas requirement to identify originating service.</p>"
        },
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>Service Quotas requirement to identify originating quota.</p>"
        },
        "retryAfterSeconds":{
          "shape":"Integer",
          "documentation":"<p>Advice to clients on when the call can be safely retried.</p>",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "documentation":"<p>Request was denied due to request throttling.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "Timestamp":{"type":"timestamp"},
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeys",
          "documentation":"<p>One or more tag keys</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateLoggingConfigurationRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "logGroupArn"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace to vend logs to.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "logGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The ARN of the CW log group to which the vended log data will be published.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of an UpdateLoggingConfiguration operation.</p>"
    },
    "UpdateLoggingConfigurationResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"LoggingConfigurationStatus",
          "documentation":"<p>The status of the logging configuration.</p>"
        }
      },
      "documentation":"<p>Represents the output of an UpdateLoggingConfiguration operation.</p>"
    },
    "UpdateWorkspaceAliasRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The ID of the workspace being updated.</p>",
          "location":"uri",
          "locationName":"workspaceId"
        },
        "alias":{
          "shape":"WorkspaceAlias",
          "documentation":"<p>The new alias of the workspace.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Optional, unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Represents the input of an UpdateWorkspaceAlias operation.</p>"
    },
    "Uri":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Description of the error.</p>"
        },
        "reason":{
          "shape":"ValidationExceptionReason",
          "documentation":"<p>Reason the request failed validation.</p>"
        },
        "fieldList":{
          "shape":"ValidationExceptionFieldList",
          "documentation":"<p>The field that caused the error, if applicable. If more than one field caused the error, pick one and elaborate in the message.</p>"
        }
      },
      "documentation":"<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The field name.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>Message describing why the field failed validation.</p>"
        }
      },
      "documentation":"<p>Stores information about a field passed inside a request that resulted in an exception.</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"},
      "documentation":"<p>A list of fields.</p>"
    },
    "ValidationExceptionReason":{
      "type":"string",
      "documentation":"<p>Possible reasons a request failed validation.</p>",
      "enum":[
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ]
    },
    "WorkspaceAlias":{
      "type":"string",
      "documentation":"<p>A user-assigned workspace alias.</p>",
      "max":100,
      "min":1
    },
    "WorkspaceArn":{
      "type":"string",
      "documentation":"<p>An ARN identifying a Workspace.</p>",
      "pattern":"arn:aws[-a-z]*:aps:[-a-z0-9]+:[0-9]{12}:workspace/.+"
    },
    "WorkspaceDescription":{
      "type":"structure",
      "required":[
        "workspaceId",
        "arn",
        "status",
        "createdAt"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>Unique string identifying this workspace.</p>"
        },
        "alias":{
          "shape":"WorkspaceAlias",
          "documentation":"<p>Alias of this workspace.</p>"
        },
        "arn":{
          "shape":"WorkspaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of this workspace.</p>"
        },
        "status":{
          "shape":"WorkspaceStatus",
          "documentation":"<p>The status of this workspace.</p>"
        },
        "prometheusEndpoint":{
          "shape":"Uri",
          "documentation":"<p>Prometheus endpoint URI.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the workspace was created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this workspace.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The customer managed KMS key of this workspace.</p>"
        }
      },
      "documentation":"<p>Represents the properties of a workspace.</p>"
    },
    "WorkspaceId":{
      "type":"string",
      "documentation":"<p>A workspace ID.</p>",
      "max":64,
      "min":1,
      "pattern":".*[0-9A-Za-z][-.0-9A-Z_a-z]*.*"
    },
    "WorkspaceStatus":{
      "type":"structure",
      "required":["statusCode"],
      "members":{
        "statusCode":{
          "shape":"WorkspaceStatusCode",
          "documentation":"<p>Status code of this workspace.</p>"
        }
      },
      "documentation":"<p>Represents the status of a workspace.</p>"
    },
    "WorkspaceStatusCode":{
      "type":"string",
      "documentation":"<p>State of a workspace.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATION_FAILED"
      ]
    },
    "WorkspaceSummary":{
      "type":"structure",
      "required":[
        "workspaceId",
        "arn",
        "status",
        "createdAt"
      ],
      "members":{
        "workspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>Unique string identifying this workspace.</p>"
        },
        "alias":{
          "shape":"WorkspaceAlias",
          "documentation":"<p>Alias of this workspace.</p>"
        },
        "arn":{
          "shape":"WorkspaceArn",
          "documentation":"<p>The AmazonResourceName of this workspace.</p>"
        },
        "status":{
          "shape":"WorkspaceStatus",
          "documentation":"<p>The status of this workspace.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the workspace was created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags of this workspace.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Customer managed KMS key ARN for this workspace</p>"
        }
      },
      "documentation":"<p>Represents a summary of the properties of a workspace.</p>"
    },
    "WorkspaceSummaryList":{
      "type":"list",
      "member":{"shape":"WorkspaceSummary"},
      "documentation":"<p>A list of workspace summaries.</p>"
    }
  },
  "documentation":"<p>Amazon Managed Service for Prometheus</p>"
}
